@model FingerprintsModel.HealthManagerDashboard


@{
    @section Title
{
     Health Manager Dashboard
    }
    ViewBag.Title = "Health Manager Dashboard";
    Layout = "~/Views/Shared/AgencyStaffLayout.cshtml";
}


@section Style
{
    <link href="~/Content/css/EACDashboard.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <style type="text/css">
        #page-wrapper {
            background-color: #fff;
            min-height: 568px;
            /*padding: 30px 15px 0;*/
            padding: 45px 15px 0;
        }

        .footer-bg-img .footer-im1 {
            left: -1px !important;
            top: 130px !important;
            max-height: 60%;
            max-width: 60%;
        }

        .footer-bg-img .footer-im2 {
            right: 0px !important;
            top: 124px !important;
            max-height: 60%;
            max-width: 60%;
        }
    </style>


}

@section maincontentholder{




    <div class="row Zoom">
        <div class="col-lg-12" style="padding:0;">
            <div class="page-wrapper-change">
                <div class="container-fluid">
                    <div class="row">

                        <!-----Right Side Container Section------->
                        <div class="glossy-right-side-container col-xs-12">

                            <!----Heading Section------>
                            <div class="col-xs-12" style="padding:0px;margin-bottom:20px;">
                                <div class="col-lg-12">
                                    <h2 class="page-header page-header-change" style="border-bottom:5px solid #f9c751!important;color:#fff;">
                                        <i class="fa fa-file" aria-hidden="true"></i>&nbsp;Health Manager Dashboard

                                        <span class="view-btn backto_listspan">

                                            @*<a href="/Roster/Roster" style="padding:10px;float: right;color: #fff;margin-right:0px;background-color:#9b59b6;border-radius: 4px;text-decoration:none;" class="backto_list">Back to Roster</a>*@

                                        </span>
                                    </h2>
                                </div>
                            </div>



                            <div class="edu-block-all" style="position:relative;">
                                <div class="row">
                                    <div class="col-xs-12 no-padding">


                                        <div class="col-xs-12 table-block-res">
                                            <div class="row">






                                                @if (Model.AccessScreeningMatrix)
                                                {

                                                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12" style="margin-left:16%;">
                                                        <div class="col-xs-12 no-padding edu-tbl-all edu-tbl-all-blue">
                                                            <div class="edu-tbl-title edu-title-blue press-btn-relative">
                                                                <div class="press-but-block" data-toggle="tooltip" title="Re-Calculate Missing Screening">
                                                                    <div class="press-but">
                                                                        <a class="butt" href="javascript:void(0);" id="anchorScreeningMatrix">
                                                                            <i class="fa fa-refresh" aria-hidden="true"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <h2>Screening Matrix</h2>
                                                                <div class="pin"><img src="/Images/pin.png"></div>
                                                            </div>
                                                            <div class="col-xs-12 no-padding" style="height:292px;overflow:auto;">
                                                                <table class="edu-table-block edu-table-missing col-xs-12 no-padding" id="table-missing-scr">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Screening Name</th>
                                                                            <th>Up-to-date</th>
                                                                            <th>Missing</th>
                                                                            <th>Expired</th>
                                                                            <th>Expiring</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>

                                                                        @if (Model != null && Model.ScreeningMatrix != null && Model.ScreeningMatrix.Count() > 0)
                        {
                            foreach (var screeningMatrix in Model.ScreeningMatrix)
                            {
                        <tr>
                            <td data-title="Screening Name">@screeningMatrix.ScreeningName</td>
                            <td data-title="Up-to-date" class="number-center">@screeningMatrix.UptoDate</td>
                            <td data-title="Missing" class="number-center">@screeningMatrix.Missing</td>
                            <td data-title="Expired" class="number-center">@screeningMatrix.Expired</td>
                            <td data-title="Expiring" class="number-center">@screeningMatrix.Expiring</td>
                        </tr>
                            }
                        }



                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }

                                                @if (Model.AccessScreeningReview)
                                                {

                                                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12" style="margin-left:16%;">
                                                        <div class="col-xs-12 no-padding edu-tbl-all edu-tbl-all-brown">
                                                            <div class="edu-tbl-title edu-title-brown press-btn-relative">
                                                                <div class="press-but-block" data-toggle="tooltip" title="Re-Calculate 45-Day Screening Review">
                                                                    <div class="press-but">
                                                                        <a class="butt" href="javascript:void(0);" id="anchorScreeningReview">
                                                                            <i class="fa fa-refresh" aria-hidden="true"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <h2>45-Day Screening Review</h2>
                                                                <div class="pin"><img src="~/Images/pin.png"></div>
                                                            </div>
                                                            <div class="col-xs-12 no-padding" style="height:292px;overflow:auto;">
                                                                <table class="edu-table-block edu-table-scr-review col-xs-12 no-padding" id="table-scr-review">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Screening Name</th>
                                                                            <th>Completed</th>
                                                                            <th>Completed but Late</th>
                                                                            <th>Not Expired</th>
                                                                            <th>Not Completed and Late</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>


                                                                        @if (Model.ScreeningReview != null && Model.ScreeningReview.Count() > 0)
                                                                        {
                                                                            foreach (FingerprintsModel.NDaysScreeningReview screeningReview in Model.ScreeningReview)
                                                                            {
                                                                                <tr>
                                                                                    <td data-title="Screening Name">@screeningReview.ScreeningName</td>
                                                                                    <td data-title="Completed" class="number-center">@screeningReview.Completed</td>
                                                                                    <td data-title="Completed but Late" class="number-center">@screeningReview.CompletedButLate</td>
                                                                                    <td data-title="Not Expired" class="number-center">@screeningReview.NotExpired</td>
                                                                                    <td data-title="Not Completed and Late" class="number-center">@screeningReview.NotCompletedandLate</td>
                                                                                </tr>
                                                                            }
                                                                        }
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>

                                                }






                                            </div>
                                        </div>



                                    </div>
                                </div>
                                <div>

                                </div>

                            </div>




                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bg-img-al">
            <div class="footer-bg-img">
                <img src="/Images/footer-img1.png" class="footer-im1">
                <img src="/Images/footer-img2.png" class="footer-im2">
            </div>
        </div>


    </div>



}


