
@model FingerprintsModel.InkindReportModel

@try
{



    if (Model != null && Model.InkindReportList != null && Model.InkindReportList.Count > 0)
    {

        foreach (var inkindReport in Model.InkindReportList)
        {
            <tr role="row">



                <td role="gridcell" data-title="Contributor"><p title="@inkindReport.Name" data-toggle="tooltip">@inkindReport.Name</p></td>
                <td role="gridcell" data-title="Center"><p title="@inkindReport.CenterName" data-toggle="tooltip">@inkindReport.CenterName</p></td>
                <td role="gridcell" data-title="Contributor Activity"><p title="@inkindReport.ActivityDescription" data-toggle="tooltip">@inkindReport.ActivityDescription</p></td>




                <td role="gridcell" data-titl="Activity Date"><p>@inkindReport.ActivityDate</p></td>


                @if (inkindReport.Minutes == 0)
                        {
                    <td role="gridcell" data-title="Time Spent"><p> @string.Concat(inkindReport.Hours.ToString(), " ", "Hrs")</p></td>
                }
                else
                {
                    <td role="gridcell" data-title="Time Spent">
                        <p>
                            @string.Concat(inkindReport.Hours.ToString(), " ", "Hrs", " ", inkindReport.Minutes.ToString(), " ", "Mins")
                        </p>
                    </td>
                }

                <td role="gridcell" data-title="Miles Driven">
                    <p>@inkindReport.MilesDriven </p>
                </td>
                <td role="gridcell" data-title="In-Kind Amount"><p>$ @inkindReport.InKindAmount.ToString("N", System.Globalization.CultureInfo.InvariantCulture)</p></td>
                <td role="gridcell" data-title="Entered By"><p title="@inkindReport.StaffEntered" data-toggle="tooltip">@inkindReport.StaffEntered</p></td>
                <td role="grid" data-title="Action" class="text-center glossy_btn">

                    <p>



                        <input type="hidden" id="hide-trans-id" value="@(FingerprintsModel.EncryptDecrypt.Encrypt64(inkindReport.InkindTransactionID.ToString()))" />

                        @if (!inkindReport.IsClosed)
                        {

                            <a class="btn-edit-trans" title="" data-toggle="tooltip" aria-hidden="true" href="javascript:void(0);" style="text-decoration:none;" data-original-title="Edit In-Kind Activity">
                                <img src="/Images/edit.svg" style="height:22px;width:22px;">
                            </a>


                                    <a class="btn-delete-trans" title="" data-toggle="tooltip" aria-hidden="true" href="javascript:void(0);" style="text-decoration:none;" data-original-title="Delete In-Kind Activity">
                                        <img src="/Images/trash.png" style="height:22px;width:22px;">
                                    </a>


                                    @*<button type="button" class="glossy-button-button button-green button-red btn-delete-trans glossy-button-button-ch">
                                            <span class="glossy-button-after"></span>
                                            <span class="glossy-button-before"></span>
                                            <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;Delete
                                        </button>*@
                        }
                        else
                        {
                            <label>Closed</label>
                        }
                    </p>
                </td>
            </tr>
        }


    }
    else
    {
        <tr style="width:98.3%">
            <td colspan="9" style="padding: 25px;text-align:center;font-weight:bold;">@if (Model.SortColumn == null)
            { <text>Search by Filter<sup style="color:red">*</sup></text> }
            else
            { <text>Record not found</text>}</td>




        </tr>

    }

}
catch (Exception ex)
{
    FingerprintsModel.clsError.WriteException(ex);
}



<script>

    $('#totalHours').html('@Model.TotalHours');
    $('#totalMiles').html('@Model.TotalMiles');
    $('#totalAmount').html('@Model.TotalAmount');
    $('#totalCountSpan').html('@Model.TotalRecord');


</script>
