
@model FingerprintsModel.InkindReportModel
<style type="text/css">
    .total-details-table{width:auto;float:right;}
    .total-details-table tr,.total-details-table td{padding:0 10px;line-height:25px;}
    .total-details-table tr td label{color: #1d5381;}
    
    
    .search-block,.glossy-search-block{    width: auto;
    display: inline-block;
    float: left;
    margin-right: auto;
    margin-top: 70px;}
    .search-block button{
    font-size: 18px;
    text-transform: capitalize;
    text-align: center;
    display: inline-block;
    border-radius: 0!important;
    font-size: 14px;
    background: #215785;
    color: #fff;
    border: none;
    margin: 0;
    border-radius: 4px;
    width: auto;
    padding: 7px 14px;
    margin: auto;
    font-weight: bold;
    line-height: 20px;
    border-top-right-radius: 5px!important;
    border-bottom-right-radius: 5px!important;
}
  
     .search-block input{
             float: left;
    color: #333;
    font-size: 14px;
    margin-right: 0;
   

    width:335px;
    line-height: 32px;
    height: 32px;
    padding: 7px 10px;
    border-top-left-radius: 5px!important;
    border-bottom-left-radius: 5px!important;
     }




     @@media (min-width: 400px) and (max-width: 748px)
     {
         .search-block input, .glossy-search-block input
         {
             width:225px;
         }
		 
		 span.multiselect-native-select .dropdown-toggle {
    z-index: unset!important;
}
.multiselect-native-select ul.multiselect-container.dropdown-menu {
    z-index: 9999999!important;
}

     }


      @@media (min-width: 768px) and (max-width: 991px)
         {
        .search-block input,.glossy-search-block int {width: 81%!important;}

        }
.search-block-main{    margin-bottom: 10px;
    display: flex;
    padding: 0;}


span.multiselect-native-select .dropdown-toggle {
    z-index: unset!important;
}

.multiselect-native-select ul.multiselect-container.dropdown-menu {
    z-index: 9999999!important;
}

.input-group.date .datepicker-icon
{
    cursor: pointer;
    border-color: #7e50b7 #684494 #5d3e84!important;
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
    text-shadow: 0 1px #7e50b7;
    background-color: #5f477d;
}
.input-group.date .datepicker-icon span{color:#fff;}

</style>


<div class="col-xs-12 search-block-main">
    <div class="glossy-search-block col-md-12">
        <input type="text" placeholder="Search..." id="searchInkindText" class="form-control" value="@Model.SearchTerm">
        <div class="glossy-search-btn-div">
            <button id="btnSearchauto"    data-search-item="@(Model.SearchTermType!=null && Model.SearchTermType.Contains("ser")?Model.SearchTermType.Replace("ser","").Trim():Model.SearchTermType)">Search</button>
        </div>
    </div>

    <table class="total-details-table col-md-12">

        <tr>
            <td><label>Total Hours</label></td>
            <td>@Model.TotalHours</td>
        </tr>
        <tr>
            <td><label>Total Miles Driven</label></td>
            <td>@Model.TotalMiles</td>
        </tr>
        <tr>
            <td><label>Total In-Kind Amount</label></td>
            <td>@Model.TotalAmount</td>
        </tr>
        <tr>
            <td><label>Total Record(s)</label></td>
            <td id="totalCountSpan">@Model.TotalRecord</td>
        </tr>
    </table>

</div>





<table class="col-md-12 glossy-table table-striped table-condensed cf table-change ersea-table" id="inkind-table">
    <thead class="table-hd scroll-thead">
        <tr>
            <th>
                @if (Model.SortColumn!=null && Model.SortColumn.ToLowerInvariant() == "th1")
                {
                    if (Model.SortOrder.ToLowerInvariant() == "asc")
                    {
                        <i class="fa fa-sort-alpha-asc i-asc" aria-hidden="true" style="color: #f9c751;"></i>
                        <i class="fa fa-sort-alpha-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                    }
                    else if (Model.SortOrder.ToLowerInvariant() == "desc")
                    {
                        <i class="fa fa-sort-alpha-asc i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                        <i class="fa fa-sort-alpha-desc i-desc" aria-hidden="true" style="color: #f9c751;"></i>
                    }
                }
                else if (string.IsNullOrEmpty(Model.SortColumn))
                {
                    <i class="fa fa-sort-alpha-asc i-asc" aria-hidden="true" style="color: #f9c751;"></i>
                    <i class="fa fa-sort-alpha-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                }
                else
                {
                    <i class="fa fa-sort-alpha-asc i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                    <i class="fa fa-sort-alpha-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                }




                Contributor
            </th>

            <th>

                @if (Model.SortColumn != null && Model.SortColumn.ToLowerInvariant() == "th2")
                {
                    if (Model.SortOrder.ToLowerInvariant() == "asc")
                    {
                        <i class="fa fa-sort-alpha-asc i-asc" aria-hidden="true" style="color: #f9c751;display:inline-block;"></i>
                        <i class="fa fa-sort-alpha-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                    }
                    else if (Model.SortOrder.ToLowerInvariant() == "desc")
                    {
                        <i class="fa fa-sort-alpha-asc i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                        <i class="fa fa-sort-alpha-desc i-desc" aria-hidden="true" style="color: #f9c751;display:inline-block"></i>
                    }

                }

                else
                {
                    <i class="fa fa-sort-alpha-asc i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                    <i class="fa fa-sort-alpha-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                }


                Center
            </th>

            <th>

                @if (Model.SortColumn != null && Model.SortColumn.ToLowerInvariant() == "th3")
                {
                    if (Model.SortOrder.ToLowerInvariant() == "asc")
                    {
                        <i class="fa fa-sort-alpha-asc i-asc" aria-hidden="true" style="color: #f9c751;display:inline-block;"></i>
                        <i class="fa fa-sort-alpha-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                    }
                    else if (Model.SortOrder.ToLowerInvariant() == "desc")
                    {
                        <i class="fa fa-sort-alpha-asc i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                        <i class="fa fa-sort-alpha-desc i-desc" aria-hidden="true" style="color: #f9c751;display:inline-block;"></i>
                    }
                }
                else
                {
                    <i class="fa fa-sort-alpha-asc i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                    <i class="fa fa-sort-alpha-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                }



                Contribution Activity
            </th>



            <th>

                @if (Model.SortColumn != null && Model.SortColumn.ToLowerInvariant() == "th4")
                {
                    if (Model.SortOrder.ToLowerInvariant() == "asc")
                    {
                      

                        <i class="fa fa-custom-sort-date-asc i-asc" aria-hidden="true" style="color: #f9c751;display:inline-block;"></i>
                        <i class="fa fa-custom-sort-date-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                    }
                    else if (Model.SortOrder.ToLowerInvariant() == "desc")
                    {
                        


                        <i class="fa fa-custom-sort-date-asc i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                        <i class="fa fa-custom-sort-date-desc i-desc" aria-hidden="true" style="color: #f9c751;display:inline-block;"></i>
                    }
                }
                else
                {
                   

                    <i class="fa fa-long-arrow-down i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                    <i class="fa fa-calendar i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                    <i class="fa fa-long-arrow-down i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                    <i class="fa fa-calendar i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                }


                Activity Date
            </th>

            <th>

                @if (Model.SortColumn != null && Model.SortColumn.ToLowerInvariant() == "th5")
                {
                    if (Model.SortOrder.ToLowerInvariant() == "asc")
                    {
                        <i class="fa fa-sort-numeric-asc i-asc" aria-hidden="true" style="color: #f9c751;display:inline-block;"></i>
                        <i class="fa fa-sort-numeric-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                    }
                    else if (Model.SortOrder.ToLowerInvariant() == "desc")
                    {
                        <i class="fa fa-sort-numeric-asc i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                        <i class="fa fa-sort-numeric-desc i-desc" aria-hidden="true" style="color: #f9c751;display:inline-block;"></i>
                    }
                }
                else
                {
                    <i class="fa fa-sort-numeric-asc i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                    <i class="fa fa-sort-numeric-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>

                }

                Time Spent
            </th>
            <th>

                @if (Model.SortColumn != null && Model.SortColumn.ToLowerInvariant() == "th6")
                {
                    if (Model.SortOrder.ToLowerInvariant() == "asc")
                    {
                        <i class="fa fa-sort-numeric-asc i-asc" aria-hidden="true" style="color: #f9c751;display:inline-block;"></i>
                        <i class="fa fa-sort-numeric-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                    }
                    else if (Model.SortOrder.ToLowerInvariant() == "desc")
                    {
                        <i class="fa fa-sort-numeric-asc i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                        <i class="fa fa-sort-numeric-desc i-desc" aria-hidden="true" style="color: #f9c751;display:inline-block;"></i>
                    }
                }
                else
                {
                    <i class="fa fa-sort-numeric-asc i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                    <i class="fa fa-sort-numeric-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>

                }


                Miles Driven
            </th>
            <th>

                @if (Model.SortColumn != null && Model.SortColumn.ToLowerInvariant() == "th7")
                {
                    if (Model.SortOrder.ToLowerInvariant() == "asc")
                    {
                        <i class="fa fa-sort-amount-asc i-asc" aria-hidden="true" style="color: #f9c751;display:inline-block;"></i>
                        <i class="fa fa-sort-amount-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                    }
                    else if (Model.SortOrder.ToLowerInvariant() == "desc")
                    {
                        <i class="fa fa-sort-amount-asc i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                        <i class="fa fa-sort-amount-desc i-desc" aria-hidden="true" style="color: #f9c751;display:inline-block;"></i>
                    }
                }
                else
                {
                    <i class="fa fa-sort-amount-asc i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                    <i class="fa fa-sort-amount-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>

                }


                In-Kind Amount
            </th>

            <th>

                @if (Model.SortColumn != null && Model.SortColumn.ToLowerInvariant() == "th8")
                {
                    if (Model.SortOrder.ToLowerInvariant() == "asc")
                    {
                        <i class="fa fa-sort-alpha-asc i-asc" aria-hidden="true" style="color: #f9c751;display:inline-block;"></i>
                        <i class="fa fa-sort-alpha-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                    }
                    else if (Model.SortOrder.ToLowerInvariant() == "desc")
                    {
                        <i class="fa fa-sort-alpha-asc i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                        <i class="fa fa-sort-alpha-desc i-desc" aria-hidden="true" style="color: #f9c751;display:inline-block"></i>
                    }

                }

                else
                {
                    <i class="fa fa-sort-alpha-asc i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                    <i class="fa fa-sort-alpha-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                }


                Entered By
            </th>

            <th>Action</th>

        </tr>
    </thead>
    <tbody class="ersea-table-head glossy-table-body bind_body scroll-tbody" id="inkind-tbody">


        @try
        {



            if (Model != null && Model.InkindReportList != null && Model.InkindReportList.Count > 0)
            {

                foreach (var inkindReport in Model.InkindReportList)
                {
                    <tr role="row">



                        <td role="gridcell" data-title="Contributor"><p title="@inkindReport.Name" data-toggle="tooltip">@inkindReport.Name</p></td>
                        <td role="gridcell" data-title="Center"><p title="@inkindReport.CenterName" data-toggle="tooltip">@inkindReport.CenterName</p></td>
                        <td role="gridcell" data-title="Contributor Activity"><p title="@inkindReport.ActivityDescription" data-toggle="tooltip">@inkindReport.ActivityDescription</p></td>




                        <td role="gridcell" data-titl="Activity Date"><p>@inkindReport.ActivityDate</p></td>


                        @if (inkindReport.Minutes == 0)
                        {
                            <td role="gridcell" data-title="Time Spent"><p> @string.Concat(inkindReport.Hours.ToString(), " ", "Hrs")</p></td>
                        }
                        else
                        {
                            <td role="gridcell" data-title="Time Spent">
                                <p>
                                    @string.Concat(inkindReport.Hours.ToString(), " ", "Hrs", " ", inkindReport.Minutes.ToString(), " ", "Mins")
                                </p>
                            </td>
                        }

                        <td role="gridcell" data-title="Miles Driven">
                            <p>@inkindReport.MilesDriven </p>
                                </td>
                        <td role="gridcell" data-title="In-Kind Amount"><p>$ @inkindReport.InKindAmount.ToString("N", System.Globalization.CultureInfo.InvariantCulture)</p></td>
                        <td role="gridcell" data-title="Entered By"><p title="@inkindReport.StaffEntered" data-toggle="tooltip">@inkindReport.StaffEntered</p></td>
                        <td role="grid" data-title="Action" class="text-center glossy_btn">
                            <input type="hidden" id="hide-trans-id" value="@(FingerprintsModel.EncryptDecrypt.Encrypt64(inkindReport.InkindTransactionID.ToString()))" />
                         
                            @if (!inkindReport.IsClosed)
                            {
                                <button type="button" class="glossy-button-button button-green button-blue btn-edit-trans glossy-button-button-ch">
                                    <span class="glossy-button-after"></span>
                                    <span class="glossy-button-before"></span>
                                    <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;Edit
                                </button>

                                <button type="button" class="glossy-button-button button-green button-red btn-delete-trans glossy-button-button-ch">
                                    <span class="glossy-button-after"></span>
                                    <span class="glossy-button-before"></span>
                                    <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;Delete
                                </button>
                            }
                            else
                            {
                                <label>Closed</label>
                            }

                        </td>
                    </tr>
                }


            }
            else
            {
                <tr style="width:98.3%">
                    <td colspan="9" style="padding: 25px;text-align:center;font-weight:bold;">@if (Model.SortColumn == null) { <text>Search by Filter<sup style="color:red">*</sup></text> } else { <text>Record not found</text>}</td>




</tr>

            }

        }
        catch (Exception ex)
        {
            FingerprintsModel.clsError.WriteException(ex);
        }



    </tbody>



</table>

