@model FingerprintsModel.MatchProviderModel

<style>
    .servies_lst h2 {
        padding: 10px;
        color: #295b8f;
        font-family: arial,sans-serif !important;
        font-size: 30px !important;
        text-transform: capitalize !important;
        font-weight: normal !important;
        margin-top: 33px;
    }

    .check_btn {
        width: 100%;
        float: left;
        margin-bottom: 10px;
        margin-top: 18px;
    }

    a:hover {
        text-decoration: none !important;
    }

    input:focus {
        outline: none !important;
    }

    .check_btn a {
        background: #295b8f;
        padding: 6px;
        margin: 5px;
        color: #fff;
        border-radius: 0;
        /* width: 100px; */
        float: none;
        padding: 8px 12px;
        /* height: 35px; */
        text-align: center;
        /* line-height: 23px; */
        font-family: arial,sans-serif;
    }

    .servies_lst ul {
        list-style-type: none;
        padding-left: 49px;
    }

    .servies_lst h3 {
        margin: 10px 2px;
        text-align: left;
        font-size: 16px;
        float: left;
        width: 100%;
        font-family: arial,sans-serif;
    }

    .servies_lst ul li {
        padding-bottom: 10px;
        color: #000;
        padding-left: 20px;
        font-family: arial,sans-serif;
    }

        .servies_lst ul li input[type="checkbox"] {
            padding: 12px;
            position: relative;
            right: 5px;
            top: 2px;
            font-family: arial,sans-serif;
        }

    .check_btn input[type="button"] {
        background: #295b8f;
        padding: 6px;
        margin: 5px 5px 60px 0px;
        color: #fff;
        border-radius: 0;
        padding: 17px 13px;
        /* width: 120px; */
        float: inherit;
        /* height: 35px; */
        text-align: center;
        /* line-height: 23px; */
        cursor: pointer;
        font-family: arial,sans-serif;
        border: 0px;
    }

    body .footer-one {
        position: fixed !important;
    }



    .serv_prod {
        float: left;
        width: 100%;
    }

        .serv_prod h4 {
            color: #000;
            float: left;
            font-family: arial,sans-serif;
        }

        .serv_prod h5 {
            color: blue;
            float: left;
            font-weight: bold;
            padding: 0 4% 0 2%;
            text-align: left;
            width: 350px;
            font-family: arial,sans-serif;
        }

        .serv_prod button {
            border: 2px solid #fff;
            background: #fff none repeat scroll 0 0;
            color: #333;
            float: left;
            font-weight: bold;
            border-radius: 0;
            height: 33px;
            letter-spacing: 0;
            margin-top: 4px;
            width: 66px;
        }

    .serv_prod_main {
        /*background: #ccc none repeat scroll 0 0;*/
        float: left;
        text-align: center;
        width: 100%;
    }

    .cent_lst {
        display: inline-block;
        float: left;
        margin-bottom: 10px;
    }

    .fam_mem h3 {
        /*color: #333;*/
        color: #295b8f;
        float: left;
        /*font-size: 15px;*/
        font-size: 14px;
        font-weight: bold;
        margin: 0 11px 0 0;
        font-family: arial,sans-serif;
    }

    .fam_mem select {
        float: left;
        height: 31px;
        width: 266px;
    }

    .cent_lst > ul {
        float: left;
        margin-top: 10px;
        padding-left: 133px;
        text-align: left;
        width: 100%;
    }

    .cent_lst li {
        float: left;
        list-style-type: none;
        padding-bottom: 5px;
        width: 100%;
        font-family: arial,sans-serif;
    }

    .cent_lst ul li input[type="checkbox"] {
        margin-right: 9px;
    }

    .servies_lst h2 {
        padding: 10px 0;
        color: #295b8f;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 26px;
        text-transform: uppercase;
        margin-top: 33px;
        font-weight: bold;
        border-bottom: 1px solid #295b8f;
        font-family: arial,sans-serif;
    }

    .no-padding {
        padding: 0;
    }

    .bdr-btm {
        padding-bottom: 15px;
        border: 1px solid #ddd;
        margin-bottom: 15px;
        background: #fff;
        border-radius: 5px;
        padding: 15px;
    }

    .check-change-btn {
        display: block;
        float: left;
        margin-left: 10px;
        /* background: #333; */
        margin-top: 16px;
        height: 8px;
        border-radius: 0;
        font-size: 16px;
        border-bottom: 1px solid;
        color: #295b8f;
        font-weight: bold;
        font-family: arial,sans-serif;
    }

    .company-name label {
        margin-bottom: 12px;
        font-family: arial,sans-serif;
        font-weight: normal;
        color: #295b8f;
    }

    .company-name span {
        display: block;
        /*line-height: 14px;*/
        line-height: 5px;
        font-family: arial,sans-serif;
        font-weight: normal;
    }

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
        padding: 12px 8px;
        text-align: center;
    }

    .pad-right {
        padding-right: 0;
    }

    .ui-datepicker {
        z-index: 9999 !important;
    }

    .print_btn .check-change-btn {
        margin-top: 10px;
    }

    .txt_labe label {
        font-weight: normal !important;
    }

    .txt_labe {
        text-align: left;
        padding-left: 0px;
    }

    .modaltable tr td {
        padding-bottom: 3px;
        padding-right: 8px;
    }

    /*.modal-dialog {
            width: 500px;
        }*/
    .refer-modal {
        padding-top: 20px;
    }

    .modal-bdr {
        border: none !important;
        margin: 0 !important;
    }

    .modal-dialog-width {
        width: 780px !important;
    }

    .refer_entry h2 {
        color: #295b8f;
        font-size: 18px;
        font-weight: bold;
        margin-top: 0;
    }

    .refer_entry ul {
        float: left;
        width: 100%;
        padding: 10px;
        margin: 0;
    }

        .refer_entry ul li {
            float: left;
            width: 100%;
            list-style-type: none;
            font-size: 15px;
            color: black;
            padding-bottom: 7px;
        }

            .refer_entry ul li label {
                float: left;
                text-align: left;
                padding-right: 2%;
                width: 46%;
            }

            .refer_entry ul li span label {
                width: auto;
                float: left;
                text-align: left;
                margin: 0 !important;
                padding-right: 10px;
                margin-bottom: 15px;
            }

    .refer_entry .radio-inline {
        width: 100% !important;
    }

    .refer_entry ul li span textarea {
        height: 90px;
        width: 100%;
    }


    .btn-default {
        color: #fff;
        background-color: #295b8f !important;
        border-color: #295b8f !important;
        border-radius: 0;
    }

    #myModalOrganization .modal-dialog {
        margin: 5% auto 0;
    }

    .modal-width-change {
        width: 750px;
    }

    .modal-height-change {
        height: 500px;
        overflow: auto;
    }

    .error {
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;
        color: #a94442 !important;
        background-color: #f2dede;
        border-color: transparent;
        width: 219px;
        padding: 0px;
        position: relative;
    }

        .error:before {
            position: absolute;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;
            top: 50%;
            left: -7px;
            margin-top: -6px;
            content: "";
            border-width: 6px 6px 6px 0;
            border-right-color: #f2dede;
        }
</style>

<style type="text/css" title="orggnaization list">
    /* The container */
    .container-radio {
        display: block;
        position: relative;
        padding-left: 25px;
        padding-right: 14px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 14px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        /* Hide the browser's default radio button */
        .container-radio input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }

    /* Create a custom radio button */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 16px;
        width: 16px;
        /*  background-color: #eee;*/
        border-radius: 50%;
        border: 1px solid #34495e;
    }

    /* On mouse-over, add a grey background color */
    .container-radio:hover input ~ .checkmark {
        /* background-color: #ccc;*/
    }

    /* When the radio button is checked, add a blue background */
    /*
        .container-radio input:checked ~ .checkmark {
            background-color: #2196F3;
        }*/

    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the indicator (dot/circle) when checked */
    .container-radio input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the indicator (dot/circle) */
    .container-radio .checkmark:after {
        top: 2px;
        left: 2px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #34495e;
    }

    label.container-radio {
        font-weight: bold !important;
    }

    .rlclrdiv {
        width: 15px;
        height: 15px;
        background: #333;
        left: 50%;
        position: relative;
    }

    #review-modal-table {
        text-align: center;
    }

        #review-modal-table thead {
            background: #285B90;
            color: #fff;
        }
</style>


<div class="col-xs-12" id="div_matchproviders_partial">

    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 servies_lst no-padding no-print">
        <h2>Match Providers For  @Model.ParentName</h2>
    </div>

    <input type="hidden" value="@Model.MPMList.Count" id="servicescount" />
    <input type="hidden" value="@Model.ScreeningReferralYakkr" id="screeningReferralYakkr" />

    <div class="col-xs-12 no-padding bdr-btm no-print">


        <div class="col-xs-12 serv_prod_main no-padding">

            <div class="cent_lst col-xs-12 no-padding">
                <div class="fam_mem">
                    <div class="col-xs-3 col-md-4 pad-right">
                        <h3> Service Resources: </h3>
                    </div> 
                    <div class="col-xs-9 col-md-8">
                        <div class="col-xs-12 txt_labe">

                            @if (Model.MPMList != null && Model.MPMList.Count > 0)
                            {

                                if (Model.MPMList.FirstOrDefault().IsFunction == false)
                                {
                                    if (Model.MPMList.Count > 1)
                                    {

                                        <select id="FSResources">
                                            @if (Model.MPMList != null && Model.MPMList.Count > 0)
                                            {
                                                <option value="0">Select Resources</option>
                                                foreach (var Item in Model.MPMList)
                                                {
                                                    <option value="@Item.ServiceId">@Item.Services </option>
                                                }
                                            }
                                            }
                                        </select>

                                    }
                                    else
                                    {
                                        foreach (var Item in Model.MPMList)
                                        {
                                            <input type="hidden" value="@Item.ServiceId" id="FSResources" /> <label id="servicesName">@Item.Services</label>
                                        }
                                    }



                                }
                                else
                                {
                                    foreach (var Item in Model.MPMList)
                                    {
                                        <input type="hidden" value="@Item.ServiceId" id="FSResources" /> <label id="servicesName">@Item.Services</label>
                                    }
                                }
                            }
                            <span class="error" id="err_resource" style="display:none; width: auto;float: left;padding: 0 8px;margin-left: 10px;line-height: 26px;font-size: 12px;font-weight: bold;">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xs-12 serv_prod_main no-padding" style="display:none;" id="Org-row">

            <div class="cent_lst col-xs-12 no-padding">
                <div class="fam_mem">
                    <div class="col-xs-3 col-md-4 pad-right">
                        <h3> Service Organization: </h3>
                    </div>
                    <div class="col-xs-9 col-md-8">

                        <div class="col-xs-12 txt_labe">


                            <div id="organization-list" style="display: block;padding:0px;">


                            </div>
                        </div>




                    </div>
                </div>
            </div>
        </div>



        <!-- Old Slect end-->

        <div class="col-xs-12 serv_prod_main no-padding">
            <div class="cent_lst col-xs-12 no-padding">
                <div class="fam_mem">
                    <div class="col-xs-3 col-md-4 pad-right">
                        <h3> Referral Date: </h3>
                    </div>
                    <div class="col-xs-9 col-md-8">
                        <p style="float:left;margin-bottom:0;position:relative;">
                            @if (Model.MPMList != null && Model.MPMList.Count > 0)
                            {


                                <input type="text" maxlength="10" class="txt-date" id="datepicker" value="@Model.MPMList[0].ReferralDate" style="left:0px;margin-top:0px;margin-bottom:0;width:268px;padding:8px;height:28px;position:relative;z-index:9;background:none;border:1px solid #a9a9a9;cursor:pointer;" />

                            }

                        </p>
                        <span class="error" id="err_date" style="display:none; width: auto;float: left;padding: 0 8px;margin-left: 10px;line-height: 27px;font-size: 12px;font-weight: bold;margin-bottom:0;margin-top:6px;">
                        </span>
                    </div>
                    <span class="error" id="errdate" style="display:none; width: auto;float: left;padding: 0 8px;margin-left: 10px;line-height: 26px;font-size: 12px;font-weight: bold;">
                    </span>
                </div>
            </div>
        </div>


        <div class="col-xs-12 serv_prod_main no-padding">

            <div class="cent_lst col-xs-12 no-padding">
                <div class="fam_mem">
                    <div class="col-xs-3 col-md-4 pad-right">
                        <h3> Notes: </h3>
                    </div>
                    <div class="col-xs-9 col-md-8">
                        @if (Model.MPMList != null && Model.MPMList.Count > 0)
                        {
                            if (Model.MPMList.FirstOrDefault().IsFunction == false)
                            {
                                <textarea class="txtarea" id="Description" style="height:30px;height: 50px;line-height: 1em;display: block;width: 268px;white-space: nowrap;" rows="3" name="Text" value=""></textarea>

                            }

                            else
                            {
                                foreach (var Item in Model.MPMList)
                                {
                                    <textarea class="txtarea" id="Description" style="height:30px;height: 50px;line-height: 1em;display: block;width: 268px;white-space: nowrap;" rows="3" name="Text" value="@Item.Notes"> @Item.Notes</textarea>
                                }
                            }
                        }

                    </div>
                </div>
            </div>
        </div>

        @if (Model.MPMList != null && Model.MPMList.Count > 0)
        {
            foreach (var Item in Model.MPMList)
            {
            }
            <input type="hidden" id="ReferralClientServiceId" value="@(Model.MPMList[0].ReferralClientServiceId)" />
            <input type="hidden" id="_ClientId" value="@(Model.MPMList[0].ClientId)" />
            <input type="hidden" id="_CommunityId" value="@(Model.MPMList[0].CommunityId)" />
            <input type="hidden" id="_ServiceId" value="@(Model.MPMList[0].ServiceId)" />
            <input type="hidden" id="_AgencyId" value="@(Model.MPMList[0].AgencyId)" />
            <input type="hidden" value="@Model.MPMList.Count" id="mpmlistCount" />
            <input type="hidden" value="@Model.OrganizationList.Count" id="organizationListCount" />
            <input type="hidden" value="@Model.clientName" id="clientName" />
            <input type="hidden" value="@Model.Step" id="stepId" />
            <input type="hidden" id="isupdate" />
            <input type="hidden" id="encryptId" value="@Model.id" />
            <input type="hidden" id="clientName" value="@Model.clientName" />
            <input type="hidden" id="referralClientId" value="@Model.ReferralClientId" />
            @Html.HiddenFor(m => m.AgencyId);
            @Html.HiddenFor(m => m.ClientId);
            @Html.HiddenFor(m => m.CommunityId);
            @Html.HiddenFor(m => m.ServiceId);
            @Html.HiddenFor(m => m.ReferralClientServiceId);

        }
        <div class="col-xs-12 no-padding company-name">
            <div class="col-xs-12 no-padding">
                <div class="col-xs-3 col-md-4 pad-right">
                    <span><label><b>Organization Name:</b></label></span>
                </div>
                <div class="col-xs-9 col-md-8">
                    @if (Model.MPMList[0].CommunityId != 0)
                    {
                        if (Model.OrganizationList.Count > 0)
                        {
                            foreach (var item2 in Model.OrganizationList)
                            {
                                if (item2.Value.ToString() == Model.MPMList[0].CommunityId.ToString())
                                {
                                    <span>
                                        <a id="spnOrganizationName" data-toggle="modal" data-target="#myModalOrganization" style="display:inline-block;margin-top:10px;cursor:pointer;text-decoration:underline">@item2.Text</a>
                                    </span>

                                }
                            }
                        }

                    }
                    else
                    {

                        <span>
                            <a id="spnOrganizationName" data-toggle="modal" data-target="#myModalOrganization" style="display:inline-block;margin-top:10px;cursor:pointer;text-decoration:underline"></a>
                            <span id="crcolor-div" class="badge" style="display: none;color: #fff;margin-left: 10px;"></span>
                        </span>
                    }
                    <input type="hidden" id="CommunityId" />
                </div>
            </div>
            <div class="col-xs-12 no-padding">
                <div class="col-xs-3 col-md-4 pad-right">
                    <span><label><b>Address:</b></label> </span>
                </div>

                <div class="col-xs-9 col-md-8">
                    @if (Model.MPMList[0].CommunityId != 0)
                    {
                        <span id="SpnCommunityAddress" style="margin-top:10px;display:inline-block;">@(Model.MPMList[0].Address != null ? Model.MPMList[0].Address + "," : " ")</span>
                        <span id="SpnCommunityCity" style="margin-top:10px;display:inline-block;">@(Model.MPMList[0].City != null ? Model.MPMList[0].City : " ")</span>
                        <span id="SpnCommunityState" style="margin-top:10px;display:inline-block;">@(Model.MPMList[0].State != null ? Model.MPMList[0].State + "," : " ")</span><span id="SpnCommunityZipCode" style="margin-top:10px;display:inline-block;padding-left:5px;">@(Model.MPMList[0].ZipCode != null ? Model.MPMList[0].ZipCode : " ")</span>

                    }
                    else
                    {
                        <span id="SpnCommunityAddress" style="margin-top:10px;display:inline-block;"></span>
                        <span id="SpnCommunityCity" style="margin-top:10px;display:inline-block;"></span>
                        <span id="SpnCommunityState" style="margin-top:10px;display:inline-block;"></span><span style="margin-top:10px;display:inline-block;padding-left:5px;" id="SpnCommunityZipCode"></span>

                    }
                </div>
            </div>

            <div class="col-xs-12 no-padding" style="margin-top:10px;">
                <div class="col-xs-3 col-md-4 pad-right">
                    <span><label><b>Phone Number:</b></label> </span>
                </div>

                <div class="col-xs-9 col-md-8">
                    @if (Model.MPMList[0].CommunityId != 0)
                    {

                        <span id="SpnCommunityPhone">@(Model.MPMList[0].Phone != null ? Model.MPMList[0].Phone : " ")</span>

                    }
                    else
                    {

                        <span id="SpnCommunityPhone"></span>


                    }
                </div>
            </div>
            <div class="col-xs-12 no-padding">
                <div class="col-xs-3 col-md-4 pad-right">
                    <span><label><b>Email:</b></label> </span>
                </div>

                <div class="col-xs-9 col-md-8">
                    @if (Model.MPMList[0].CommunityId != 0)
                    {

                        <span id="SpnCommunityEmail">@(Model.MPMList[0].Email != null ? Model.MPMList[0].Email : "" )</span>

                    }
                    else
                    {
                        <span id="SpnCommunityEmail"></span>
                    }
                </div>

            </div>


           



        </div>
        <div class="col-xs-12 no-padding">
            <div class="check_btn text-center">

                <a href="javascript:void(0);" class="check" id="referralLetterPdf">Referral letters</a>


                <input type="button" id="referralServiceSaveMethod" value="Save" style="float:none;">
                <input type="button" id="Cancel" value="Cancel" style="float:none;" onclick="location.href='@Url.Action("ReferralService","Roster",new {id= Model.id,clientName=Model.clientName,scrYakkr=Model.ScreeningReferralYakkr})'">

            </div>
        </div>
        <div class="col-xs-12" style="margin-bottom:50px;"></div>
    </div>





</div>









<script src="~/Scripts/Referral/MatchProvider.js?v=6"></script>