@model FingerprintsModel.AssignFacilityStaff
@{
    @section Title{
        FacilityWorks
    }
    ViewBag.Title = "FacilityWorks";
    if (Session["Roleid"] != null && (Session["Roleid"].ToString().Contains("a65bb7c2-e320-42a2-aed4-409a321c08a5") || Session["Roleid"].ToString().Contains("3b49b025-68eb-4059-8931-68a0577e5fa2")))
    {
        Layout = "~/Views/Shared/AgencyAdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/AgencyStaffLayout.cshtml";
    }
}
@section Script{

    <script type="text/javascript">


        function checkIfNumericDigit(evt) {

    
                evt = (evt) ? evt : window.event;
                var charCode = (evt.which) ? evt.which : evt.keyCode;
                if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                    return false;
                }
                if (charCode == 67 && charCode == 88 && charCode == 86) {
                    return true;
                }
                return true;
            
            
        }

        function RedirectToDashboard()
        {
            if('@Session["RoleId"].ToString()'=='825F6940-9973-42D2-B821-5B6C7C937BFE')
            {
                location="/Home/AgencyFacilitiesManagerDashboard";
            }
            else if('@Session["RoleId"].ToString()'=='cb540cea-154c-482e-82a6-c1e0a189f611')
            {
                location="/Home/FacilityWorkerDashboard";
            }
        }

        function AddImages() {

         //   var IsEmergency = $('#Oemergencycontact').is(":checked");
            if ($('.fixType').is(':checked') == false)
            {
                customAlert("Please select fixed type.");
                return false;
            }

            else if ($('.fixType:checked').val() == 'true' && $('#notes').val()=="") {
                customAlert("Please enter notes for temporary fix.");

                return false;
            }
            else {
                var formData = new FormData();

                formData.append("YakkrId", $('#YakkrId').val());

                var i = 0;
                $('.file_input_field').each(function () {
                    formData.append("ImageList[" + i + "]", $('.file_input_field')[i].files[0]);
                    i++;
                });
                $.ajax({
                    url: HostedDir + "/Home/UploadFacilityImages",
                    type: "POST",
                    data: formData,
                    dataType: "json",
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        if (response != null) {
                            ValidateInput();
                        }
                    },
                    error: function (response) { alert(response); }
                });
            }
            
        }
        function ValidateInput() {

            AssignWork = {};
            AssignWork.IsTemporaryFix = $('.fixType:checked').val();
            AssignWork.LaborHours = $('#laborhours').val();
            AssignWork.MilesDriven = $('#milesdriven').val();
            AssignWork.Notes = $('#notes').val();

            AssignWork.PartDetails = [];
            var Parts = [];
            $('.icc_dedworker').each(function () {
                var Part = {};

                Part.PartNumber = $(this).find('.partnumber').val();
                Part.Quantity = $(this).find('.quantity').val();
                Part.UnitCost = $(this).find('.unitcost').val();
                Part.TotalCost = $(this).find('.totalcost').val();
                Part.PartDescription = $(this).find('.partdescrp').val();
                Parts.push(Part);
                AssignWork.PartDetails.push(Part);

            });
           // = Parts;
            var WorkStatus = { AssignWork: AssignWork, PartDetails: Parts };
            WorkStatus = JSON.stringify({ 'WorkStatus1': WorkStatus });
      

            $.ajax({
                url: HostedDir + "/Home/SaveFacilityStaffWorks",
                type: "POST",
                secureuri: false,
                async: false,
                dateType: 'json',
                data: '{AssignWork: ' + JSON.stringify(AssignWork) + '}',
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    location.href = "/Yakkr/YakkrDetails";
                }
            });
        }

        function ZoomImage(arg)
        {
           
            $(arg).zoomify();
        }
        $(document).ready(function(){
            $('.Zoom img').zoomify();
            $('#DivSelfAssignedPopup').find('.imageValidate').zoomify();

            var max_fields = 10; //maximum input boxes allowed
            var wrapper = $(".input_fields_wrap"); //Fields wrapper
            var add_button = $(".add_field_button"); //Add button ID
            var edit_button = $('.add_field_button_Edit');

            var x = 1; 
            $(add_button).click(function (e) {
                e.preventDefault();
                if (x == 1||x<=0)
                {
                    $('.appendImages').html("");
                }
            
                if (x < max_fields) {
                    var delete1='<span class="view-btn backto_listspan remove_field"> <a href="#" style="padding:10px;float: right;color: #fff;margin-right:0px;background-color:#9b59b6;border-radius: 4px;text-decoration:none;font-size: 14px;border-style: none;" class="backto_list">Delete</a></span>';
                    $('.appendImages').append("  <tr><td  class='innc-con'>" + x + "</td><td class='innc-con'><button class='btn btn-default back-btn1 btnbrowse split-browser' type='button'>Browse Image</button></td><td class='innc-con'><input type='file' style='display:none' class='form-control file_input_field' name='Imagefiles'>  <label  class='filepath innc-con'></label></td><td class='innc-con'> <img class='ImageValidate imagesource zoomify'  onclick='ZoomImage(this)' style='width: 50px;height: 50px;' src='sample.png' alt='' /></td><td class='innc-con'><button class='btn btn-default back-btn1 remove_field  split1-browser' type='button'>Delete</button></td></tr>");
                    x++;
                }
            });

            $(edit_button).click(function (e) { 
                e.preventDefault();
               
                if (x < max_fields) { 
                    x++;
                    $('.appendImages').append("  <tr><td  class='innc-con'>" + x + "</td><td class='innc-con'><button class='btn btn-default back-btn1 btnbrowse split-browser' type='button'>Browse Image</button></td><td><input type='file' style='display:none' class='form-control file_input_field' name='Imagefiles'>  <label  class='filepath innc-con'></label></td><td class='innc-con'> <img class='ImageValidate imagesource zoomify'  style='width: 50px;height: 50px;' src='sample.png' alt='' /></td><td class='innc-con'><button class='btn btn-default back-btn1 remove_field  split1-browser' type='button'>Delete</button></td></tr>");
                }
            });
            $(wrapper).on("click", ".remove_field", function (e) { 
                e.preventDefault();

                $(this).closest('tr').remove();
                x--;
                var count = 0;
                $('.appendImages >tr').each(function () {
                    count++;
                    $(this).find('td').eq(0).text(count);
                });
                if (x == 1) {
                    $('.appendImages').html('<tr> <td colspan="5" class="innc-con">No records found</td></tr>');
                }
            })
            $(wrapper).on("click", ".btnbrowse", function (e) { //user click on remove text
                e.preventDefault();
                $(this).closest('tr').find('.file_input_field').click();
            })
            $(wrapper).on("change", ".file_input_field", function (evt) { //user click on remove text
                evt.preventDefault();


                var imgpath = this.files[0].name;


                var fileType = this.files[0].name.split('.').pop(), allowdtypes = 'jpeg,jpg,png,gif';

                if (allowdtypes.indexOf(fileType) < 0) {

                    $(this).parent('div').children(5).eq(5).html('Please Upload a Valid Image (eg : jpeg,jpg,png,gif) ').css('color', 'red');
                    $(this).parent('div').children(1).eq(1).val('');

                    return false;
                }
                else {

                    $(this).closest('tr').children(4).eq(4).html("<button class='btn btn-default back-btn1 remove_field  split1-browser' type='button'>Delete</button>");

                    $(this).closest('tr').find('.filepath').text(imgpath);
                    $(this).closest('tr').children(5).eq(5).html('');
                    $(this).closest('tr').children(".hfolderpath").val("");

                    var tmppath = window.URL.createObjectURL(evt.target.files[0]);
                    $(this).closest('tr').find('.imagesource').attr('src', tmppath);

                }

               // x--;

            });

            $('#AddPartDetails').click(function(){

                var htmlcontent = "";
                htmlcontent = $('#DivPartDetails').html();
                $('#AppendPartDetails').append(htmlcontent);
                if ($('.icc_dedworker').length>1)
                    $('#divTotalCount').show();
                else
                {
                    $('#TotalCost').text("");
                    $('#TotalQuantity').text("");
                    $('#divTotalCount').hide();
                }
            });


        });

        function AutoComplete(arg) {

            var desc = $(arg).parent().parent().parent();

            try {
                $(arg).autocomplete({
                    minLength: 1,
                    source: function (request, response) {
                        $.ajax({
                            url: HostedDir + "/Home/AutoCompletePartDetails",
                            type: "POST",
                            dataType: "json",
                            data: { term: request.term },
                            success: function (data) {
                                console.clear();
                                console.log(data);
                                response($.map(data, function (item) {
                                    //$(arg).val('');
                                   // $(desc).find('.partdescrp').val('');
                                    return {
                                        label: item.PartNumber, PartNumber: item.PartNumber,
                                        PartDescription: item.PartDescription,
                                        UnitCost: item.UnitCost,

                                    };
                                }))
                            }

                        })
                    },
                    select: function (event, ui) {
                        $(arg).val(ui.item.PartNumber);
                        $(desc).find('.partdescrp').val(ui.item.PartDescription);
                        $(desc).find('.unitcost').val(ui.item.UnitCost);



                    },
                    messages: {
                        noResults: "No Result Found", results: ""
                    }
                })

            }
            catch (err) {
            }

        }



        function DeletePartDetails(arg) {

            $(arg).parent().parent().parent().parent().remove();
            var qn = 0, tot = 0;


            $('.quantity').each(function () {
                if ($(this).val() != "" && $(this).val() != null)
                    qn = qn + parseFloat($(this).val());

            });
            $('.totalcost').each(function () {
                if ($(this).val() != "" && $(this).val() != null)
                    tot = tot + parseFloat($(this).val());
            });
            $('#TotalCost').text("");
            $('#TotalQuantity').text("");
            $('#TotalCost').text("$ "+tot);
            $('#TotalQuantity').text(qn);
            if ($('.icc_dedworker').length > 1)
                $('#divTotalCount').show();
            else {
                $('#TotalCost').text("");
                $('#TotalQuantity').text("");
                $('#divTotalCount').hide();
            }

        }

        function AddPartDetails()
        {
           


        }
        function ShowContactInfo() {
            // if ($(this).val() != null )//&& $(this).val() != "")
            {
                $('#divContact').show();
            }

        }

        function ShowCenterAddress() {
            $('#ShowCenterAddress').modal('show');

        }

        function CalculateTotalCost(arg)
        {



            var divelement = $(arg).parent().parent().parent();
            var quan = $(divelement).find('.quantity').val();
            var unitcost = $(divelement).find('.unitcost').val();
            if (quan != "" && quan != 'undefined' && unitcost != "" && unitcost != 'undefined')
            {
                var qn = 0, tot = 0;

                $(divelement).find('.totalcost').val(quan * unitcost);
                $('.quantity').each(function () {
                    if ($(this).val() != "" && $(this).val()!=null)
                    qn = qn + parseInt($(this).val());

                });
                $('.totalcost').each(function () {
                    if ($(this).val() != "" && $(this).val() != null)
                    tot = tot + parseInt($(this).val());
                });
                $('#TotalCost').text("");
                $('#TotalQuantity').text("");
                $('#TotalCost').text("$"+tot);
                $('#TotalQuantity').text(qn);
            }

        }
        //function ValidateInputs() {

        //    if ($('#stafflist').val() == null) {
        //        customAlert("Please select Facility Worker.")
        //        return false;
        //    }
        //    else {
        //        AssignWork = {};
        //        AssignWork.IsInternal = $('.inter-extern:checked').val();
        //        AssignWork.InternalAssignTo = $('#stafflist').val();
        //        AssignWork.ExternCompanyName = $('#CmpyName').val();
        //        AssignWork.ExternalAddress = $('#CmpyAddress').val();
        //        AssignWork.ExternalEmailId = $('#CmpyEmailId').val();

        //        $.ajax({
        //            url: HostedDir + "/Home/SaveFacilityWorks",
        //            type: "POST",
        //            dateType: 'json',
        //            data: AssignWork,
        //            success: function (response) {
        //                location.href = "/Yakkr/YakkrDetails";
        //            }
        //        });
        //    }

        //}



    </script>

}

@section MainContentHolder{
<style>
    .import_totalcount ul li a {
    color: #000;
    font-weight: 600;
    text-decoration: none;
}
    .import_totalcount ul li {
    float: right;
    margin: 0 9px;
    text-decoration: none;
    list-style: none;
}
    .import_totalcount {
    width: 100%;
    float: left;
    background-color: #f9c751;
    padding: 14px 0;
}
    thead.set-bggm th {
    color: #000 !important;
}
    .set-square label{
       margin-left:0 !important;}
    .no-padding {
    padding: 0px;
    }
    thead.set-bggm {
    background-color: #f9c751 !important;
}
    thead.set-bggm tr th {
    border-right: 1px solid;
}
    td.innc-con {
    text-align: center;
}
    .wht_bgm {
    background-color: #fff;
    color: #333;
}
    span#TotalCost {
    /*letter-spacing: 3px;*/
}
    .split-browser {
    background-color: #16a086 !important;
    outline: none !important;
    cursor: pointer;
}
        .split1-browser {
    background-color: #d64035 !important;
    outline: none !important;
    cursor: pointer;
}
            .split1-browser:hover {
    background-color: #d64035 !important;
    outline: none;
}
    .split-browser:hover {
    background-color: #3aaf99 !important;
    outline: none;
}
    .gud_sport {
    float: right;
    }
    td.tb-spikit {
    text-align: center;
}
    td.tb-spikit img {
    border: 1px solid #333;
    border-radius: 3px;
}
    .slot-heading1 h2 {
            color: #fff;width:auto!important;
            text-align: right;float:right;
            font-weight: bold;
            margin: 0;
            margin-top: 30px;
        background: #e91e63;
    color: #fff;
    font-size: 15px;
    padding: 9px!important;
            margin-bottom: 12px;border-radius: 5px;
        }
        .slot-heading1 h2 span{color:#fff;}
      .slot-heading h2 {
            color: #fff;width:auto!important;
            text-align: right;float:right;
            font-weight: bold;
            margin: 0;
            margin-top: 30px;
        background: #673ab7;
    color: #fff;
    font-size: 15px;
    padding: 9px!important;
            margin-bottom: 12px;border-radius: 5px;
        }
        .slot-heading h2 span{color:#fff;}
    .zoomify.zoomed {
        position: relative !important;
        z-index: 999999 !important;
    }

    .import_facility {
        width: 100%;
        float: left;
        text-align: center;
    }

    div#facility_scroll {
        width: 100%;
        float: left;
        margin-top: 30px;
        background-color: rgba(4, 24, 46, 0.5);
        border-radius: 7px;
        margin-bottom: 20px;
    }

    .icc_fac {
        background-color: #fff;
        padding: 6px 12px;
    }


    #facility_scroll legend {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 0px;
        width: 100%;
        position: absolute;
        top: -14px;
        border: 1px solid #e66770;
        border-radius: 4px;
        padding: 5px 5px 5px 10px;
        background-color: #e66760;
        line-height: 30px;
        margin: auto;
        color: #fff;
    }

    .transition-radio-btn .radio.radio-info {
        float: left;
        margin-top: 10px;
        width: auto;
        margin-right: 30px;
        display: inline-block;
        margin-bottom: 5px;
    }

    .transition-radio-btn .radio input[type="radio"] {
        opacity: 0;
        z-index: 1;
        cursor: pointer;
    }

    .transition-radio-btn .radio-info input[type="radio"]:checked + label {
        color: #fff;
    }

    .transition-radio-btn .radio label {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        padding-left: 5px;
        color: #fff;
        font-size: 15px;
    }

    .transition-radio-btn .radio-info input[type="radio"]:checked + label::before {
        border-color: #fff;
        color: #fff;
    }


    .transition-radio-btn .radio label::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 16px;
        height: 16px;
        left: 0;
        margin-left: -20px;
        border: 1px solid #163b69;
        border-radius: 50%;
        background-color: transparent;
        -webkit-transition: border 0.15s ease-in-out;
        -o-transition: border 0.15s ease-in-out;
        transition: border 0.15s ease-in-out;
        top: 2px;
    }

    .transition-radio-btn .radio label::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 16px;
        height: 16px;
        left: 0;
        margin-left: -20px;
        border: 1px solid #fff;
        border-radius: 50%;
        background-color: transparent;
        -webkit-transition: border 0.15s ease-in-out;
        -o-transition: border 0.15s ease-in-out;
        transition: border 0.15s ease-in-out;
        top: 2px;
    }

    .transition-radio-btn .radio input[type="radio"]:checked + label::after {
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }

    .transition-radio-btn .radio-info input[type="radio"]:checked + label::after {
        background-color: #fff;
        color: #fff;
    }

    .transition-radio-btn .radio-info input[type="radio"] + label::after {
        background-color: #fff;
        color: #fff;
    }

    .transition-radio-btn .radio label::after {
        display: inline-block;
        position: absolute;
        content: " ";
        width: 8px;
        height: 8px;
        left: 4px;
        top: 6px;
        margin-left: -20px;
        border-radius: 50%;
        background-color: transparent;
        -webkit-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
        -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
        -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
        -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
        transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    }

    .import_legend legend {
        width: 30% !important;
    }

    .import_legend {
        color: #fff;
    }

    #facility_scroll fieldset {
        margin: 0;
        min-width: 0;
        padding: 50px 0 10px;
        position: relative;
        border-radius: 4px;
    }

    .inkind_color {
        color: #fff;
        font-weight: 300;
    }

    .icc_kindfac {
        margin-bottom: 15px !important;
        display: inline-block;
        font-family: Verdana;
    }

    .header_key h2 {
        margin: 0;
        font-weight:bold;
        color:#000;
    }

    .header_key {
        width: 100%;
        float: left;
        background-color: #f9c751;
        color: #fff;
        padding: 15px;
        border-radius: 7px;
        margin-top: 34px;
        text-align:center
    }

    .import_facility button:first-child {
        margin-right: 18px;
    }

    .import_facility button {
        border-radius: 0px;
    }

    .fact_wrapper {
        width: 100%;
        float: left;
        padding: 0 20px;
        background-image: url('../../Images/body-bg.jpg');
        background: url('../../Images/body-bg.jpg') center no-repeat #000 !important;
        background-size: cover !important;
        background-position: 100% 100% !important;
    }

    .icc_input input {
        border: 0;
        width: 100%;
        height: 28px;
        color: #333;
        outline: none;
        font-size: 16px;
    }

    .page-wrapper-change {
        background-image: url('../../Images/body-bg.jpg');
        background: url('../../Images/body-bg.jpg') center no-repeat #000 !important;
        background-size: cover !important;
        background-position: 100% 100% !important;
    }

    .icc_img img {
        width: 100%;
        border: 1px solid #fff;
        float: left;
        height: 200px;
        max-height: 100%;
    }

    .icc_kindfac .radio-info {
        width: 100% !important;
        float: left !important;
        margin: 0 0 15px !important;
    }

    .radio.radio-info label {
        margin-left: 10px;
        font-weight: 600;
    }

    .icc_textarea textarea {
        height: 80px;
        color: #333;
        width: 100%;
        border: 0;
        padding: 10px 12px;
        outline: none;
       
    }

    #page-wrapper {
        padding: 30px 15px 0;
    }

    .addfun {
        text-align: right;
    }
    .gud_sport {
    float: right;
    background-color: #16a086 !important;
    color: #fff !important;    font-weight: 600;
}
    .gud_sport:hover {
    float: right;
    background-color: #16a086 !important;
    color: #fff !important;
}
        .addfun a i {
            color: #333;
            padding: 0 0 0 4px;
        }

        .addfun a {
            color: #fff;
            background-color: #16a086;
            padding: 8px 15px;
            border-radius: 4px;
            text-decoration: none;
            font-weight:600
        }

    .import_facility button {
        border: 1px solid #fff;
        text-transform: uppercase;
    }

    .icc_dedworker {
        width: 100%;
        float: left;
        background-color: #fff;
        border-radius: 4px;
        padding: 15px;
        color: #333;
        margin-bottom:10px;
    }

        .icc_dedworker label {
            width: 40%;
            float: left;
        }

        .icc_dedworker label {
            color: #1b5c96;
        }

        .icc_dedworker input {
            width: 60%;
            float: left;
        }
    div#AppendPartDetails {
        background-color: #fff;
    width: 100%;
    float: left;
    border-radius: 5px;
   margin-top: 20px;
    color: #fff;    margin-bottom: 15px;
    border: 0;
    }
</style>
    <div class="container-fuild" style="padding: 0;">
        <input type="hidden" id="YakkrId" value="@Request.QueryString["YakkrID"]" />
        <div class="row">
            <div class="fact_wrapper">

                <div class="header_key">
                    <h2>Assign Work Order</h2>
                </div>


                <div class="col-lg-12 col-xs-12 inkind-entry-div import_legend" id="facility_scroll">
                    <form id="inkind-info-form">
                        <fieldset>
                           
                            <div class="col-md-6 col-sm-12 col-lg-6 col-xs-12" style="padding: 0px;">
                                <div class="form-group row icc_kindfac">
                                    <label class="col-lg-4 inkind_color">Description</label>
                                    <div class="col-lg-8">
                                        <label class="col-form-label">@Model.yakkrdescription</label>
                                    </div>
                                </div>
                                <div class="form-group row icc_kindfac">
                                    <label class="col-lg-4 inkind_color">Yakkr Code</label>
                                    <div class="col-lg-8">
                                        <label class="col-form-label">@Model.YakkrCode</label>
                                    </div>
                                </div>

                                <div class="form-group row icc_kindfac">
                                    <label class="col-lg-4 inkind_color">Staff</label>
                                    <div class="col-lg-8">
                                        <label class="col-form-label">@Model.StaffName1</label>
                                    </div>
                                </div>
                                <div class="form-group row icc_kindfac">
                                    <label class="col-lg-4 inkind_color">User Description</label>
                                    <div class="col-lg-8 ">
                                        <label class="col-form-label">@Model.UserDescrption</label>
                                    </div>
                                </div>
                               
                                <div class="form-group row icc_kindfac">
                                    <label class="col-lg-4 inkind_color">Work Order Number</label>
                                    <div class="col-lg-8">
                                        <label class="col-form-label">@Model.workorderSequence</label>
                                    </div>
                                </div>
                                <div class="form-group row icc_kindfac">
                                    <label class="col-lg-4 inkind_color">Date of Work Order</label>
                                    <div class="col-lg-8">
                                        <label class="col-form-label">@Model.WorkOrderDate</label>
                                    </div>
                                </div>

                                <div class="form-group row icc_kindfac">
                                    <label class="col-lg-4 inkind_color">Date of Request</label>
                                    <div class="col-lg-8">
                                        <label class="col-form-label">@Model.RequestedDate</label>
                                    </div>
                                </div>


                                <div class="form-group row icc_kindfac">
                                    <label class="col-lg-4 inkind_color">Fixed Type</label>
                                    <div class="col-lg-8">
                                        <div class="transition-radio-btn enroll-sec" style="padding-left: 8px;" id="AssignToWhom">

                                            <div class="radio radio-info set-square">
                                                <input type="radio" name="fixType" class="fixType" value="true">
                                                <label>Temporary Fix</label>
                                            </div>
                                            <div class="radio radio-info set-square">
                                                <input type="radio" name="fixType" class="fixType" value="false">
                                                <label>
                                                    Permanant Fix
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                               
                            </div>
                            <div class="col-md-6 col-sm-12 col-lg-6 col-xs-12" style="padding: 0px;">
 
                                <div class="form-group row icc_kindfac">
                                    <label class="col-lg-4 inkind_color">Center</label>
                                    <div class="col-lg-8">
                                        <label class="col-form-label"><a onclick="ShowCenterAddress()" style="text-decoration:underline;cursor:pointer;color:#fff" class="center-addr-route">@Model.CenterName</a></label>
                                    </div>
                                </div>
                                <div class="form-group row icc_kindfac">
                                    <label class="col-lg-4 inkind_color">Classroom</label>
                                    <div class="col-lg-8">
                                        <label class="col-form-label">@Model.ClassroomName</label>
                                    </div>
                                </div>
                                <div class="form-group row icc_kindfac">
                                    <label class="col-lg-4 inkind_color">Labor Hours</label>
                                    <div class="col-lg-8 icc_fac icc_input">
                                        <input type="text" id="laborhours" placeholder="Labor Hours" />
                                    </div>
                                </div>

                                <div class="form-group row icc_kindfac">
                                    <label class="col-lg-4 inkind_color">Miles Driven</label>
                                    <div class="col-lg-8 icc_fac icc_input">
                                        <input type="text" id="milesdriven" placeholder="Miles Driven" />
                                    </div>
                                </div>

                                <div class="form-group row icc_kindfac">
                                    <label class="col-lg-4 inkind_color">Notes</label>
                                    <div class="col-lg-8 icc_fac icc_textarea">

                                        <textarea id="notes" class="form-control" placeholder="Notes"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row icc_kindfac Zoom">
                                    <label class="col-lg-4 inkind_color">Affected Area</label>
                                    <div class="col-lg-8 icc_fac icc_textarea" style="background:transparent;height:240px;">
                                        @if (Model.DURL == "")
    {
                                            <img style="height:240px;width:100%" src="~/Content/img/NoImagesAvailable.jpg" class="zoomify" />
                                        }
                                        else
                                        {
                                            <img style="height:240px;width:100%"  id="loadimage" src="@Model.DURL" class="zoomify" />

                                        }
                                        </div>
                                </div>
                                @*<div class="form-group row icc_kindfac Zoom">
                                    <label class="col-lg-12 inkind_color">Affected Area</label>

                                    <div class="col-lg-12 icc_img">
                                       

                                        @*<img src="~/Content/imgs/child1.png" class="zoomify" />
                                    </div>
                                </div>*@

                                

                            </div>
                            <div class="col-xs-12 no-padding">

                                <div class="col-sm-12 col-xs-12 form-al1 no-padding" style="margin-top: 5px;">
                                    <div class="col-sm-12 no-padding">
                                        <div class="col-xs-12 no-padding">
                                            <div class="input_fields_wrap">
                                                <button class="add_field_button btn btn-default back-btn1 gud_sport">Add Images</button>
                                                @*<div class='file-icc'>
                                                    <input type='file' style='display:none' class='form-control file_input_field' name='MainImage'>
                                                    <input type='text' id="MainImagePath" class='form-control filepath clear_input' readonly><button class='btn btn-default back-btn1 btnbrowse' type='button'>MainImage</button>
                                                    <img class='ImageValidate imagesource image_clear' src='sample.png' alt='' />
                                                    <span id="errmainImagePath" class="clear_err" style="margin-left:35px;"></span>
                                                </div>*@

                                                <div class="col-sm-12 no-padding">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-main no-padding">
                                                        <div class="table-responsive import_ui_bgm Zoom">
                                                            <table class="table table_size" id="DivSelfAssignedPopup">
                                                                <thead class="set-bggm" style="cursor: pointer;">
                                                                    <tr>
                                                                        <th>Sno</th>
                                                                        <th>Choose Image</th>
                                                                        <th>File Name</th>
                                                                        <th>Image Preview</th>
                                                                        <th>Remove</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody class="appendImages wht_bgm">
                                                                    @*<tr>
                                                                        <td class="innc-con">1</td>
                                                                        <td class="innc-con"><button class="btn btn-default back-btn1 btnbrowse split-browser" type="button">Browse Image</button></td>
                                                                        <td><input type="file" style="display:none" class="form-control file_input_field" name="Imagefiles">  <label class="filepath innc-con">download (7).jpg</label></td>
                                                                        <td class="innc-con "> <div class=""><img class="ImageValidate imagesource zoomify" style="width: 50px;height: 50px;" src="blob:http://localhost:1566/40407d5c-e0f0-43aa-897a-c54f1c047151" alt=""></div></td>
                                                                        <td class="innc-con"><button class="btn btn-default back-btn1 remove_field  split1-browser" type="button">Delete</button></td>
                                                                    </tr>*@
                                                                    <tr id="noresultdiv" >
                                                                        <td colspan="5" class="innc-con">No records found</td>
                                                                            </tr>
                                                                </tbody>
                                                            </table>
                                                           
                                                        </div>
                                                    </div>
                                                </div>
                                               
                                            </div>

                                            <div class="col-xs-12 no-padding">


                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="col-xs-12 form-al1" style="margin-top:5px;">
                                        <div class="col-sm-12 no-padding" style="text-align: center;">
                                            <button type="button" onclick="AddImages()" class="btn btn-default save-btn" id="btnProductSave">Upload Images</button>
                                          
                                           </div>
                                    </div>*@
                                </div>

                            </div>
                            <div class="col-md-12 col-xs-12 addfun no-padding">
                                <a id="AddPartDetails" href="#DivPartDetails">Add Parts</a>
                            </div>
                            <div id="AppendPartDetails">
                                <div class="col-xs-12" id="divTotalCount" style="background-color: #f9c751;display:none;">
                                   <div class="import_totalcount">
                                      <ul>
                                        <li><a>Total Quantity:   <span id="TotalQuantity">0</span></a></li>
                                       <li><a>Total Cost: &nbsp;<span id="TotalCost">$0</span></a></li>
                                          </ul>
                                   </div> 
                                    
                                    
                                    
                                    
                                     
                                    
                                    
                                    
                                    
                                    @*<div style="float: right;" class="col-xs-2 slot-heading1">
                                        <h2 style="margin:5px 0;">Total Quantity:   <span id="TotalQuantity">0</span></h2>
                                    </div>
                                    <div style="float: right;" class="col-xs-2 slot-heading"  >
                                        <h2 style="margin:5px 0;">Total Cost: &nbsp;<span id="TotalCost">$0</span></h2>
                                    </div>*@
                                </div>
                            </div>
                            
                            <div id="DivPartDetails" class="DivPartDetails" style="display:none;"><div class="icc_dedworker" >
    <div class="col-lg-12">
        <h2 class="page-header page-header-change" style="border-bottom:5px solid #f9c751!important;margin:8px 0 12px !important;color:#1b5c96;">
            <i class="fa fa-cogs" aria-hidden="true"></i> Parts Details

            <span class="view-btn backto_listspan">
                <a onclick="DeletePartDetails(this)" href="#import_facility"  style="padding:10px;float: right;color: #fff;margin-right:0px;background-color:#9b59b6;border-radius: 4px;text-decoration:none;" class="backto_list">Delete</a>

            </span>
        </h2>
    </div>
    <div class="col-xs-12 partdetails" style="padding:0;">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                <label for="email">Part Number </label>

                <input type="text" class="form-control partnumber" onkeydown="AutoComplete(this)" placeholder="Part Number"  >
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                <label for="email">Part Description</label>

                <input type="text" class="form-control partdescrp">
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                <label for="email">Unit Cost</label>

                <input type="text" class="form-control unitcost" onkeypress="return checkIfNumericDigit(event);" onchange="CalculateTotalCost(this)" placeholder="Unit Cost">
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                <label for="email">Quantity</label>

                <input type="text" class="form-control quantity"  onkeypress="return checkIfNumericDigit(event);" onchange="CalculateTotalCost(this)" placeholder="Quantity"  >
            </div>
        </div>

    
       
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                <label for="pwd">Total Cost</label>

                <input type="text" class="form-control totalcost" placeholder="Total Cost" readonly>
            </div>
        </div>
    </div>
</div>
</div>
                            <div class="form-group import_facility" id="import_facility">
                                <button class="btn btn-success" onclick="return AddImages()" type="button">Submit</button>
                                <button class="btn btn-danger" onclick="RedirectToDashboard()" type="button">Cancel</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="ShowCenterAddress" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <h4><label id="InformedLateArrivalClient" text="Center Address" /> Center Address</h4>
            </div>

            <div class="form-group">
                <label class="control-label" style="margin-left:75px!important" for="current_password">Address: </label>
                <p class="control-label" style="width:275px!important;margin-left:0px!important   ; text-align: left;
    font-size: 14px;
    display: inline;" id="lblArrivalTime" for="current_password">@Model.CenterAddress</p>
</div>
<div class="modal-footer">
    <button type="button" data-dismiss="modal" class="my-btn1">Close</button>
</div>
</div>
</div>
</div>
}


@*@section MainContentHolder{
 <style>
    .zoomify.zoomed {
        position: relative !important;
        z-index: 999999 !important;
    }

    .transition-radio-btn .radio.radio-info {
        float: left;
        margin-top: 10px;
        width: auto;
        margin-right: 30px;
        display: inline-block;
        margin-bottom: 5px;
    }

    .transition-radio-btn .radio input[type="radio"] {
        opacity: 0;
        z-index: 1;
        cursor: pointer;
    }

    .transition-radio-btn .radio-info input[type="radio"]:checked + label {
        color: #163c6b;
    }

    .transition-radio-btn .radio label {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        padding-left: 5px;
        color: #163c6b;
        font-size: 15px;
    }

    .transition-radio-btn .radio-info input[type="radio"]:checked + label::before {
        border-color: #163c6b;
        color: #163c6b;
    }

    .icc_router > span {
        position: absolute;
        right: 10px;
        top: 11px;
    }

    .icc_router select {
        -webkit-appearance: none;
    }

    .transition-radio-btn .radio label::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 16px;
        height: 16px;
        left: 0;
        margin-left: -20px;
        border: 1px solid #163b69;
        border-radius: 50%;
        background-color: transparent;
        -webkit-transition: border 0.15s ease-in-out;
        -o-transition: border 0.15s ease-in-out;
        transition: border 0.15s ease-in-out;
        top: 2px;
    }

    .transition-radio-btn .radio label::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 16px;
        height: 16px;
        left: 0;
        margin-left: -20px;
        border: 1px solid #163b69;
        border-radius: 50%;
        background-color: transparent;
        -webkit-transition: border 0.15s ease-in-out;
        -o-transition: border 0.15s ease-in-out;
        transition: border 0.15s ease-in-out;
        top: 2px;
    }

    .transition-radio-btn .radio input[type="radio"]:checked + label::after {
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }

    .transition-radio-btn .radio-info input[type="radio"]:checked + label::after {
        background-color: #163c6b;
        color: #163c6b;
    }

    .transition-radio-btn .radio-info input[type="radio"] + label::after {
        background-color: #163c6b;
        color: #163c6b;
    }

    .transition-radio-btn .radio label::after {
        display: inline-block;
        position: absolute;
        content: " ";
        width: 8px;
        height: 8px;
        left: 4px;
        top: 6px;
        margin-left: -20px;
        border-radius: 50%;
        background-color: transparent;
        -webkit-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
        -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
        -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
        -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
        transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    }

    .import_facility {
        width: 100%;
        float: left;
        text-align: center;
    }

    div#facility_scroll {
        width: 100%;
        float: left;
        margin-top: 30px;
        background-color: #b4d8e8;
        border-radius: 7px;
        margin-bottom: 20px;
    }

    .icc_fac {
        /*background-color: #fff;*/
        padding: 8px 12px;
    }

    #facility_scroll legend {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 0px;
        width: 35%;
        position: relative;
        top: -18px;
        border: 1px solid #e66770;
        border-radius: 4px;
        padding: 5px 5px 5px 10px;
        background-color: #e66760;
        line-height: 30px;
        margin: auto;
        text-align: center;
        color: #fff;
    }

    #facility_scroll fieldset {
        margin: 0;
        min-width: 0;
        padding: 10px 0;
        position: relative;
        border-radius: 4px;
    }

    /*#page-wrapper {
         padding: 0 !important;
         min-height: 766px;
     }*/
    #page-wrapper, .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }

    .inkind_color {
        color: #163c6b;
        font-weight: 600;
    }

    .icc_kindfac {
        margin-bottom: 15px !important;
        display: inline-block;
    }

    .header_key h2 {
        margin: 0;
    }

    .header_key {
        width: 100%;
        float: left;
        background-color: #f9c751;
        color: black;
        padding: 15px;
        border-radius: 7px;
        margin-top: 34px;
        font-weight: 800;
    }

    .fact_wrapper {
        width: 100%;
        padding: 0 30px;
        float: left;
        margin-top: 50px;
        background-color: #17497a;
    }

    .icc_fac label {
        padding: 0;
        margin: 0;
    }

    .icc_kindfac input, .icc_kindfac select .icc_kindfac textarea {
        height: 37px;
        width: 80% !important;
        border-radius: 8px !important;
    }

    .no-padding {
        padding: 0;
    }

    .icc_kindfac.bgm-img img {
        height: 170px;
        border-radius: 4px;
        object-fit: cover;
    }

    .import_facility button:first-child {
        margin-right: 18px;
    }

    .import_facility button {
        border-radius: 0px;
    }

    .right-side-container-ch {
        width: 100%;
        float: left;
        background: url(../../Images/body-bg.jpg) center no-repeat;
        background-size: cover;
        min-height: 600px;
    }
</style>



    <div class="container-fluid">
        <div class="right-side-container-ch">
            <div class="col-xs-12">
                <div class="header_key" style="text-align:center">
                    <h2>Work Order Details</h2>
                </div>


                <div class="col-lg-12 col-xs-12 inkind-entry-div" id="facility_scroll">

                    <fieldset>
                        <legend style="text-align:center">Work order for @Model.yakkrdescription</legend>

                        <div class="col-md-6 col-sm-12 col-lg-6 col-xs-12" style="padding: 0px;">

                            <div class="form-group row icc_kindfac">
                                <label class="col-lg-4 inkind_color">YakkrCode</label>
                                <div class="col-lg-8 icc_fac">
                                    <label class="col-form-label">@Model.YakkrCode</label>
                                </div>
                            </div>
                           @if (Session["RoleID"].ToString() == "825f6940-9973-42d2-b821-5b6c7c937bfe")
                           {
                            <div class="form-group row icc_kindfac">
                                <label class="col-lg-4 inkind_color">Staff</label>
                                <div class="col-lg-8 icc_fac">
                                    <label class="col-form-label">@Model.StaffName   (@Model.RoleName)</label>
                                </div>
                            </div>
                           }
                           else
                           {
                            <div class="form-group row icc_kindfac">
                                <label class="col-lg-4 inkind_color">Staff</label>
                                <div class="col-lg-8 icc_fac">
                                    <label class="col-form-label">@Model.StaffName1   (@Model.RoleName1)</label>
                                </div>
                            </div>
                           }
                           
                            <div class="form-group row icc_kindfac">
                                <label class="col-lg-4 inkind_color">User Description</label>
                                <div class="col-lg-8 icc_fac">
                                    <label class="col-form-label">@Model.UserDescrption</label>
                                </div>
                            </div>
                            <div class="form-group row icc_kindfac">
                                <label class="col-lg-4 inkind_color"> Center</label>
                                <div class="col-lg-8 icc_fac">
                                    <label class="col-form-label"><a onclick="ShowCenterAddress()" style="text-decoration:underline;cursor:pointer;color:#333333" class="center-addr-route">@Model.CenterName</a></label>
                                </div>
                            </div>
                            <div class="form-group row icc_kindfac">
                                <label class="col-lg-4 inkind_color"> Classroom</label>
                                <div class="col-lg-8 icc_fac">
                                    <label class="col-form-label">@Model.ClassroomName</label>
                                </div>
                            </div>
                            <div class="form-group row icc_kindfac">
                                <label class="col-lg-4 inkind_color">Work Order Number</label>
                                <div class="col-lg-8 icc_fac">
                                    <label class="col-form-label">ORDER00001</label>
                                </div>
                            </div>
                            <div class="form-group row icc_kindfac">
                                <label class="col-lg-4 inkind_color">Date of Work Order</label>
                                <div class="col-lg-8 icc_fac">
                                    <label class="col-form-label">@Model.WorkOrderDate</label>
                                </div>
                            </div>
                            <div class="form-group row icc_kindfac">
                                <label class="col-lg-4 inkind_color">Date of Request</label>
                                <div class="col-lg-8 icc_fac">
                                    <label class="col-form-label">@Model.RequestedDate</label>
                                </div>
                            </div>
                           
                            <div class="form-group row icc_kindfac">
                                <label class="col-lg-4 inkind_color">Labor Hours</label>
                                <div class="col-lg-8 no-padding">
                                    <input class="form-control" type="text"   />

                                </div>
                            </div>

                            <div class="form-group row icc_kindfac">
                                <label class="col-lg-4 inkind_color">Fixed Type?</label>
                                <div class="col-lg-8">
                                    <div class="transition-radio-btn enroll-sec" style="padding-left: 8px;" id="AssignToWhom">

                                        <div class="radio radio-info">
                                            <input type="radio" name="InternExtern" class="temp-permanant" value="true">
                                            <label>Temporary Fix</label>
                                        </div>
                                        <div class="radio radio-info">
                                            <input type="radio" name="InternExtern" class="temp-permanant" value="false">
                                            <label>
                                                Permanant Fix
                                            </label>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="form-group row icc_kindfac">
                                <label class="col-lg-4 inkind_color">Upload Image </label>
                                <div class="col-lg-8 no-padding">
                                    <input class="form-control" type="file" />

                                </div>
                            </div>
                          

                        </div>
                        <div class="col-md-6 col-sm-12 col-lg-6 col-xs-12 Zoom" style="padding: 0px;">
                           
                            <div class="form-group row icc_kindfac bgm-img">
                                <label class="col-lg-4 inkind_color">Image Of Affected Area</label>
                                @*<div class="col-lg-8 icc_fac">
            </div>
                                @if (Model.DURL == "")
                                {
                                    <img style="width:66%;" src="~/Content/img/NoImagesAvailable.jpg" class="zoomify" />
                                }
                                else
                                {
                                    <img style="width:66%;" id="loadimage" src="@Model.DURL" class="zoomify"/>
                                    @*<img style="width:66%;" src='@Url.Content(Model.DURL)'  />
                                }


                            </div>
                           
                            <div class="form-group row icc_kindfac">
                                <label class="col-lg-4 inkind_color">Part Number</label>
                                <div class="col-lg-8 no-padding">
                                    <input class="form-control" type="text" />

                                </div>
                            </div>
                            
                            <div class="form-group row icc_kindfac">
                                <label class="col-lg-4 inkind_color">Quantity</label>
                                <div class="col-lg-8 no-padding">
                                    <input class="form-control" onblur="CalculateTotalCost()" id="Quantity" type="text" />

                                </div>
                            </div>
                            <div class="form-group row icc_kindfac">
                                <label class="col-lg-4 inkind_color">Unit Cost</label>
                                <div class="col-lg-8 no-padding">
                                    <input  id="UnitCost" onkeydown="CalculateTotalCost()" class="form-control" type="text" />

                                </div>
                            </div>
                            <div class="form-group row icc_kindfac">
                                <label class="col-lg-4 inkind_color">Total Cost</label>
                                <div class="col-lg-8 no-padding">
                                    <input id="TotalCost" class="form-control" type="text" />

                                </div>
                            </div>
                            <div class="form-group row icc_kindfac">
                                <label class="col-lg-4 inkind_color">Miles Driven</label>
                                <div class="col-lg-8 no-padding">
                                    <input type="text"   class="form-control" />

                                </div>
                            </div>
                            <div class="form-group row icc_kindfac">
                                <label class="col-lg-4 inkind_color">Notes</label>
                                <div class="col-lg-8 no-padding">
                                    <textarea type="text" style="width:80%" class="form-control"></textarea>

                                </div>
                            </div>


                        </div>


                        <div class="form-group import_facility">
                            <a class="btn btn-success" style="cursor: pointer;width: 10%;font-weight: 600;margin-right: 10px;" onclick="ValidateInputs()">Submit</a>
                            <a href="/Home/AgencyFacilitiesManagerDashboard" class="btn btn-danger" style="cursor: pointer;width: 10%;font-weight: 600;margin-left: 10px;background:#e74c3c;">Exit</a>
                            @*<button class="btn btn-success" type="button">Submit</button>
                                <button class="btn btn-danger" type="button">Cancel</button>
                        </div>
                    </fieldset>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ShowCenterAddress" role="dialog">
        <div class="modal-dialog">
       
            <div class="modal-content">
                <div class="modal-header">
                    <h4><label id="InformedLateArrivalClient" text="Center Address" /> Center Address</h4>
                </div>

                <div class="form-group">
                    <label class="control-label" style="margin-left:75px!important" for="current_password">Address: </label>
                    <p class="control-label" style="width:275px!important;margin-left:0px!important   ; text-align: left;
    font-size: 14px;
    display: inline;" id="lblArrivalTime" for="current_password">@Model.CenterAddress</p>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="my-btn1">Close</button>
                </div>
            </div>
        </div>
    </div>
}*@
