@model FingerprintsModel.StaffEventCreation

@{
    ViewBag.Title = "EventsList";
    Layout = "~/Views/Shared/AgencyStaffLayout.cshtml";
}

@section Script{
    <script type="text/javascript">
        function EditEvent(eventid)
        {
            location.href = "/EducationManager/StaffEventCreation?Eventid=" + eventid;
        }

    </script>

}

@section MainContentHolder{
    @*<link href="~/Content/css/Transition.css" rel="stylesheet" />*@
    <style>
        .transition-radio-btn .radio.radio-info {
            float: left;
            margin-top: 10px;
            width: auto;
            margin-right: 30px;
            display: inline-block;
            margin-bottom: 5px;
        }

        .transition-radio-btn .radio input[type="radio"] {
            opacity: 0;
            z-index: 1;
            cursor: pointer;
        }

        .transition-radio-btn .radio-info input[type="radio"]:checked + label {
            color: #163d6d;
        }

        .transition-radio-btn .radio label {
            display: inline-block;
            vertical-align: middle;
            position: relative;
            padding-left: 5px;
            color: #163d6d;
            font-size: 15px;
        }

        .transition-radio-btn .radio-info input[type="radio"]:checked + label::before {
            border-color: #163d6d;
            color: #163d6d;
        }


        .transition-radio-btn .radio label::before {
            content: "";
            display: inline-block;
            position: absolute;
            width: 16px;
            height: 16px;
            left: 0;
            margin-left: -20px;
            border: 1px solid #163b69;
            border-radius: 50%;
            background-color: transparent;
            -webkit-transition: border 0.15s ease-in-out;
            -o-transition: border 0.15s ease-in-out;
            transition: border 0.15s ease-in-out;
            top: 2px;
        }

        .transition-radio-btn .radio label::before {
            content: "";
            display: inline-block;
            position: absolute;
            width: 16px;
            height: 16px;
            left: 0;
            margin-left: -20px;
            border: 1px solid #163d6d;
            border-radius: 50%;
            background-color: transparent;
            -webkit-transition: border 0.15s ease-in-out;
            -o-transition: border 0.15s ease-in-out;
            transition: border 0.15s ease-in-out;
            top: 2px;
        }

        .transition-radio-btn .radio input[type="radio"]:checked + label::after {
            -webkit-transform: scale(1, 1);
            -ms-transform: scale(1, 1);
            -o-transform: scale(1, 1);
            transform: scale(1, 1);
        }

        .transition-radio-btn .radio-info input[type="radio"]:checked + label::after {
            background-color: #163d6d;
            color: #163d6d;
        }

        .transition-radio-btn .radio-info input[type="radio"] + label::after {
            background-color: #163d6d;
            color: #163d6d;
        }

        .transition-radio-btn .radio label::after {
            display: inline-block;
            position: absolute;
            content: " ";
            width: 8px;
            height: 8px;
            left: 4px;
            top: 6px;
            margin-left: -20px;
            border-radius: 50%;
            background-color: transparent;
            -webkit-transform: scale(0, 0);
            -ms-transform: scale(0, 0);
            -o-transform: scale(0, 0);
            transform: scale(0, 0);
            -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
            -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
            -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
            transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
        }

        .split1-browser {
            background-color: #d64035 !important;
            outline: none !important;
            cursor: pointer;
        }

            .split1-browser:hover {
                background-color: #d64035 !important;
                outline: none;
            }

        .my-fieldset li {
            list-style: none;
        }

        .alert-info {
            color: #31708f;
            background-color: #d9edf7;
            border-color: #bce8f1;
        }

        .alert {
            padding: 15px;
            margin-bottom: 0px;
            border: 1px solid transparent;
        }

        .ersea-detl-title h3 {
            text-align: center;
            font-weight: bold;
            color: #fff;
        }

        .edu_clrm_head.ntf_email {
            text-align: center;
            text-transform: uppercase;
        }

        .part_edubtn {
            width: 100%;
            float: left;
            text-align: center;
        }

            .part_edubtn button.btn-edu-sucess {
                margin-right: 20px;
            }

        .btn-edu-exit {
            background-color: #e74c3c;
            border-radius: 0 !important;
            color: #fff !important;
            padding: 7px 15px !important;
            outline: none !important;
        }

        .btn-edu-sucess {
            background-color: #2ecc71;
            border-radius: 0 !important;
            color: #fff !important;
            padding: 7px 15px !important;
            outline: none !important;
        }

        .yarkk-nthg {
            width: 100%;
            float: left;
            background: #f1f5f8;
            padding: 15px;
            margin-top: 24px;
            border-radius: 7px;
        }

        .yarkk-ttable {
            width: 100%;
            float: left;
            margin-top: 24px;
            background-color: #ffffff;
            padding: 15px;
            border-radius: 7px;
        }

            .yarkk-ttable table {
                margin-bottom: 0;
            }

                .yarkk-ttable table thead tr {
                    background-color: #9B58B4;
                    color: #fff;
                }

        td.yarkk-edit i {
            background-color: #33485d;
            color: #fff;
            padding: 7px 12px;
            border-radius: 4px;
            cursor: pointer;
        }

        .form-group.yark-contnt {
            width: 100%;
            float: left;
            margin-bottom: 25px !important;
        }

        .table-ellips {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 200px;
        }

        .my-fieldset {
            overflow-y: scroll;
            width: 100%;
            float: left;
            max-height: 170px;
            background-color: #fff;
            padding: 10px;
            border: 1px solid #ccc;
        }

            .my-fieldset span {
                background-color: #cc4170;
                color: #fff;
                padding: 10px;
                margin: 5px 10px 5px 0;
                border-radius: 7px;
                width: auto;
                float: left;
                word-break: break-word;
                line-height: 17px;
            }

                .my-fieldset span i {
                    padding-left: 20px;
                    cursor: pointer;
                }

        .form-group.yark-contnt label {
            color: #163b69;
        }

        .yarkk-ttable table tbody td {
            color: #397ab7;
            text-align: center;
            font-weight: 600;
        }

        /* Old*/
        #page-wrapper {
            padding-left: 0;
            padding-right: 0;
        }

        .no-padding {
            padding: 0;
        }

        .right-side-container-ch {
            width: 100%;
            float: left;
            background: url('../../Images/body-bg.jpg') center no-repeat;
            background-size: cover;
            min-height: 689px;
        }

        .error-notify {
            position: relative;
            display: inline-block;
            vertical-align: top;
            color: red;
            font-size: 13px;
            margin-left: 2px;
            font-weight: bold;
        }

        .err-message, .other-ins-err {
            display: none;
            color: red;
            font-size: 12px;
            margin: 6px;
            height: 10px;
        }

        .addInnerChildContent {
            border: 1px solid #ddd;
            margin-bottom: 24px;
        }

        .err-container, irr-error {
            width: 100%;
            float: left;
            margin: 6px 0;
        }

        .icr-img img {
            margin-top: 5px;
            float: right;
        }

        .info-heading h2 {
            color: #000;
            font-size: 18px;
            text-transform: uppercase;
            padding: 20px 10px !important;
            text-align: center;
            display: block;
            font-weight: bold;
            margin: 0;
        }

        .table-main .import_ui_bgm {
            margin-bottom: 0;
        }

        .table-main {
            background-color: #fff;
            width: 100%;
            float: left;
            border-radius: 7px;
            margin-bottom: 24px;
        }

        .fb_headscale .page-header {
            border-bottom: 4px solid #f9c751 !important;
            color: #fff;
        }

        .hidden {
            display: none;
        }
               .page-wrapper-change {
            background-image: url('../../Images/body-bg.jpg');
            background: url('../../Images/body-bg.jpg') center no-repeat #000 !important;
            background-size: cover !important;
            background-position: 100% 100% !important;
        }
.table-scroll-block{padding:0;}
          .page-header {
    margin: 0px 0px 20px !important;
}
            @@media (min-width: 768px) and (max-width: 991px)
            {
               .table-scroll-block{padding:0 15px;padding-left:0;overflow:auto;}
         
            }
    </style>

    
<div  style="padding:30px 15px;margin:0;">

    <div class="container-fuild">
        <div class="row" style="margin:0px;">

            <div class="edu_class_room">
                <span class="view-btn backto_listspan">

                    <a href="/EducationManager/EducationManagerDashboard" style="padding:20px;float: right;color: #fff;margin-right:0px;background-color:#9b59b6;border-radius: 4px;text-decoration:none;" class="backto_list">Back to Dashboard</a>
                </span>
                <div class="col-lg-12 fb_headscale">

                    <h2 class="page-header">
<i class="fa @(ViewBag.EventType == "completed" ? "fa-calendar-check-o" : ViewBag.EventType == "cancel" ? "fa-calendar-times-o" : "fa-list" )" aria-hidden="true"></i>
                        

                        @(ViewBag.EventType == "completed" ? "Completed Events" : ViewBag.EventType == "cancel" ? "Cancelled Events" : "List of Events" )

                    </h2>


                </div>

                <div class="yarkk-ttable">
                    <div class="col-xs-12 table-scroll-block">
                        <table class="table table-responsive table-bordered" id="DivSelfAssignedPopup">
                            <thead>
                                <tr>
                                    <th style="width: 30%;">Event Name</th>
                                    <th style="width: 30%;">Event Description</th>
                                    <th>Event Date</th>
                                    @if (ViewBag.EventType == "cancel")
                                {
                                        <th>Date Cancelled</th>
                                        <th>Reason</th>
                                }
                                    @if (ViewBag.EventType == "future")
                                {
                                        <th>Status</th>
                                        <th>Action</th>
                                }
                                </tr>
                            </thead>
                            <tbody class="appendImages">
                                @if (Model.events != null && Model.events.Count > 0)
                            {
                                foreach (var item in Model.events)
                                {
                                        <tr style="@(item.IsTodayEvent == 1 ? "background:#a0de9457" : "")">
                                            <td class="table-ellips" title="">@item.EventName</td>
                                            <td class="table-ellips" title="">@item.EventDescription</td>
                                            <td class="table-ellips" title="">@item.EventDate</td>
                                            @if (ViewBag.EventType == "cancel")
                                        {
                                                <td class="table-ellips" title="">@item.ModifiedDate</td>
                                                <td class="table-ellips" title="">@item.CancelReason</td>
                                        }
                                            @if (ViewBag.EventType == "future")
                                        {
                                                <td><img style="width:28px;" src="/Content/img-tick.png"></td>





                                                <td style="text-align:center;">
                                                    @*<img style="cursor:pointer;" onclick="EditEvent(@item.Eventid)" src="/Content/CaseNote/images/edit_icon.png">*@


                                                    @if (@item.IsTodayEvent == 1)
                                                {
                                                        @*<a href="@Url.Action("OnSpotEventCheckIn","EducationManager")?EventId=@item.Eventid">Check-In</a>*@
                                                        <a title="Check-In" class="ml-5" href="@Url.Action("OnSpotEventCheckIn", "EducationManager")?EventId=@item.Eventid"><span class="fa fa-sign-in" style="vertical-align: middle;font-size:30px;color: #34495e;"></span></a>
                                                }
                                                else
                                                {
                                                        <img style="cursor:pointer;" onclick="EditEvent(@item.Eventid)" src="/Content/CaseNote/images/edit_icon.png">
                                                }


                                                </td>

                                                }

                                        </tr>

                                        }

                            }
                            else
                            {
                                    <tr> <td colspan="5">No record found</td></tr>
                            }



                            </tbody>

                        </table>
                    </div>
                     </div>


            </div>
        </div>
    </div>
                                
</div>

                                
                            }
                            
