@model FingerprintsModel.NewProgramYearTransition


@{
    ViewBag.Title = "EndOfProgramYear";
    Layout = "~/Views/Shared/AgencyAdminLayout.cshtml";
}


@section Title
{
    End of Program Year

}


@section  Script{


    <script type="text/javascript">
        function redirectToProgramTypes(ele) {

            $('#spinner').show();
            window.location.href = HostedDir + "/AgencyAdmin/EndOfYearProgramTypes";

        }

    </script>


}


@section  MainContentHolder{
    <style>
        #page-wrapper {
            padding-left: 0;
            padding-right: 0;
        }

        .dashboard-sec {
            height: 100px;
        }
    </style>
    <link href="~/Content/css/eodcss.css" rel="stylesheet" />


    <div class="container-fluid">
        <div class="row">
            <div class="right-side-container-ch" style="min-height: 465px;">

                <div class="col-xs-12 col-lg-12 no-padding">
                    <div class="col-xs-12 program-header-detl-title" style="position: relative;margin-top: 30px;">
                        <h2>End of the Program Year</h2>

                    </div>
                    <div class="col-xs-12 col-lg-12">
                        <div class="alert alert-info" role="alert" style="border-radius:unset;margin-bottom:0;padding: 7px 10px;">
                            <strong><i class="fa fa-exclamation-circle"></i>&nbsp;Note&nbsp;</strong>Click on the below sections, to set the transition for Next Program Year.
                        </div>
                    </div>
                    <div class="dashboard-content col-xs-12 no-padding">


                        <div class="col-lg-3 col-sm-6 col-xs-12">
                            <a href="javascript:void(0);" onclick="redirectToProgramTypes(this);" class="col-xs-12 no-padding program-link program-link-common">
                                <div class="dashboard-sec col-xs-12">
                                    <div class="dashboard-info col-xs-12">
                                        <div class="dashboard-count">
                                            <h2 style="color:#1bbc9b;">
                                                Funds and Program Type
                                            </h2>

                                            <div class="col-xs-12" style="padding: 0;">
                                                <ul class="listof_acitve">
                                                    <li><span>Active Funds</span><b>@Model.EndOfProgramYearDashboard.Funds.Active</b></li>
                                                    <li><span>Active Programs</span><b>@Model.EndOfProgramYearDashboard.ProgramTypes.Active</b></li>
                                                </ul>
                                            </div>

                                        </div>
                                        <div class="dashboard-ic">
                                            <i class="fa fa-list-alt" aria-hidden="true" style="color:#1bbc9b;"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="dashboard-info2 col-xs-12" style="background:#1bbc9b;height: 5px;width: 100%;">
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-xs-12">
                            <a href="javascript:void(0);" class="col-xs-12 no-padding program-link1 program-link-common">
                                <div class="dashboard-sec col-xs-12">
                                    <div class="dashboard-info col-xs-12">
                                        <div class="dashboard-count">
                                            <h2 style="color:#e84c3d;">Center and Classrooms</h2>

                                            <div class="col-xs-12" style="padding: 0;">
                                                <ul class="listof_acitve">
                                                    <li><span>Active Centers</span><b>@Model.EndOfProgramYearDashboard.Centers.Active</b></li>
                                                    <li><span>Active Classrooms</span><b>@Model.EndOfProgramYearDashboard.Classrooms.Active</b></li>
                                                </ul>
                                            </div>


                                        </div>
                                        <div class="dashboard-ic">
                                            <i class="fa fa-institution" aria-hidden="true" style="color:#e84c3d;"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="dashboard-info2 col-xs-12" style="background:#e84c3d;height: 5px;width: 100%;">
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-xs-12">
                            <a href="javascript:void(0);" class="col-xs-12 no-padding program-link2 program-link-common">
                                <div class="dashboard-sec col-xs-12">
                                    <div class="dashboard-info col-xs-12">
                                        <div class="dashboard-count">
                                            <h2 style="color:#9b58b5;">Staff</h2>

                                            <div class="col-xs-12" style="padding: 0;">
                                                <ul class="listof_acitve">
                                                    <li><span>Active</span><b>@Model.EndOfProgramYearDashboard.Staffs.Active</b></li>
                                                </ul>
                                            </div>

                                        </div>
                                        <div class="dashboard-ic">
                                            <i class="fa fa-user" aria-hidden="true" style="color:#9b58b5;"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="dashboard-info2 col-xs-12" style="background:#9b58b5;height: 5px;width: 100%;">
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-xs-12">
                            <a href="javascript:void(0);" class="col-xs-12 no-padding program-link3 program-link-common">
                                <div class="dashboard-sec col-xs-12">
                                    <div class="dashboard-info col-xs-12">
                                        <div class="dashboard-count">
                                            <h2 style="color:#3598db;">Seats/Slots</h2>

                                            <div class="col-xs-12" style="padding: 0;">
                                                <ul class="listof_acitve">
                                                    <li><span>Total</span><b>@Model.EndOfProgramYearDashboard.Seats.Total</b></li>
                                                </ul>
                                            </div>

                                        </div>
                                        <div class="dashboard-ic">
                                            <i class="fa fa-users" aria-hidden="true" style="color:#3598db;"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="dashboard-info2 col-xs-12" style="background:#3598db;height: 5px;width: 100%;">
                                </div>
                            </a>
                        </div>


                        <div class="col-lg-3 col-sm-6 col-xs-12">
                            <a href="javascript:void(0);" class="col-xs-12 no-padding program-link3 program-link-common">
                                <div class="dashboard-sec col-xs-12">
                                    <div class="dashboard-info col-xs-12">
                                        <div class="dashboard-count">
                                            <h2 style="color:#3598db;">Acceptance Process</h2>

                                            @*<div class="col-xs-12" style="padding: 0;">
                                                    <ul class="listof_acitve">
                                                        <li><span>Total</span><b>@Model.EndOfProgramYearDashboard.Seats.Total</b></li>
                                                    </ul>
                                                </div>*@

                                        </div>
                                        <div class="dashboard-ic">
                                            <i class="fa fa-users" aria-hidden="true" style="color:#3598db;"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="dashboard-info2 col-xs-12" style="background:#3598db;height: 5px;width: 100%;">
                                </div>
                            </a>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>






}
