@using FingerprintsModel
@{
    @section Title
{
        Growth Chart
    }

    if (Session["RoleId"].ToString() == @EnumHelper.GetEnumDescription(FingerprintsModel.Enums.RoleEnum.AgencyAdmin).ToLowerInvariant()
    || Session["RoleId"].ToString() == @EnumHelper.GetEnumDescription(FingerprintsModel.Enums.RoleEnum.GenesisEarthAdministrator).ToLowerInvariant())
    {

       Layout = "~/Views/Shared/AgencyAdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/AgencyStaffLayout.cshtml";
    }

   // Layout = "~/Views/Shared/ParentLayout.cshtml";
}


@section Script{



}

@section style{





}

@section MainContentHolder{

<div class="row" style="padding-top:25px;">

    <div class="col-lg-12">
        <h2>

          @*?client=@ViewBag.eClientId*@ 

            @{ 
                var Cid = EncryptDecrypt.Decrypt(@ViewBag.eClientId);
                var _cidstr = EncryptDecrypt.Encrypt64(Cid);
            }
            
            @* <a type="button" class="btn btn-default" onclick="window.history.back()" style="margin-top: 10px;background:#9b59b6 !important;border-radius: 0px;">*@
            @*<a  class="btn btn-default" href="@Url.Action("Roster","Roster")"style="margin-top: 10px;background:#9b59b6 !important;border-radius: 0px;">*@
            <a class="btn btn-default" href="@Url.Action("GrowthAnalysis","Teacher")?client=@_cidstr" style="margin-top: 10px;background:#9b59b6 !important;border-radius: 0px;">
                
                <i class="fa fa-arrow-left" style="padding-right:5px;"></i><span>Back</span>
            </a>
        </h2>
    </div>
    </div>

    @Html.Partial("~/Views/Partialviews/_GrowthChartPartial.cshtml")
}
