@model FingerprintsModel.TeacherModel


@{
    @section Title
{
      Teacher  Roster
    }
    ViewBag.Title = "CheckIn";
    Layout = "~/Views/Shared/AgencyStaffLayout.cshtml";
    string closedString = string.Empty;
    ViewBag.ClosedToday = (Model != null) ? Model.ClosedDetails.ClosedToday : 0;
    Session["NotCheckedCount"] = Model.NotCheckedCount;


    bool _isAccessLW = new FingerprintsData.agencyData().GetSingleAccessStatus(20);
}






@section Script{
<script>


        var $closedDetails=@Html.Raw(Json.Encode(Model.ClosedDetails));
        var _sessionUserid='@(FingerprintsModel.StaffDetails.GetInstance().RoleId.ToString()+"_"+FingerprintsModel.StaffDetails.GetInstance().UserId.ToString())';
        var $cookieName='TeacherATN_'+_sessionUserid;

        var $closedObject={
            'Agency':1,
            'Center':2,
            'Classroom':3
        }

        $(document).ready(function () {



            $('[data-target="tooltip"]').tooltip();

            $('.open-casenotes').on('click', function () {

                $('#spinner').show();
            });

            $('#myModalattendance').on('show.bs.modal', function () {

                   

            $('#myModalattendance').find('#divAbsenceReasonList').find('#ReasonList').val('');
            $('#myModalattendance').find('#divAbsenceReasonList').hide();
            // do something when the modal is shown
        });


        $("#AbsentType").change(function () {

            if ($(this).val() == 2 || $(this).val() == 4) {

                $('#divAbsenceReasonList').show();
                $('#ReasonList').val("");
            }
            else {
                $('#divAbsenceReasonList').hide();
                $('#divNewReason').hide();
                $('#txtNewReason').val("");
                $('#ReasonList').val("");
            }

        });

        $('#ReasonList').on('change', function () {
            if ($(this).val() == "-1") {
                $('#divNewReason').show();
            }
            else {
                $('#txtNewReason').val("");
                $('#divNewReason').hide();
            }
        });


        $("#myModalattendance").on("hidden.bs.modal", function () {
            $('#divAbsenceReasonList').hide();
            $('#divNewReason').hide();
            $('#divAbsenceNoShow').hide();
            $('#txtNewReason').val("");
            $('#ReasonList').val("");
            $('#AbsentType').val("");


        });

        $('input').keypress(function () {
            if ($(this).val() == 'MM/DD/YYYY') {
                $(this).val('');
              
            }
        });
        if ('@TempData["message"]' != null && '@TempData["message"]' != '') {
            customAlert('@TempData["message"]');
        }
        @{
                    TempData["message"]=null;

                }



        if (location.hash) {
            $('a[href=' + location.hash + ']').tab('show');
        }
        $(document.body).on("click", "a[data-toggle]", function (event) {
            location.hash = this.getAttribute("href");
        });
        $('body').on('click', '.referral-icon', function () {
            $('#TeacherRoster tr').removeClass('current-child');
            $(this).closest('tr').addClass('current-child');
            var ClientId = $(this).find('.child-id').val();
            var CenterId = $(this).find('.child-center-id').val();
            var Template = '<div class="form-group classroom-panel cls-teachername development-team-list" style="text-align:left;margin-left: 0px;"><input type="checkbox" class="member-option" style="position:relative;top:2px;margin-right:4px;"/><input type="hidden" name="childid" id="user" class="user-id" value="##USERID##"/><span class="closed-request-teachername" style="font-size:14px;">##MEMBER##</span></div>';
            $.ajax({
                type: "POST",
                url: "/Teacher/GetChildDevelopmentTeamByChildId",
                data: { 'ClientId': ClientId, 'CenterId': CenterId },
                success: function (data) {
                    var input = "";
                    var JsonData = JSON.parse(data);

                    if (JSON.parse(data).length > 1) {
                        $.each(JSON.parse(data), function (i, val) {
                            input += Template.replace("##USERID##", val["UserId"]).replace("##MEMBER##", val["Name"]);
                        });
                    }
                    else {
                        input += Template.replace("##USERID##", JsonData[0].UserId).replace("##MEMBER##", JsonData[0].Name);
                    }
                    $('.development-team-container').empty();
                    $('.development-team-container').append(input);
                },
                error: function (data) {
                    console.log('Error');
                }
            });
            $('#myModalApprovalForClassRoomOpenCloseRequest').modal('show');
        });
        // nREF Case Note Initializations//
        CKEDITOR.replace('nREFNote', {
            language: 'en-gb',
            uiColor: '#195180',
            allowedContent: true,
            disableNativeSpellChecker: false
        });
        $('#nREF_status_CaseNotetags').tagsInput({
            width: 'auto',
            height: 'auto',
            delimiter: [',', ';'],
            autocomplete: {
                //'source': tags_array[0].split(/,\s*/)
                'source': getTagsOnInput(),
                'appendTo': "#ModalAddCasenote"
            },
            autocomplete_url: '',
        });
        $('#nREF_status_CaseNotetags').importTags("nREF,,;");
        //nREF Case Note Initializations//
    });
    var YakkrDetails = [];
    $('body').on('click', '.btn-send', function () {
        // $('.btn-send').click(function () {
        var ClientId = $('.current-child').find('.child-id').val();
        var CenterId = $('.current-child').find('.child-center-id').val();
        $('.development-team-list').each(function () {
            if ($(this).find('.member-option').is(':checked')) {
                var yakkrdetails = {};

                yakkrdetails.CenterId = CenterId;
                yakkrdetails.ClientId = ClientId;
                yakkrdetails.ToSataffId = $(this).find('.user-id').val();
                yakkrdetails.RouteCode = "98";
                yakkrdetails.Message = $('#CNotes').val();
                YakkrDetails.push(yakkrdetails);
            }
        });

        if (YakkrDetails.length > 0) {
            YakkrDetails = JSON.stringify({ 'yakkrdetails': YakkrDetails });
            $.ajax(
                        {
                            contentType: 'application/json; charset=utf-8',
                            dataType: 'json',
                            type: "POST",
                            async: false,
                            url: "/Teacher/AddChildReferealNotes",
                            data: YakkrDetails,
                            success: function (data) {
                                // window.location.href = "/Home/TeacherDashBoard";
                            },
                            error: function (data) {

                            }
                        });
        }
        $('#myModalApprovalForClassRoomOpenCloseRequest').modal('hide');
        $('#TeacherRoster tr').removeClass('current-child');
        return false;
    });
    $(window).on('popstate', function () {
        var anchor = location.hash || $("a[data-toggle=tab]").first().attr("href");
        $('a[href=' + anchor + ']').tab('show');
    });

    $(document).on("click", ".open-myModalAb", function () {

        // $('.clear-popup').val(0);

            if($closedDetails!=null && $closedDetails.ClosedToday>0)
            {

                switch($closedDetails.ClosedToday)
                {
                    case $closedObject.Agency:
                        showClosedAlert(this,$closedDetails.ClosedToday,$closedDetails.AgencyName);
                        break;
                    case $closedObject.Center:
                        showClosedAlert(this,$closedDetails.ClosedToday,$closedDetails.CenterName);
                        break;
                    case $closedObject.Classroom:
                        showClosedAlert(this,$closedDetails.ClosedToday,$closedDetails.ClassRoomName);
                        break;
                    default:
                        showAttendancePopup(this);
                        break;
                }

            }
            else{
                showAttendancePopup(this);
            }


        });

    $(document).on("click", ".open-myModalStudent", function () {
        var childnameID = $(this).data('id');
        var l = childnameID.length;
        var n = childnameID.indexOf("-");
        var CID = childnameID.substring(0, n);
        var CN = childnameID.substring(n + 1, l) + "'s Attendance Detail";
        var parent1 = $(this).data('Parent1Name');
        var parent2 = $(this).data('Parent2Name');

        $(".modal-header #childname").text(CN);
        $(".modal-header #childid").val(CID);
        $(".modal-header #childlbl").text(CN);
        $(".form-group #Parent1").text(parent1);
        $(".form-group #Parent2").text(parent2);

        // As pointed out in comments,
        // it is superfluous to have to manually call the modal.
        // $('#addBookDialog').modal('show');
    });




        function showAttendancePopup(ele)
        {
            var childnameID = $(ele).data('id');
            var l = childnameID.length;
            var n = childnameID.indexOf("-");
            var CID = childnameID.substring(0, n);
            var CN = childnameID.substring(n + 1, l);

            $(".modal-header #childname").val(CN);
            $(".modal-header #childid").val(CID);
            $(".modal-header #childlbl").text(CN);
            // As pointed out in comments,
            // it is superfluous to have to manually call the modal.
            // $('#addBookDialog').modal('show');

            $('#myModalattendance').modal({'backdrop':'static','keyboard':false},'show');
        }

        function showClosedAlert(ele,closedMode,closedtext)
        {


            if(!checkCookie($cookieName))
            {
                BootstrapDialog.show({
                    title: 'Confirmation',
                    message: '<p><strong>'+closedtext+'</strong> has been closed today. Click <strong>OK</strong> to Proceed.</p>\
                            <p><input type="checkbox" name="checkboxnoShow" id="checkboxnoShow">&nbsp;<span for="checkboxnoShow">Don\'t show this message again</span></p>',
                    closable: true,
                    closeByBackdrop: false,
                    closeByKeyboard: false,
                    buttons: [{
                        label: 'Cancel',
                        cssClass: 'btn-danger',
                        action: function(dialogRef){
                            //   dialogRef.close();

                            dialogRef.close();

                        }
                    },

                    {
                        label: 'OK',
                        cssClass: 'btn-primary',
                        action: function(dialogRef){

                            var $isNoshowChecked= $('input:checkbox[name="checkboxnoShow"]').is(":checked");

                            if($isNoshowChecked)
                            {
                                setCookie($cookieName,'1',1);
                            }

                            showAttendancePopup(ele);
                            dialogRef.close();
                        }
                    }
                    ]
                });
            }
            else
            {
                showAttendancePopup(ele);
            }



        }

        function isValidInfo() {
            cleanValidation();
            isValid = true;
            if ($("#AbsentType").val() == "") {
                //  plainValidation('#AbsentType');
                isValid = false;
                customAlert("Please choose an Attendance  Type")
            }
            if ($("#AbsentType").val() == 2 || $("#AbsentType").val() == 4) {
                if ($("#ReasonList").val() == 0 || $("#ReasonList").val() == "") {
                    // plainValidation('#ReasonList');
                    isValid = false;
                    customAlert("Please choose an Absent Reason");
                }
                if ($("#ReasonList").val() == -1) {
                    if ($("#txtNewReason").val() == "") {
                        // plainValidation('#txtNewReason');
                        isValid = false;
                        customAlert("Please Enter Other Reason");
                    }

            }
        }

        return isValid;
    }

    function getProfilePicture(pic) {

        // $('.tooltiptext').css({ 'visibility': 'hidden' });

        var enc_id = $(pic).attr('EClientId');
        var position = $(pic).position();
        var topalignment = position.top;
        $.ajax({
            url: '/Teacher/GetChildrenImage',
            dataType: 'json',
            type: 'post',
            data: { enc_clientId: enc_id },
            success: function (data) {

                var image = '';
                if (data.Text == "" && data.Value == "2") {
                    image = '<img class="roundimage"  width="100" height="100"  src="/Content/img/ic_female.png" />';
                }
                else if (data.Text == "" && data.Value == "1") {
                    image = '<img class="roundimage" width="100" height="100"   src="/Content/img/ic_male.png" />';
                }
                else if (data.Text == "" && ata.Text == "3") {
                    image = '<img class="roundimage"  width="100" height="100"  src="/Content/img/ic_male_default.png" />';
                }
                else if (data.Text != "") {
                    image = '<img class="roundimage" width="100" height="100"   src="data:image/jpg;base64,' + data.Text + '"/></td>'
                }
                else {
                    image = '<img class="roundimage"  width="100" height="100"  src="/Content/img/download.jpg" />';
                }

                $(pic).children('.tooltiptext').html(image).css({ 'top': (topalignment - 30), 'height': '110px', 'width': '120px' });
                // $(pic).parent('td').find('.roundimage').zoomify();

            },
            error: function (data) {

            }
        });
    }


    function showImage(ele) {
        $('#spinner').show();
        var enc_id = $(ele).attr('EClientId');
        $.ajax({
            url: '/Roster/GetChildrenImage',
            dataType: 'json',
            type: 'post',
            data: { enc_clientId: enc_id },
            success: function (data) {

                var image = '';
                if (data.Text == "" && data.Value == "2") {
                    image = '<img class="roundimage"  width="50" height="50"  src="/Content/img/ic_female.png" />';
                }
                else if (data.Text == "" && data.Value == "1") {
                    image = '<img class="roundimage" width="50" height="50"   src="/Content/img/ic_male.png" />';
                }
                else if (data.Text == "" && ata.Text == "3") {
                    image = '<img class="roundimage"  width="50" height="50"  src="/Content/img/ic_male_default.png" />';
                }
                else if (data.Text != "") {
                    image = '<img class="roundimage" width="50" height="50"   src="data:image/jpg;base64,' + data.Text + '"/></td>'
                }
                else {
                    image = '<img class="roundimage"  width="50" height="50"  src="/Content/img/download.jpg" />';
                }

                $(ele).parent('td').append(image);
                $(ele).parent('td').find('.roundimage').zoomify();
                $(ele).remove();
                $('#spinner').hide();
            },
            error: function (data) {
                $('#spinner').hide();
            }
        });
    }

    //function hideProfileImage(pics) {
    //    $(pics).find('.tooltiptext').css({ 'visibility': 'hidden' });
    //}


    function updateNotCheckedIn(count) {
        $('#not-check-a').children('#notCheckIn').text('(' + count + ')');
    }

    function getTagsOnInput() {
        var tagInp = $('#nREF_status_CaseNotetags').val();
        var tagsArr = [];
        $.ajax({
            url: '/Roster/GetCaseNoteTagonInput',
            datatype: 'json',
            type: 'post',
            async: true,
            data: { searchText: tagInp },
            success: function (data) {
                if (data != null) {
                    if (data.length > 0) {
                        $.each(data, function (i, tags) {
                            tagsArr.push(tags.Text);
                        });
                    }
                }
            },
            error: function (data) {
            }
        });
        return tagsArr;
    }
    function getFormattedDate(date) {
        date = new Date(date);
        var year = date.getFullYear();
        var month = (1 + date.getMonth()).toString();
        month = month.length > 1 ? month : '0' + month;
        var day = date.getDate().toString();
        day = day.length > 1 ? day : '0' + day;
        return month + '/' + day + '/' + year;
    }
</script>
}


@section MainContentHolder{

    <style type="text/css">
        .page-wrapper-change {
    background: url(../../Images/body-bg.png) center no-repeat #1f4873 !important;
    background-size: cover !important;
    background-position: 100% 100% !important;
}
        /*04-May-2018*/
.edu_class_room{width:100%;float:left;margin-top:15px;margin-bottom:30px;}
.edu_clrtable{width:100%;float:left;padding:15px;background-color:#fff;border-radius:7px;}
.edu_clrtable table tbody tr td{color:#163b69;text-align:center;}
td.edu_chk{color:#27ae60 !important;}
td.edu_ntchk{color:#c0392b !important;}
.edu_clrtable table thead tr th{background-color:#9B58B4;color:#fff;text-align:center;}
.edu_clrm_head{width:100%;float:left;margin-bottom:15px;}
.edu_clrm_head h3{background-color:#f9c751;color:#000;padding:15px;border-radius:7px;font-weight:600;}
.edu_clrm_head small{color:#000;}
.edu_frm_ps label{float:left;width:40%;}
.edu_frm_ps label{float:left;width:40%;color:#163b69;font-weight:300;}
.edu_meal_detail{width:100%;float:left;background-color:#f1f5f8;padding:30px 15px;margin-bottom:28px;border-radius:7px;}
.edu_frm_chk input[type="checkbox"]{float:left;width:auto;}
.edu_frm_chk label{float:left;width:auto;padding-left:9px;padding-top:2px;color:#163b69;font-weight:300;}
.edu_frm_ps select{width:60%;-webkit-appearance:none;float:left;background:#fff url(../images/class-room/arr-down.png) no-repeat 97% center;}
.part_edubtn{width:100%;float:left;text-align:center;}
.btn-edu-sucess{background-color:#2ecc71;border-radius:0 !important;color:#fff !important;padding:7px 15px !important;outline:none !important;}
.part_edubtn button.btn-edu-sucess{margin-right:20px;}
.btn-edu-exit{background-color:#e74c3c;border-radius:0 !important;color:#fff !important;padding:7px 15px !important;outline:none !important;}
.edu_frm_chk{float:right;width:60%;}
.edu_frm_ps select, .edu_frm_ps input{width:60%;float:left;}
/*start Pop-up*/
.modal-content.add_screen{background-color:#6a51a3; border:5px solid #fff; max-width:1200px; width:100%;}
.modal-content.add_screen .modal-header{border-bottom:none; padding:10px;}
.modal-content.add_screen .modal-header .close {
    margin-top: -2px;
    position: absolute;
    top: -14px;
    right: -14px;
    background-color: #db4437;
    border-radius: 50%;
    /* padding: 12px 9px; */
    opacity: 1;
    width: 40px;
    height: 40px;
    color: #fff;
}.pop_title{background-color:#e67e22;padding:7px; border-radius:5px; margin-bottom:30px; color:#fff; text-align:center; font-size:20px;}
.modal-dialog.view_pop{max-width:1200px; width:100%;}
.modal-content.add_screen .modal-body	{background-color:#f1f5f8; width:100%; float:left; padding:0px; border-radius:46px 47px 0px 0px;}
.nopadding{padding:0px;}
.modal-content.add_screen .modal-body h4{background-color:#34495e; color:#fff; text-align:center; padding:15px;}
.pop_list{background-color:#fff; padding:10px; margin:20px;     max-height: 570px;height: 570px;}
.pop_list ul li.pink{background-color:#ffcccc; }.pop_list ul li{list-style:none; text-align: center;
    padding: 10px; margin-bottom:15px;}
.pop_content{margin:20px;}.nopadding{padding:0px!important;}
.nopadding h4{margin:0px;}
.pop_list ul{margin:10px 5px;}
.pop_list ul li{cursor: pointer;}
.pop_list ul li.blue{background-color:#c5eff7; }
.pop_list ul li.green{background-color:#b2f5a8; }
.pop_list ul li.yellow{background-color:#f7d794; }
.pop_list ul li.black{background-color:#34495e; color:#fff; }
.file_attach{margin:5px;}.form_filed{margin-top:25px;}
.form_filed label{color: #164978;
    font-size: 16px; font-weight:normal;}
.form_filed sup{color:red;}
.modal-dialog.view_pop {
    margin: 1% auto 0 !important;
}
.form_filed ::placeholder {color: #164978!important;}
.form_filed .form-control{color:#164978!important; margin-bottom:15px; height:40px; border:1px solid #e7e7e7; box-shadow:none;}
.pop_list.form_section{overflow-y:scroll;}
.modal-content.add_screen .modal-footer{text-align:center;}
.pop_footer{margin-top:30px; width: 100%;
    float: left;}.pop_footer button.btn.btn-success{width:auto !important; padding:6px 25px; font-weight:bold;}
	.pop_footer button.btn.btn-default{width:auto!important; padding:6px 25px; background-color:#34495e!important; border:1px solid #34495e!important; font-weight:bold; }
h4.right_radius{border-radius:4px 0px 0px 0px;}
h4.left_radius{border-radius:0px 4px 0px 0px;}
#email ::placeholder {color: #164978;}
select.form-control.edu_arr{background:#fff url(../images/class-room/arr-down.png) no-repeat 97% center;-webkit-appearance:none;}
/*pop-up*/
/*04-May-2018*/
    </style>
<style>
    @@media only screen and (min-width: 767px) and (max-width: 991px) {
        .edu_clrtable {
        border-radius: 0 !important;
        }
    }
    .childName .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        /*background-color: rgba(0, 0, 0, 0.18);*/
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        /*top: 28px;*/
        /*left: 128px;*/
        left: 105px;
        line-height: 25px;
        border: 1px solid black;
    }


        .childName .tooltiptext::after {
            content: " ";
            position: absolute;
            top: 50%;
            right: 100%; /* To the left of the tooltip */
            margin-top: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent black transparent transparent;
        }

    .childName:hover .tooltiptext {
        visibility: visible;
    }

    .childName:not( :hover ) .tooltiptext {
        visibility: hidden;
    }

       .education-content-desc1 p {
        background: #e74c3c;
        border: 1px solid #c0392b;
        padding: 12px 15px;
        color: #fff;
        text-align: center;
        font-size: 18px;
        margin: 0; /* font-weight: bold; */
    }

       .no-padding{
           padding:0;
       }

       #TeacherRoster tbody th{
           border:1px solid #ccc;
       }
</style>

    @* New Design *@
<div class="container-fuild">
<form method="post" enctype="multipart/form-data">


    <input type="hidden" id="profileindex" name="profileindex" />
    <input type="hidden" id="eduindex" name="eduindex" />

    <div class="modal fade" id="myModalApprovalForClassRoomOpenCloseRequest" role="dialog" style="display: none;">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <input type="hidden" name="childid" id="childid" value="">
                    <input type="hidden" name="childname" id="childname" value="">
                    <label class="alert-dismissible classroom-header" for="current_password" style="text-transform:capitalize;">Child Development Team</label>
                </div>
                <div class="form-group-al" style="width: 420px;margin: auto;display: block;">
                    <div class="development-team-container">

                    </div>
                    <div class="form-group classroom-open-panel">
                        <label style="float:left;width:auto;margin-left:0;" class="control-label" for="current_password">Notes</label>
                        <textarea style="resize:none;width:65%;height:50px;display:inline-block;margin-left:7px;" class="form-control txt-classroom-notes" id="CNotes" placeholder=""></textarea>
                        <div class="err-container" style="height:20px;margin-bottom:10px;">
                            <label class="control-label"></label>
                            <span class="error-message error-message-classroom" style="display:none;text-align:center;width:100%!important;">Notes is mandatory</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btnPassword address-btn btn-send" style="width: 18% !important;">Send Note</button>
                    <button class="btnPassword address-btn btn-classroom-cancel" data-dismiss="modal">Back</button>
                </div>
            </div>
        </div>
    </div>
        <div class="row" style="margin:0px;">
            <div class="edu_class_room">



                 @*   @Html.Partial("~/Views/Partialviews/CenterClosureAlert.cshtml")*@

                <div class="edu_clrm_head">


                        <h3>
                            Classroom @if (Model.Itemlst != null && Model.Itemlst.Count > 0)
                            {<text><small>(@Model.Itemlst[0].ClassroomName)</small> </text>}
                            Roster <small><i>for</i></small> <span class="attend-date"><font size="3"></font></span>  @Model.Tdate
                            <span><font size="3"><i>@(Convert.ToBoolean(ViewBag.NotChecked) ? "(Not-Checked In)" : "")</i></font></span>

                            <a href="@Url.Action("GrowthAnalysis","Teacher")" class="btn pull-right"
                               style="color:#fff;background:#9b59b6">Growth Analysis</a>
                        </h3>
                    </div>
                    <div class="edu_clrtable table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="text-align: left !important;">Client</th>
                                    <th>DOB</th>
                                    <th>Profile Picture</th>
                                    <th>Class Start Date</th>
                                    <th>Check-In Status</th>
                                    <th>Daily Health Check</th>
                                    <th>% Absent</th>
                                    <th>Enrollment Days</th>
                                    <th>Disabilities</th>
                                    <th>Services</th>
                                </tr>

                            </thead>
                            <tbody>


                                @foreach (var j in Model.Itemlst)
                                {
                                <tr>

                            <td EClientId="@j.Enc_ClientId" class="childName">@j.CName</td>
                            <td>@j.CDOB</td>
                                   
                            <td><a href="javascript:void(0)" onclick="showImage(this);" EClientId='@j.Enc_ClientId'>View</a></td>

                            <td>@j.Dateofclassstartdate</td>

                                    @if (j.AttendanceType == "Not Checked In" && (j.IsLateArrival || j.IsCaseNoteEntered != 0))
                                    {
                                <td style="font-family:Arial;color:blueviolet;">Marked as Late Arrival<br /> <i style="font-family:Arial;color:black;"> @Html.Raw(j.CNotes) </i></td>
                                    }
                                    else
                                    {
                                    if (j.AttendanceType == "Not Checked In")
                                    {

                                <td style="font-family:Arial;color:red;">@j.AttendanceType <br /> <i style="font-family:Arial;color:black;"> @Html.Raw(j.CNotes) </i></td>

                                    }

                                    else if (j.AttendanceType == "Present")
                                    {
                                <td style="font-family:Arial;color:rebeccapurple;">



                                                        <a href="~/Teacher/CheckInCheckOutDetail?clientid=@j.ClientID&accesstype=1" title="Details" class="links">
                                                            @j.AttendanceType <br /> <i style="font-family:Arial;color:black;"> @Html.Raw(j.CNotes) </i>

                                            </a>
                                </td>

                                    }
                                    else if(j.AttendanceType == "Absent Excused")
                                    {
                                <td style="font-family:Arial;color:#9c27b0;">@j.AttendanceType <br /> <i style="font-family:Arial;color:black;"> @Html.Raw(j.CNotes) </i></td>
                                        }
                                        else if (j.AttendanceType == "Present Other")
                                        {
                                <td style="font-family:Arial;color:#ff5722;">@j.AttendanceType <br /> <i style="font-family:Arial;color:black;"> @Html.Raw(j.CNotes) </i></td>
                                        }
                                        else
                                        {
                                <td style="font-family:Arial;color:red;">@j.AttendanceType <br /> <i style="font-family:Arial;color:black;"> @Html.Raw(j.CNotes) </i></td>

                                        }

                                    }

                                    @if (j.ObservationChecked)
                                    {
                                    <th><img src="~/Images/whiteCheck.jpg" /> </th>
                                    }
                                    else if (j.AttendanceType == "Present")
                                    {
                                    <th>


                                        <a href="@Url.Action("ParentCheckIn", "Teacher" , new { clientid=@j.ClientID, accesstype=1, available="1" })" class="office">

                                            <img alt="List View" src="@Url.Content("~/Images/whiteX.gif")" />
                                        </a>
                                    </th>
                                    }
                                    else
                                    {

                                    <th><img src="~/Images/whiteX.gif" /> </th>

                                    }


                            <td>@j.PercentAbsent %</td>
                            <td>@j.EnrollmentDays</td>
                                 


                                  
                                      @if (j.Disability == "1")
                                    {
                                <td>
                                        <img src="~/Images/whiteCheck.jpg" title="@j.DisabilityDescription" />
                                </td>
                                    }
                                    else
                                    {
                                <td><img src="~/Images/whiteX.gif" title="No Disability Recorded" /></td>
                                    }

                            <td style="white-space:nowrap;">


                                            @if (Model.ClosedDetails.ClosedToday > 0)
                                            {
                                                <a href="javascript:void(0);" data-target="tooltip" style="text-decoration:underline;cursor:pointer;pointer-events:none;display:none;" title="Click here for Manual Attendance" class="open-myModalAb" data-id="@j.ClientID-@j.CName">ATN&nbsp;</a>

                                            }
                                            else
                                            {
                                                <a href="javascript:void(0);" data-target="tooltip" style="text-decoration:underline;cursor:pointer;" title="Click here for Manual Attendance" class="open-myModalAb" data-id="@j.ClientID-@j.CName">ATN&nbsp;</a>

                                            }

                                           @* <a href="javascript:void(0);" data-target="tooltip" style="text-decoration:underline;cursor:pointer;" title="Click here for Manual Attendance" class="open-myModalAb" data-id="@j.ClientID-@j.CName">ATN&nbsp;</a>*@

                                            @if (Model.AllowCaseNoteTeacher == "1")
                                            {
                                                <a href="@Url.Action("CaseNotesclient","Roster",new {@id=j.Enc_ClientId,@Householdid=j.Enc_HouseholdId,@centerid=j.Enc_CenterId,@Programid=j.Enc_ProgramId })" style="text-decoration:underline;cursor:pointer;" title="Click here for case notes" data-target="tooltip" class="open-casenotes">CN&nbsp;</a>

                                            }


                                            <a style="text-decoration:underline;cursor:pointer;" data-target="tooltip" title="Click here for Observation Notes" href="~/Teacher/DomainObservationResults?ChildId=@FingerprintsModel.EncryptDecrypt.Encrypt64(@j.ClientID)&ChildName=@FingerprintsModel.EncryptDecrypt.Encrypt64(@j.CName)">ON&nbsp;</a>

                                            <a style="text-decoration:underline;cursor:pointer;" eclientid="@FingerprintsModel.EncryptDecrypt.Encrypt64(@j.ClientID)" data-programid="@j.Enc_ProgramId" data-centerid="@j.Enc_CenterId" data-classroomid="@FingerprintsModel.EncryptDecrypt.Decrypt64(j.Enc_ClassRoomId)" data-householdid="@FingerprintsModel.EncryptDecrypt.Decrypt64(@j.Enc_HouseholdId)" data-centername="@j.CenterName" data-classroom="@j.ClassroomName" data-CName="@j.CName" onclick="AddCaseNote(this);" data-target="tooltip" title="Click here for internal referral" href="javascript:void(0);">nREF &nbsp;</a>

                                            @* <a class="referral-icon" style="text-decoration:underline;cursor:pointer;" title="Referrals for Child Developmental Team" href="javascript:void(0);"><input type="hidden" class="child-id" value="@j.ClientID" /><input type="hidden" class="child-center-id" value="@j.CenterID" />xREF&nbsp;</a>*@

                                            <a title="Click here to get white paper on education of parents" data-target="tooltip" style="text-decoration: underline; cursor: pointer;" href="/EducationMaterial/ShareMaterial/?ClientId=@j.Enc_ClientId&Single=true">ED&nbsp;</a>

                                            @if (_isAccessLW)
                                            {
                                                <a href="@Url.Action("GrowthAnalysis", "Teacher")?client=@j.Enc_ClientId" title="Individual Growth Analysis" style="text-decoration: underline; cursor: pointer;" data-toggle="tooltip">LW </a>
                                            }

                                        </td>
                                    </tr>

                                }

                            </tbody>

                        </table>

                    </div>

            </div>
        </div>

    @using (Html.BeginForm("CheckIn", "Teacher"))
    {
            <div class="modal fade" id="myModalattendance" role="dialog">
            <div class="modal-dialog">
                    <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>Attendance for <label id="childlbl" text="" /> </h3>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="current_password">Attendance Type <span style="color:red;">*</span> </label>

                        @Html.DropDownListFor(m => m.AttendanceTypeId, Model.AttendanceTypeList, "Select Type", new { id = "AbsentType", Name = "AbsentType", style = "width: 45%;", @class = "form-control clear-popup" })


                    </div>
                    <div class="form-group" id="divAbsenceReasonList" style="display:none;">
                        <label class="control-label">Absent Reason <span style="color:red;">*</span> </label>
                        @Html.DropDownListFor(m => m.AbsenceReasonId, Model.AbsenceReasonList, "Select Reason", new { id = "ReasonList", Name = "ReasonList", style = "width: 45%;", @class = "form-control clear-popup" })
                    </div>
                    <div class="form-group" id="divNewReason" style="display:none;">
                        <label class="control-label">Other Reason <span style="color:red;">*</span></label>
                        <input type="text" name="txtNewReason" id="txtNewReason" class="form-control" style="width:45%;" />
                    </div>

                    <div class="modal-footer">


                        <button class="btnPassword" id="submit" type="submit" value="Submit" onclick="return isValidInfo();">Submit</button>

                        <button class="btnPassword" id="btnCancelPassword" type="button" data-dismiss="modal">Exit</button>



                    </div>
                </div>
            </div>
        </div>
    }

        </form>
</div>

    @* New Design *@
@Html.Partial("~/Views/Partialviews/InternalReferral.cshtml")
}
