@{
    ViewBag.Title = "CaseNoteTagReport";

   if (Session["RoleId"].ToString() == FingerprintsModel.EnumHelper.GetEnumDescription(FingerprintsModel.Enums.RoleEnum.AgencyAdmin).ToLowerInvariant()
                 || Session["RoleId"].ToString() == FingerprintsModel.EnumHelper.GetEnumDescription(FingerprintsModel.Enums.RoleEnum.GenesisEarthAdministrator).ToLowerInvariant())
   {

       Layout = "~/Views/Shared/AgencyAdminLayout.cshtml";
   }
   else
   {
       Layout = "~/Views/Shared/AgencyStaffLayout.cshtml";
   }
}

   


@section Style
{
    <style type="text/css">
    .page-wrapper-change {
        background-image: url(../../Images/body-bg.jpg);
        background-size: cover !important;
        background-position: 100% 100% !important;
    }

    .tagpage-header {
        border-bottom: 4px solid #f9c751 !important;
        color: #fff;
    }





    .tag-report-table thead tr,
    #casedetails-table thead tr {
        background: #9B58B4 !important;
        color: #fff;
        text-align: left;
    }
        .tag-report-table thead tr th,
        #casedetails-table  thead tr th {
            text-align: left !important;
        }
    .tag-report-table tbody tr td ,
    #casedetails-table tbody tr td {
     border: solid 1px #e7e7e7;
     
     }
    .tag-report-table th,
    #casedetails-table th {
    border-bottom: 0!important;
    text-align: left;
    text-transform: capitalize;
    font-weight: normal;
    line-height: 25px;
    }
    .tag-report-table tbody tr,
     #casedetails-table tbody tr {
     /*  background-color:#f9f9f9;*/
           display: table;
             width: 100%;
        table-layout: fixed;
     }
        .tag-report-table,
        #casedetails-table {
         background:#fff;
        }
     .tag-report-table tbody tr td,
     #casedetails-table tbody tr td  {
        color: #333;
        padding: 15px !important;
        text-align: left;
        line-height: 0.9; 
        }
 .tag-report-table thead ,
 #casedetails-table thead {
    display: table;
    width: 100%;
    table-layout: fixed;
    width: 100%;
        }
        
  .tag-report-table tbody,
  #casedetails-table tbody  {
    display: block;
    max-height: 450px;
    overflow: auto;
    overflow-x: hidden;
}



 #TagDetail_Modal .modal-body {
    background: #34495e none repeat scroll 0 0;
    border: 6px solid #ffffff;
    border-radius: 3px;
    color: #ffffff;
    float: left;
    padding: 15px 3%;
    position: relative;
    width: 100%;
    padding-top: 10px;
}

  #TagDetail_Modal .form-group-al {
    background: #f1f5f8 none repeat scroll 0 0;
    border: 3px solid #ffffff;
    float: left;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    color: #333;
    padding-top: 25px;
}
    #TagDetail_Modal h2 {
    margin-top: 10px;
    float: left;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}
    #TagDetail_Modal  .close {
    opacity: 1;
    position: absolute;
    right: -14px;
    top: -15px;
}

  
  
     #TagDetail_Modal .prop-label {
    color: #1d5990;
     margin-left:0px;
}
            #TagDetail_Modal .control-label {
            margin-left:0px;
            }
        
        .btn-download {
                color: #fff;
        margin-bottom:10px;
            border-radius: 0px;
            float:right;
        }

        .count_link {
         text-decoration:underline;
        }

        .tagname-input {
            width: 181px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        
        }
        .savetag, .canceltag,.delete-tag {
        
        font-size: 22px;
    margin-left: 19px;
    cursor: pointer;
        }
        .canceltag {
        margin-left: 10px;
        }

        .ui-autocomplete {
           max-height: 300px;
    overflow-y: auto;
        }
        .ui-autocomplete li.ui-menu-item {
        padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
     
        }
        .autocomplete-loading {
            background: white url('../../Content/themes/base/images/ui-anim_basic_16x16.gif') right center no-repeat;
        }
        .tagname-span {
         color:#337ab7;
         cursor:pointer;
         text-decoration:underline;
        }

        [data-sort="true"] {
         cursor:pointer;
        }

    </style>

}

@section MainContentHolder{

    <div class="row Zoom">

        <div class="col-lg-12">


            <div class="row">

                <!------------Your Code----------------->
                <div class="right-side-container-ch col-xs-12" style="padding-top: 30px;">


                    <div class="col-xs-12" style="padding:0px 0px;margin-bottom:20px;">
                        <div class="col-lg-12">
                            <h2 class="page-header page-header-change" style="border-bottom:5px solid #f9c751!important;color:#fff;">
                                <i class="fa fa-bar-chart-o"></i>&nbsp;Case Note Tag Report

                                <span class="view-btn backto_listspan hidden-xs">
                                    <a href="/Roster/Roster" class="glossy-button-button anchor_yellow" style="text-decoration:none;">
                                        Back to Roster

                                        <span class="glossy-button-before"></span>
                                        <span class="glossy-button-after"></span>

                                    </a>

                                </span>
                            </h2>
                        </div>


                    </div>






        
        <div class="col-sm-4 pull-right" style="margin-bottom: 5px;">

            <input placeholder="Search..." style="width: 250px;display: inline-block;" type="text" class="form-control" id="search-tag" />
            <button  type="button" id="tagsearch-btn" class="btn btn-info" style="border-radius: 0px;width: 93px;margin-bottom: 2px;height: 34px;">Search</button>

        </div>
        @*<div class="col-sm-1">
            <button type="button" class="btn btn-info">Search</button>
            </div>*@

            <div class="col-sm-12">

                <table class="table table-striped table-responsive text-center tag-report-table" id="tagreport-table">
                    <thead>
                        <tr>
                            @*<th>Tag Id</th>*@
                            <th data-sort="true" data-name="TagName">
                                 <span class="fa"></span>
                            Tag Name
                            </th>
                            <th data-sort="true" data-name="Counter" style="width:200px;">
                            <span class="fa"></span>
                            Count
                            </th>
                            <th style="width:100px;">Delete</th>
                        </tr>
                    </thead>
                    <tbody></tbody>

                </table>



            </div>
            <div class="col-sm-12">

                <div class="col-sm-4" style="color:#fff;">
                    <span>Display</span>
                    <select id="page-length-drop" style="color:#333;">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <span>Records Per Page</span>
                </div>

                <div class="col-sm-4" style="color:#fff;margin-top:10px;">
                    <span>Total Records:</span> <span id="total-record-span"></span>
                </div>

                <div class="col-sm-4" style="color:#333;">


                    <div id="divPaging" class="pagination_wrp">
                        <ul id="ulPaging" class="pagination">
                            <li><input id="First" type="image" src="/Images/previousarrow.png" style="cursor:pointer;"></li>
                            <li title="Back">
                                <input id="Back" type="image" src="/Images/prevarrow.png" style="cursor:pointer;" disabled>
                            </li>
                            <li title="Select">
                                <select class="select_cl" id="ddlpaging"></select>
                            </li>
                            <li title="Next"><input id="Next" type="image" src="/Images/nextarrow1.png" style="cursor:pointer;"></li>
                            <li title="Last"><input id="Last" type="image" src="/Images/nextarrow.png" style="cursor:pointer;"></li>
                        </ul>
                    </div>


                </div>

            </div>


                </div>
            </div>
        </div>
    </div>

    }


@section Script
{
    
    <script src="~/Content/underscore-min.js"></script>

    <script type="text/javascript">

        var Urls = {
           getTagReport:"@Url.Action("GetCaseNoteTagReport", "Roster")"
        }
        
        var caseNoteTagReport = {
            init: function () {
                var self = this;
                self.initEvents();
                self.refreshTagReport(1,10);

            },
            mode:{
                rename: 1,
                merge: 2,
                deletetag:3
            },
            sort: {
                column: "TagName",
                dir:"asc"
            },
            searchValue:"",
            avaTags:[],
            initEvents: function () {
                var self = this;

                $(document).on("click", '[data-sort="true"]', function (e) {
                    e.preventDefault();
                    var _clmnName = $(this).data("name");

                   // console.log(_clmnName);
                    if (self.sort.column == _clmnName) {
                        if (self.sort.dir == "asc") {
                            self.sort.dir = "desc";
                        } else {
                            self.sort.dir = "asc";
                        }
                    } else {
                        self.sort.column = _clmnName; self.sort.dir = "asc";
                    }

                   // console.log(self.sort);
                    self.refreshTagReport(1, $("#page-length-drop").val());

                });

                  $(document).on("click", "#tagsearch-btn", function (e) {
                      e.preventDefault();
                      var _stxt = $("#search-tag").val();
                      // self.refreshTagReport(1, $("#page-length-drop").val(), _stxt);
                      self.searchValue = _stxt;
                      self.refreshTagReport(1, $("#page-length-drop").val());
                  });

                $(document).on("keyup", ".tagname-input", function (e) {
                    e.preventDefault();
                    var _ele = $(this);
                    var _val = $(this).val();
                    if (_val.length <= 1) return false;

                    _ele.addClass("autocomplete-loading");

                           $.ajax( {
                               url: "@Url.Action("GetCaseNoteTagonInput", "Roster")?searchText="+_val,
                               type:'POST',
                                dataType: "json",
                                //data: {
                                //    searchText: $(this),
                                //},
                                success: function( data ) {
                                    //response( data );
                                    // self.avaTags = data;
                                    $(".tagname-input").autocomplete({
                                        source: _.pluck(data,"Text")
                                    });

                                  //  autocomplete(_ele[0],  ["Afghanistan","Albania","Algeria"]);
                                },
                                //compelete: function () {
                                    complete: function (res) {

                                    _ele.removeClass("autocomplete-loading");
                                }
                            } );
                });

         

                $(document).on("click", "#deletetag-submit", function (e) {
                    e.preventDefault();
                    var _delTagId = $("#DeleteTagId").val();
                    $("#deletetag-Modal").modal("hide");
                  self.modifyTagName(_delTagId, "", 0, self.mode.deletetag);

                });

                $(document).on("click", ".delete-tag", function (e) {
                    e.preventDefault();

                    $("#DeleteTagId").val($(this).data("tagid"));
                    $("#deletetag-Modal").modal("show");

                });

                $(document).on("click", "#mergetag", function (e) {
                    e.preventDefault();
                    var tagid = $("#TagId").val();
                    var ExistingTagId = $("#ExistingTagId").val();

                    self.modifyTagName(tagid,"",ExistingTagId,self.mode.merge)
                });

                $(document).on("click", ".savetag", function (e) {
                    e.preventDefault();

                    var _td = $(this).parents('td');

                    var tagName = _td.find('.tagname-input').val();
                    var tagId = _td.find('.tagname-input').data('tagid');

                    self.modifyTagName(tagId, tagName,0,self.mode.rename);

                });

                $(document).on("click", ".tagname-span", function (e) {
                    e.preventDefault();

                    var _parentDiv = $(this).parent('td').children('.tagedit-div');

                    $(".tagedit-div").hide();
                    $(".tagname-span").show();


                    _parentDiv.find(".tagname-input").val($(this).text());
                    $(this).hide();
                    _parentDiv.show();
                });

                $(document).on("click", ".canceltag", function (e) {
                    e.preventDefault();

                    $(this).closest(".tagedit-div").hide();
                    $(this).closest('td').children(".tagname-span").show();
                });

                $(document).on("click", "#export-btn", function (e) {
                    e.preventDefault();

                    var _tagName=  $("#tag_name").text();
                    var _count = $("#tag_count").text();
                    var _tagId = $("#export-btn").data('id');


                    window.location.href = "@Url.Action("DownloadCaseNoteByTagId","Roster")?tagid=".concat(_tagId, "&total=", _count, "&tname=", _tagName);


                });

                $(document).on("click", ".count_link", function (e) {
                    e.preventDefault();

                    var _tagId = $(this).data("id");
                    var _tagName = $(this).data("tagname");
                    var _count = $(this).data("count");
                    
                    $.ajax({
                        type: "post",
                        url: "@Url.Action("GetCaseNotesByTagId", "Roster")?tagid=" + _tagId,
                        beforeSend: function () { $("#spinner").show(); },
                        success: function (data) {

                            if (data.length) {

                                var _templ = $("#tagdetail-table-tmpl").html();

                                var compiled = _.template(_templ)({ data: data });

                                $("#casedetails-table tbody").html(compiled);

                                $("#tag_name").text(_tagName);
                                $("#tag_count").text(_count);
                                $("#export-btn").data('id', _tagId);

                                $("#TagDetail_Modal").modal("show");
                            } else {

                                customAlert("Something went wrong, please try again");
                            }




                        },
                        error: function (res) {
                            
                            customAlert("Something went wrong, please try again");
                        },
                        complete: function (res) {
                            $("#spinner").hide();
                        }
                    });



                });

                $(document).on("change", "#page-length-drop", function (e) {
                    e.preventDefault();
                    var _pgSize = $(this).val();

                    self.refreshTagReport(1, _pgSize);

                })

                $(document).on("change", "#ddlpaging", function (e) {
                    e.preventDefault();
                    var _nxtPg = $(this).val();

                    self.refreshTagReport(_nxtPg, $("#page-length-drop").val());

                    
                })

                $(document).on("click", "#First,#Back,#Next,#Last", function (e) {
                    e.preventDefault();

                    var _type = $(this).prop('id');
                    var _curentPg =parseInt($("#ddlpaging").val());
                    var _lastpg = parseInt($("#ddlpaging option:last").val());



                    switch(_type){
                        case "First":
                            _curentPg=1;
                            break;
                        case "Back":
                            _curentPg--;
                            break;
                        case "Next":
                            _curentPg++;
                            break;
                        case "Last":
                            _curentPg=_lastpg;
                            break;
                            
                    };
                    $("#ddlpaging").val(_curentPg);

                    self.refreshTagReport(_curentPg, $("#page-length-drop").val());

                    //if (_curentPg == 1 && _type == "Back") {
                    //    $("#Back").prop("disabled", true);
                    //};

                    if (_curentPg == 1) {
                        $("#Back").prop("disabled", true);
                    } else {
                        $("#Back").prop("disabled", false);
                    }

                    if (_lastpg == _curentPg) {
                        $("#Next").prop("disabled", true);
                    } else {
                        $("#Next").prop("disabled", false);
                    }


                });

            },
            modifyTagName: function (tagid, tagname,exid,mode) {
                var self = this;
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("EditCaseNote","Roster")?tagid=".concat(tagid, "&tagname=", tagname, "&mode=", mode, "&ExistsTagId=",exid),
                    beforeSend: function () { $("#spinner").show(); },
                    contentType: "application/json;",
                    success: function (data) {
                        if (data.Success) {

                            if (mode == self.mode.rename) {
                                customAlert("Tag Name changed successfully.!");
                            }else if (mode == self.mode.merge) {
                                $("#TagExists-modal input").val("")
                                $("#TagExists-modal").modal("hide");
                                customAlert("Tags Updated successfully.!");
                            } else if (mode == self.mode.deletetag) {
                                customAlert("Tag deleted successfully.!");
                            }

                            // customAlert("Tag Name changed successfully.!");
                            
                            self.refreshTagReport($("#ddlpaging").val(), $("#page-length-drop").val());
                        } else if (!data.success && data.AvailableTagId > 0) {
                            self.showTagExistsModal(tagid, tagname, data.AvailableTagId);
                        } else {
                            customAlert("Something went wrong, please try again");
                        }
                    }, error: function (res) {
                        customAlert("Something went wrong, please try again");
                    },
                    complete: function (res) {
                        $("#spinner").hide();
                    }

                })
            
            },
            showTagExistsModal: function (tagid, tagname, availableTagId) {

                $("#TagId").val(tagid);
                $("#ExistingTagId").val(availableTagId);
                $("#tagnamef1").text(tagname);

                $("#TagExists-modal").modal("show");
            },
            refreshTagReport: function (pagno,pagesize) {
                var self = this;
                
                $('[data-sort="true"] span').removeClass('fa-sort-amount-asc fa-sort-amount-desc');
                $('[data-name="' + self.sort.column + '"] span').addClass('fa-sort-amount-' + self.sort.dir);

                $.ajax({
                    type: "POST",
                    //  url: "@Url.Action("GetCaseNoteTagReport", "Roster")?pno=" + pagno + "&psize="+pagesize,
                    url:Urls.getTagReport.concat("?pno=",pagno,"&psize=",pagesize,"&searchTxt=",self.searchValue,"&sortclmn=",self.sort.column,"&sortdir=",self.sort.dir),
                    beforeSend: function () { $("#spinner").show(); },
                    dataType: 'json',
                    contentType: "application/json;",
                    success: function (data) {
                        if (data) { self.drawTable(data, pagno); } else {

                            customAlert("Something went wrong, please try again");
                        }

                    }, error: function (res) {

                        customAlert("Something went wrong, please try again");

                    },
                    complete: function (res) {

                        $("#spinner").hide();
                    }
                });

                
            },
            drawTable: function (data, pagno) {

                var _psize = parseInt($("#page-length-drop").val());
                var _pcount = Math.ceil(data.TotalRecord / _psize); //ceil- Round a number upward to its nearest integer:

                var _templ = $("#tagreport-table-tmpl").html();

                var compiled = _.template(_templ)({ data: data.TagReport });

                $("#tagreport-table tbody").html(compiled);

                $("#ddlpaging").html('');
                for (var i = 1; i <= _pcount; i++) {
                    
                    $("#ddlpaging").append('<option value="'+i+'">'+i+'</option>')
                }
                $("#total-record-span").text(data.TotalRecord);
                $("#ddlpaging").val(pagno);
                $('[data-toggle="tooltip"]').tooltip();

            }

        };


        $(function () {
            caseNoteTagReport.init();
        });


    </script>

    <script type="text/template" id="tagreport-table-tmpl">

        <% for(var i=0; i < data.length; i++){%>
        <tr>

            @*<td> <%= data[i].Id %> </td>*@
            <td> 
                <span class="tagname-span"><%= data[i].TagName %></span>
                <span class="tagedit-div" style="display:none;">
                    <input type="text" data-tagid="<%= data[i].TagId%>" class="tagname-input" value="<%= data[i].TagName %>"  />
                    @*<button type="button" class="savetag">Save</button>
                    <button type="button" class="canceltag">Cancel</button>*@
                    <i class="fa fa-save savetag" data-toggle="tooltip" title="Save" style="color:#528efd"></i>
                    <i class="fa fa-times canceltag" data-toggle="tooltip" title="Cancel" style="color:#d44d4d"></i>
                </span>

            </td>
            <td style="width:200px;">
                <a href="javascript:void(0)"
                   data-id="<%= data[i].TagId %>" data-tagname="<%= data[i].TagName %>" data-count="<%= data[i].Count %>"
                   class="count_link"><%= data[i].Count %></a>
            </td>
            <td style="width:100px;padding-bottom:5px !important;padding-top:10px !important;">
                <i class="fa fa-trash delete-tag" title="delete" data-toggle="tooltip" data-tagid="<%= data[i].TagId%>"></i>
            </td>
        </tr>
        <%}%>

        <%if(data.length == 0){%>
        <tr> <td colspan="3">No Records Found</td> </tr>
        <%}%>

    </script>


<script type="text/template" id="tagdetail-table-tmpl">
    <% for(var i=0; i < data.length; i++){%>
    <tr>
        @*<td class="col-xs-4"> <%= data[i].WrittenBy %> </td>
        <td class="col-xs-4"> <%= data[i].Name ? data[i].Name : "-" %> </td>
        <td class="col-xs-4"> <%= data[i].Date ?  data[i].Date : "-"  %> </td>*@
        <td> <%= data[i].WrittenBy %> </td>
        <td> <%= data[i].Name ? data[i].Name : "-" %> </td>
        <td> <%= data[i].Date ?  data[i].Date : "-"  %> </td>
    </tr>
    <%}%>

</script>



    

    <!-----delete tag Modal-->
<div class="modal fade" id="deletetag-Modal" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-md">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="border-bottom:none;margin-bottom:0;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="">Confirmation</h4>
            </div>

            <div class="modal-body">
               
                <div class="text-center" style="font-size:15px;margin-bottom:10px;">
                   @Html.Hidden("DeleteTagId")
                     @*Do you want to delete this Tag ?*@
                    Your trying to delete this casenote tag. Click ok to proceed.
                </div>

            </div>

            <div class="modal-footer">
                
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-info" id="deletetag-submit">Ok</button>
            </div>
        </div>

    </div>
</div>

<!-----TagExistsModal Modal-->
<div class="modal fade" id="TagExists-modal" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-md">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="border-bottom:none;margin-bottom:0;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="">Confirmation</h4>
            </div>

            <div class="modal-body">
                @Html.Hidden("TagId")
                @Html.Hidden("ExistingTagId")
                <div>

                    Tag Name '<span id="tagnamef1" style="font-weight:bold;"></span>' is already exists. Do you want to merge the Tags ?
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-info" id="mergetag" >Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
        </div>

    </div>
</div>



    <div class="modal fade" id="TagDetail_Modal" tabindex="-1" role="dialog" aria-labelledby="TagDetail_Modal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <div class="modal-body">

                    <button type="button" class="close" data-dismiss="modal"><img src="/images/close.png"></button>
                    <h2>Tag Details</h2>
                    <div class="form-group-al">

                        <div class="col-sm-12">

                            <button type="button" class="btn btn-success btn-addon btn-download" id="export-btn"> <i class="fa fa-file-excel-o"></i> Download</button>
                        </div>

                            <div class="col-sm-12" style="margin-bottom:10px;">
                                <div class="col-sm-6">
                                    <div class="">
                                        <div class="col-sm-4">
                                            <label class="control-label prop-label">Tag Name :</label>
                                        </div>
                                        <label class="col-sm-8 control-label" id="tag_name" style="font-weight: 100;"></label>
                                    </div>

                                </div>
                                <div class="col-sm-6">
                                    <div class="">
                                        <div class="col-sm-12 col-md-4">
                                            <label class="control-label prop-label">Count :</label>
                                        </div>
                                        <label class="col-sm-12 col-md-8 control-label" id="tag_count" style="font-weight: 100;">VV-Exo</label>
                                    </div>

                                </div>

                            </div>

                            <h4 style="text-decoration: underline;">Case Notes :</h4>
                            <table class="table table-responsive table-striped" id="casedetails-table">
                                <thead>
                                    <tr>
                                        @*<th class="col-xs-4">Created By</th>
                                        <th class="col-xs-4">Title</th>
                                        <th class="col-xs-4">Created Date</th>*@
                                        <th>Created By</th>
                                        <th>Title</th>
                                        <th>Created Date</th>
                                    </tr>

                                </thead>

                            <tbody></tbody>



                            </table>



                        </div>
                </div>

            </div>
        </div>
    </div>


    }
