@{
    ViewBag.Title = "TimeLine";

    Layout = "~/Views/Shared/AgencyStaffLayout.cshtml";



    // Layout = "~/Views/Shared/_EventCheckInLayout.cshtml";
}



@section Style
{
    <link href="~/Content/vertical-timeline/css/reset.css" rel="stylesheet" />
    <link href="~/Content/vertical-timeline/css/style.css" rel="stylesheet" />
    @*<link href="https://codyhouse.co/demo/vertical-timeline/css/style.css" rel="stylesheet" />*@
    <link href="~/Content/vertical-timeline/css/demo.css" rel="stylesheet" />

    <style type="text/css">
        .page-wrapper-change {
            background-image: url(/Images/body-bg.jpg);
            background-size: cover !important;
            background-position: 100% 100% !important;
        }

        .rect-badge {
            border-radius: 0px;
            padding: 0px 5px !important;
            background: #295b8f;
            margin-right: 5px !important;
        }


        .toggle-down {
            transform: rotate(0deg);
        }


        .toggle-up {
            transform: rotate(180deg);
        }
    </style>


    <style type="text/css" title="Vertical Timeline Custom">
        #Timeline-Style .cd-timeline__img i {
            left: 16%;
            top: 20%;
            font-size: 2rem;
            margin: 0px;
            display: block;
            position: relative;
            color: #fff;
        }

        #Timeline-Style .cd-timeline__date {
            color: #fff;
        }

        .client-span {
            font-weight: bold !important;
        }

        .centername-span {
            font-weight: bold !important;
        }

        .evecdate-span, .ptype-span {
            font-weight: bold !important;
        }

        @@media only screen and (min-width: 1170px) {
            #Timeline-Style .cd-timeline__img {
                width: 30px;
                height: 30px;
                left: 50.8%;
            }

            #Timeline-Style .cd-timeline__content {
                padding: 0px;
            }

            #Timeline-Style .cd-timeline__content {
                width: 46%;
            }

            #Timeline-Style .cd-timeline__container::before {
                margin-left: -8px;
            }

            #Timeline-Style .cd-timeline__date {
                /*width: 7%;*/
                width: 10%;
                font-size: 13px;
            }
        }

        #Timeline-Style .cd-timeline__content::before {
            /*top: 2px;*/
        }

        #Timeline-Style .cd-timeline-header {
            position: relative;
             /*background: #05c2fa;*/
             background:#ffffff;
             border-radius: 0.25em 0.25em 0em 0em;
            padding: 1em;
            cursor: pointer;
        }

        #Timeline-Style .cd-timeline__footer {
            position: relative;
            background: #d7e4ed;
            border-radius: 0.25em;
            padding: 1em;
            border-radius: 0px;
        }

        #Timeline-Style .cd-timeline-body {
            /*  padding: 1.6em;*/
            padding: 0px 1.6em;
        }

        .parent-stepcheck {
            /*  max-height: 60px;*/
            color: #333;
            background: #fff;
            padding: 5px;
            overflow: auto;
            margin-top: 5px;
            left: 3%;
            width: 92.2%;
            margin-bottom: 50px;
        }

        .step-checkbox-div {
            display: inline-block;
            padding: 3px;
            width: 19%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow-x: hidden;
        }

            .step-checkbox-div input {
                display: inline-block;
                position: relative;
                outline: none;
                float: left;
                margin-right: 10px;
            }

                .step-checkbox-div input[type="checkbox"]:before {
                    content: "";
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    background-color: #fff;
                    border: 1px solid #174472;
                    left: 0px;
                }

                .step-checkbox-div input[type="checkbox"]:checked:after {
                    content: "\2713";
                    position: absolute;
                    color: #174472;
                    font-size: 15px;
                    font-weight: 600;
                    border-color: #174472;
                    top: -3px;
                    left: 1px;
                }

            .step-checkbox-div label {
                display: inline;
            }


        #adv-btn {
            right: 2%;
            position: relative;
        }

        .expandable-body {
            display: none;
        }

        .timeline-pf-pic {
            position: absolute;
            top: -40px;
            border-radius: 500px;
            height: 80px;
            width: 80px;
            box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
            z-index: 1;
            left: auto;
            margin: auto 66px !important;
        }

            .timeline-pf-pic img {
                border-radius: 500px;
                height: 100%;
                width: 100%;
            }

        .content-expa-arow {
            position: absolute;
            top: 6px;
            right: 15px;
            font-size: 26px;
            /*color: #ffffff;*/
            transition: all 0.75s 0.20s;
            font-weight:bold;
        }
        /* .content-expa-arow.fa-caret-down {
                top: -8px;
        }*/
    </style>

    <!--title="single-leaf-layout"-->
    <style type="text/css">
        #Timeline-Style.single_leaf_layout .cd-timeline__content {
            /*background:red;*/
            float: left !important;
            width: 94%;
            left: 9%;
        }

            #Timeline-Style.single_leaf_layout .cd-timeline__content::before {
                /*  border-right-color: #fff;
            border-left-color: transparent;
           left: -1.5%;
        right: 0%;*/
                display: none;
            }

        #Timeline-Style.single_leaf_layout .cd-timeline.js-cd-timeline {
            /*margin-left: -77%;*/
        }

        #Timeline-Style.single_leaf_layout .cd-timeline__container::before {
            left: 5.8%;
        }

        #Timeline-Style.single_leaf_layout .cd-timeline__img {
            left: 6.8%;
        }

        #Timeline-Style.single_leaf_layout .cd-timeline__date {
            left: -15% !important;
            right: 0px !important;
            text-align: left !important;
        }

        #Timeline-Style.single_leaf_layout .cd-timeline__year {
            top: -8px !important;
            left: -14.5% !important;
        }

        .treeview-time .timeline-pf-pic {
            left: 0;
            right: 18px;
            margin: auto !important;
        }

        .treeview-time#Timeline-Style .cd-timeline__year {
            margin-left: 50px !important;
        }

        .treeview-time#Timeline-Style .cd-timeline__block:nth-child(even) .cd-timeline__year {
            margin-right: 50px !important;
            margin-left: 0 !important;
        }

        @@media (min-width: 992px) and (max-width: 1199px) {
            #Timeline-Style .cd-timeline {
                overflow: initial;
                margin: 2em auto;
                margin-top: 0;
            }

            .timeline-pf-pic {
                left: 30px;
                float: left;
                top: 0;
                position: relative;
            }

            #Timeline-Style .cd-timeline__container {
                width: 90%;
                max-width: 100%;
                padding-top: 34px;
                float: left;
                margin-left: 50px;
            }

            #Timeline-Style.single_leaf_layout .cd-timeline__content {
                float: left !important;
                width: 92%;
                left: 0px;
                padding: 0;
            }

            #Timeline-Style.single_leaf_layout .cd-timeline__img {
                left: 0px;
            }

            #Timeline-Style.single_leaf_layout .cd-timeline__container::before {
                left: 18px;
            }

            #Timeline-Style .cd-timeline__content p {
                height: auto !important;
            }

                #Timeline-Style .cd-timeline__content p span {
                    margin-bottom: 5px;
                }

            .timeline-pf-pic img {
                border-radius: 500px;
                height: 80px;
                width: 80px;
            }

            .single_leaf_layout {
                float: left;
                width: 100%;
            }

            #Timeline-Style.single_leaf_layout .cd-timeline__date {
                position: absolute;
                left: -20% !important;
                right: 0px !important;
                text-align: left !important;
                top: 20px;
            }

            #Timeline-Style.single_leaf_layout .cd-timeline__year {
                top: 0px !important;
                left: -18.5% !important;
            }

            #Timeline-Style .cd-timeline__footer {
                float: left;
                width: 100%;
            }

            #Timeline-Style .cd-timeline-header {
                position: relative;
                z-index: 9;
            }

            .step-checkbox-div {
                width: 32%;
            }
        }

        @@media (min-width: 768px) and (max-width: 991px) {

            #Timeline-Style .cd-timeline {
                overflow: initial;
                margin: 2em auto;
                margin-top: 0;
            }

            .timeline-pf-pic {
                left: 30px;
                float: left;
                top: 0;
                position: relative;
            }

            #Timeline-Style .cd-timeline__container {
                width: 90%;
                max-width: 100%;
                padding-top: 34px;
                float: left;
                margin-left: 50px;
            }

            #Timeline-Style.single_leaf_layout .cd-timeline__content {
                float: left !important;
                width: 84%;
                left: 0px;
                padding: 0;
            }

            #Timeline-Style.single_leaf_layout .cd-timeline__img {
                left: 0px;
            }

            #Timeline-Style.single_leaf_layout .cd-timeline__container::before {
                left: 18px;
            }

            #Timeline-Style .cd-timeline__content p {
                height: auto !important;
            }

                #Timeline-Style .cd-timeline__content p span {
                    margin-bottom: 5px;
                }

            .timeline-pf-pic img {
                border-radius: 500px;
                height: 80px;
                width: 80px;
            }

            .single_leaf_layout {
                float: left;
                width: 100%;
            }

            #Timeline-Style.single_leaf_layout .cd-timeline__date {
                position: absolute;
                left: -34% !important;
                right: 0px !important;
                text-align: left !important;
                top: 20px;
            }

            #Timeline-Style.single_leaf_layout .cd-timeline__year {
                top: 0px !important;
                left: -32.5% !important;
            }

            #Timeline-Style .cd-timeline__footer {
                float: left;
                width: 100%;
            }

            #Timeline-Style .cd-timeline-header {
                position: relative;
                z-index: 9;
            }

            .step-checkbox-div {
                width: 48%;
            }
        }

        @@media (max-width: 767px) {

            #Timeline-Style .cd-timeline {
                overflow: initial;
                margin: 2em auto;
                margin-top: 0;
            }

            .timeline-pf-pic {
                left: 30px;
                float: left;
                top: 0;
                position: relative;
            }

            #Timeline-Style .cd-timeline__container {
                width: 90%;
                max-width: 100%;
                padding-top: 34px;
                float: left;
                margin-left: 50px;
            }

            #Timeline-Style.single_leaf_layout .cd-timeline__content {
                float: left !important;
                width: 75%;
                left: 0px;
                padding: 0;
            }

            #Timeline-Style.single_leaf_layout .cd-timeline__img {
                left: 0px;
            }

            #Timeline-Style.single_leaf_layout .cd-timeline__container::before {
                left: 18px;
            }

            #Timeline-Style .cd-timeline__content p {
                height: auto !important;
            }

                #Timeline-Style .cd-timeline__content p span {
                    margin-bottom: 5px;
                }

            .timeline-pf-pic img {
                border-radius: 500px;
                height: 80px;
                width: 80px;
            }

            .single_leaf_layout {
                float: left;
                width: 100%;
            }

            #Timeline-Style.single_leaf_layout .cd-timeline__date {
                position: absolute;
                left: -117px !important;
                right: 0px !important;
                text-align: left !important;
                top: 20px;
            }

            #Timeline-Style.single_leaf_layout .cd-timeline__year {
                top: 0px !important;
                left: -115px !important;
            }

            #Timeline-Style .cd-timeline__footer {
                float: left;
                width: 100%;
            }

            #Timeline-Style .cd-timeline-header {
                position: relative;
                z-index: 9;
            }

            .cd-timeline-header h2, .story-text h2, #page-wrapper h2 {
                font-size: 18px !important;
            }

            .step-checkbox-div {
                width: 100%;
            }

            .story-text {
                width: 45vw !important;
                margin-left: 64px !important;
                text-align: right !important;
            }

            .story-btn {
                width: 20vw !important;
            }
        }

        @@media (max-width:350px) {
            #Timeline-Style .cd-timeline__container {
                width: 90%;
                max-width: 100%;
                padding-top: 34px;
                float: left;
                margin-left: 40px;
            }

            #Timeline-Style.single_leaf_layout .cd-timeline__year {
                top: 0px !important;
                left: -110px !important;
            }

            #Timeline-Style.single_leaf_layout .cd-timeline__date {
                position: absolute;
                left: -110px !important;
                right: 0px !important;
                text-align: left !important;
                top: 20px;
            }

            .story-text {
                width: 72vw !important;
                margin-left: 0px !important;
                text-align: right !important;
            }
        }
    </style>

}

@section MainContentHolder{





    <div class="row">

        <div class="col-xs-12">

            <div class="row">

                <div class="glossy-right-side-container col-xs-12" style="padding-top:30px;">


                    <div class="col-xs-12" style="padding:0px 0px;margin-bottom:20px;">
                        <div class="col-lg-12">
                            <h2 class="page-header page-header-change" style="border-bottom:5px solid #f9c751!important;color:#fff;">
                                <i class="fa fa-clock-o"></i> Story of <span> @ViewBag.Client.ChildName</span>

                                <span class="view-btn backto_listspan hidden-xs">
                                    <a href="javascript:void(0);" onclick="window.history.back();" class="glossy-button-button anchor_yellow" style="text-decoration:none;">
                                        Back

                                        <span class="glossy-button-before"></span>
                                        <span class="glossy-button-after"></span>

                                    </a>

                                </span>
                            </h2>
                        </div>


                    </div>


                    <div class="col-sm-12">

                        <button type="button" class="btn btn-info pull-right" data-toggle="tooltip" title="expand all" id="expand-btn" style="border-radius:0px; margin-right: 25px;">
                            <i class="fa fa-expand"></i>
                        </button>

                        <button type="button" class="btn btn-info pull-right" id="adv-btn" style="border-radius:0px;">
                            <i class="fa fa-filter"></i>  Filter
                        </button>

                    </div>


                    <div class="col-sm-12 parent-stepcheck" style="display:none">
                        @*<div class="col-sm-12">
                            <h4>Advance Search</h4>
                                    </div>*@
                        <div class="col-sm-12" style="padding:15px;">

                            @if (ViewBag.ActiveSteps.Count > 0)
                            {
                                <div class="step-checkbox-div">
                                    <input type="checkbox" name="selectall-step" value="selectall" checked>
                                    <label style="">Select All</label>
                                </div>
                            }
                            @foreach (var item in ViewBag.ActiveSteps)
                            {

                                <div class="step-checkbox-div">
                                    <input data-type="step-checkbox" type="checkbox" name="casenote_@item.StepId" value="@item.StepId" checked="checked">
                                    <label style="" data-toggle="tooltip" title="@item.StepName">@item.StepName</label>
                                </div>

                            }



                        </div>
                        <div class="col-sm-12 text-center">
                            <button type="button" id="search_by_step_btn" style="border-radius:0px;" class="btn btn-success">Search</button>
                            @*<button type="button" id="clear_filter" style="border-radius:0px;" class="btn btn-danger">clear</button>*@
                        </div>


                    </div>


                    <div class="col-lg-12">

                        <div id="Timeline-Style" class="single_leaf_layout col-xs-12">

                            <section class="cd-timeline js-cd-timeline">

                                @*@{
                                    var _image = "/Images/prof-image.png";
                                    if (!string.IsNullOrEmpty(ViewBag.Client.Profilepic))
                                    {
                                        _image= "data:image/jpg;base64," + ViewBag.Client.Profilepic;
                                    }

                                    ViewBag.Client.Profilepic = string.Empty; //for avoiding serialization issue on long image



                                    }*@

                                <span class="timeline-pf-pic">
                                    @*<img src="http://flatfull.com/themes/angulr/angular/img/a0.jpg" />*@
                                    <img src="@(string.IsNullOrEmpty(ViewBag.ProfilePic) ? "/Images/ic_male.png" :  "data:image/jpg;base64,"+ ViewBag.ProfilePic)" />
                                    @*<img src="@_image" />*@
                                </span>
                                <div class="cd-timeline__container">




                                </div>
                            </section> <!-- cd-timeline -->


                        </div>

                    </div>



                </div>

            </div>

        </div>
        @*<div class="col-lg-12">
                <button type="button" class="btn btn-default" onclick="window.history.back()">Back</button>
                <h2 class="page-header page-header-change" style="border-bottom:5px solid #f9c751!important;color:#fff;text-align:center;">

                    Story of <span> @ViewBag.Client.ChildName</span>
                </h2>


            </div>*@

        @*<div class="col-lg-12" style="border-bottom: 4px solid #f9c751 !important;color: #fff;margin-top: 20px;margin-bottom: 20px;float:left;width:100%;">
                <div style="width: 5vw;display:inline-block;text-align: right;float:left;" class="story-btn">
                    <button type="button" class="btn btn-default" onclick="window.history.back()"
                            style="margin-top: 10px;background:#9b59b6 !important;border-radius: 0px;">
                        <i class="fa fa-arrow-left" style="padding-right:5px;"></i><span>Back</span>
                    </button>
                </div>

                <div style="width:72vw;display:inline-block;text-align: center;float:left;" class="story-text">
                    <h2 class="" style="margin-top: 10px;">
                        Story of <span> @ViewBag.Client.ChildName</span>
                    </h2>
                </div>



            </div>*@

        <!--<div class="col-lg-12" style="color:#fff;">
            TREE View <input type="checkbox" name="treeview" />

        </div> -->




    </div>




    <script src="~/Content/underscore-min.js"></script>
    @*<script src="~/Content/vertical-timeline/js/main.js"></script>*@



    <script type="text/javascript">



        var _TimeLineScope = {
            cons: {
                clientId: "@ViewBag.ClientId",
                pageSize: 10,
                @*Client:@Html.Raw(Json.Encode(jsonModel)),*@
                Client:@Html.Raw(Json.Encode(ViewBag.Client)),
                _TLDateFormat:'MMM DD'
                // _TLDateFormat:'MM/DD/YYYY'

            },
            filterIds:"",
            urls: {

                getTimelines: '@Url.Action("GetTimeLine","Roster")'
            },
            init: function () {
                self = this;
                self.initEvents();
                //setTimeout(function(){
                self.getTimelineList(1);
                //  },2000);

            },
            initEvents: function () {
                self = this;
                $('[data-toggle="tooltip"]').tooltip({container:'body'});

                $('.timeline-pf-pic img').zoomify();

                $(document).on("click","#expand-btn",function(e){
                    e.preventDefault();

                    if($("#expand-btn i").hasClass('fa-expand')) //is expand
                    {
                        $(".expandable-body").slideDown();
                        $("#expand-btn i").addClass('fa-compress').removeClass('fa-expand');
                        $("#expand-btn").attr("title","Collapse all");
                        $(".content-expa-arow").removeClass('toggle-down').addClass('toggle-up');
                    }else{
                        $(".expandable-body").slideUp();
                        $("#expand-btn i").addClass('fa-expand').removeClass('fa-compress');
                        $("#expand-btn").attr("title","Expand all");

                        $(".content-expa-arow").removeClass('toggle-up').addClass('toggle-down');
                    }

                    $('[data-toggle="tooltip"]').tooltip('destroy');
                    setTimeout(function(){
                        $('[data-toggle="tooltip"]').tooltip();
                    },200);

                });

                $(".expandable-body").slideToggle()


                $(document).on("change",'[name="selectall-step"]',function(e){
                    e.preventDefault();

                    var _allstepCheckbox = $('.parent-stepcheck input[type="checkbox"][name!="selectall-step"]');
                    if(this.checked){ //if select all
                        _allstepCheckbox.prop("checked",true);
                    }else{ //unselect all
                        _allstepCheckbox.prop("checked",false);
                    }

                });

                $(document).on("change", '[data-type="step-checkbox"]',function(e){
                    var _slctall=$('[name="selectall-step"]');
                    if($('[data-type="step-checkbox"]').length == $('[data-type="step-checkbox"]:checked').length){ //if all steps checked
                        _slctall.prop('checked',true);
                    }else{
                        _slctall.prop('checked',false);
                    }

                });


                $(document).on("click","#search_by_step_btn",function(e){
                    e.preventDefault();

                    var _stepIds=[];
                    $.each($(".parent-stepcheck input:checked"),function(i,obj){
                        obj.value = parseInt(obj.value);

                        if(!isNaN(obj.value)){
                            _stepIds.push(obj.value);
                        }
                    });

                    if(!_stepIds.length){

                        customAlert("Select anyone step from filter");
                        return false;
                    }
                    self.filterIds = _stepIds.join(',');
                    self.getTimelineList(1);

                });

                //clear_filter

                $(document).on("click","#clear_filter",function(e){
                    e.preventDefault();
                    $.each($(".parent-stepcheck input:checked"),function(i,obj){ obj.checked=false; });
                    self.filterIds='';
                    self.getTimelineList(1);
                });

                $(document).on("click",".cd-timeline-header", function(){

                    var _eventId=$(this).parents(".main-block").data('id');
                    var _arrowEle = $(".main-block[data-id='"+_eventId+"'] .content-expa-arow");


                    $(".expandable-body[data-id='"+_eventId+"']").slideToggle();


                    //if(_arrowEle.hasClass('fa-angle-up')){
                    //    _arrowEle.removeClass('fa-angle-up').addClass('fa-angle-down');
                    //}else{
                    //    _arrowEle.removeClass('fa-angle-down').addClass('fa-angle-up');
                    //}

                    if(_arrowEle.hasClass('toggle-down'))
                    {
                        _arrowEle.switchClass('toggle-down','toggle-up');
                    }
                    else{
                        _arrowEle.switchClass('toggle-up','toggle-down');
                    }


                });

                $(document).on("click","#adv-btn",function(e){
                    $(".parent-stepcheck").slideToggle()


                });

                $(document).on("change",'[name="treeview"]',function(e){
                    //var _val = $(this).val();
                    if(!$('[name="treeview"]')[0].checked){
                        $("#Timeline-Style").addClass('single_leaf_layout');
                    }else{
                        $("#Timeline-Style").removeClass('single_leaf_layout');
                    }
                    // new VerticalTimeline(document.getElementsByClassName("js-cd-timeline")[0])

                });


            },
            getTimelineList: function (pageNo) {
                self = this;

                $.ajax({

                    type: "POST",
                    url: self.urls.getTimelines.concat('?clientid=',self.cons.clientId,'&pagesize=',self.cons.pageSize,'&pageno=',pageNo,'&stepIds=',self.filterIds),
                    beforeSend: function () { $("#spinner").show(); },
                    dataType: 'json',
                    contentType: "application/json;",
                    success: function (data) {
                        // if (data.length) {
                        self.drawTimeline(data);
                        //  }
                    },
                    error: function () {

                    },
                    complete:function(res){
                        $("#spinner").hide();
                    }

                });

            },
            drawTimeline: function (data) {
                $(".cd-timeline__container").html('');

                if(!data || data.length==0){
                    var _tmpStr = $("#timeline-card_nodata").html();
                    var _compiledStr = _.template(_tmpStr)();
                    $(".cd-timeline__container").append(_compiledStr);
                    return false;
                }
                data.forEach(function (obj) {


                    if(obj.EventBodyJson ==""){obj.EventBodyJson="{}"; }
                    if(obj.EventBodyJson){

                        var myjson=JSON.parse(obj.EventBodyJson);
                        if(myjson.hasOwnProperty('root')){
                            obj.EventBodyJson = JSON.stringify(myjson.root);
                        }

                        var _tmpStr = $("#timeline-card_" + obj.StepId).html();
                        var _compiledStr = _.template(_tmpStr)({data:obj});
                        $(".cd-timeline__container").append(_compiledStr);
                    }

                });


                //force push animation when ajax load
                //new VerticalTimeline(document.getElementsByClassName("js-cd-timeline")[0])

            },
            Utilities: {

                getTimelineDate: function (dateStr) {


                    var sm = moment(dateStr).format('MMM DD');

                    return sm;
                },
                renderTimelineDate:function(data,jsn){

                    var _tmpstr = $("#timeline-date").html();
                    return _.template(_tmpstr)({data:data,jsn:jsn});
                },
                renderHeader:function(data,jsn,isDisability,isMentalHealth){
                    debugger;
                    var _tmpstr = $("#timeline-header").html();

                    if(isDisability){
                        if(jsn.YakkrCode=="304" || jsn.YakkrCode=="300" ){
                            //   data.StepName="Found Disability after accepting the child to the program";
                            data.StepName="Possible Disability";
                        }else if(jsn.YakkrCode=="302"){
                            data.StepName="Qualifying Disability";
                        }
                    }

                    if(data.StepId==14)
                    {
                        if(jsn.TransitionTypeChange==1)
                        {
                            data.StepName="Transition Type Changed";

                        }
                        else if(jsn.IsFutureTransition==1)
                        {
                            data.StepName="Transition Mandatory";
                        }
                        else if(jsn.IsFutureTransition==0)
                        {
                            data.StepName="Transition Elective";
                        }
                        
                    }

                    if(data.StepId==11)
                    {
                        if(jsn.IsTransitionedWithdrawn==2|| jsn.IsTransitionedWithdrawn==3){ //--- Active record exists in the new program year, Administrative withdrawal record exists for the previous program year---- // Elective Transition Withdrawal //

                            data.StepName="Administrative Withdrawal";
                        }
                    }


                    if(isMentalHealth){
                        data.StepName="Mental Health";
                    }

                    return _.template(_tmpstr)({data:data,jsn:jsn});
                },
                renderfooter:function(data,jsn)
                {

                    var _tmpstr = $("#timeline-footer").html();
                    return _.template(_tmpstr)({data:data,jsn:jsn});
                },
                renderTags:function(data,jsn){

                    var tagstr="-";


                    //if(jsn.hasOwnProperty('TagList') && jsn.TagList.length){
                    //    tagstr="";

                    //    jsn.TagList.forEach(function(obj){
                    //        if(obj.TagName && obj.TagKey){
                    //            tagstr+='<span data-tagid="'+obj.TagKey+'" class="badge rect-badge">'+obj.TagName+'</span>';
                    //        }
                    //    });

                    //};

                    if(jsn.hasOwnProperty('TagList') && jsn.TagList.indexOf('TagName')>-1)
                    {
                        var parseHtml=$.parseHTML(jsn.TagList);
                        tagstr="";
                        for(var i=0;i<parseHtml.length;i++)
                        {
                            tagstr+='<span  style="padding:5px!important;border-radius:4px;" data-tagid="'+parseHtml[i].innerHTML+'" class="badge rect-badge">'+parseHtml[i+1].innerHTML+'</span>';

                            i=i+1;

                        }
                    }


                    return  tagstr;
                },

                getAge:function(birthDate, ageAtDate,type){

                    var daysInMonth = 30.436875; // Days in a month on average.
                    var dob = new Date(birthDate);
                    var aad;
                    if (!ageAtDate) aad = new Date();
                    else aad = new Date(ageAtDate);
                    var yearAad = aad.getFullYear();
                    var yearDob = dob.getFullYear();
                    var years = yearAad - yearDob; // Get age in years.
                    dob.setFullYear(yearAad); // Set birthday for this year.
                    var aadMillis = aad.getTime();
                    var dobMillis = dob.getTime();
                    if (aadMillis < dobMillis) {
                        --years;
                        dob.setFullYear(yearAad - 1); // Set to previous year's birthday
                        dobMillis = dob.getTime();
                    }
                    var days = (aadMillis - dobMillis) / 86400000;
                    var monthsDec = days / daysInMonth; // Months with remainder.
                    var months = Math.floor(monthsDec); // Remove fraction from month.
                    days = Math.floor(daysInMonth * (monthsDec - months));
                    // return {years: years, months: months, days: days};

                    //return years+' Years '+months+ ' Months '+ days +' Days';
                    if(type==1)
                    {
                        return years+' Years '+months+ ' Months '+ days +' Days';
                    }else{
                        return {years: years, months: months, days: days};
                    }

                }


            }


        };


        (function ($, window, undefined) {
            _TimeLineScope.init();

        })(jQuery, window);



    </script>


    <script type="text/template" id="timeline-date">

        <span class="cd-timeline__date cd-timeline__year"><%=moment(data.EventCreatedDate).format("YYYY")%></span>
        <span class="cd-timeline__date">
            <%=moment(data.EventCreatedDate).format(_TimeLineScope.cons._TLDateFormat)%>
        </span>

    </script>

    <script type="text/template" id="timeline-footer">

        <div class="cd-timeline__footer">
            <%=_TimeLineScope.Utilities.getAge(_TimeLineScope.cons.Client.DOB, data.EventCreatedDate,1)%>
        </div>
    </script>

    <script type="text/template" id="timeline-header">
        <h2 style="padding: 5px 0px;"><%=data.StepName%></h2>
        <i class="fa fa-angle-down content-expa-arow toggle-down"></i>
    </script>



    <script type="text/ng-template" id="timeline-card_nodata">

        <div class="cd-timeline__block js-cd-block main-block" data-id="0">
            <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">

                <i class="fa fa-exclamation-circle"></i>
            </div> <!-- cd-timeline__img -->
            <div class="cd-timeline__content js-cd-content">
                <div class="cd-timeline-header">

                    No Records Found
                </div>
                <div class="cd-timeline-body">


                </div>



            </div> <!-- cd-timeline__content -->

        </div> <!-- cd-timeline__block -->

    </script>

    <!--Intake Template id:1-->
    <script type="text/template" id="timeline-card_1">


        <div class="cd-timeline__block js-cd-block main-block" data-id="<%=data.TimeLineId%>">
            <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">

                <i class="fa fa-user-plus"></i>
            </div> <!-- cd-timeline__img -->
            <div class="cd-timeline__content js-cd-content">
                <div class="cd-timeline-header">
                    <%= _TimeLineScope.Utilities.renderHeader(data,jsn)%>
                </div>
                <div class="cd-timeline-body">

                    <% var jsn=JSON.parse(data.EventBodyJson); %>
                    <div class="expandable-body" data-id="<%=data.TimeLineId%>">
                        <p>
                            <span class="client-span"><%=_TimeLineScope.cons.Client.ChildName %></span> intake as new student on

                            <span class="evecdate-span"><%=moment(data.EventCreatedDate).format('MM/DD/YYYY') %></span>
                            @* <span> for program year <strong style="font-weight:bold;"><%=data.ActiveProgramYear %></strong></span>*@


                        </p>
                        <div>
                            <p style="margin:5px 0px;font-weight:bold;">
                                <i title="family type" class="fa fa-users" style="color:#536dca;"></i>
                                <%= jsn.FamilyType == 1 ? 'Single Parent Family'  : jsn.FamilyType == 2 ? 'Two parent Family' : '-' %>
                            </p>


                            <%if( jsn.FamilyHomeless == 1){ %>
                            <p style="margin:5px 0px;margin-left: 20px;font-weight:bold;"> Family is Homeless</p>

                            <%}%>

                        </div>

                    </div>
                </div>
                <%= _TimeLineScope.Utilities.renderTimelineDate(data,jsn)%>
                <%= _TimeLineScope.Utilities.renderfooter(data,jsn)%>
            </div> <!-- cd-timeline__content -->

        </div> <!-- cd-timeline__block -->

    </script>
    <!--Accepted Template id:2-->
    <script type="text/template" id="timeline-card_2">

        <div class="cd-timeline__block js-cd-block main-block" data-id="<%=data.TimeLineId%>">
            <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">

                <i class="fa fa-user"></i>
            </div> <!-- cd-timeline__img -->
            <div class="cd-timeline__content js-cd-content">
                <div class="cd-timeline-header">
                    <%= _TimeLineScope.Utilities.renderHeader(data,jsn)%>
                </div>
                <div class="cd-timeline-body">

                    <% var jsn=JSON.parse(data.EventBodyJson); %>
                    <div class="expandable-body" data-id="<%=data.TimeLineId%>">
                        <p>
                            <span class="client-span"><%=_TimeLineScope.cons.Client.ChildName %></span> Accepted  as a new student
                            <span> for program year <strong style="font-weight:bold;"><%=data.ActiveProgramYear %></strong></span>

                        </p>

                        <p style="min-height:20px;">
                            <label class="col-xs-2 lbl-text" style="font-weight:bold;">Center</label>
                            <label class="col-xs-10"><%=jsn.CenterName%></label>
                        </p>
                        <p style="min-height:20px;">
                            <label class="col-xs-2 lbl-text" style="font-weight:bold;">Classroom</label>
                            <label class="col-xs-10"><%=jsn.ClassroomName%></label>
                        </p>
                        <p style="min-height:20px;">
                            <label class="col-xs-2 lbl-text" style="font-weight:bold;">Program Type</label>
                            <label class="col-xs-10"><%=jsn.ProgramType%></label>
                        </p>
                    </div>

                </div>
                <%= _TimeLineScope.Utilities.renderTimelineDate(data,jsn)%>
                <%= _TimeLineScope.Utilities.renderfooter(data,jsn)%>
            </div> <!-- cd-timeline__content -->

        </div> <!-- cd-timeline__block -->

    </script>


    <!--First Day of Service Template id:3-->
    <script type="text/template" id="timeline-card_3">

        <div class="cd-timeline__block js-cd-block main-block" id="card_3" data-id="<%=data.TimeLineId%>">
            <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">

                <i class="fa fa-sign-in"></i>
            </div> <!-- cd-timeline__img -->
            <div class="cd-timeline__content js-cd-content">

                <div class="cd-timeline-header">
                    <%= _TimeLineScope.Utilities.renderHeader(data,jsn)%>
                </div>
                <div class="cd-timeline-body">

                    <div class="expandable-body" data-id="<%=data.TimeLineId%>">
                        <% var jsn=JSON.parse(data.EventBodyJson); %>
                        <p style="min-height:20px;">
                            <label class="col-xs-4" style="font-weight:bold;font-size:16px;"><%=moment(data.EventCreatedDate).format('MMMM DD, YYYY')%></label>
                        </p>
                    </div>
                </div>
                <%= _TimeLineScope.Utilities.renderTimelineDate(data,jsn)%>
                <%= _TimeLineScope.Utilities.renderfooter(data,jsn)%>
            </div> <!-- cd-timeline__content -->

        </div> <!-- cd-timeline__block -->

    </script>

    <!--FirstDay of Absent Template id:4-->
    <script type="text/template" id="timeline-card_4">

        <div class="cd-timeline__block js-cd-block main-block" id="card_3" data-id="<%=data.TimeLineId%>">
            <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">

                <i class="fa fa-warning"></i>
            </div> <!-- cd-timeline__img -->
            <div class="cd-timeline__content js-cd-content">

                <div class="cd-timeline-header">
                    <%= _TimeLineScope.Utilities.renderHeader(data,jsn)%>
                </div>
                <div class="cd-timeline-body">

                    <div class="expandable-body" data-id="<%=data.TimeLineId%>">
                        <% var jsn=JSON.parse(data.EventBodyJson); %>
                        <p style="min-height:20px;">
                            <label class="col-lg-10" style="font-size:16px;font-weight:bold;"><%= moment(data.EventCreatedDate).format('MMMM DD, YYYY')%></label>
                        </p>
                    </div>
                </div>
                <%= _TimeLineScope.Utilities.renderTimelineDate(data,jsn)%>
                <%= _TimeLineScope.Utilities.renderfooter(data,jsn)%>
            </div> <!-- cd-timeline__content -->

        </div> <!-- cd-timeline__block -->

    </script>


    <!--Referral service Template id:5-->
    <script type="text/template" id="timeline-card_5">

        <div class="cd-timeline__block js-cd-block main-block" id="card_3" data-id="<%=data.TimeLineId%>">
            <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">

                <i class="fa fa-road"></i>
            </div> <!-- cd-timeline__img -->
            <div class="cd-timeline__content js-cd-content">

                <div class="cd-timeline-header">
                    <%= _TimeLineScope.Utilities.renderHeader(data,jsn)%>
                </div>
                <div class="cd-timeline-body">

                    <div class="expandable-body" data-id="<%=data.TimeLineId%>">
                        <% var jsn=JSON.parse(data.EventBodyJson); %>

                        <p style="min-height:20px;">
                            <label class="col-xs-2 lbl-text" style="font-weight:bold;">Service</label>
                            <label class="col-xs-10"><%=jsn.Service %></label>
                        </p>

                        <p style="min-height:20px;">
                            <label class="col-xs-2 lbl-text" style="font-weight:bold;">Company Name</label>
                            <label class="col-xs-10"><%=jsn.CompanyName %></label>
                        </p>


                        <p style="min-height:20px;">
                            <label class="col-xs-2 lbl-text" style="font-weight:bold;">Date</label>
                            <label class="col-xs-10" style="font-size:16px;font-weight:bold;"><%=moment(data.EventCreatedDate).format('MMMM DD, YYYY')%></label>
                        </p>
                    </div>
                </div>
                <%= _TimeLineScope.Utilities.renderTimelineDate(data,jsn)%>
                <%= _TimeLineScope.Utilities.renderfooter(data,jsn)%>
            </div> <!-- cd-timeline__content -->

        </div> <!-- cd-timeline__block -->

    </script>



    <!--FPA Template id:6-->
    <script type="text/template" id="timeline-card_6">

        <div class="cd-timeline__block js-cd-block main-block" id="card_3" data-id="<%=data.TimeLineId%>">
            <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">

                <i class="fa fa-bullseye"></i>
            </div> <!-- cd-timeline__img -->
            <div class="cd-timeline__content js-cd-content">

                <div class="cd-timeline-header">
                    <%= _TimeLineScope.Utilities.renderHeader(data,jsn)%>
                </div>
                <div class="cd-timeline-body">

                    <div class="expandable-body" data-id="<%=data.TimeLineId%>">
                        <% var jsn=JSON.parse(data.EventBodyJson); %>

                        <p style="min-height:20px;">
                            <label class="col-xs-2 lbl-text" style="font-weight:bold;">Goal</label>
                            <label class="col-xs-10"><%=jsn.GoalTopic %></label>
                        </p>



                        <p style="min-height:20px;">
                            <label class="col-xs-2 lbl-text" style="font-weight:bold;">Category</label>
                            <label class="col-xs-10"><%=jsn.CategoryName %></label>
                        </p>

                        <p style="min-height:20px;">
                            <label class="col-xs-2 lbl-text" style="font-weight:bold;">Date</label>
                            <label class="col-xs-10" style="font-weight:bold;font-size:16px;"><%=moment(data.EventCreatedDate).format('MMMM DD, YYYY')%></label>
                        </p>
                    </div>
                </div>
                <%= _TimeLineScope.Utilities.renderTimelineDate(data,jsn)%>
                <%= _TimeLineScope.Utilities.renderfooter(data,jsn)%>
            </div> <!-- cd-timeline__content -->

        </div> <!-- cd-timeline__block -->

    </script>


    <!--excessive absent   Template id:7-->
    <script type="text/template" id="timeline-card_7">

        <div class="cd-timeline__block js-cd-block main-block" id="card_3" data-id="<%=data.TimeLineId%>">
            <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">

                <i class="fa fa-dashboard"></i>
            </div> <!-- cd-timeline__img -->
            <div class="cd-timeline__content js-cd-content">

                <div class="cd-timeline-header">
                    <%= _TimeLineScope.Utilities.renderHeader(data,jsn)%>
                </div>
                <div class="cd-timeline-body">

                    <div class="expandable-body" data-id="<%=data.TimeLineId%>">
                        <% var jsn=JSON.parse(data.EventBodyJson); %>
                    </div>
                </div>
                <%= _TimeLineScope.Utilities.renderTimelineDate(data,jsn)%>
                <%= _TimeLineScope.Utilities.renderfooter(data,jsn)%>
            </div> <!-- cd-timeline__content -->

        </div> <!-- cd-timeline__block -->

    </script>



    <!--Home Visit Template id:8-->
    <script type="text/template" id="timeline-card_8">

        <div class="cd-timeline__block js-cd-block main-block" id="card_3" data-id="<%=data.TimeLineId%>">
            <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">

                <i class="fa fa-home"></i>
            </div> <!-- cd-timeline__img -->
            <div class="cd-timeline__content js-cd-content">

                <div class="cd-timeline-header">
                    <%= _TimeLineScope.Utilities.renderHeader(data,jsn)%>
                </div>
                <div class="cd-timeline-body">

                    <div class="expandable-body" data-id="<%=data.TimeLineId%>">
                        <% var jsn=JSON.parse(data.EventBodyJson); %>


                        <p style="height:20px;">
                            <label class="col-xs-2 lbl-text" style="font-weight:bold">Date</label>
                            <label class="col-xs-10" style="font-weight:bold;font-size:16px;"> <%=jsn.EventDate %></label>
                        </p>

                        <p style="height:20px;">
                            <label class="col-xs-2 lbl-text" style="font-weight:bold">Notes</label>
                            <label class="col-xs-10"> <%=jsn.Notes %></label>
                        </p>

                        <p style="height:20px;">
                            <label class="col-xs-2 lbl-text" style="font-weight:bold;">Name, Role</label>
                            <label class="col-xs-10"><%=jsn.StaffName %>, <%=jsn.RoleName%></label>
                        </p>

                        <p style="height:20px;">
                            <label class="col-xs-2 lbl-text" style="font-weight:bold;">Start Time</label>
                            <label class="col-xs-4"><%=jsn.StartTime %></label>
                        </p>

                        <p style="height:20px;">
                            <label class="col-xs-2 lbl-text" style="font-weight:bold;">End Time</label>
                            <label class="col-xs-4"><%=jsn.EndTime %></label>
                        </p>

                        <p style="height:20px;">
                            <label class="col-xs-2 lbl-text" style="font-weight:bold;">Status</label>

                            <%if(jsn.IsVisited){%>
                            <label class="col-xs-10" style="color:green;">Completed</label>
                            <%}else{%>
                            <label class="col-xs-10" style="color:red;">Scheduled</label>

                            <%}%>
                        </p>



                    </div>
                </div>
                <%= _TimeLineScope.Utilities.renderTimelineDate(data,jsn)%>
                <%= _TimeLineScope.Utilities.renderfooter(data,jsn)%>
            </div> <!-- cd-timeline__content -->

        </div> <!-- cd-timeline__block -->

    </script>


    <!--Center Visit Template id:9-->
    <script type="text/template" id="timeline-card_9">

        <div class="cd-timeline__block js-cd-block main-block" id="card_3" data-id="<%=data.TimeLineId%>">
            <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">

                <i class="fa fa-institution"></i>
            </div> <!-- cd-timeline__img -->
            <div class="cd-timeline__content js-cd-content">

                <div class="cd-timeline-header">
                    <%= _TimeLineScope.Utilities.renderHeader(data,jsn)%>
                </div>
                <div class="cd-timeline-body">

                    <div class="expandable-body" data-id="<%=data.TimeLineId%>">
                        <% var jsn=JSON.parse(data.EventBodyJson); %>

                        <p style="height:20px;">
                            <label class="col-xs-2 lbl-text" style="font-weight:bold">Date</label>
                            <label class="col-xs-10" style="font-weight:bold;font-size:16px;"> <%=jsn.EventDate %></label>
                        </p>

                        <p style="height:20px;">
                            <label class="col-xs-2 lbl-text" style="font-weight:bold">Notes</label>
                            <label class="col-xs-10"> <%=jsn.Notes %></label>
                        </p>

                        <p style="height:20px;">
                            <label class="col-xs-2 lbl-text" style="font-weight:bold;">Name, Role</label>
                            <label class="col-xs-10"><%=jsn.StaffName %>, <%=jsn.RoleName%></label>
                        </p>

                        <p style="height:20px;">
                            <label class="col-xs-2 lbl-text" style="font-weight:bold;">Start Time</label>
                            <label class="col-xs-4"><%=jsn.StartTime %></label>
                        </p>

                        <p style="height:20px;">
                            <label class="col-xs-2 lbl-text" style="font-weight:bold;">End Time</label>
                            <label class="col-xs-4"><%=jsn.EndTime %></label>
                        </p>

                        <p style="height:20px;">
                            <label class="col-xs-2 lbl-text" style="font-weight:bold;">Status</label>

                            <%if(jsn.IsVisited){%>
                            <label class="col-xs-10" style="color:green;">Completed</label>
                            <%}else{%>
                            <label class="col-xs-10" style="color:red;">Scheduled</label>

                            <%}%>
                        </p>

                    </div>
                </div>
                <%= _TimeLineScope.Utilities.renderTimelineDate(data,jsn)%>
                <%= _TimeLineScope.Utilities.renderfooter(data,jsn)%>
            </div> <!-- cd-timeline__content -->

        </div> <!-- cd-timeline__block -->

    </script>


    <!--Case Note Template id:10-->
    <script type="text/template" id="timeline-card_10">
        <% var self=_TimeLineScope;%>
        <div class="cd-timeline__block js-cd-block main-block" data-id="<%=data.TimeLineId%>">
            <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">

                <i class="fa fa-book"></i>
            </div> <!-- cd-timeline__img -->
            <div class="cd-timeline__content js-cd-content">
                <div class="cd-timeline-header">
                    <%= _TimeLineScope.Utilities.renderHeader(data,jsn)%>
                </div>
                <div class="cd-timeline-body">
                    <% var jsn=JSON.parse(data.EventBodyJson); %>
                    <div class="expandable-body" data-id="<%=data.TimeLineId%>">

                        <p style="height:20px;">
                            <label class="col-xs-2 lbl-text" style="font-weight:bold;">Date</label>
                            <label class="col-xs-6" style="font-weight:bold;font-size:16px;"><%= moment(jsn.CaseNoteDate).format('MMMM DD, YYYY') %></label>
                        </p>

                        <p style="height:20px;">
                            <label class="col-xs-2 lbl-text" style="font-weight:bold;">Title</label>
                            <label class="col-xs-10"> <%= jsn.Title %> </label>
                        </p>


                        <p style="height:20px;">
                            <label class="col-xs-2 lbl-text" style="font-weight:bold;">Written By</label>
                            <label class="col-xs-10"> <%= jsn.EventRoleName %></label>
                        </p>

                        <p style="height:20px;">
                            <label class="col-xs-2 lbl-text" style="font-weight:bold;">Tags</label>
                            <label class="col-xs-10"> <%= _TimeLineScope.Utilities.renderTags(data,jsn) %></label>
                        </p>
                    </div>

                </div>
                <%= _TimeLineScope.Utilities.renderTimelineDate(data,jsn)%>
                <%= _TimeLineScope.Utilities.renderfooter(data,jsn)%>
            </div> <!-- cd-timeline__content -->

        </div> <!-- cd-timeline__block -->

    </script>


    <!--Date of withdrawn Template id:11-->
    <script type="text/template" id="timeline-card_11">

        <div class="cd-timeline__block js-cd-block main-block" id="card_3" data-id="<%=data.TimeLineId%>">
            <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">

                <i class="fa fa-chain-broken"></i>
            </div> <!-- cd-timeline__img -->
            <div class="cd-timeline__content js-cd-content">
                <% var jsn=JSON.parse(data.EventBodyJson); %>
                <div class="cd-timeline-header">
                    <%= _TimeLineScope.Utilities.renderHeader(data,jsn)%>
                </div>
                <div class="cd-timeline-body">

                    <div class="expandable-body" data-id="<%=data.TimeLineId%>">
                       
                        <%if(jsn.IsTransitionedWithdrawn==1 || jsn.IsTransitionedWithdrawn==2 || jsn.IsTransitionedWithdrawn==3){%>
                        <p style="min-height:20px;">
                            <%if(jsn.IsTransitionedWithdrawn==1){%>  <!--- Mandatory Transaction happened but withdrawn from the program ---->

                            <label class="col-xs-12">Transition status changed</label>

                            <%}%>

                            <%if(jsn.IsTransitionedWithdrawn==2){%> <!----- Active record exists in the new program year, Administrative withdrawal record exists for the previous program year ---->

                            <label class="col-xs-12">Child has been withdrawn due to mandatory transition from  <%=jsn.ReferenceProgram%></label>

                            <%}%>

                            <%if(jsn.IsTransitionedWithdrawn==3){%> <!----- Elective Transition Withdrawal ---->

                            <label class="col-xs-12">Child has been withdrawn due to elective transition from <%=jsn.ReferenceProgram%></label>

                            <%}%>


                        </p>

                        <%}%>

                        <p style="min-height:20px;">
                            <label class="col-xs-2 lbl-text" style="font-weight:bold;">Date of Withdrawn</label>
                            <label class="col-xs-10" style="font-size:16px;font-weight:bold;"><%= moment(data.EventDate,"MMM DD YYYY").format('MMMM DD, YYYY')%></label>
                        </p>

                        <p style="min-height:20px;">
                            <label class="col-xs-2 lbl-text" style="font-weight:bold;">Created By</label>
                            <label class="col-xs-10"><%=jsn.EventRoleName %></label>
                        </p>

                    </div>
                </div>
                <%= _TimeLineScope.Utilities.renderTimelineDate(data,jsn)%>
                <%= _TimeLineScope.Utilities.renderfooter(data,jsn)%>
            </div> <!-- cd-timeline__content -->

        </div> <!-- cd-timeline__block -->

    </script>

    <!--Date of Dropped Template id:12-->
    <script type="text/template" id="timeline-card_12">

        <div class="cd-timeline__block js-cd-block main-block" id="card_3" data-id="<%=data.TimeLineId%>">
            <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">

                <i class="fa fa-user"></i>
            </div> <!-- cd-timeline__img -->
            <div class="cd-timeline__content js-cd-content">

                <div class="cd-timeline-header">
                    <%= _TimeLineScope.Utilities.renderHeader(data,jsn)%>
                </div>
                <div class="cd-timeline-body">

                    <div class="expandable-body" data-id="<%=data.TimeLineId%>">
                        <% var jsn=JSON.parse(data.EventBodyJson); %>

                        <p style="min-height:20px;">
                            <label class="lbl-text col-lg-2" style="font-weight:bold; text-transform:none">Date of Dropped</label>
                            <label class="col-lg-10" style="font-weight:bold;font-size:16px;"> <%= moment(data.EventDate,"MMM DD YYYY").format('MMMM DD, YYYY')%></label>
                        </p>

                        <p style="min-height:20px;">
                            <label class="lbl-text col-lg-2" style="font-weight:bold; text-transform:none">Created By</label>
                            <label class="col-lg-10"> <%=jsn.EventRoleName%></label>
                        </p>
                    </div>
                </div>
                <%= _TimeLineScope.Utilities.renderTimelineDate(data,jsn)%>
                <%= _TimeLineScope.Utilities.renderfooter(data,jsn)%>
            </div> <!-- cd-timeline__content -->

        </div> <!-- cd-timeline__block -->

    </script>



    <!--Date of Re-enrollment Template id:13-->
    <script type="text/template" id="timeline-card_13">

        <div class="cd-timeline__block js-cd-block main-block" id="" data-id="<%=data.TimeLineId%>">
            <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">

                <i class="fa fa-history"></i>
            </div> <!-- cd-timeline__img -->
            <div class="cd-timeline__content js-cd-content">

                <div class="cd-timeline-header">
                    <%= _TimeLineScope.Utilities.renderHeader(data,jsn)%>
                </div>
                <div class="cd-timeline-body">

                    <div class="expandable-body" data-id="<%=data.TimeLineId%>">
                        <% var jsn=JSON.parse(data.EventBodyJson); %>


                        <p style="min-height:20px;">
                            <label class="col-xs-3 lbl-text" style="font-weight:bold;text-transform:none;">Date of Re-enrollment</label>
                            <label class="col-xs-7" style="font-weight:bold;font-size:16px;"><%= moment(data.EventDate,"MMM DD YYYY").format('MMMM DD, YYYY')%></label>
                        </p>

                        <p style="min-height:20px;">
                            <label class="col-xs-3 lbl-text" style="font-weight:bold;text-transform:none;">Created By</label>
                            <label class="col-xs-7"><%=jsn.EventRoleName %></label>
                        </p>
                    </div>
                </div>
                <%= _TimeLineScope.Utilities.renderTimelineDate(data,jsn)%>
                <%= _TimeLineScope.Utilities.renderfooter(data,jsn)%>
            </div> <!-- cd-timeline__content -->

        </div> <!-- cd-timeline__block -->

    </script>


    <!--Date of Transition Template id:14-->
    <script type="text/template" id="timeline-card_14">

        <div class="cd-timeline__block js-cd-block main-block" id="" data-id="<%=data.TimeLineId%>">
            <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">

                <i class="fa fa-history"></i>
            </div> <!-- cd-timeline__img -->
            <div class="cd-timeline__content js-cd-content">
                <% var jsn=JSON.parse(data.EventBodyJson); %>
                <div class="cd-timeline-header">
                    <%= _TimeLineScope.Utilities.renderHeader(data,jsn)%>
                </div>
                <div class="cd-timeline-body">

                    <div class="expandable-body" data-id="<%=data.TimeLineId%>">
                   
                        <p style="min-height:20px;">
                            <% if(jsn.IsFutureTransition==1 && jsn.ToProgram!=null && jsn.ToProgram!='' && jsn.TransitionTypeChange==0){%> <!--- Mandatory Transition ----->  
                            <label class="col-xs-12">Child has been transitioned - <strong><%=jsn.TransitionType%></strong> </label>
                            <%}%>

                            <%if(jsn.IsFutureTransition==0 && jsn.ToProgram!=null && jsn.ToProgram!='' && jsn.TransitionTypeChange==0){%>  <!--- Elective Transition ---->
                            <label class="col-xs-12">Transitioned from EHS to HS</label>
                            <%}%>
                            <%if(jsn.TransitionTypeChange==1){%>
                            <label class="col-xs-12">Transition type has been changed from <%=jsn.FromTransitionType%> to <%=jsn.TransitionType%></label>
                            <%}%>
                          
                        </p>

                        <p style="min-height:20px;">
                            <%if(jsn.TransitionTypeChange==1){%>
                            <label class="col-xs-2 lbl-text" style="font-weight:bold;text-transform:none;">Date of Change</label>

                            <%}else{%>
                            <label class="col-xs-2 lbl-text" style="font-weight:bold;text-transform:none;">Date of Transition</label>
                            <%}%>


                            <label class="col-xs-10" style="font-weight:bold;font-size:16px;"><%= moment(data.EventDate,"MMM DD YYYY").format('MMMM DD, YYYY')%></label>
                        </p>

                        <p style="min-height:20px;">
                            <label class="col-xs-2 lbl-text" style="font-weight:bold;text-transform:none;">Created By</label>
                            <label class="col-xs-10"><%=jsn.EventRoleName %></label>
                        </p>
                    </div>
                </div>
                <%= _TimeLineScope.Utilities.renderTimelineDate(data,jsn)%>
                <%= _TimeLineScope.Utilities.renderfooter(data,jsn)%>
            </div> <!-- cd-timeline__content -->

        </div> <!-- cd-timeline__block -->

    </script>


    <!--Disability Template id:15-->
    <script type="text/template" id="timeline-card_15">

        <div class="cd-timeline__block js-cd-block main-block" id="" data-id="<%=data.TimeLineId%>">
            <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">

                <i class="fa fa-wheelchair"></i>
            </div> <!-- cd-timeline__img -->
            <div class="cd-timeline__content js-cd-content">
                <% var jsn=JSON.parse(data.EventBodyJson); %>
                <div class="cd-timeline-header">
                    <%= _TimeLineScope.Utilities.renderHeader(data,jsn,true)%>
                </div>
                <div class="cd-timeline-body">

                    <div class="expandable-body" data-id="<%=data.TimeLineId%>">

                        <%if(jsn.YakkrCode=='300'){%>
                        <p style="color:#164475;font-size:15px;">Child has an indicated disability</p>
                        <%}%>

                        <%if(jsn.YakkrCode=='304'){%>
                        <p style="color:red;font-size:15px;">Found disability after accepting the child to the program</p>
                        <%}%>

                        <%if(jsn.YakkrCode=='302'){%>
                        <p style="color:red;font-size:15px;">Child has qualifying disability</p>
                        <%}%>

                        <p style="min-height:20px;">
                            <label class="col-xs-2 lbl-text" style="font-weight:bold;">Date</label>
                            <label class="col-xs-10" style="font-size:16px;font-weight:bold;"><%= moment(data.EventDate,"MMM DD YYYY").format('MMMM DD, YYYY')%></label>
                        </p>

                        <p style="min-height:20px;">
                            <label class="col-xs-2 lbl-text" style="font-weight:bold;">Created By</label>
                            <label class="col-xs-10"><%= jsn.EventRoleName%></label>
                        </p>
                    </div>
                </div>
                <%= _TimeLineScope.Utilities.renderTimelineDate(data,jsn)%>
                <%= _TimeLineScope.Utilities.renderfooter(data,jsn)%>
            </div> <!-- cd-timeline__content -->

        </div> <!-- cd-timeline__block -->

    </script>


    <!--Mental Health Template id:16-->
    <script type="text/template" id="timeline-card_16">

        <div class="cd-timeline__block js-cd-block main-block" id="" data-id="<%=data.TimeLineId%>">
            <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">

                <i class="fa fa-puzzle-piece"></i>
            </div> <!-- cd-timeline__img -->
            <div class="cd-timeline__content js-cd-content">
                <% var jsn=JSON.parse(data.EventBodyJson); %>
                <div class="cd-timeline-header">
                    <%= _TimeLineScope.Utilities.renderHeader(data,jsn,false,true)%>
                </div>
                <div class="cd-timeline-body">

                    <div class="expandable-body" data-id="<%=data.TimeLineId%>">
                        <%if(jsn.YakkrCode=='310'){%>
                        <p style="color:#164475;">Child has suspected mental health issue</p>
                        <%}else if(jsn.YakkrCode=='311'){%>
                        <p style="color:red;">Child has documented mental health issue</p>
                        <%}else{%>
                        <p style="color:green;">Child doesn’t have a mental health issue</p>
                        <%}%>

                        <p style="min-height:20px;">
                            <label class="col-xs-2 lbl-text" style="font-weight:bold;">Date</label>
                            <label class="col-xs-10" style="font-weight:bold;font-size:16px;"><%=moment(data.EventDate,"MMM DD YYYY").format('MMMM DD, YYYY') %></label>
                        </p>

                    </div>
                </div>
                <%= _TimeLineScope.Utilities.renderTimelineDate(data,jsn)%>
                <%= _TimeLineScope.Utilities.renderfooter(data,jsn)%>
            </div> <!-- cd-timeline__content -->

        </div> <!-- cd-timeline__block -->

    </script>



    <!--Change of Address Template id:17-->
    <script type="text/template" id="timeline-card_17">

        <div class="cd-timeline__block js-cd-block main-block" id="" data-id="<%=data.TimeLineId%>">
            <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">

                <i class="fa fa-credit-card"></i>
            </div> <!-- cd-timeline__img -->
            <div class="cd-timeline__content js-cd-content">
                <% var jsn=JSON.parse(data.EventBodyJson); %>
                <div class="cd-timeline-header">
                    <%= _TimeLineScope.Utilities.renderHeader(data,jsn)%>
                </div>
                <div class="cd-timeline-body">

                    <div class="expandable-body" data-id="<%=data.TimeLineId%>">


                        <h3 style="text-decoration:underline;font-weight:bold;padding-top:20px;">New Address</h3>

                        <%if(jsn.FamilyHomeless=='1'){%>
                        <p>Homeless</p>
                        <%}else{%>
                        <p style="line-height:1rem!important;"><%=jsn.NewStreetName%></p>
                        <p style="line-height:1rem!important;"><%=jsn.NewStreet%></p>
                        <p style="line-height:1rem!important;"><%=jsn.NewCity%></p>
                        <p style="line-height:1rem!important;"><%=jsn.NewCounty%></p>
                        <p style="line-height:1rem!important;"><%=jsn.NewState+" - "+jsn.NewZipCode%></p>
                        <%}%>





                        <h3 style="text-decoration:underline;font-weight:bold;padding-top:20px;">Old Address</h3>

                        <%if(jsn.OldZipCode==''){%>
                        <p>Homeless</p>
                        <%}else{%>
                        <p style="line-height:1rem!important;"><%=jsn.OldStreetName%></p>
                        <p style="line-height:1rem!important;"><%=jsn.OldStreet%></p>
                        <p style="line-height:1rem!important;"><%=jsn.OldCity%></p>
                        <p style="line-height:1rem!important;"><%=jsn.OldCounty%></p>
                        <p style="line-height:1rem!important;"><%=jsn.OldState+" - "+ jsn.OldZipCode%></p>
                        <%}%>
                    </div>
                </div>
                <%= _TimeLineScope.Utilities.renderTimelineDate(data,jsn)%>
                <%= _TimeLineScope.Utilities.renderfooter(data,jsn)%>
            </div> <!-- cd-timeline__content -->

        </div> <!-- cd-timeline__block -->

    </script>



    <!-- Center/Classroom change Template id:18-->
    <script type="text/template" id="timeline-card_18">

        <div class="cd-timeline__block js-cd-block main-block" id="" data-id="<%=data.TimeLineId%>">
            <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">

                <i class="fa fa-credit-card"></i>
            </div> <!-- cd-timeline__img -->
            <div class="cd-timeline__content js-cd-content">
                <% var jsn=JSON.parse(data.EventBodyJson); %>
                <div class="cd-timeline-header">
                    <%= _TimeLineScope.Utilities.renderHeader(data,jsn)%>
                </div>
                <div class="cd-timeline-body">

                    <div class="expandable-body" data-id="<%=data.TimeLineId%>">

                        <p style="min-height:20px;">
                            <label class="col-xs-2 lbl-text" style="font-weight:bold;">New Center</label>
                            <label class="col-xs-10"><%=jsn.NewCenter %></label>

                        </p>

                        <p style="min-height:20px;">
                            <label class="col-xs-2 lbl-text" style="font-weight:bold;">New Classroom</label>
                            <label class="col-xs-10"><%=jsn.NewClassRoom %></label>

                        </p>

                    </div>
                </div>
                <%= _TimeLineScope.Utilities.renderTimelineDate(data,jsn)%>
                <%= _TimeLineScope.Utilities.renderfooter(data,jsn)%>
            </div> <!-- cd-timeline__content -->

        </div> <!-- cd-timeline__block -->

    </script>


    <!---- Family Assessment (Matrix)----------->
    <script type="text/template" id="timeline-card_19">
        <div class="cd-timeline__block js-cd-block main-block" id="" data-id="<%=data.TimeLineId%>">

            <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">

                <i class="fa fa-sticky-note"></i>
            </div> <!-- cd-timeline__img -->

            <div class="cd-timeline__content js-cd-content">
                <% var jsn=JSON.parse(data.EventBodyJson); %>
                <div class="cd-timeline-header">
                    <%= _TimeLineScope.Utilities.renderHeader(data,jsn)%>
                </div>
                <div class="cd-timeline-body">

                    <div class="expandable-body" data-id="<%=data.TimeLineId%>">

                        <p style="min-height:20px;">
                            <label class="col-lg-2 lbl-text" style="font-weight:bold;">Assessment Number</label>
                            <label class="col-xs-10"><%=jsn.AssessmentNumber==1?'One':jsn.AssessmentNumber==2?'Two':jsn.AssessmentNumber==3?'Three':'' %></label>
                        </p>

                        <p style="min-height:20px;">
                            <label class="col-xs-2 lbl-text" style="font-weight:bold;">Started Date</label>
                            <label class="col-xs-10" style="font-weight:bold;font-size:16px;"><%=moment(data.EventDate,'MMM DD YYYY').format('MMMM DD, YYYY')%></label>

                        </p>

                        <p style="min-height:20px;">
                            <label class="col-lg-2 lbl-text" style="font-weight:bold;">Started By</label>
                            <label class="col-xs-10"> <%=jsn.StartedBy %></label>
                        </p>

                        <p style="min-height:20px;">
                            <label class="col-lg-2 lbl-text" style="font-weight:bold;">Completed Date</label>
                            <label class="col-xs-10" style="font-weight:bold;font-size:16px;"> <%=jsn.CompletedDate==''?'N/A':jsn.CompletedDate %></label>
                        </p>
                    </div>
                </div>
                <%= _TimeLineScope.Utilities.renderTimelineDate(data,jsn)%>
                <%= _TimeLineScope.Utilities.renderfooter(data,jsn)%>
            </div> <!-- cd-timeline__content -->

        </div>
    </script>

    <!--- Child and Family Review Template id:20  ---->
    <script type="text/template" id="timeline-card_20">

        <div class="cd-timeline__block js-cd-block main-block" id="" data-id="<%=data.TimeLineId%>">

            <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">

                <i class="fa fa-clipboard"></i>
            </div> <!-- cd-timeline__img -->

            <div class="cd-timeline__content js-cd-content">
                <% var jsn=JSON.parse(data.EventBodyJson); %>
                <div class="cd-timeline-header">
                    <%= _TimeLineScope.Utilities.renderHeader(data,jsn)%>
                </div>
                <div class="cd-timeline-body">

                    <div class="expandable-body" data-id="<%=data.TimeLineId%>">

                        <p style="min-height:20px;">
                            <label class="col-xs-2 lbl-text" style="font-weight:bold;">Started Date</label>
                            <label class="col-xs-10" style="font-weight:bold;font-size:16px;"> <%= moment(data.EventDate,"MMM DD YYYY").format('MMMM DD, YYYY')%></label>
                        </p>

                        <p style="min-height:20px;">
                            <label class="col-xs-2 lbl-text" style="font-weight:bold;">Started By</label>
                            <label class="col-xs-10"><%=jsn.StartedBy%></label>
                        </p>

                        <p style="min-height:20px;">
                            <label class="col-xs-2 lbl-text" style="font-weight:bold;">Completed Date</label>
                            <label class="col-xs-10" style="font-weight:bold;font-size:16px;"><%= jsn.CompletedDate==""?"N/A":jsn.CompletedDate %></label>
                        </p>

                    </div>
                </div>
                <%= _TimeLineScope.Utilities.renderTimelineDate(data,jsn)%>
                <%= _TimeLineScope.Utilities.renderfooter(data,jsn)%>
            </div> <!-- cd-timeline__content -->

        </div>



    </script>


}


