@model FingerprintsModel.EducationComponent







<div class="col-xs-12 search-block-main">
    @*<div class="glossy-search-block col-md-12">
            <input type="text" autocomplete="new-text" onfocus="this.removeAttribute('readonly');" onblur="this.setAttribute('readonly,readonly');" readonly placeholder="@Fingerprints.LocalResource.Resources.Search..." id="searchReportText" class="form-control" value="">
            <div class="glossy-search-btn-div">
                <button id="btnSearchauto" >@Fingerprints.LocalResource.Resources.Search</button>
            </div>
        </div>*@

    <table class="col-md-3 pull-right table-striped total-details-table table-back-shadow">
        <tr>
            <td><label>@Fingerprints.LocalResource.Resources.TotalRecords</label></td>
            <td id="totalCountSpan">@Model.TotalRecord</td>
        </tr>
    </table>

</div>





<table class="col-md-12 glossy-table table-striped table-condensed cf table-change ersea-table" id="education-comp-table">
    <thead class="table-hd scroll-thead">
        <tr>
            <th>@Fingerprints.LocalResource.Resources.Description</th>
            <th>@Fingerprints.LocalResource.Resources.Entered_By</th>
            <th>@Fingerprints.LocalResource.Resources.Action</th>
        </tr>
    </thead>
    <tbody class="ersea-table-head glossy-table-body bind_body scroll-tbody" id="education-comp-tbody">

        @try
        {

            if (Model != null && Model.EducationComponentList != null && Model.EducationComponentList.Count > 0)
            {

                for (int i = 0; i < Model.EducationComponentList.Count; i++)
                {
                    <tr>



                        <td role="gridcell" data-title="@Fingerprints.LocalResource.Resources.Description">
                            <p title="@Model.EducationComponentList[i].Description" data-toggle="tooltip">
                                @Model.EducationComponentList[i].Description
                            </p>
                        </td>

                        <td role="gridcell" data-title="@Fingerprints.LocalResource.Resources.Entered_By">
                            <p>@Model.EducationComponentList[i].EnteredBy</p>
                        </td>


                        <td role="gridcell" data-title="@Fingerprints.LocalResource.Resources.Action">
                            <input type="hidden" id="input-hide-edu-id" value="@Model.EducationComponentList[i].EducationComponentID" />

                            <i class="fa fa-edit  btn-edit-trans" aria-hidden="true" data-toggle="tooltip" title="@Fingerprints.LocalResource.Resources.Edit"></i>

                            @if (!Model.EducationComponentList[i].IsReported)
                        {
                                <i class="fa fa-trash  btn-delete-trans" aria-hidden="true" data-toggle="tooltip" title="@Fingerprints.LocalResource.Resources.Delete"></i>

                            }

                        </td>



                    </tr>
                }

            }
            else
            {
                <tr style="width:98.3%">
                    <td colspan="7" style="padding: 25px;text-align:center;font-weight:bold;">

                        <text>@Fingerprints.LocalResource.Resources.Recordsnotfound</text>
                    </td>




                </tr>

            }

        }
        catch (Exception ex)
        {
            FingerprintsModel.clsError.WriteException(ex);
        }












    </tbody>
</table>

<script type="text/javascript">

    $('[data-toggle="tooltip"]').tooltip();
</script>






























