@model List<FingerprintsModel.SubstituteRole>

@{
    var totalrecord = Model.Select(x => x.TotalRecord).FirstOrDefault();

    //  var isReport = Model != null && Model.Count > 0 && FingerprintsModel.EnumHelper.GetEnumByStringValue<FingerprintsModel.Enums.SubstituteRoleMode>(Model[0].SubstituteRoleMode.ToString()) == FingerprintsModel.Enums.SubstituteRoleMode.Report;
    var isReport = Model != null && Model.Count > 0 && Model[0].SubstituteRoleMode == 2;
}

<div>
    @Html.Hidden("totalRecordTable", totalrecord)

</div>



<!--Table -->
<table class="col-md-12 glossy-table table-striped table-condensed cf table-change ersea-table" id="table-substituterole">

    <thead class="table-hd scroll-thead">
        <tr>

            @if (isReport)
            {

                <th>
                    @if (Model.Count > 0 && Model[0].SortColumn != null && Model[0].SortColumn.ToLowerInvariant() == "month")
                    {
                        if (Model[0].SortOrder.ToLowerInvariant() == "asc")
                        {
                            <i class="fa fa-sort-alpha-asc i-asc" aria-hidden="true" style="color: #f9c751;display:inline-block;"></i>
                            <i class="fa fa-sort-alpha-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                        }
                        else if (Model[0].SortOrder.ToLowerInvariant() == "desc")
                        {
                            <i class="fa fa-sort-alpha-asc i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                            <i class="fa fa-sort-alpha-desc i-desc" aria-hidden="true" style="color: #f9c751;display:inline-block"></i>
                        }

                    }

                    else
                    {
                        <i class="fa fa-sort-alpha-asc i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                        <i class="fa fa-sort-alpha-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                    }

                    <span col-name="Month">@Fingerprints.LocalResource.Resources.Month</span>
                </th>
            }



            <th>

                @if (Model.Count > 0 && Model[0].SortColumn != null && Model[0].SortColumn.ToLowerInvariant() == "classroom")
                {
                    if (Model[0].SortOrder.ToLowerInvariant() == "asc")
                    {
                        <i class="fa fa-sort-alpha-asc i-asc" aria-hidden="true" style="color: #f9c751;"></i>
                        <i class="fa fa-sort-alpha-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                    }
                    else if (Model[0].SortOrder.ToLowerInvariant() == "desc")
                    {
                        <i class="fa fa-sort-alpha-asc i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                        <i class="fa fa-sort-alpha-desc i-desc" aria-hidden="true" style="color: #f9c751;"></i>
                    }
                }
                else if (Model.Count > 0 && string.IsNullOrEmpty(Model[0].SortColumn))
                {
                    <i class="fa fa-sort-alpha-asc i-asc" aria-hidden="true" style="color: #f9c751;"></i>
                    <i class="fa fa-sort-alpha-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                }
                else
                {
                    <i class="fa fa-sort-alpha-asc i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                    <i class="fa fa-sort-alpha-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                }

                <span col-name="Classroom">@Fingerprints.LocalResource.Resources.Classroom</span>
            </th>


            <th>
                @if (Model.Count > 0 && Model[0].SortColumn != null && Model[0].SortColumn.ToLowerInvariant() == "staff name")
                {
                    if (Model[0].SortOrder.ToLowerInvariant() == "asc")
                    {
                        <i class="fa fa-sort-alpha-asc i-asc" aria-hidden="true" style="color: #f9c751;display:inline-block;"></i>
                        <i class="fa fa-sort-alpha-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                    }
                    else if (Model[0].SortOrder.ToLowerInvariant() == "desc")
                    {
                        <i class="fa fa-sort-alpha-asc i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                        <i class="fa fa-sort-alpha-desc i-desc" aria-hidden="true" style="color: #f9c751;display:inline-block"></i>
                    }

                }

                else
                {
                    <i class="fa fa-sort-alpha-asc i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                    <i class="fa fa-sort-alpha-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                }

                <span col-name="Staff Name">@Fingerprints.LocalResource.Resources.StaffName</span>
            </th>



            <th>

                @if (Model.Count > 0 && Model[0].SortColumn != null && Model[0].SortColumn.ToLowerInvariant() == "from date")
                {
                    if (Model[0].SortOrder.ToLowerInvariant() == "asc")
                    {


                        <i class="fa fa-custom-sort-date-asc i-asc" aria-hidden="true" style="color: #f9c751;display:inline-block;"></i>
                        <i class="fa fa-custom-sort-date-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                    }
                    else if (Model[0].SortOrder.ToLowerInvariant() == "desc")
                    {



                        <i class="fa fa-custom-sort-date-asc i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                        <i class="fa fa-custom-sort-date-desc i-desc" aria-hidden="true" style="color: #f9c751;display:inline-block;"></i>
                    }
                }
                else
                {
                    <i class="fa fa-custom-sort-date-asc i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                    <i class="fa fa-custom-sort-date-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                }

                <span col-name="From Date">@Fingerprints.LocalResource.Resources.FromDate</span>
            </th>



            <th>
                @if (Model.Count > 0 && Model[0].SortColumn != null && Model[0].SortColumn.ToLowerInvariant() == "to date")
                {
                    if (Model[0].SortOrder.ToLowerInvariant() == "asc")
                    {


                        <i class="fa fa-custom-sort-date-asc i-asc" aria-hidden="true" style="color: #f9c751;display:inline-block;"></i>
                        <i class="fa fa-custom-sort-date-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                    }
                    else if (Model[0].SortOrder.ToLowerInvariant() == "desc")
                    {



                        <i class="fa fa-custom-sort-date-asc i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                        <i class="fa fa-custom-sort-date-desc i-desc" aria-hidden="true" style="color: #f9c751;display:inline-block;"></i>
                    }
                }
                else
                {

                    <i class="fa fa-custom-sort-date-asc i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                    <i class="fa fa-custom-sort-date-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>

                }

                <span col-name="To Date">@Fingerprints.LocalResource.Resources.ToDate</span>
            </th>


            @if (!isReport)
            {
                <th>
                    <span style="text-transform:none;">@Fingerprints.LocalResource.Resources.Action</span>
                </th>
            }
        </tr>
    </thead>

    <tbody class="ersea-table-head glossy-table-body bind_body scroll-tbody">


        @if (Model.Count > 0)
        {

            for (int i = 0; i < Model.Count; i++)
            {
                //style="background:#ffa;
                <tr role="grid">

                    @if (isReport)
                    {

                        <td role="gridcell" data-title="@Fingerprints.LocalResource.Resources.Month">
                            <p data-toggle="tooltip" title="@Model[i].Month">@Model[i].Month</p>
                        </td>

                    }
                    <td role="gridcell" data-title="@Fingerprints.LocalResource.Resources.Classroom">
                        <p data-toggle="tooltip" title="@Model[i].ClassroomName" data-accesskey="@Model[i].ClassroomID">@Model[i].ClassroomName</p>
                    </td>


                    <td role="gridcell" data-title="@Fingerprints.LocalResource.Resources.StaffName">
                        <p data-toggle="tooltip" title="@Model[i].StaffDetails.FullName">@Model[i].StaffDetails.FullName</p>
                    </td>

                    <td role="gridcell" data-title="@Fingerprints.LocalResource.Resources.FromDate">
                        <p>@Model[i].FromDate</p>
                    </td>

                    <td role="gridcell" data-title="@Fingerprints.LocalResource.Resources.ToDate">
                        <p>@Model[i].ToDate</p>
                    </td>


                    @if (!isReport)
                    {


                        <td role="gridcell" data-title="@Fingerprints.LocalResource.Resources.Action">
                            @Html.Hidden("subsituteId", Model[i].SubstituteID)
                            @*<i class="fa fa-edit  btn-edit-trans" aria-hidden="true" data-toggle="tooltip" title="Edit"></i>*@
                            <i class="fa fa-trash  btn-delete-trans" aria-hidden="true" data-toggle="tooltip" title="Delete"></i>
                        </td>

                    }


                </tr>

            }
        }
        else
        {
            <tr role="grid">
                <td colspan="5" style="padding:25px;text-align:center;">
                    @Fingerprints.LocalResource.Resources.Recordsnotfound
                </td>
            </tr>
        }




    </tbody>

</table>