@model FingerprintsModel.PIRModel


@{
    ViewBag.Title = "PIRSummary";
    Layout = (Session["Roleid"].ToString() == "a65bb7c2-e320-42a2-aed4-409a321c08a5") ? "~/Views/Shared/AgencyAdminLayout.cshtml" : "~/Views/Shared/AgencyStaffLayout.cshtml";
}

<h2>PIRSummary</h2>

@Scripts.Render("~/bundles/jquery")

<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"> </script>

@section Script{
}


@section MainContentHolder{



    <form method="post" enctype="multipart/form-data">
    <script>

        $(document).ready(function () {
            if (location.hash) {
                $('a[href=' + location.hash + ']').tab('show');
            }
            $(document.body).on("click", "a[data-toggle]", function (event) {
                location.hash = this.getAttribute("href");
            });
        });
        $(window).on('popstate', function () {
            var anchor = location.hash || $("a[data-toggle=tab]").first().attr("href");
            $('a[href=' + anchor + ']').tab('show');
        });


        function backToPirSummary(value) {
            $('#spinner').show();
            alert(value);
            var url = HostedDir + '~/PIR/PIRSummary';
            alert(url);
            window.location.href = url;
            //$('#spinner').hide();
        }


    </script>

    <input type="hidden" id="profileindex" name="profileindex" />
    <input type="hidden" id="eduindex" name="eduindex" />

    <h2 class="page-header">
        PIR Question Details @Model.pirQuestion - @Model.program


    </h2>
    <div >
        <table class="table" >
            <thead style="cursor:pointer;">
                <tr>
                    <td>
                        <div>
                            <a href="javascript:void(0);" onclick="history.go(-1);">Back to PIR</a>
                        </div>
                    </td>
                   </tr>
                <tr>
                    <td> <button class="Password" onclick="location.href='@Url.Action("ExportData", "PIR", new { question = Model.pirQuestion, programtype=Model.program }, null)';return false;">export</button></td>                    </tr>
                   </thead>
    </table>
        </div>
                    <div class="table-responsive">
                        <table class="table table_size" id="GridRoster">
                            <thead style="cursor:pointer;">
                                <tr>
                                    <th id="thIN"><h5>Client Name</h5></th>
                                    <th id="thIN"><h5>Center</h5></th>
                                    <th id="thIN"><h5>Classroom</h5></th>
                                    <th id="thIN"><h5>DOB</h5></th>
                                    <th id="thIN"><h5>Status</h5></th>
                                    <th id="thIN"><h5>@Model.piratenrollmentDesc</h5></th>
                                    <th id="thIN"><h5>@Model.pirafterenrollmentDesc</h5></th>

                                </tr>
                            </thead>
                            <div class="form-group">
                         
                                @foreach (var j in Model.PIRlst)
                                {

                                    <tr>
                                        <th id="thIN"><h5>@j.clientName</h5></th>
                                        <th id="thIN"><h5>@j.center</h5></th>
                                        <th id="thIN"><h5>@j.classroom</h5></th>
                                        <th id="thIN"><h5>@j.DOB</h5></th>
                                        <th id="thIN"><h5>@j.clientStatus</h5></th>
                                        <th id="thIN">
                                            <h5>
                                                @j.piratenrollment
                                            </h5>
                                        </th>

                                        <th id="thIN">
                                            <h5>
                                                @j.pirafterenrollment
                                            </h5>
                                        </th>

                                    </tr>
                                }
                            
                            </div>
                        </table>
                    </div>


</form>



}