@{
    ViewBag.Title = "OrganizationalIssue";
    Layout = "~/Views/Shared/AgencyStaffLayout.cshtml";
}

@model FingerprintsModel.ReferalDetails

@section MainContentHolder{


    <style>

                     .page-wrapper-change {
                background-image: url('../../Images/body-bg.jpg');
                background: url('../../Images/body-bg.jpg') center no-repeat #000 !important;
                background-size: cover !important;
                background-position: 100% 100% !important;
            }

                     
    .glossy-button-button {
        display: inline-block;
        vertical-align: top;
        position: relative;
        overflow: hidden;
        min-width: 96px;
        line-height: 38px !important;
        padding: 0 24px;
        font-size: 14px;
        color: white;
        text-align: center;
        text-decoration: none;
        text-shadow: 0 1px #154c86;
        background-color: #247edd;
        background-clip: padding-box;
        border: 1px solid;
        border-color: #1c65b2 #18589c #18589c;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
        box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
        background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
        background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
        background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
    }.button-red {
        text-shadow: 0 1px #0d4d09;
        background-color: #E21;
        border-color: #E21 #E21 #E21;
    }.glossy-button-button:hover:after {
        width: 120%;
        background-color: rgba(255,255,255,0);
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
        .glossy-button-button:before {
        content: '';
        position: absolute;
        top: -25%;
        bottom: -25%;
        left: -20%;
        right: -20%;
        border-radius: 50%;
        background: transparent;
        -webkit-box-shadow: inset 0 0 38px rgba(255, 255, 255, 0.5);
        box-shadow: inset 0 0 38px rgba(255, 255, 255, 0.5);
    }.button-green {
        text-shadow: 0 1px #0d4d09;
        background-color: #1ca913;
        border-color: #147b0e #11640b #11640b;
    }
        .glossy-button-button:after {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 0%;
        height: 100%;
        background-color: rgba(255,255,255,0.4);
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
        transition: none;
    }

            a.glossy-button-button.button-red:hover {
             color:#fff;
             text-decoration:none;

            }

             .edubgm-yakkr-icc {
        width: 100%;
        float: left;
        margin-top: 0px;
        background-color: #f1f5f8;
        border-radius: 7px;
        margin-bottom: 20px;
        color:  #2f608b;
        padding: 15px;
    }

    .edubgm-yakkr-icc > div > label,
        .edubgm-yakkr-icc > div#appoinment-div > div > label {
        color: #2f608b;
        font-weight: bold;
        font-family: "Arial" !important;
       /* padding-top: 8px;*/
        width: 35%;
        float:  left;
    }
    .radio-camera input {
        display: none;
    }
    .edubgm-yakkr-icc > div,
        .edubgm-yakkr-icc > div#appoinment-div > div {
        width:  100%;
        float:  left;
        margin-bottom: 25px;
    }

       .popup-label {
        display: initial;
        color: #1d5990;
    }

        .radio-div {
            display: inline-block;
            padding: 0 20px;
        }
 
        .radio-div input {
    display: none;
}
        .radio-div label {
    position: relative;
    cursor: pointer;
}
            .radio-div label:before {
                display: inline-block;
    position: absolute;
    content: " ";
    width: 8px;
    height: 8px;
    left: 4px;
    top: 5px;
    background: transparent;
    margin-left: -20px;
    border-radius: 50%;
    border: 4px solid transparent;
            }
            .radio-div label:after {
                content: "";
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #163b69;
    border-radius: 50%;
    background-color: transparent;
    top: 1px;
            } 
   .radio-div input:checked ~ label::before {
    border-color: #34495e;
}

    /*
.radio-div input:checked ~ label[for="agclr-red"]::before,
.radio-div label[for="agclr-red"]:after,
.radio-div label[for="agclr-red"] {
border-color:#e81111;
color:#e81111;
}

.radio-div input:checked ~ label[for="agclr-yellow"]::before,
.radio-div label[for="agclr-yellow"]:after,
.radio-div label[for="agclr-yellow"] {
border-color:#c3c317;
color:#c3c317;
}
.radio-div input:checked ~ label[for="agclr-green"]::before,
.radio-div label[for="agclr-green"]:after,
.radio-div label[for="agclr-green"] {
border-color:#0fd215;
color:#0fd215;
}
    */


    .addapplicant {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid #295b8f;
    color: #295b8f;
    padding: 15px 0;
    margin: 0 15px;
    margin-bottom: 20px;
}

.cslabel {
 text-align:left;
}

@@media (min-width: 1024px) {
.cslabel {
 text-align:right;
}
}

    #addnew-attach, .remove-attach {
    background: none;
    border: none;
    box-shadow: none;
}

    .filediv input {
    margin-bottom: 10px;
}

    .checkbox-height-adjust {
    height: 64px;
    overflow: auto;
}

#clientcasenote-div div.col-md-12 {
 padding-left:0px;
}

#clientcasenote-div div.col-md-12 div.col-md-2 {
 /*padding-left:0px;*/

}
       /* #clientcasenote-div div.col-md-12 div.col-md-2 .cslabel,*/
        #agencycolorcode-div div.col-sm-12 div.col-sm-2 .control-label   {
          text-align:right;
        }

</style>



<div class="row" style="margin-top:30px;">
    <div class="col-lg-12">
        <h2 class="page-header page-header-change" style="border-bottom:5px solid #f9c751!important;color:#fff;">
            <i class="fa fa-edit" aria-hidden="true"></i>&nbsp; Organizational Issue

            <span class="view-btn backto_listspan">

                <a href="/Yakkr/YakkrList?YakkrCode=451" style="padding:10px;float: right;color: #fff;margin-right:0px;background-color:#9b59b6;border-radius: 4px;text-decoration:none;" class="backto_list">Back to List</a>
            </span>
        </h2>
    </div>
</div>



<div class="row">



    <div class="edubgm-yakkr-icc">


        <div style="margin-bottom:20px;margin-left:-15px;">
            <div class="col-xs-12 col-lg-12" style="padding:0;margin-bottom:10px;">
                <div style="float:left;margin-top:10px;" class="col-lg-6 col-xs-12">
                    <label class="popup-label">Organization : </label>&nbsp;<span class="totalCountSpan" id="lblEventName" style="color:#333;">@Model.CompanyName</span>
                </div>
                <div style="float:left;margin-top:10px;" class="col-lg-6 col-xs-12">
                    <label class="popup-label">Phone No :</label>&nbsp;<span class="totalCountSpan" id="lblTrainer" style="color:#333;">@Model.PhoneNo </span>
                </div>
            </div>

            <div class="col-xs-12 col-lg-12" style="padding:0;margin-bottom:10px;">
                <div style="float:left;margin-top:10px;" class="col-lg-6 col-xs-12">
                    <label class="popup-label">Address :</label>&nbsp;<span class="totalCountSpan" id="lblEventName" style="color:#333;">
                   @Model.Address, @Model.City, @Model.County</span>
                </div>
                <div style="float:left;margin-top:10px;" class="col-lg-6 col-xs-12">
                    <label class="popup-label">Reason  :</label>&nbsp;<span class="totalCountSpan" id="lblTrainer" style="color:#333;">
                    @{ 
                        var _Reason = "-";
                        if (Model.ReasonForNotServed != null || Model.ReasonForNotServed > 0)
                        {
                            switch (Model.ReasonForNotServed)
                            {

                                case 1:
                                    _Reason = "Asked to leave";
                                    break;
                                case 2:
                                    _Reason = "No interpreter";
                                    break;
                                case 3:
                                    _Reason = "Long wait";
                                    break;
                            }

                        }
                        if (Model.Rating == 1) {
                            _Reason = "Rating as Poor";


                        }

                        }

                    @_Reason

                    </span>
                </div>

            </div>
        
            <div class="col-xs-12 col-lg-12" style="padding:0;margin-bottom:10px;">
                <div style="float:left;margin-top:10px;" class="col-lg-6 col-xs-12">
                    <label class="popup-label">Client : </label>&nbsp;<span class="totalCountSpan" id="lblEventName" style="color:#333;">@ViewBag.ClientName</span>
                </div>
            </div>



            <div class="col-xs-12 col-lg-12" style="padding:0;margin-bottom:10px;margin-top:10px;">

                @*<div style="float:left;width:11%;padding:0px 15px;" class="">
                    <label class="popup-label">Client Story :</label>&nbsp;
                </div>
                <div class="" style="width:89%;float:left;line-height:1.4;color:#333;">
@Model.ClientStory

                </div>*@

                <div class="col-xs-12 col-lg-12"><label class="popup-label">Client Story :</label>&nbsp;</div>
                <div class="col-xs-12 col-lg-12" style="line-height:1.4;color:#333;">@Model.ClientStory</div>

                </div>

                <div class="col-xs-12 col-lg-12" style="padding:0;margin-bottom:10px;">


                    <div class="col-xs-12 col-lg-12" style="padding:0px;margin:10px 0px;">
                        <h3 class="addapplicant"><i class="fa fa-book" aria-hidden="true"></i> Issue Feedback</h3>
                    </div>
                    <div class="col-xs-12 col-lg-12">
                        <form method="post" action="@Url.Action("Organizationalissue","Yakkr")" id="submitFeedback" enctype="multipart/form-data">


                            <input type="hidden" name="QuestionaireID" value="@Model.QuestionaireID" />
                            <input type="hidden" name="CommunityId" value="@Model.CommunityResourceID" />
                            <input type="hidden" name="Yakkrid" value="@Model.YakkrId451" />

                            <div class="col-sm-12" style="padding-left:0px;">
                                <div class="form-group">
                                    <div class="col-sm-2" style="padding-left:0px;">
                                        <label class="control-label prop-label" style="margin-left:0px;text-align:right;">Problem on<sup style="color:red;" title="required field">*</sup> :
                                            </label>
                                    </div>
                                    <div class="col-sm-10">
                                        <div class="radio-div">
                                            <input type="radio" id="client-radio" value="1" name="ProblemOn"> <label for="client-radio">Client Side</label>
                                        </div>
                                        <div class="radio-div">
                                            <input type="radio" id="agency-radio" value="2" name="ProblemOn"> <label for="agency-radio">Agency Side</label>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div id="agencycolorcode-div" style="display:none;">

                                <div class="col-sm-12" style="padding-left:0px;">
                                    <div class="form-group">
                                        <div class="col-sm-2" style="padding-left:0px;">
                                            <label class="control-label prop-label" style="margin-left:0px;">Review Agency<sup style="color:red;" title="required field">*</sup> :</label>
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="radio-div">
                                                <input type="radio" id="agclr-red" value="1" name="CRColorCode"> <label for="agclr-red">Red</label>
                                            </div>
                                            <div class="radio-div">
                                                <input type="radio" id="agclr-yellow" value="2" name="CRColorCode"> <label for="agclr-yellow">Yellow</label>
                                            </div>
                                            <div class="radio-div">
                                                <input type="radio" id="agclr-green" value="3" name="CRColorCode"> <label for="agclr-green">Green </label>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-sm-12" style="padding-left:0px;">
                                    <div class="form-group">
                                        <div class="col-sm-2" style="padding-left:0px;">
                                            <label class="control-label prop-label" style="margin-left:0px;">Note<sup style="color:red;" title="required field">*</sup> :</label>
                                        </div>
                                        <div class="col-sm-10">

                                            <textarea class="form-control" style="height:80px;" name="MgNotes"></textarea>
                                        </div>
                                    </div>

                                </div>


                            </div>

                            <div id="clientcasenote-div" style="display:none;">
                                @*<h3 class="addapplicant"><i class="fa fa-book" aria-hidden="true"></i>  Case Note</h3>*@

                                <div class="col-md-12">

                                    <div class="col-md-2">
                                        <label class="cslabel">Date<sup style="color:red;" title="required field">*</sup> :</label>
                                    </div>
                                    <div class="col-md-10">
                                        @{
                                            string today = DateTime.Now.Month.ToString() + "/" + DateTime.Now.Day.ToString() + "/" + DateTime.Now.Year.ToString();
                                        }
                                        @*<input name="CaseNoteDate" type="hidden" value="@today" />*@
                                        <p style="display:inline-block;width:400px;">
                                            <input class="form-control" name="CaseNoteDate" type="hidden" value="@today" />
                                            <input class="form-control" name="CaseNoteDate" type="text" value="@today" disabled />
                                        </p>

                                    </div>


                                    <div class="col-md-2">
                                        <label class="cslabel">Title<sup style="color:red;" title="required field">*</sup> :</label>
                                    </div>
                                    <div class="col-md-10">
                                        <p style="display:inline-block;width:400px;"><input type="text" class="form-control" name="CaseNotetitle"></p>

                                    </div>


                                    <div class="col-md-2">
                                        <label class="cslabel">Note<sup style="color:red;" title="required field">*</sup> :</label>
                                    </div>
                                    <div class="col-md-10">

                                        <div style="display:inline-block;width:400px;">
                                            <textarea id="Note" name="Note"></textarea>
                                        </div>

                                    </div>

                                    <div class="col-md-2" style="margin-top:15px;">
                                        <label class="cslabel">Client<sup style="color:red;" title="required field">*</sup> :</label>
                                    </div>
                                    <div class="col-md-10" style="margin-top:15px;display: block;height: 40px;">

                                        <input type="hidden" name="ClientIds" value="@ViewBag.ClientId" />
                                        <input type="hidden" name="ClientId" value="@ViewBag.ClientId" />

                                        <label>@ViewBag.ClientName</label>

                                    </div>

                                    <div class="col-md-2" style="margin-top:15px;">
                                        <label class="cslabel">Tags<sup style="color:red;" title="required field">*</sup> :</label>
                                    </div>
                                    <div class="col-md-10" style="margin-top:15px;">
                                        <div style="display:inline-block;width:400px;">
                                            <input type="text" id="CaseNotetags" name="CaseNotetags" class="form-control ui-autocomplete-input" />
                                        </div>
                                    </div>


                                    <div class="col-md-2" style="margin-top:15px;">
                                        <label class="cslabel">Developmental Team</label>


                                    </div>
                                    <div class="col-md-10" style="margin-top:15px;">
                                        <div style="display:inline-block;width:400px;" class="checkbox-height-adjust">
                                            @if (ViewBag.Userlist != null && ((List<FingerprintsModel.RosterNew.User>)ViewBag.Userlist) != null)
                                            {
                                                foreach (var item1 in ((List<FingerprintsModel.RosterNew.User>)ViewBag.Userlist))
                                                {
                                                    <input type="checkbox" name="TeamIds.IDS" value="@item1.Id"> @item1.Name<br>
                                                }
                                            }
                                        </div>
                                    </div>


                                    <div class="col-md-2" style="margin-top:15px;">
                                        <label class="cslabel"> Secure Note ? </label>


                                    </div>
                                    <div class="col-md-10" style="margin-top:15px;">
                                        <input type="checkbox" value="true" name="CaseNoteSecurity" /> Yes


                                    </div>


                                    <div class="col-xs-12" style="margin-top:15px;">
                                        <div class="col-md-2">
                                            <label class="cslabel">Attachment</label>


                                        </div>
                                        <div class="col-md-10">
                                            <div class="filediv" style="display:inline-block;width:auto;">
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <input type="file" class="form-control" name="Attachments[0].file" style="display:inline-block;" />
                                                    </div>
                                                    <div class="col-md-4">
                                                        <button type="button" id="addnew-attach"><i class="fa fa-plus-circle"></i> Add</button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                            </div>





                            <div class="col-sm-12" style="display:none;" id="feedsubmit-div">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="col-sm-12 text-center" style="margin-top:15px;">
                                            <button type="button" class="glossy-button-button button-green" id="submit_Qform">Submit</button>

                                            <a type="button" href="@Url.Action("YakkrList","Yakkr")?YakkrCode=451" class="glossy-button-button button-red" >Cancel</a>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>

            </div>

    </div>

    </div>


    <script type="text/javascript">



        _OrgIssue = {

            init: function () {
                var self = this;
                self.intEvents();

            },
            intEvents: function () {
                var self = this;

                $(document).on("change", "[name='ProblemOn']", function (e) {
                    var _val = $(this).val();

                    $("#feedsubmit-div").slideDown();
                    if (_val == "1") {

                        $("#clientcasenote-div").slideDown();
                        $("#agencycolorcode-div").slideUp();

                    } else {
                        $("#agencycolorcode-div").slideDown();
                        $("#clientcasenote-div").slideUp();

                    }

                });


                $(document).on('click', "#submit_Qform", function (e) {
                    e.preventDefault();
                    //console.log(this);

                    var Tags = '';
                    $('#CaseNotetags_tagsinput .tag span').each(function () {
                        Tags = Tags + $(this).text().trim() + ',';
                    });
                    $("#CaseNotetags").val(Tags);


                    var _pbon = $('[name="ProblemOn"]:checked').val();
                    var _crCode = $('[name="CRColorCode"]:checked').val();
                    var _mgNote = $('[name="MgNotes"]').val();
                    var _csTitle = $('[name="CaseNotetitle"]').val();
                    var _csNote = CKEDITOR.instances['Note'].getData();
                    var _csTags = $("#CaseNotetags").val();

                    if (!_pbon) {

                        customAlert("Problem on field is required");
                        return false;
                    }

                    if (_pbon == "2") { //Agency Side

                        if (!_crCode) {
                            customAlert("Please Choose Review Agency");
                            return false;
                        } else if (!_mgNote) {
                            customAlert("Note field is required");
                            return false;

                        }


                    } else if (_pbon == "1") { //Agency Side

                        if (!_csTitle) {
                            customAlert("Title field is required");
                            return false;
                        } else if (!_csNote) {
                            customAlert("Note  field is required");
                            return false;
                        } else if (!_csTags) {
                            customAlert("Case Notes Tag is Required.");
                            return false;
                        }
                    
                    }




                    $("#submitFeedback").submit();

                });


                var _attachCount = 1
                $(document).on("click", "#addnew-attach", function (e) {

                    $(".filediv").append('<div class="fdiv" data-index="' + _attachCount + '"> <div class="row"> <div class="col-md-8"><input type="file" class="form-control" style="display:inline-block;" name="Attachments[' + _attachCount + '].file"></div>'

       + ' <div class="col-md-4"><button type="button" data-index="' + _attachCount + '" class="remove-attach"><i class="fa fa-minus-circle"></i> Remove</button><div></div>');
                    _attachCount++;

                });

                $(document).on("click", ".remove-attach", function () {

                    var _ind = $(this).data("index");
                    $(".fdiv[data-index='" + _ind + "']").remove();

                });



                $('#CaseNotetags').tagsInput({
                    width: 'auto',
                    //height: '38px',
                    delimiter: [',', ';'],
                    autocomplete_url: '',
                    'defaultText': 'add a tag',
                    autocomplete: {
                        //'source': tags_array[0].split(/,\s*/)
                        'source': self.getTagsOnInput()
                    },
                    //allowDuplicates: false
                });

                $('#CaseNotetags').addTag("Referral");
                $('#CaseNotetags').addTag("CR"+@Model.CommunityResourceID+"");

                CKEDITOR.replace('Note', {
                    language: 'en-gb',
                    uiColor: '#295b8f',
                    disableNativeSpellChecker: false
                });

            },
            getTagsOnInput: function () {
                var self = this;
                var tagInp = $('#CaseNotetags').val();
                var tagsArr = [];
                $.ajax({

                    url: '/Roster/GetCaseNoteTagonInput',
                    datatype: 'json',
                    type: 'post',
                    async: true,
                    data: { searchText: tagInp },
                    success: function (data) {
                        if (data != null) {
                            if (data.length > 0) {
                                $.each(data, function (i, tags) {
                                    tagsArr.push(tags.Text);
                                });
                            }
                        }
                    },
                    error: function (data) {

                    }

                });

                return tagsArr;
            },

        };

        $(document).ready(function () {

            _OrgIssue.init();
        });

    </script>

}
