@{
    ViewBag.Title = "OrganizationalIssue";
    Layout = "~/Views/Shared/AgencyStaffLayout.cshtml";
}

@model FingerprintsModel.ReferalDetails

@section Script{



    <script type="text/javascript">



        _OrgIssue = {

            init: function () {
                var self = this;
                self.intEvents();

            },
            intEvents: function () {
                var self = this;

                $(document).on("change", "[name='ProblemOn']", function (e) {
                    var _val = $(this).val();

                    $("#feedsubmit-div").slideDown();
                    if (_val == "1") {

                        $("#clientcasenote-div").slideDown();
                        $("#agencycolorcode-div").slideUp();

                    } else {
                        $("#agencycolorcode-div").slideDown();
                        $("#clientcasenote-div").slideUp();

                    }

                });


                $(document).on('click', "#submit_Qform", function (e) {
                    e.preventDefault();
                  
                    var $caseNoteSection = $('#clientcasenote-div #divCaseNoteSection');
                    var $guid=$caseNoteSection.attr('data-current-id');

                    

                    var _pbon = $('[name="ProblemOn"]:checked').val();
                    var _crCode = $('[name="CRColorCode"]:checked').val();
                    var _mgNote = $('[name="MgNotes"]').val();
                    
                    if (!_pbon) {

                        customAlert("Problem on field is required");
                        return false;
                    }

                    if (_pbon == "2") { //Agency Side

                        if (!_crCode) {
                            customAlert("Please Choose Review Agency");
                            return false;
                        } else if (!_mgNote) {
                            customAlert("Note field is required");
                            return false;

                        }


                    } else if (_pbon == "1") { //Agency Side


                        var result=false;

                        result=$('#clientcasenote-div').ApplinkCaseNote('caseNoteValidation');

                        if(!result)
                        {
                            return false;
                        }

                    }


                    var clientArray = [];
                    var staffArray = [];


                    $caseNoteSection.find('#divCaseNoteClients_'+$guid+'').find('input:checkbox:checked').each(function () {

                        clientArray.push($(this).val());

                    });


                    $caseNoteSection.find('#divCaseNoteStaffs_'+$guid+'').find('input:checkbox:checked').each(function () {

                        staffArray.push($(this).val());

                    });


                    var cameraDocumentsArray = [];

                    $caseNoteSection.find('#caseNoteAttachmentsDiv_'+$guid+'').find('input:file').each(function (a, b) {
                       
                        var fileInput = $(this);

                        if (fileInput.val() != undefined && fileInput.val() != null && fileInput.val() != '') {
                            var fileUpload = fileInput.get(0);
                            var files = fileUpload.files;

                            for (var i = 0; i < files.length; i++) {


                                var convImage = fileInput.attr('conv-img');

                                if (convImage != null && convImage != "")
                                    cameraDocumentsArray.push({ AttachmentFileName: files[i].name, AttachmentFileExtension: '.' + files[i].name.split('.')[files[i].name.split('.').length - 1], AttachmentJson: convImage });


                            }
                        }
                    });



                    var $cameraDocuments = $caseNoteSection.find(".div-edit-gallery_"+$guid+"").find('.setup_viewscreen');



                    if ($cameraDocuments.length > 0) {

                        $.each($cameraDocuments, function (j, doc) {

                            var $doc = $(doc).find('img');
                            cameraDocumentsArray.push({ AttachmentFileName: 'CaseNoteDocument', AttachmentFileExtension: '.png', AttachmentJson: getBase64Image($doc) });

                        });
                    }
                   



                    var caseNoteDetails = {

                        'ClientId': $('#hidden_clientId_'+$guid+'').val(),
                        'CenterId': $('#hidden_centerId_'+$guid+'').val(),
                        'HouseHoldId': $('input[name="HouseHoldId_'+$guid+'"]').val(),
                        'CaseNoteid': '0',
                        'ProgramId': $('input[name="hidden_programId_'+$guid+'"]').val(),
                        'ClientIds': clientArray.join(',').trim(),
                        'StaffIds': staffArray.join(',').trim(),
                        'CaseNoteDate': $('#txtCaseNoteDate_'+$guid+'').val(),
                        'CaseNoteTitle': $('#txtCaseNoteTitle_'+$guid+'').val(),
                        'CaseNoteTags': $('#txtCaseNoteTags_'+$guid+'').val(),
                        'Note': $('#txtareaCaseNote_'+$guid+'').val(),
                        'CaseNoteSecurity': $('#checkboxSecureNote_'+$guid+'').is(':checked'),
                        'Classroomid': $('#hidden_classroomId_'+$guid+'').val(),
                        'CaseNoteAttachmentList': cameraDocumentsArray,
                        'ClientName': ''

                    }

                    var referralDetails = {
                        'ProblemOn': _pbon,
                        'CRColorCode': _crCode==undefined|| _crCode==null?0:_crCode,
                        'QuestionaireID': $('input[name="QuestionaireID"]').val(),
                        'CommunityResourceID': $('input[name="CommunityId"]').val(),
                        'MgNotes': $('textarea[name="MgNotes"').val(),
                        'ReviewCount': 0,
                        'ReferralClientServiceId': 0,
                    }

                    var yakkrId=$('input[name="Yakkrid"]').val() !=null && $('input[name="Yakkrid"]').val()!='' ? $('input[name="Yakkrid"]').val():'0';

                    $.ajax({

                        url: '/Yakkr/InsertOrganizationalIssue',
                        type: 'post',
                        contentType: "application/json; charset=utf-8",
                        beforeSend:function(){
                            $('#spinner').show();
                        },
                        data: JSON.stringify({ referralDetails: referralDetails, caseNote: caseNoteDetails, yakkrId:yakkrId  }),
                        success: function (data) {
                            if (data != null) {
                                if (data.result) {

                                    customAlert('Record saved successfully');
                                    window.setTimeout(function () {

                                        location.href = '/Yakkr/YakkrList?YakkrCode=451';


                                    },500);

                                }
                                else {
                                    customAlert('Error occurred. Please, try again later.');
                                }




                            }
                        },
                        error: function (data) {

                        },
                        complete: function (data) {

                        }

                    });


                    

                });



              
            }

        };

        $(document).ready(function () {

            _OrgIssue.init();



            $('#clientcasenote-div').ApplinkCaseNote({
                isPopup: false,
                isSection: true,
                caseNoteType: 1,   //1- New// Edit 2// 3- Append //
                getCaseNoteUrl: HostedDir + "/Roster/GetCaseNoteSectionPartial",
                caseNoteId: 0,
                householdId: 0,
                clientId: @ViewBag.ClientID,
                isEditable: true,
                isShowSubmitButton: false,
                isShowExportIcon: false,
                forceLoad: true,

                modalOnShown: function (element) {

                },
                ajaxComplete: function (element) {


                    var $caseNoteSection = element.find('#divCaseNoteSection');

                    var $guid = $caseNoteSection.attr('data-current-id');

                    element.find('#heading_case_note').parent().hide()

                    element.find('#txtCaseNoteTags_'+$guid+'').addTag('Referral');
                    element.find('#txtCaseNoteTags_'+$guid+'').addTag("CR" +@Model.CommunityResourceID +"");

                    element.find('#txtCaseNoteDate_'+$guid+'').mask("99/99/9999", { placeholder: 'MM/DD/YYYY' });

                    element.find('#txtCaseNoteDate_'+$guid+'').val(getFormattedDateNumber(new Date()));

                    element.find('#txtCaseNoteDate_'+$guid+'').prop('readonly', true);


                    element.find('.img-camera').attr('target-id', 'clientcasenote-div');

                    element.find('#divCaseNoteClients_'+$guid+'').find('input:checkbox').each(function () {

                        if ($(this).val() != '@ViewBag.ClientID')
                            $(this).parent('div').hide();

                        else {
                            $(this).prop('checked', true);
                            $(this).prop('disabled', true);
                        }


                    });



                    showCameraOption(element);
                    element.find('#uploadImageCamera').hide();
                    setIntervalUserMedia(element);

                }

            });



          

        });

      

    </script>

}

@section Style{
    <style>
        .page-wrapper-change {
            background-image: url('../../Images/body-bg.jpg');
            background: url('../../Images/body-bg.jpg') center no-repeat #000 !important;
            background-size: cover !important;
            background-position: 100% 100% !important;
        }





        .radio-camera input {
            display: none;
        }


        .popup-label {
            display: initial;
            color: #1d5990;
        }

        .radio-div {
            display: inline-block;
            padding: 0 20px;
        }

            .radio-div input {
                display: none;
            }

            .radio-div label {
                position: relative;
                cursor: pointer;
            }

                .radio-div label:before {
                    display: inline-block;
                    position: absolute;
                    content: " ";
                    width: 8px;
                    height: 8px;
                    left: 4px;
                    top: 5px;
                    background: transparent;
                    margin-left: -20px;
                    border-radius: 50%;
                    border: 4px solid transparent;
                }

                .radio-div label:after {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    width: 16px;
                    height: 16px;
                    left: 0;
                    margin-left: -20px;
                    border: 1px solid #163b69;
                    border-radius: 50%;
                    background-color: transparent;
                    top: 1px;
                }

            .radio-div input:checked ~ label::before {
                border-color: #34495e;
            }




        .addapplicant {
            font-size: 20px;
            font-weight: bold;
            border-bottom: 2px solid #295b8f;
            color: #295b8f;
            padding: 15px 0;
            margin: 0 15px;
            margin-bottom: 20px;
        }

        .cslabel {
            text-align: left;
        }

        @@media (min-width: 1024px) {
            .cslabel {
                text-align: right;
            }
        }

        #addnew-attach, .remove-attach {
            background: none;
            border: none;
            box-shadow: none;
        }

        .filediv input {
            margin-bottom: 10px;
        }

        .checkbox-height-adjust {
            height: 64px;
            overflow: auto;
        }

        #clientcasenote-div div.col-md-12 {
            padding-left: 0px;
        }

            #clientcasenote-div div.col-md-12 div.col-md-2 {
               
            }
        
        #agencycolorcode-div div.col-sm-12 div.col-sm-2 .control-label {
            text-align: right;
        }
    </style>



}


@section MainContentHolder{





    <div class="row Zoom">

        <div class="col-lg-12" style="padding:0;">

            <div class="page-wrapper-change">
                <div class="container-fluid">
                    <div class="row">

                        <div class="glossy-right-side-container col-xs-12" style="padding-top:30px;">


                            <!----Header Section-->
                            <div class="col-xs-12" style="padding:0px 0px;margin-bottom:20px;">
                                <div class="col-lg-12">
                                    <h2 class="page-header page-header-change" style="border-bottom:5px solid #f9c751!important;color:#fff;">
                                        <i class="fa fa-edit"></i> Organizational Issue

                                        <span class="view-btn backto_listspan hidden-xs">
                                            <a href="/Yakkr/YakkrList?YakkrCode=451" class="glossy-button-button anchor_yellow" style="text-decoration:none;">
                                                Back to List

                                                <span class="glossy-button-before"></span>
                                                <span class="glossy-button-after"></span>

                                            </a>



                                        </span>
                                    </h2>
                                </div>


                            </div>

                            <!--------->



                            <div class="glossy-panel-div col-xs-12">


                                <div style="margin-bottom:20px;margin-left:-15px;">
                                    <div class="col-xs-12 col-lg-12" style="padding:0;margin-bottom:10px;">
                                        <div style="float:left;margin-top:10px;" class="col-lg-6 col-xs-12">
                                            <label class="popup-label">Organization : </label>&nbsp;<span class="totalCountSpan" id="lblEventName" style="color:#333;">@Model.CompanyName</span>
                                        </div>
                                        <div style="float:left;margin-top:10px;" class="col-lg-6 col-xs-12">
                                            <label class="popup-label">Phone No :</label>&nbsp;<span class="totalCountSpan" id="lblTrainer" style="color:#333;">@Model.PhoneNo </span>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-lg-12" style="padding:0;margin-bottom:10px;">
                                        <div style="float:left;margin-top:10px;" class="col-lg-6 col-xs-12">
                                            <label class="popup-label">Address :</label>&nbsp;<span class="totalCountSpan" id="lblEventName" style="color:#333;">
                                                @Model.Address, @Model.City, @Model.County
                                            </span>
                                        </div>
                                        <div style="float:left;margin-top:10px;" class="col-lg-6 col-xs-12">
                                            <label class="popup-label">Reason  :</label>&nbsp;<span class="totalCountSpan" id="lblTrainer" style="color:#333;">
                                                @{
                                                    var _Reason = "-";
                                                    if (Model.ReasonForNotServed != null || Model.ReasonForNotServed > 0)
                                                    {
                                                        switch (Model.ReasonForNotServed)
                                                        {

                                                            case 1:
                                                                _Reason = "Asked to leave";
                                                                break;
                                                            case 2:
                                                                _Reason = "No interpreter";
                                                                break;
                                                            case 3:
                                                                _Reason = "Long wait";
                                                                break;
                                                        }

                                                    }
                                                    if (Model.Rating == 1)
                                                    {
                                                        _Reason = "Rating as Poor";


                                                    }

                                                }

                                                @_Reason

                                            </span>
                                        </div>

                                    </div>

                                    <div class="col-xs-12 col-lg-12" style="padding:0;margin-bottom:10px;">
                                        <div style="float:left;margin-top:10px;" class="col-lg-6 col-xs-12">
                                            <label class="popup-label">Client : </label>&nbsp;<span class="totalCountSpan" id="lblEventName" style="color:#333;">@ViewBag.ClientName</span>
                                        </div>
                                    </div>



                                    <div class="col-xs-12 col-lg-12" style="padding:0;margin-bottom:10px;margin-top:10px;">

                                     

                                        <div class="col-xs-12 col-lg-12"><label class="popup-label">Client Story :</label>&nbsp;</div>
                                        <div class="col-xs-12 col-lg-12" style="line-height:1.4;color:#333;">@Model.ClientStory</div>

                                    </div>

                                    <div class="col-xs-12 col-lg-12" style="padding:0;margin-bottom:10px;">


                                        <div class="col-xs-12 col-lg-12" style="padding:0px;margin:10px 0px;">
                                            <h3 class="addapplicant"><i class="fa fa-book" aria-hidden="true"></i> Issue Feedback</h3>
                                        </div>
                                        <div class="col-xs-12 col-lg-12">


                                            <form method="post" id="submitFeedback" enctype="multipart/form-data" autocomplete="off">


                                                <input type="hidden" name="QuestionaireID" value="@Model.QuestionaireID" />
                                                <input type="hidden" name="CommunityId" value="@Model.CommunityResourceID" />
                                                <input type="hidden" name="Yakkrid" value="@Model.YakkrId451" />

                                                <div class="col-sm-12" style="padding-left:0px;">
                                                    <div class="form-group">
                                                        <div class="col-sm-2" style="padding-left:0px;">
                                                            <label class="control-label prop-label" style="margin-left:0px;text-align:right;">
                                                                Problem on<sup style="color:red;" title="required field">*</sup> :
                                                            </label>
                                                        </div>
                                                        <div class="col-sm-10">
                                                            <div class="radio-div">
                                                                <input type="radio" id="client-radio" value="1" name="ProblemOn"> <label for="client-radio">Client Side</label>
                                                            </div>
                                                            <div class="radio-div">
                                                                <input type="radio" id="agency-radio" value="2" name="ProblemOn"> <label for="agency-radio">Agency Side</label>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div id="agencycolorcode-div" style="display:none;">

                                                    <div class="col-sm-12" style="padding-left:0px;">
                                                        <div class="form-group">
                                                            <div class="col-sm-2" style="padding-left:0px;">
                                                                <label class="control-label prop-label" style="margin-left:0px;">Review Agency<sup style="color:red;" title="required field">*</sup> :</label>
                                                            </div>
                                                            <div class="col-sm-10">
                                                                <div class="radio-div">
                                                                    <input type="radio" id="agclr-red" value="1" name="CRColorCode"> <label for="agclr-red">Red</label>
                                                                </div>
                                                                <div class="radio-div">
                                                                    <input type="radio" id="agclr-yellow" value="2" name="CRColorCode"> <label for="agclr-yellow">Yellow</label>
                                                                </div>
                                                                <div class="radio-div">
                                                                    <input type="radio" id="agclr-green" value="3" name="CRColorCode"> <label for="agclr-green">Green </label>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="col-sm-12" style="padding-left:0px;">
                                                        <div class="form-group">
                                                            <div class="col-sm-2" style="padding-left:0px;">
                                                                <label class="control-label prop-label" style="margin-left:0px;">Note<sup style="color:red;" title="required field">*</sup> :</label>
                                                            </div>
                                                            <div class="col-sm-10">

                                                                <textarea class="form-control" style="height:80px;" name="MgNotes"></textarea>
                                                            </div>
                                                        </div>

                                                    </div>


                                                </div>

                                                <div id="clientcasenote-div" style="display:none;">



                                                </div>





                                                <div class="col-sm-12" style="display:none;" id="feedsubmit-div">
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <div class="col-sm-12 text-center glossy_btn" style="margin-top:15px;">
                                                                <button type="button" class="glossy-button-button button-green" id="submit_Qform">
                                                                    Submit
                                                                    <span class="glossy-button-before"></span>
                                                                    <span class="glossy-button-after"></span>
                                                                </button>
                                                                &nbsp;
                                                                &nbsp;
                                                                <button type="button" onclick="location.href='@Url.Action("YakkrList","Yakkr")?YakkrCode=451'" class="glossy-button-button button-red">
                                                                    Cancel
                                                                    <span class="glossy-button-before"></span>
                                                                    <span class="glossy-button-after"></span>

                                                                </button>

                                                             

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </form>

                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>





    @{

        Html.RenderPartial("~/Views/Partialviews/_MultipleCameraUploadPartial.cshtml");
        //Html.RenderPartial("~/views/partialviews/_multiplecamerauploadpartial.cshtml");
    }








}
