@{
    ViewBag.Title = "Questionnaire Form";
    Layout = "~/Views/Shared/AgencyStaffLayout.cshtml";
}


@section MainContentHolder{


    <style>
        #page-wrapper {
            background-color: #fff;
            min-height: 568px;
            padding: 45px 15px 0;
        }


        .edubgm-yakkr-icc {
            width: 100%;
            float: left;
            margin-top: 0px;
            background-color: #f1f5f8;
            border-radius: 7px;
            color: #2f608b;
            padding: 15px;
        }

            .edubgm-yakkr-icc > div > label,
            .edubgm-yakkr-icc > div#appoinment-div > div > label {
                color: #2f608b;
                font-weight: bold;
                font-family: "Arial" !important;
                width: 35%;
                float: left;
            }

        .radio-camera input {
            display: none;
        }

        .edubgm-yakkr-icc > div,
        .edubgm-yakkr-icc > div#appoinment-div > div {
            width: 100%;
            float: left;
            margin-bottom: 25px;
        }

        .radio-camera {
            display: inline-block;
            padding: 0 20px;
        }

            .radio-camera label {
                position: relative;
                cursor: pointer;
            }

                .radio-camera label::before {
                    display: inline-block;
                    position: absolute;
                    content: " ";
                    width: 8px;
                    height: 8px;
                    left: 4px;
                    top: 5px;
                    background: transparent;
                    margin-left: -20px;
                    border-radius: 50%;
                    border: 4px solid transparent;
                }

                .radio-camera label::after {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    width: 16px;
                    height: 16px;
                    left: 0;
                    margin-left: -20px;
                    border: 1px solid #163b69;
                    border-radius: 50%;
                    background-color: transparent;
                    top: 1px;
                }

            .radio-camera input:checked ~ label::before {
                border-color: #34495e;
            }

        .list-longedu {
            width: 65%;
            float: left;
        }

            .list-longedu .radio-camera {
                margin-bottom: 10px;
            }

        .screening_footer {
            margin: 20px 0;
            width: 100%;
            float: left;
            text-align: center;
        }

        .filediv input {
            margin-bottom: 10px;
        }

        #addnew-attach,
        .remove-attach {
            background: none;
            border: none;
            box-shadow: none;
        }

        .checkbox-height-adjust {
            height: 64px;
            overflow: auto;
        }

        .addapplicant {
            font-size: 20px;
            font-weight: bold;
            border-bottom: 2px solid #295b8f;
            color: #295b8f;
            padding: 15px 0;
            margin: 0 15px;
            margin-bottom: 20px;
        }


        #casenote-div div.col-md-4 label {
            color: #163b69;
            font-size: 18px;
            font-weight: 400;
        }

        .popup-label {
            display: initial;
            color: #1d5990;
        }

        .cslabel {
            text-align: left;
        }

        @@media (min-width: 1024px) {
            .cslabel {
                text-align: right;
            }
        }
    </style>


    <div class="row Zoom">

        <div class="col-lg-12" style="padding:0;">

            <div class="page-wrapper-change">

                <div class="container-fluid">

                    <div class="row">
                        <div class="glossy-right-side-container col-xs-12">

                            <div class="col-xs-12" style="padding:0px 0px;margin-bottom:20px;">
                                <div class="col-lg-12">
                                    <h2 class="page-header page-header-change" style="border-bottom:5px solid #f9c751!important;color:#fff;">
                                        <i class="fa fa-edit" aria-hidden="true"></i> Questionnaire Form

                                        <span class="view-btn backto_listspan hidden-xs">
                                            <a href="/Yakkr/YakkrList?YakkrCode=450" class="glossy-button-button anchor_yellow" style="text-decoration:none;">
                                                Back to List

                                                <span class="glossy-button-before"></span>
                                                <span class="glossy-button-after"></span>

                                            </a>

                                        </span>
                                    </h2>
                                </div>


                            </div>




                            <form method="post" id="QsForm" class="col-xs-12" enctype="multipart/form-data" autocomplete="off">

                                <div class="col-xs-12 glossy-panel-div">
                                    <input name="HouseHoldId" type="hidden" value="@ViewBag.HouseHoldId" />

                                    <input name="ClientId" type="hidden" value="@ViewBag.ClientId" />
                                    <input name="ClientName" type="hidden" value="@ViewBag.Name" />
                                    <input name="YakkrId" type="hidden" value="@ViewBag.YakkarId" />

                                    <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12" style="color:#fff">

                                        <div class="edubgm-yakkr-icc">

                                            <div style="margin-bottom:20px;margin-left:-15px;">
                                                <div class="col-xs-12 col-lg-12" style="padding:0;margin-bottom:10px;">
                                                    <div style="float:left;margin-top:10px;" class="col-lg-6 col-xs-12">
                                                        <label class="popup-label">Client : </label>&nbsp;<span class="totalCountSpan" id="lblEventName" style="color:#333;">@ViewBag.QSDetails.ClientName</span>
                                                    </div>
                                                    <div style="float:left;margin-top:10px;" class="col-lg-6 col-xs-12">
                                                        <label class="popup-label">Service :</label>&nbsp;<span class="totalCountSpan" id="lblTrainer" style="color:#333;">@ViewBag.QSDetails.Services </span>
                                                    </div>
                                                </div>

                                                <div class="col-xs-12 col-lg-12" style="padding:0;margin-bottom:10px;">
                                                    <div style="float:left;margin-top:10px;" class="col-lg-6 col-xs-12">
                                                        <label class="popup-label">Organization :</label>&nbsp;<span class="totalCountSpan" id="lblEventName" style="color:#333;">@ViewBag.QSDetails.CompanyName</span>
                                                    </div>
                                                    <div style="float:left;margin-top:10px;" class="col-lg-6 col-xs-12">
                                                        <label class="popup-label">Address :</label>&nbsp;<span class="totalCountSpan" id="lblTrainer" style="color:#333;">@ViewBag.QSDetails.Address </span>
                                                    </div>

                                                </div>
                                            </div>


                                            <div>
                                                <label>Interview Date</label>

                                                <div class="input-group" style="display: inline-block;">
                                                    <input style="width:150px;display:inline-block;" type="text" id="DateOfInterview" name="DateOfInterview" placeholder="MM/DD/YYYY" class="form-control ui-autocomplete-input casenote-date" />
                                                    <div id="calender_icon_doi" class="fa fa-calendar input-group-addon" style="height: 34px;width:36px;cursor:pointer;"></div>

                                                </div>
                                            </div>

                                            <div>
                                                <label> Did you make and go to your appointment?</label>
                                                <div class="radio-camera">
                                                    <input type="radio" id="app-yes" value="1" name="AppointmentMaked"> <label for="app-yes">Yes</label>
                                                </div>
                                                <div class="radio-camera">
                                                    <input type="radio" id="app-no" value="0" name="AppointmentMaked"> <label for="app-no">No</label>
                                                </div>
                                            </div>

                                            <div id="appoinment-div">

                                                <div id="time-div" style="display:none;">

                                                    <label> Date and time of appointment</label>

                                                    <div class="input-group" style="display: inline-block;">
                                                        <input style="width:150px;display:inline-block;" type="text" id="DateOfAppointment" name="DateOfAppointment" placeholder="MM/DD/YYYY" class="form-control ui-autocomplete-input casenote-date" />
                                                        <div id="calender_icon" class="fa fa-calendar input-group-addon" style="height: 34px;width:36px;cursor:pointer;"></div>

                                                    </div>
                                                    <select class="form-control" style="width:150px;display:inline-block;margin-top:10px;" name="TimeOfAppointment">
                                                        <option value="EM" title="Early Morning">Early Morning</option>
                                                        <option value="LM" title="Late Morning">Late Morning</option>
                                                        <option value="EA" title="Early Afternoon">Early Afternoon</option>
                                                        <option value="LA" title="Late Afternoon">Late Afternoon</option>
                                                    </select>

                                                </div>



                                                <div id="ds-div" style="display:none;">

                                                    <label> Did you receive the desired service?</label>
                                                    <div class="radio-camera">
                                                        <input type="radio" id="ds-yes" value="1" name="ServiceReceived"> <label for="ds-yes">Yes</label>
                                                    </div>
                                                    <div class="radio-camera">
                                                        <input type="radio" id="ds-no" value="0" name="ServiceReceived"> <label for="ds-no">No</label>
                                                    </div>


                                                </div>

                                                <div id="ratediv" style="display:none;">
                                                    <label>
                                                        Rate your experience
                                                    </label>

                                                    <div class="radio-camera">
                                                        <input type="radio" id="rating-great" value="3" name="Rating"> <label for="rating-great">Great</label>
                                                    </div>
                                                    <div class="radio-camera">
                                                        <input type="radio" id="rating-good" value="2" name="Rating"> <label for="rating-good">Good</label>
                                                    </div>
                                                    <div class="radio-camera">
                                                        <input type="radio" id="rating-poor" value="1" name="Rating"> <label for="rating-poor">Poor</label>
                                                    </div>


                                                </div>

                                                <div id="whydiv" style="display:none;">
                                                    <label>
                                                        Reason why?
                                                    </label>
                                                    <div class="list-longedu">
                                                        <div class="radio-camera">
                                                            <input type="radio" id="why-leave" value="1" name="ReasonForNotServed"> <label for="why-leave">Asked to leave</label>
                                                        </div>
                                                        <div class="radio-camera">
                                                            <input type="radio" id="why-inter" value="2" name="ReasonForNotServed"> <label for="why-inter">No interpreter</label>
                                                        </div>
                                                        <div class="radio-camera">
                                                            <input type="radio" id="why-long" value="3" name="ReasonForNotServed"> <label for="why-long">Long wait</label>
                                                        </div>
                                                        <div class="radio-camera">
                                                            <input type="radio" id="why-facili" value="4" name="ReasonForNotServed"> <label for="why-facili">Facilities closed</label>
                                                        </div>
                                                        <div class="radio-camera">
                                                            <input type="radio" id="why-family" value="5" name="ReasonForNotServed"> <label for="why-family">Family Issues</label>
                                                        </div>
                                                        <div class="radio-camera">
                                                            <input type="radio" id="why-illness" value="6" name="ReasonForNotServed"> <label for="why-illness">Illness</label>
                                                        </div>

                                                        <div class="radio-camera">
                                                            <input type="radio" id="why-money" value="7" name="ReasonForNotServed"> <label for="why-money">No insurance or money</label>
                                                        </div>

                                                        <div class="radio-camera">
                                                            <input type="radio" id="why-resched" value="8" name="ReasonForNotServed"> <label for="why-resched">Rescheduled</label>
                                                        </div>
                                                        <div class="radio-camera">
                                                            <input type="radio" id="why-trans" value="9" name="ReasonForNotServed"> <label for="why-trans">Transportation Issues</label>
                                                        </div>



                                                    </div>

                                                </div>

                                                <div id="clientstory-div" style="display:none;">

                                                    <label> Notes <sup style="color:red;" title="required field">*</sup></label>
                                                    <div style="display:inline-block;" class="row list-longedu">
                                                        <div class="col-sm-12">

                                                            <textarea name="ClientStory" class="form-control" style="min-height:75px;"> </textarea>
                                                        </div>
                                                    </div>

                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <div id="casenote-div" class="col-xs-12" style="display:none;">



                                    </div>


                                    <div class="col-xs-12 no-padding">

                                        <div class="col-xs-offset-4 col-xs-8 glossy_btn">
                                            <button type="button" class="glossy-button-button button-green" id="submit_Qform">
                                                Submit
                                                <span class="glossy-button-before"></span>
                                                <span class="glossy-button-after"></span>

                                            </button>
                                            &nbsp;
                                            &nbsp;
                                            <button type="button" class="glossy-button-button button-red" style="cursor:pointer;" onclick="location.href='/Yakkr/YakkrList?YakkrCode=450'">
                                                Cancel
                                                <span class="glossy-button-before"></span>
                                                <span class="glossy-button-after"></span>
                                            </button>
                                        </div>

                                    </div>

                                </div>


                            </form>

                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>



    <div class="row qualifierdiv">

        @{
            Html.RenderPartial("~/views/partialviews/_multiplecamerauploadpartial.cshtml");




        }

    </div>




    <script type="text/javascript">


        var _Y451Obj = {
            init: function () {
                var self = this;
                self.initEvents();
            },
            initEvents: function () {
                var self = this;

                $(document).on('click', "#calender_icon_doi", function (e) {
                    $('[name="DateOfInterview"]').datetimepicker('toggle');
                });

                $(document).on('click', "#calender_icon", function (e) {
                    $('[name="DateOfAppointment"]').datetimepicker('toggle');
                });

                $('[name="DateOfAppointment"]').datetimepicker({
                    maxDate: '+1d',
                    timepicker: false,
                    format: 'm/d/Y',
                    validateOnBlur: false,

                });

                $('#DateOfInterview').datetimepicker({

                    maxDate: '+1d',
                    timepicker: false,
                    format: 'm/d/Y',
                    validateOnBlur: false,

                });

                $('#DateOfAppointment,#DateOfInterview').mask("99/99/9999", { placeholder: 'MM/DD/YYYY' });


                $(document).on('change', '[name="DateOfInterview"]', function (e) {
                    $('[name="DateOfAppointment"]').datetimepicker({ maxDate: new Date(this.value) });

                });

                $(document).on('blur', '#DateOfAppointment', function () {


                    self.Checkdate(this);

                });

                
                $(document).on("change", '[name="AppointmentMaked"]', function (e) {

                    var _val = $(this).val();

                    if (_val == "0") {//no




                        $("#appoinment-div").slideUp();

                        $('#ds-div, #time-div').slideUp();
                        $("#casenote-div").slideDown();

                        //reset yes side value
                        $('[name="ServiceReceived"]').prop('checked', false)
                        $('[name="ReasonForNotServed"]').prop('checked', false);
                        $('[name="DateOfAppointment"], [name="ClientStory"]').val('');
                        $('[name="Rating"]').prop('checked', false);


                    } else if (_val == "1") {
                       
                        $('#ds-div, #time-div').slideDown();
                        $("#appoinment-div").slideDown();
                        $("#casenote-div").slideUp();

                    }


                });



                $(document).on("change", '[name="ServiceReceived"]', function (e) {
                    var _val = $(this).val();
                    if (_val == "1") { //yes
                        $('#ratediv').slideDown();
                        $('#whydiv').slideUp();
                        $("#clientstory-div").slideUp();

                        //reset values
                        $('[name="ClientStory"]').val('');
                        $('[name="ReasonForNotServed"]').prop("checked", false);



                    } else {
                        $('#ratediv').slideUp();
                        $('#whydiv').slideDown();
                    }

                });

                $(document).on("change", '[name="Rating"]', function (e) {
                    var _val = $(this).val();
                    if (_val == "1") { //poor
                        
                    } else {
                       
                    }

                });

                $(document).on("change", '[name="ReasonForNotServed"]', function (e) {

                    var _val = $(this).val();

                    if (_val == "1" || _val == "2" || _val == "3") {
                        $("#clientstory-div").slideDown();
                    } else {
                        $("#clientstory-div").slideUp();
                        $('[name="ClientStory"]').val('');

                    }


                });

                $(document).on('click','#submit_Qform',function(e){
        
                  
                    e.preventDefault();

                    var $caseNoteSection=$('#divCaseNoteSection');
                    var $guid=$caseNoteSection.attr('data-current-id');

                    var _doi = $('[name="DateOfInterview"]').val();
                    var _ongoingVal = $('[name="AppointmentMaked"]:checked').val();
                    var _dofAppin = $('[name="DateOfAppointment"]').val();
                    var _ServiceReceived = $('[name="ServiceReceived"]:checked').val();
                    var _rateVal = $('[name="Rating"]:checked').val();
                    var _ReasonForNotServed = $('[name="ReasonForNotServed"]:checked').val();

             
                    var _anref = $('[name="ReceiveAnotherReferral"]:checked').val();
                    var _cStory = $('[name="ClientStory"]').val();

                    if (new Date(_dofAppin) > new Date(_doi)) {//if date of interview greater then date of appoinment
                        customAlert("Interview date cannot be greater then date of appointment.");
                        return false;
                    }

                    if (!_doi) {
                        customAlert("Please select interview date.");
                        return false;
                    }

                    if (!_ongoingVal) {
                        customAlert("Please choose Appointment Yes or No.")
                        return false;
                    } else if (_ongoingVal == "0") {   //if not going for appointment
                        var result=false;
                        
                        result=$('#casenote-div').ApplinkCaseNote('caseNoteValidation');
                        
                        if(!result)
                        {
                            return false;
                        }
                        else if (!_anref) {
                            customAlert("Please Choose another referral option.");
                            return false;
                        }

                    } else if (!_dofAppin) {
                        customAlert("Please select date of appointment.");
                        return false;
                    }
                    else if (!_ServiceReceived) {

                        customAlert("Please choose Desired Service Option.");
                        return false;

                    } else if (!_rateVal && _ServiceReceived == "1") {
                        customAlert("Please choose Rating.");
                        return false;
                    } else if (_ServiceReceived == "0" && !_ReasonForNotServed) {
                        customAlert("Please choose Reason.");
                        return false;
                    } else if ((_ReasonForNotServed == "1" || _ReasonForNotServed == "2" || _ReasonForNotServed == "3") && !_cStory) {

                        customAlert("Note is required field.");
                        return false;
                    }

                    var clientArray = [];
                    var staffArray = [];
                    

                    $caseNoteSection.find('#divCaseNoteClients_'+$guid+'').find('input:checkbox:checked').each(function () {
                        clientArray.push($(this).val());
                    });

                    $caseNoteSection.find('#divCaseNoteStaffs_'+$guid+'').find('input:checkbox:checked').each(function () {
                        staffArray.push($(this).val());
                    });


                    if (_ongoingVal == "0") {
                        $('[name="TimeOfAppointment"]').val('');
                    }

                    var cameraDocumentsArray = [];

                    $caseNoteSection.find('#caseNoteAttachmentsDiv_'+$guid+'').find('input:file').each(function (a, b) {
                        var fileInput = $(this);
                        if (fileInput.val() != undefined && fileInput.val() != null && fileInput.val() != '') {
                            var fileUpload = fileInput.get(0);
                            var files = fileUpload.files;
                            for (var i = 0; i < files.length; i++) {
                                var convImage = fileInput.attr('conv-img');
                                if (convImage != null && convImage != "")
                                    cameraDocumentsArray.push({ AttachmentFileName: files[i].name, AttachmentFileExtension: '.' + files[i].name.split('.')[files[i].name.split('.').length - 1], AttachmentJson: convImage });
                            }
                        }
                    });



                    var $cameraDocuments = $caseNoteSection.find(".div-edit-gallery_"+$guid+"").find('.setup_viewscreen');



                    if ($cameraDocuments.length > 0) {

                        $.each($cameraDocuments, function (j, doc) {

                            var $doc = $(doc).find('img');
                            cameraDocumentsArray.push({ AttachmentFileName: 'CaseNoteDocument', AttachmentFileExtension: '.png', AttachmentJson: getBase64Image($doc) });

                        });
                    }

                    var qsform = {
                        'DateOfInterview': _doi,
                        'YakkrId': $('input[name="YakkrId"]').val(),
                        'AppointmentMaked': _ongoingVal,
                        'ServiceReceived': _ServiceReceived,
                        'Rating': _rateVal,
                        'ReasonForNotServed': _ReasonForNotServed,
                        'DateOfAppointment': _dofAppin,
                        'TimeOfAppointment': $('[name="TimeOfAppointment"]').val(),
                        'ClientStory': _cStory,
                        'CaseNoteId': '0',
                        'ReceiveAnotherReferral': _anref
                    }


                    var caseNote = {
                        'ClientId': $('input[name="ClientId"]').val(),
                        'CenterId': $('#hidden_centerId_'+$guid+'').val(),
                        'HouseHoldId': $('input[name="HouseHoldId"]').val(),
                        'CaseNoteid': '0',
                        'ProgramId': $('input[name="hidden_programId_'+$guid+'"]').val(),
                        'ClientIds': clientArray.join(',').trim(),
                        'StaffIds': staffArray.join(',').trim(),
                        'CaseNoteDate': $caseNoteSection.find('#txtCaseNoteDate_'+$guid+'').val(),
                        'CaseNoteTitle': $caseNoteSection.find('#txtCaseNoteTitle_'+$guid+'').val().trim(),
                        'CaseNoteTags': $caseNoteSection.find('#txtCaseNoteTags_'+$guid+'').val().trim(),
                        'Note': $caseNoteSection.find('#txtareaCaseNote_'+$guid+'').val().trim(),
                        'CaseNoteSecurity': $caseNoteSection.find('#checkboxSecureNote_'+$guid+'').is(':checked'),
                        'Classroomid': $caseNoteSection.find('#hidden_classroomId_'+$guid+'').val(),
                        'CaseNoteAttachmentList': cameraDocumentsArray,
                        'ClientName':$('input[name="ClientName"]').val()
                    }


                    var datas = { qsform: JSON.stringify(qsform), CaseNote: JSON.stringify(caseNote) };

                    $.ajax({

                        url: '/Yakkr/InsertQuestionnaireForm',
                        type: 'post',
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify({ qsform: qsform, CaseNote: caseNote }),
                        success: function (data) {
                            if (data != null) {
                                if (data.result) {

                                    customAlert('Record saved successfully');

                                    if (qsform.AppointmentMaked == 0 && qsform.ReceiveAnotherReferral == 'true') {

                                        location.href = '/Roster/ReferralService?id=' + data.encClientd + '&ClientName=' + caseNote.ClientName + '';
                                    }

                                    else{

                                        location.href = '/Yakkr/YakkrList?YakkrCode=450';
                                    }
                                }
                                else {
                                    customAlert('Error occurred. Please, try again later.');
                                }


                            }
                        },
                        error: function (data) {

                        },
                        complete: function (data) {

                        }

                    });


                });



            },
            submitForm: function () {

            },
            Checkdate: function (value) {
                isValid = true;
                if (!$(value).attr("readonly")) {

                    if ($(value).val().trim() != "MM/DD/YYYY" && $(value).val().trim() != "") {
                        var dateformat = /^(0?[1-9]|1[012])[\/\-](0?[1-9]|[12][0-9]|3[01])[\/\-]\d{4}$/;
                        var regex = new RegExp(dateformat);
                        if (!regex.test($(value).val())) {
                            customAlert("Invalid date format. ");
                            $(value).val('');
                            return false;
                        }
                        else {
                            var text = $(value).val();
                            var comp = text.split('/');
                            var m = parseInt(comp[0], 10);
                            var d = parseInt(comp[1], 10);
                            var y = parseInt(comp[2], 10);
                            var date = new Date(y, m - 1, d);
                            if (date.getFullYear() == y && date.getMonth() + 1 == m && date.getDate() == d) {

                            } else {
                                customAlert("Invalid date. ");
                                $(value).val('');
                                return false;
                            }



                        }



                    }
                    var txtdate = $(value).val();
                    var selectedTimestampequal = new Date();
                    var year = selectedTimestampequal.getFullYear();
                    var month = selectedTimestampequal.getMonth() + 1;
                    var day = selectedTimestampequal.getDate();
                    today1 = month + '/' + day + '/' + year;

                    if (new Date(txtdate).getTime() > new Date(today1).getTime()) { //future date

                        customAlert(" Date of Appointment must be lesser than or equal to today's date. ");
                        $(value).val('');
                        return false;
                    }
                    
                }
                return true;
            },
            getTagsOnInput: function () {
                var self = this;
                var tagInp = $('#CaseNotetags').val();
                var tagsArr = [];
                $.ajax({

                    url: '/Roster/GetCaseNoteTagonInput',
                    datatype: 'json',
                    type: 'post',
                    async: true,
                    data: { searchText: tagInp },
                    success: function (data) {
                        if (data != null) {
                            if (data.length > 0) {
                                $.each(data, function (i, tags) {
                                    tagsArr.push(tags.Text);
                                });
                            }
                        }
                    },
                    error: function (data) {

                    }

                });

                return tagsArr;
            }

        };

        $(document).ready(function () {
            _Y451Obj.init();



            $('#casenote-div').ApplinkCaseNote({
                isPopup: false,
                isSection: true,
                caseNoteType: 1,   //1- New/Edit 2- Append //
                getCaseNoteUrl: HostedDir + "/Roster/GetCaseNoteSectionPartial",
                caseNoteId: 0,
                householdId: 0,
                clientId: @ViewBag.ClientID,
                isEditable: true,
                isShowSubmitButton: false,
                isShowExportIcon: false,
                forceLoad: true,

                modalOnShown: function (element) {

                },
                ajaxComplete: function (element) {


                    var $caseNoteSection = element.find('#divCaseNoteSection');

                    var $guid = $caseNoteSection.attr('data-current-id');






                    element.find('#txtCaseNoteTags_'+$guid+'').importTags('Referral Declined');

                    CKEDITOR.instances['txtareaCaseNote_'+$guid+''].setData('Referral Declined');

                    element.find('#txtCaseNoteTitle_'+$guid+'').val('Referral Declined');

                    element.find('#txtCaseNoteDate_'+$guid+'').mask("99/99/9999", { placeholder: 'MM/DD/YYYY' });

                    element.find('#txtCaseNoteDate_'+$guid+'').val(getFormattedDateNumber(new Date()));

                    element.find('#txtCaseNoteDate_'+$guid+'').prop('readonly', true);


                    element.find('.img-camera').attr('target-id', 'casenote-div');

                    element.find('#divCaseNoteClients_'+$guid+'').find('input:checkbox').each(function () {

                        if ($(this).val() != '@ViewBag.ClientID')
                            $(this).parent('div').hide();

                        else {
                            $(this).prop('checked', true);
                            $(this).prop('disabled', true);
                        }


                    });



                    var regQn = '<div class="form-group col-xs-12">\
                        <label class="col-md-4 col-lg-3 col-xs-12 lbl-text" >Receive another Referral ?&nbsp;<sup style="color:red;" title="required field">*</sup> </label>\
                        <div class="col-md-5 col-lg-9 col-xs-12">\
                         <div class="radio-camera">\
                            <input type="radio" id="anoref-yes" value="true" name="ReceiveAnotherReferral"> <label for="anoref-yes" style="font-weight:normal;">Yes</label>\
                        </div>\
                        <div class="radio-camera">\
                            <input type="radio" id="anoref-no" value="false" name="ReceiveAnotherReferral"> <label for="anoref-no" style="font-weight:normal;">No</label>\
                        </div>\
                        </div>\
                    </div>';


                    element.find('#caseNoteAttachmentsDiv_'+$guid+'').parent('div').append(regQn);
                    showCameraOption(element);
                    element.find('#uploadImageCamera').hide();
                    setIntervalUserMedia(element);

                }

            });

        });




    </script>


}
