@{
    ViewBag.Title = "Yakkr451";
    Layout = "~/Views/Shared/AgencyStaffLayout.cshtml";
}


@section MainContentHolder{


    <style>

             .page-wrapper-change {
                background-image: url('../../Images/body-bg.jpg');
                background: url('../../Images/body-bg.jpg') center no-repeat #000 !important;
                background-size: cover !important;
                background-position: 100% 100% !important;
            }
             .edubgm-yakkr-icc {
        width: 100%;
        float: left;
        margin-top: 0px;
        background-color: #f1f5f8;
        border-radius: 7px;
        margin-bottom: 20px;
        color:  #2f608b;
        padding: 15px;
    }

    .edubgm-yakkr-icc > div > label,
        .edubgm-yakkr-icc > div#appoinment-div > div > label {
        color: #2f608b;
        font-weight: bold;
        font-family: "Arial" !important;
       /* padding-top: 8px;*/
        width: 35%;
        float:  left;
    }
    .radio-camera input {
        display: none;
    }
    .edubgm-yakkr-icc > div,
        .edubgm-yakkr-icc > div#appoinment-div > div {
        width:  100%;
        float:  left;
        margin-bottom: 25px;
    }
        .radio-camera {
        display: inline-block;
        padding: 0 20px;
    }
        .radio-camera label {
        position: relative;
        cursor: pointer;
    }
        .radio-camera label::before {
        display: inline-block;
        position: absolute;
        content: " ";
        width: 8px;
        height: 8px;
        left: 4px;
        top: 5px;
        background: transparent;
        margin-left: -20px;
        border-radius: 50%;
        border: 4px solid transparent;
    }
        .radio-camera label::after {
        content: "";
        display: inline-block;
        position: absolute;
        width: 16px;
        height: 16px;
        left: 0;
        margin-left: -20px;
        border: 1px solid #163b69;
        border-radius: 50%;
        background-color: transparent;
        top: 1px;
    }
        .radio-camera input:checked ~ label::before {
        border-color: #34495e;
    }
        .list-longedu {
        width:  65%;
        float:  left;
    }

    .list-longedu .radio-camera {
        margin-bottom: 10px;
    }
        .screening_footer {
        margin: 20px 0;
        width: 100%;
        float: left;
        text-align: center;
    }
        .button-green {
        text-shadow: 0 1px #0d4d09;
        background-color: #1ca913;
        border-color: #147b0e #11640b #11640b;
    }

    .glossy-button-button {
        display: inline-block;
        vertical-align: top;
        position: relative;
        overflow: hidden;
        min-width: 96px;
        line-height: 38px !important;
        padding: 0 24px;
        font-size: 14px;
        color: white;
        text-align: center;
        text-decoration: none;
        text-shadow: 0 1px #154c86;
        background-color: #247edd;
        background-clip: padding-box;
        border: 1px solid;
        border-color: #1c65b2 #18589c #18589c;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
        box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
        background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
        background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
        background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
    }.button-red {
        text-shadow: 0 1px #0d4d09;
        background-color: #E21;
        border-color: #E21 #E21 #E21;
    }.glossy-button-button:hover:after {
        width: 120%;
        background-color: rgba(255,255,255,0);
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
        .glossy-button-button:before {
        content: '';
        position: absolute;
        top: -25%;
        bottom: -25%;
        left: -20%;
        right: -20%;
        border-radius: 50%;
        background: transparent;
        -webkit-box-shadow: inset 0 0 38px rgba(255, 255, 255, 0.5);
        box-shadow: inset 0 0 38px rgba(255, 255, 255, 0.5);
    }.button-green {
        text-shadow: 0 1px #0d4d09;
        background-color: #1ca913;
        border-color: #147b0e #11640b #11640b;
    }
        .glossy-button-button:after {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 0%;
        height: 100%;
        background-color: rgba(255,255,255,0.4);
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
        transition: none;
    }

            a.glossy-button-button.button-red:hover {
             color:#fff;
             text-decoration:none;

            }
            .filediv input{margin-bottom:10px;}
            #addnew-attach,
            .remove-attach
            {
             background: none;
        border: none;
        box-shadow: none;}
            .checkbox-height-adjust{    height: 64px;
        overflow: auto;}
         .addapplicant {
        font-size: 20px;
        font-weight: bold;
        border-bottom: 2px solid #295b8f;
        color: #295b8f;
        padding: 15px 0;
        margin: 0 15px;
        margin-bottom:20px;
    }


            #casenote-div div.col-md-4 label {
                color: #163b69;
        font-size: 18px;
       /* text-align: right;*/
        font-weight: 400;
            }

            .popup-label {
        display: initial;
        color: #1d5990;
    }

            .cslabel {
             text-align:left;
            }

            @@media (min-width: 1024px) {
            .cslabel {
             text-align:right;
            }
            }
    </style>




    <div class="row">
        <div class="col-lg-12">
            @*<h2 class="page-header" style="color:#fff">
                Questionaire Form
            </h2>*@
            <h2 class="page-header page-header-change" style="border-bottom:5px solid #f9c751!important;color:#fff;">
                <i class="fa fa-edit" aria-hidden="true"></i>&nbsp; Questionnaire Form

                <span class="view-btn backto_listspan">

                    <a href="/Yakkr/YakkrList?YakkrCode=450" style="padding:10px;float: right;color: #fff;margin-right:0px;background-color:#9b59b6;border-radius: 4px;text-decoration:none;" class="backto_list">Back to List</a>
                </span>
            </h2>
        </div>
    </div>


    <div class="row">

        <form method="post" id="QsForm" enctype="multipart/form-data" autocomplete="off">


            <input name="HouseHoldId" type="hidden" value="@ViewBag.HouseHoldId" />
          
            <input name="ClientId" type="hidden" value="@ViewBag.ClientId" />
            <input name="ClientName" type="hidden" value="@ViewBag.Name" />

            <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12" style="color:#fff">

                <div class="edubgm-yakkr-icc">

                    @*<div>
                        <label style="font-size:16px;color:#333;">
                            <span style="width:auto;display:inline-block;color:#333;">Client :</span> @ViewBag.Name</label>
</div>*@


                    <div style="margin-bottom:20px;margin-left:-15px;">
                    <div class="col-xs-12 col-lg-12" style="padding:0;margin-bottom:10px;">
                        <div style="float:left;margin-top:10px;" class="col-lg-6 col-xs-12">
                            <label class="popup-label">Client : </label>&nbsp;<span class="totalCountSpan" id="lblEventName" style="color:#333;">@ViewBag.QSDetails.ClientName</span>
                        </div>
                        <div style="float:left;margin-top:10px;" class="col-lg-6 col-xs-12">
                            <label class="popup-label">Service :</label>&nbsp;<span class="totalCountSpan" id="lblTrainer" style="color:#333;">@ViewBag.QSDetails.Services </span>
                        </div>
                    </div>

                    <div class="col-xs-12 col-lg-12" style="padding:0;margin-bottom:10px;">
                        <div style="float:left;margin-top:10px;" class="col-lg-6 col-xs-12">
                            <label class="popup-label">Organization :</label>&nbsp;<span class="totalCountSpan" id="lblEventName" style="color:#333;">@ViewBag.QSDetails.CompanyName</span>
                        </div>
                        <div style="float:left;margin-top:10px;" class="col-lg-6 col-xs-12">
                            <label class="popup-label">Address :</label>&nbsp;<span class="totalCountSpan" id="lblTrainer" style="color:#333;">@ViewBag.QSDetails.Address </span>
                        </div>
                       
                    </div>
                    </div>

                    @*<div class="col-sm-12" style="margin-bottom:0px;">
                       
                            <div class="col-sm-6">
                                <div class="col-sm-6 col-xs-6" style="text-align:right;">
                                    <label style="font-size:16px;color:#333;">Client</label>
                       
                                    </div>
                                <div class="col-sm-6 col-xs-6">
                                    <label>@ViewBag.QSDetails.ClientName</label>
                                    </div>

                                </div>

                            <div class="col-sm-6">
                                <div class="col-sm-6 col-xs-6" style="text-align:right;">
                                    <label style="font-size:16px;color:#333;">Client</label>
                                </div>
                                <div class="col-sm-6 col-xs-6">
                                    <label>@ViewBag.QSDetails.ClientName</label>
                                </div>

                            </div>
                      
                    </div>

                    <div class="col-sm-12" style="margin-bottom:0px;">
                        
                            <div class="col-sm-6">
                                <div class="col-sm-6 col-xs-6" style="text-align:right;">
                                    <label style="font-size:16px;color:#333;">Organization</label>
                                </div>
                                <div class="col-sm-6 col-xs-6">
                                    <label>@ViewBag.QSDetails.CompanyName</label>
                                </div>

                            </div>

                            <div class="col-sm-6">
                                <div class="col-sm-6 col-xs-6" style="text-align:right;">
                                    <label style="font-size:16px;color:#333;">Client</label>
                                </div>
                                <div class="col-sm-6 col-xs-6">
                                    <label>@ViewBag.QSDetails.ClientName</label>
                                </div>

                            </div>

                    </div>*@




                    @*<div>

                       <span>@ViewBag.QSDetails.ClientName</span>
                        <span> @ViewBag.QSDetails.CompanyName</span>
                    </div>*@

                    <div>
                        <label> Did you make and go to your appointment?</label>
                        <div class="radio-camera">
                            <input type="radio" id="app-yes" value="1" name="AppointmentMaked"> <label for="app-yes">Yes</label>
                        </div>
                        <div class="radio-camera">
                            <input type="radio" id="app-no" value="0" name="AppointmentMaked"> <label for="app-no">No</label>
                        </div>
                    </div>

                    <div id="appoinment-div">

                        <div id="time-div" style="display:none;">

                            <label> Date and time of appointment</label>

                            @*<input style="width:150px;display:inline-block;" type="text" id="DateOfAppointment" name="DateOfAppointment"  placeholder="MM/DD/YYYY" class="form-control ui-autocomplete-input casenote-date" />

                            <select class="form-control" style="width:150px;display:inline-block;" name="TimeOfAppointment">
                                <option value="EM" title="Early Morning">Early Morning</option>
                                <option value="LM" title="Late Morning">Late Morning</option>
                                <option value="EA" title="Early Afternoon">Early Afternoon</option>
                                <option value="LA" title="Late Afternoon">Late Afternoon</option>
                            </select>*@
                            <div class="input-group" style="display: inline-block;">
                                <input style="width:150px;display:inline-block;" type="text" id="DateOfAppointment" name="DateOfAppointment" placeholder="MM/DD/YYYY" class="form-control ui-autocomplete-input casenote-date" />
                                <div id="calender_icon" class="fa fa-calendar input-group-addon" style="height: 34px;width:36px;cursor:pointer;"></div>
                               
                            </div>
                            <select class="form-control" style="width:150px;display:inline-block;margin-top:10px;" name="TimeOfAppointment">
                                <option value="EM" title="Early Morning">Early Morning</option>
                                <option value="LM" title="Late Morning">Late Morning</option>
                                <option value="EA" title="Early Afternoon">Early Afternoon</option>
                                <option value="LA" title="Late Afternoon">Late Afternoon</option>
                            </select>
                                     
                        </div>



                            <div id="ds-div" style="display:none;">

                                <label> Did you receive the desired service?</label>
                                <div class="radio-camera">
                                    <input type="radio" id="ds-yes" value="1" name="ServiceReceived"> <label for="ds-yes">Yes</label>
                                </div>
                                <div class="radio-camera">
                                    <input type="radio" id="ds-no" value="0" name="ServiceReceived"> <label for="ds-no">No</label>
                                </div>


                            </div>

                            <div id="ratediv" style="display:none;">
                                <label>
                                    Rate your experience
                                </label>

                                <div class="radio-camera">
                                    <input type="radio" id="rating-great" value="3" name="Rating"> <label for="rating-great">Great</label>
                                </div>
                                <div class="radio-camera">
                                    <input type="radio" id="rating-good" value="2" name="Rating"> <label for="rating-good">Good</label>
                                </div>
                                <div class="radio-camera">
                                    <input type="radio" id="rating-poor" value="1" name="Rating"> <label for="rating-poor">Poor</label>
                                </div>


                            </div>

                            <div id="whydiv" style="display:none;">
                                <label>
                                    If you weren't served tell us why
                                </label>
                                <div class="list-longedu">
                                    <div class="radio-camera">
                                        <input type="radio" id="why-leave" value="1" name="ReasonForNotServed"> <label for="why-leave">Asked to leave</label>
                                    </div>
                                    <div class="radio-camera">
                                        <input type="radio" id="why-inter" value="2" name="ReasonForNotServed"> <label for="why-inter">No interpreter</label>
                                    </div>
                                    <div class="radio-camera">
                                        <input type="radio" id="why-long" value="3" name="ReasonForNotServed"> <label for="why-long">Long wait</label>
                                    </div>
                                    <div class="radio-camera">
                                        <input type="radio" id="why-facili" value="4" name="ReasonForNotServed"> <label for="why-facili">Facilities closed</label>
                                    </div>
                                    <div class="radio-camera">
                                        <input type="radio" id="why-family" value="5" name="ReasonForNotServed"> <label for="why-family">Family Issues</label>
                                    </div>
                                    <div class="radio-camera">
                                        <input type="radio" id="why-illness" value="6" name="ReasonForNotServed"> <label for="why-illness">Illness</label>
                                    </div>

                                    <div class="radio-camera">
                                        <input type="radio" id="why-money" value="7" name="ReasonForNotServed"> <label for="why-money">No insurance or money</label>
                                    </div>

                                    <div class="radio-camera">
                                        <input type="radio" id="why-resched" value="8" name="ReasonForNotServed"> <label for="why-resched">Rescheduled</label>
                                    </div>
                                    <div class="radio-camera">
                                        <input type="radio" id="why-trans" value="9" name="ReasonForNotServed"> <label for="why-trans">Transportation Issues</label>
                                    </div>



                                </div>

                            </div>

                        </div>

                    <div id="casenote-div" style="display:none;">
                        @*<label style="margin-bottom:15px;">Write Case note</label>*@
                        <h3 class="addapplicant"><i class="fa fa-book" aria-hidden="true"></i>  Case Note</h3>

                        <div class="col-md-12">

                            <div class="col-md-4">
                                <label class="cslabel">Date<sup style="color:red;" title="required field">*</sup></label>
                            </div>
                            <div class="col-md-8">
                                @{
                                    string today = DateTime.Now.Month.ToString() + "/" + DateTime.Now.Day.ToString() + "/" + DateTime.Now.Year.ToString();
                                }
                                @*<input name="CaseNoteDate" type="hidden" value="@today" />*@
                                <p style="display:inline-block;width:400px;">
                                    <input class="form-control" name="CaseNoteDate" type="hidden" value="@today" />
                                    <input class="form-control" name="CaseNoteDate" type="text" value="@today" disabled />
                                </p>

                            </div>


                            <div class="col-md-4">
                                <label class="cslabel">Title<sup style="color:red;" title="required field">*</sup></label>
                            </div>
                            <div class="col-md-8">
                                <p style="display:inline-block;width:400px;"><input type="text" class="form-control" name="CaseNotetitle"></p>

                            </div>


                            <div class="col-md-4">
                                <label class="cslabel">Note<sup style="color:red;" title="required field">*</sup></label>
                            </div>
                            <div class="col-md-8">

                                <div style="display:inline-block;width:400px;">
                                    <textarea id="Note" name="Note"></textarea>
                                </div>

                                </div>

                            <div class="col-md-4" style="margin-top:15px;">
                                <label class="cslabel">Client<sup style="color:red;" title="required field">*</sup></label>
                            </div>
                            <div class="col-md-8"style="margin-top:15px;display: block;height: 40px;">
                               
                              <input type="hidden" name="ClientIds" value="@ViewBag.ClientId" />  
                                <input type="hidden" name="ClientId" value="@ViewBag.ClientId" />

                            <label>@ViewBag.Name</label>
                               
                                @*<div style="display:inline-block;width:400px;">
                                  <p>@ViewBag.Name</p>
                                </div>*@

                            </div>

                            <div class="col-md-4" style="margin-top:15px;">
                                <label  class="cslabel">Tags<sup style="color:red;" title="required field">*</sup></label>
                                </div>
                            <div class="col-md-8" style="margin-top:15px;">
                                <div style="display:inline-block;width:400px;" >
                                <input type="text"  id="CaseNotetags" name="CaseNotetags" class="form-control ui-autocomplete-input" />
                                    </div>
                                </div>


                            <div class="col-md-4" style="margin-top:15px;">
                                <label class="cslabel">Developmental Team</label>


                            </div>
                            <div class="col-md-8" style="margin-top:15px;">
                                <div style="display:inline-block;width:400px;" class="checkbox-height-adjust">
                                    @if (ViewBag.Userlist != null && ((List<FingerprintsModel.RosterNew.User>)ViewBag.Userlist) != null)
                                    {
                                        foreach (var item1 in ((List<FingerprintsModel.RosterNew.User>)ViewBag.Userlist))
                                        {
                                            <input type="checkbox" name="TeamIds.IDS" value="@item1.Id"> @item1.Name<br>
                                        }
                                    }
                                </div>
                                </div>


                            <div class="col-md-4" style="margin-top:15px;">
                                <label class="cslabel"> Secure Note ? </label>


                            </div>
                            <div class="col-md-8" style="margin-top:15px;">
                                <input type="checkbox" value="true" name="CaseNoteSecurity" /> Yes


                            </div>


                            <div class="col-xs-12" style="margin-top:15px;">
                                <div class="col-md-4">
                                    <label class="cslabel">Attachment</label>


                                </div>
                                <div class="col-md-8">
                                     <div class="filediv" style="display:inline-block;width:auto;">
                                      <p>  <input type="file" name="Attachments[0].file"  style="display:inline-block;"/>
                                        <button type="button" id="addnew-attach"><i class="fa fa-plus-square"></i> Add</button>
                                    </p>
                                    </div>
                                   
                                    @*<button type="button" id="addnew-attach" style="position:absolute;top:0;"><i class="fa fa-plus-square"></i> Add</button>*@
                                </div>
                            </div>


                            <div class="col-md-4" style="margin-top:15px;">
                                <label class="cslabel">Receive another Referral ?<sup style="color:red;" title="required field">*</sup> </label>


                            </div>
                            <div class="col-md-8" style="margin-top:15px;">
                                
                                <div class="radio-camera">
                                    <input type="radio" id="anoref-yes" value="true" name="anotherref"> <label for="anoref-yes">Yes</label>
                                </div>
                                <div class="radio-camera">
                                    <input type="radio" id="anoref-no" value="false" name="anotherref"> <label for="anoref-no">No</label>
                                </div>
                            </div>

                     @*<div class="col-md-12" style="margin-top:15px;">
                         <div style="margin-left: 149px;font-weight: bold;font-style: italic;">
                             Note: <span>When click submit the current referal is deleted.</span>
                         </div>
                                </div>*@



                            </div>

                        </div>


                        <div class="col-xs-12 no-padding">

                            <div class="col-xs-offset-4 col-xs-8">
                                <button type="button" class="glossy-button-button button-green" id="submit_Qform">Submit</button>

                                <a type="button" class="glossy-button-button button-red" href="/Yakkr/YakkrList?YakkrCode=450">Cancel</a>
                            </div>

                        </div>






                    </div>
            </div>
        </form>

            </div>



    <script type="text/javascript">


        var _Y451Obj = {
            init:function(){
                var self = this;
                self.initEvents();
            },
            initEvents: function () {
                var self = this;

               
                var _attachCount=1
                $(document).on("click", "#addnew-attach", function (e) {

                    $(".filediv").append('<p class="fdiv" data-index="'+_attachCount+'"><input type="file" style="display:inline-block;" name="Attachments[' + _attachCount + '].file">'

       +'<button type="button" data-index="'+_attachCount+'" class="remove-attach"><i class="fa fa-plus-square"></i> Remove</button><p> ');
                    _attachCount++;

                });


        $(document).on("click",".remove-attach",function(){

        var _ind = $(this).data("index");
        $(".fdiv[data-index='"+_ind+"']").remove();

        });


        $(document).on('click', "#calender_icon", function (e) {
            $('[name="DateOfAppointment"]').datetimepicker('toggle');
        });

        $('[name="DateOfAppointment"]').datetimepicker({

            maxDate: '+1d',
            timepicker: false,
            format: 'm/d/Y',
            validateOnBlur: false
        });

        $('#DateOfAppointment').mask("99/99/9999", { placeholder: 'MM/DD/YYYY' });

        $(document).on('blur', '#DateOfAppointment', function () {


        self.Checkdate(this);

        });

                $('#CaseNotetags').tagsInput({
                    width: 'auto',
                    //height: '38px',
                    delimiter: [',', ';'],
                    autocomplete_url: '',
                    'defaultText': 'add a tag',
                    autocomplete: {
                        //'source': tags_array[0].split(/,\s*/)
                        'source': self.getTagsOnInput()
                    },
                    //allowDuplicates: false
                });

        $('#CaseNotetags').addTag("referral declined");

                CKEDITOR.replace('Note', {
                    language: 'en-gb',
                    uiColor: '#295b8f',
                    disableNativeSpellChecker: false
                });

                $(document).on("change", '[name="AppointmentMaked"]', function (e) {

                    var _val = $(this).val();

                    if (_val == "0") {//no

                        $("#appoinment-div").slideUp();

                        $('#ds-div, #time-div').slideUp();
                        $("#casenote-div").slideDown();

                    }else if(_val == "1"){

                        //$('#whydiv').slideUp();
                        // $('#ratediv').slideDown();
                        $('#ds-div, #time-div').slideDown();
                        $("#appoinment-div").slideDown();
                        $("#casenote-div").slideUp();

                    }


                });



                $(document).on("change", '[name="ServiceReceived"]', function (e) {
                    var _val = $(this).val();
                    if (_val == "1") { //yes
                        $('#ratediv').slideDown();
                        $('#whydiv').slideUp();
                    } else {
                        $('#ratediv').slideUp();
                        $('#whydiv').slideDown();
                    }

                });

                $(document).on("change", '[name="Rating"]', function (e) {
                    var _val = $(this).val();
                    if (_val == "1") { //poor
                        //$('#whydiv').css("display", "block");
                      //  $('#whydiv').slideDown();
                    } else {
                        //$('#whydiv').css("display", "none");
                       // $('#whydiv').slideUp();
                    }

                });

                $(document).on("click", "#submit_Qform", function (e) {

                    var Tags = '';
                    $('#CaseNotetags_tagsinput .tag span').each(function () {
                        Tags = Tags + $(this).text().trim() + ',';
                    });
                    $("#CaseNotetags").val(Tags);

                    var _ongoingVal = $('[name="AppointmentMaked"]:checked').val();
                    var _dofAppin = $('[name="DateOfAppointment"]').val();
                    var _ServiceReceived = $('[name="ServiceReceived"]:checked').val();
                    var _rateVal = $('[name="Rating"]:checked').val();
                    var _ReasonForNotServed = $('[name="ReasonForNotServed"]:checked').val();

                    var _cnTitle = $('[name="CaseNotetitle"]').val();
                    var _csNote = CKEDITOR.instances['Note'].getData();
                    var _csTags = $("#CaseNotetags").val();
                    var _anref = $('[name="anotherref"]:checked').val();

                    if (!_ongoingVal) {
                        customAlert("Please choose Appoinment Yes or No.")
                        return false;
                    } else if (_ongoingVal == "0") {   //if not going for appointment
                       // customAlert("Please Insert Case Note.");
                        //  return false;
                        if (!_cnTitle) {
                            customAlert("Case Note Title is Required.");
                            return false;
                        } else if (!_csNote) {
                            customAlert("Case Notes is Required.");
                            return false;
                        } else if (!_csTags) {
                            customAlert("Case Notes Tag is Required.");
                            return false;
                        } else if (!_anref) {
                            customAlert("Please Choose Another Referal Option.");
                            return false;
                        }

                    } else if (!_dofAppin) {
                        customAlert("Please select date of appointment.");
                        return false;
                    }
                    else if (!_ServiceReceived) {

                        customAlert("Please choose Desired Service Option.");
                        return false;

                    } else if (!_rateVal && _ServiceReceived == "1") {
                        customAlert("Please choose Rating.");
                        return false;
                    } else if (_ServiceReceived == "0" && !_ReasonForNotServed) {
                        customAlert("Please choose Reason.");
                        return false;
                    }


                    console.log("submitted");
                      $("#QsForm").submit();

                    //self.submitForm()


                });



            },
            submitForm:function(){

            },
                 Checkdate: function(value) {
            isValid = true;
            if (!$(value).attr("readonly")) {

                if ($(value).val().trim() != "MM/DD/YYYY" && $(value).val().trim() != "") {
                    var dateformat = /^(0?[1-9]|1[012])[\/\-](0?[1-9]|[12][0-9]|3[01])[\/\-]\d{4}$/;
                    var regex = new RegExp(dateformat);
                    if (!regex.test($(value).val())) {
                        customAlert("Invalid date format. ");
                        $(value).val('');
                        return false;
                    }
                    else {
                        var text = $(value).val();
                        var comp = text.split('/');
                        var m = parseInt(comp[0], 10);
                        var d = parseInt(comp[1], 10);
                        var y = parseInt(comp[2], 10);
                        var date = new Date(y, m - 1, d);
                        if (date.getFullYear() == y && date.getMonth() + 1 == m && date.getDate() == d) {

                        } else {
                            customAlert("Invalid date. ");
                            $(value).val('');
                            return false;
                        }



                    }



                }
                var txtdate = $(value).val();
                var selectedTimestampequal = new Date();
                var year = selectedTimestampequal.getFullYear();
                var month = selectedTimestampequal.getMonth() + 1;
                var day = selectedTimestampequal.getDate();
                today1 = month + '/' + day + '/' + year;

                if (new Date(txtdate).getTime() > new Date(today1).getTime()) { //future date

                    customAlert(" Date of Appoinment must be lesser than or equal to today's date. ");
                    $(value).val('');
                    return false;
                }
                //var newinput = today1.split("/");
                //var newday = newinput[1];
                //var str = newday.substr(0, 1);
                //var newdaynew = ('0' + newday).slice(-2);
                //var newmonth = newinput[0];
                //var str1 = newmonth.substr(0, 1);
                //var newmonthnew = ('0' + newmonth).slice(-2);
                //today = newmonthnew + '/' + newdaynew + '/' + year;
                //if (today == txtdate) {
                //    return true;
                //}
                //var testdatelocalinput = new Date(txtdate);
                //var selectedTimestamp = new Date().getTime();
                //var testdatelocalinputTS = testdatelocalinput.getTime();
                //var timestamp = new Date().getTime() - (30 * 24 * 60 * 60 * 1000)
              /*  if (testdatelocalinputTS > selectedTimestamp) {
                    customAlert("Case Note date must be less than or equal to today's date.");
                    $(value).val('');
                    return false;
                }
                else if (timestamp > testdatelocalinputTS) {
                    customAlert("Case Note date cannot be less than 30 days from today's date.");
                    $(value).val('');
                    return false;
                }*/
            }
            return true;
        },
            getTagsOnInput: function () {
                var self = this;
                var tagInp = $('#CaseNotetags').val();
                var tagsArr = [];
                $.ajax({

                    url: '/Roster/GetCaseNoteTagonInput',
                    datatype: 'json',
                    type: 'post',
                    async: true,
                    data: { searchText: tagInp },
                    success: function (data) {
                        if (data != null) {
                            if (data.length > 0) {
                                $.each(data, function (i, tags) {
                                    tagsArr.push(tags.Text);
                                });
                            }
                        }
                    },
                    error: function (data) {

                    }

                });

                return tagsArr;
            }

        };

        $(document).ready(function () {
            _Y451Obj.init();
        })

    </script>


}
