@model FingerprintsModel.MyProfile
@{
    @section Title
{
        Staff Profile
    }
    ViewBag.Title = "My Profile";
    if (Session["Roleid"] != null && (Session["Roleid"].ToString().Contains("a65bb7c2-e320-42a2-aed4-409a321c08a5") || Session["Roleid"].ToString().Contains("3b49b025-68eb-4059-8931-68a0577e5fa2")))
    {
        Layout = "~/Views/Shared/AgencyAdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/AgencyStaffLayout.cshtml";
    }


}
@Scripts.Render("~/bundles/jquery")

<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"> </script>
@section Script{
    <script type="text/javascript">






        /*** Video ************/


        var videoSelect = null;
        var screenshotButton = null;
        var img = null;
        var canvas = null;
        var button = null;
        var currentStream;
        var video;
        var constraints = {};
        var front = true;

        /****************/

        $(document).ready(function () {
            $('input').keypress(function () {
                if ($(this).val() == 'MM/DD/YYYY') {
                    $(this).val('');
                    // $(this).mask("99/99/9999", { placeholder: 'MM/DD/YYYY' });
                }
            });
            $('.lang-req').change(function () {

            
                if ($(this).attr('data-langid') == 12 && $(this).is(':checked')==true) {
                    $('#OtherLanguage12').show();
                }
                else if ($(this).attr('data-langid') == 12 && $(this).is(':checked') == false) {
                    $('#OLang12').val("");
                    $('#OtherLanguage12').hide();
                }

            });

            if ('@TempData["message"]' != '') {
                customAlert('@TempData["message"]');
            }
            if ('@Session["Roleid"]' != "2d9822cd-85a3-4269-9609-9aabb914d792" && '@Session["Roleid"]' != "a65bb7c2-e320-42a2-aed4-409a321c08a5") {

                $('#TBDate').attr("disabled", "disabled");
                $('#CDDate').attr("disabled", "disabled");
                $('#MSDate').attr("disabled", "disabled");
                $('#FBDate').attr("disabled", "disabled");
                $('#BCIDate').attr("disabled", "disabled");
                $('#NCDate').attr("disabled", "disabled");
                $('#MSIfile').attr("disabled", "disabled");
                $('#FBfile').attr("disabled", "disabled");
                $('#BCIfile').attr("disabled", "disabled");
                $('#NCfile').attr("disabled", "disabled");
                $('#TBResults').attr("disabled", "disabled");
                $('#CDResults').attr("disabled", "disabled");
                $('#EMP0').attr("disabled", "disabled");

            }
            $('input:text[name="StaffEducation.DegreeDate"]').mask("99/99/9999", { placeholder: 'MM/DD/YYYY' });
            $('#TBDate').mask("99/99/9999", { placeholder: 'MM/DD/YYYY' });
            $('#CDDate').mask("99/99/9999", { placeholder: 'MM/DD/YYYY' });
            $('#MSDate').mask("99/99/9999", { placeholder: 'MM/DD/YYYY' });
            $('#FBDate').mask("99/99/9999", { placeholder: 'MM/DD/YYYY' });
            $('#BCIDate').mask("99/99/9999", { placeholder: 'MM/DD/YYYY' });
            $('#NCDate').mask("99/99/9999", { placeholder: 'MM/DD/YYYY' });
            $('#Degree').val("");


            @*if ('@Model.Institution' == "")
                $('#Institution').val("");
            if ('@Model.Major' == "")
                $('#Major').val("");*@

            if ('@Model.TBResults' == "")
                $('#TBResults').val("");
            if ('@Model.CDResults' == "")
                $('#CDResults').val("");


            // if ('@Model.Institution' != "") $('#EDUSummary').show();
            @*if ('@Model.Institution2' != "") $('#EDU2').show();
            if ('@Model.Institution3' != "") $('#EDU3').show();*@
            if ('@Model.CDDate' == '01/01/1900') $('#CDDate').val("");
            if ('@Model.TBDate' == '01/01/1900') $('#TBDate').val("");
            if ('@Model.MSDate' == '01/01/1900') $('#MSDate').val("");
            if ('@Model.FBDate' == '01-01-1900') $('#FBDate').val("");
            if ('@Model.BCIDate' == '01-01-1900') $('#BCIDate').val("");
            if ('@Model.NCDate' == '01-01-1900') $('#NCDate').val("");
            if ('@Model.StaffEducation.DegreeDate' == '01/01/1900') $('input:text[name="StaffEducation.DegreeDate"]').val("");

            @*if ('@Model.DegreeDate2' == '01/01/1900') $('#DegreeDate2').val("");
            if ('@Model.DegreeDate3' == '01/01/1900') $('#DegreeDate3').val("");*@




            //Signature Part //

            //$('#staff-sig-div').signature({guideline: true,
            //guidelineOffset: 25, guidelineIndent: 20, guidelineColor: '#ff0000'});

            $('#staff-sig-div').signature();

            $('#staff-sig-div').signature('draw', ('@Html.Raw(Model.StaffSignature.Signature)'));

            $("#SignatureCode").inputFilter(function (value) {
                return /^\d*$/.test(value) && value.toString().length <= 4;
            });

            $('#signature-img-preview').signature();
            $('#signature-img-preview').signature('draw', ('@Html.Raw(Model.StaffSignature.Signature)'));

            $('#signature-img-preview').signature('disable');





         
            /********************* Video Elements **********************/



            videoSelect = document.querySelector('select#videoSource');
            video = document.querySelector('#setup-camera-div video');
            video.setAttribute('autoplay', '');
            video.setAttribute('muted', '');
            video.setAttribute('playsinline', '')


            screenshotButton = document.querySelector('#anchor-capture');



            screenshotButton.onclick = video.onclick = function () {

                var $index = $('#modal-uploaddocument').find('.div-image-snap-gallery').find('.setup_viewscreen').length;

                var $imageQuery = '<div class="setup_viewscreen col-xs-12 col-sm-12 col-lg-12" style="margin-bottom:10px;" id="image_gallery_' + $index + '">\
                                        <img id="capt-img" class="setup_viewscreen-camera" src="">\
                                        <div class="attach-icon-div-gallery">\
                                            <i class="fa fa-eye view-file-upload" data-toggle="tooltip" tile="view file" aria-hidden="true" data-original-title="" title=""></i>\
                                            <i class="fa fa-trash delete-file-upload"  data-placement="top" aria-hidden="true" title="" data-original-title="Delete Attachment"></i>\
                                        </div>\
                                    </div>';

                canvas.width = video.videoWidth;
                canvas.height = video.videoHeight;
                canvas.getContext('2d').drawImage(video, 0, 0);
                // Other browsers will fall back to image/png
                console.log(canvas);
                // img.src = canvas.toDataURL('image/png');

                $('#modal-uploaddocument').find('.div-image-snap-gallery').append($imageQuery);




                $('#modal-uploaddocument').find('.div-image-snap-gallery').find('#image_gallery_' + $index + '').find('img').attr('src', canvas.toDataURL('image/png'));
            };



            videoSelect.addEventListener('change', function (event) {

                getStream();
            });

            navigator.mediaDevices.enumerateDevices().then(gotDevices);

            canvas = document.createElement('canvas');





            showCameraOption();

            $('#uploadImageCamera').hide();

            setIntervalUserMedia();


            $('#uploadImageCamera').on('click', function () {
             

                $('#modal-uploaddocument').find('.div-image-snap-gallery').html('');
                $('#modal-uploaddocument').modal('show');
            });



            $('#modal-uploaddocument').on('shown.bs.modal', function (event) {
                $('body').addClass('modal-open');

                showVideoStream();

                
            }).on('hidden.bs.modal', function (event) {

                stopIntervalUserMedia();
                
            });



            $('#modal-uploaddocument').find('#btn-modal-doc-add').on('click', function () {


                var $imageGallerylength = $('#modal-uploaddocument').find('.div-image-snap-gallery').find('.setup_viewscreen').length;

                if ($imageGallerylength == 0) {
                    customAlert('Please capture image using camera');
                    return false;
                }


                $('#div-edit-modal-img-gallery').append($('#modal-uploaddocument').find('.div-image-snap-gallery').html());


                var $fileIndex = $('#addEducation').find('input:file').length;


                $.each($('#div-edit-modal-img-gallery').find('.setup_viewscreen'), function (index, div) {
                    
                    var $input = $.parseHTML( '<input type="hidden" class="camera-data-hidden" value="' + getBase64Image($(div).find('img')) + '"  name="StaffEducation.Certificates[' + $fileIndex + '].AttachmentJson"/>');

                    $(div).prepend($input);
                    $fileIndex++;
                });

                $('#modal-uploaddocument').find('.div-image-snap-gallery').html('');

                $('#modal-uploaddocument').modal('hide');

            });

            $(document).on('click', '.delete-file-upload', function () {

                $(this).closest('.setup_viewscreen').remove();

                if($(this).closest('#div-edit-modal-img-gallery').length>0)
                {
                    var $fileIndex = $('#addEducation').find('input:file').length;


                    $.each($('#div-edit-modal-img-gallery').find('.setup_viewscreen'), function (index, div) {

                        $(div).find('.camera-data-hidden').attr('name', 'StaffEducation.Certificates[' + $fileIndex + '].AttachmentJson')
                        $fileIndex++;
                    });

                }

            });



            $(document).on('click', '.view-file-upload', function () {

               

                var imageAttr = $(this).closest('.setup_viewscreen').find('.setup_viewscreen-camera').attr('src');
              



                var w = window.open('about:blank', 'newwindow', 'width=500,height=500');

                setTimeout(function () {
                    //FireFox seems to require a setTimeout for this to work.
                    w.document.body.appendChild(w.document.createElement('img'))
                        .src = imageAttr;
                }, 0);

            });

            /********************* Video Elements **********************/



        });


    </script>

    <script>


        function addEducationAttachments(ele) {
            debugger;

            var $fileIndex = $(ele).parent('div').parent('div').find('input:file').length;

            var appendData = '<div class="row">\
                                                        <input type="file" name="StaffEducation.Certificates['+$fileIndex+'].file" class="form-control" style="width:58%;" />\
                                                        <a href="javascript:void(0);" onclick="removeEducationAttachements(this);" style="margin-left: 10px;top: 10px;position: relative;"><i class="fa fa-minus-circle" aria-hidden="true"></i>&nbsp;' + _langList.Remove + '</a>\
                                                    </div>';

            $(ele).parent('div').parent('div').append(appendData);

            $fileIndex = $fileIndex + 1;


            $.each($('#div-edit-modal-img-gallery').find('.setup_viewscreen'), function (index, div) {

                $(div).find('.camera-data-hidden').attr('name', 'StaffEducation.Certificates[' + $fileIndex + '].AttachmentJson')
                $fileIndex++;
            });

        }

        function removeEducationAttachements(ele) {

            var $parentDiv = $(ele).parent('div').parent('div');

            $(ele).parent('div').remove();

            $.each($parentDiv.find('input:file'), function (i, file) {
                $(file).attr('name', 'StaffEducation.Certificates[' + i + '].file');
            });


            var $fileIndex = $(ele).parent('div').parent('div').find('input:file').length;
            

            $.each($('#div-edit-modal-img-gallery').find('.setup_viewscreen'), function (index, div) {

                $(div).find('.camera-data-hidden').attr('name', 'StaffEducation.Certificates[' + $fileIndex + '].AttachmentJson')
                $fileIndex++;
            });
       


            }

        function removeclasss() {
            $('#addEducation').removeClass("active");
            $('#addEducation').removeClass("in");
            $('#addHealth').removeClass("active");
            $('#addHealth').removeClass("in");
            $('#addEmployment').removeClass("active");
            $('#addEmployment').removeClass("in");
            $('#addLanguage').removeClass("active");
            $('#addLanguage').removeClass("in");
            
            if ('' != '') {
                if ('' == '2') {

                    removeclasss();
                    $('#addEducation').addClass("in");
                    $('#addEducation').addClass("active");
                    $('#addHealth').removeClass("active");
                    $('#addHealth').removeClass("in");
                    $('#addEmployment').removeClass("in");
                    $('#addEmployment').removeClass("active");
                    $('#addLanguage').removeClass("active");
                    $('#addLanguage').removeClass("in");
                    $('#myTab li:eq(1) a').tab('show');

                }
                if ('' == '3') {

                    $('#addEducation').removeClass("in");
                    $('#addEducation').removeClass("active");
                    $('#addHealth').addClass("active");
                    $('#addHealth').addClass("in");
                    $('#addEmployment').removeClass("in");
                    $('#addEmployment').removeClass("active");
                    $('#addLanguage').removeClass("active");
                    $('#addLanguage').removeClass("in");
                    $('#myTab li:eq(2) a').tab('show');
                }
                if ('' == '4') {

                    $('#addEducation').removeClass("in");
                    $('#addEducation').removeClass("active");
                    $('#addHealth').removeClass("active");
                    $('#addHealth').removeClass("in");
                    $('#addEmployment').addClass("in");
                    $('#addEmployment').addClass("active");
                    $('#addLanguage').removeClass("active");
                    $('#addLanguage').removeClass("in");
                    $('#myTab li:eq(3) a').tab('show');
                }
                if ('' == '5') {

                    $('#addEducation').removeClass("in");
                    $('#addEducation').removeClass("active");
                    $('#addHealth').removeClass("active");
                    $('#addHealth').removeClass("in");
                    $('#addEmployment').removeClass("in");
                    $('#addEmployment').removeClass("active");
                    $('#addLanguage').addClass("active");
                    $('#addLanguage').addClass("in");
                    $('#myTab li:eq(4) a').tab('show');
                }

            }
            else {

                $('#myTab a:first').tab('show');

            }
        }
        function IsValidLanguage() {
            $('#profileindex').val("4");
            if ($('.lang-req').is(':checked') == false) {
                customAlert(_langList.SelectAnyoneLanguage);
                return false;
            }
            if ($('input[name="LangList[10].IsSpoken"]').is(':checked') === true) {
                if ($('#OLang12').val() == "") {
                    $('#OLang12').focus();
                    customAlert("Please specify other language.");
                    return false;
                }
            }
        }
        function isValideduInfo(deleteID,object) {
            cleanValidation();
            if (deleteID == 0) {

                $('#profileindex').val("1");
                isValid = true;
                if ($('input:text[name="StaffEducation.Institution"]')[0].value.trim() == "") {
                    isValid = false;
                    customAlert("Institution is required. ");
                    plainValidation($('input:text[name="StaffEducation.Institution"]'));
                    return isValid;
                }


                if ($('input:text[name="StaffEducation.Major"]')[0].value.trim() == "") {
                    isValid = false;
                    customAlert("Major is required. ");
                    plainValidation($('input:text[name="StaffEducation.Major"]'));
                    return isValid;
                }
                if ($('select[name="StaffEducation.Degree"]').val() == "" || $('select[name="StaffEducation.Degree"]').val() == null || $('select[name="StaffEducation.Degree"]').val() == "0") {
                    isValid = false;
                    customAlert("Degree is required. ");
                    plainValidation($('select[name="StaffEducation.Degree"]'));
                    return isValid;
                }


                if ($('input:text[name="StaffEducation.DegreeDate"]').val() != "") {
                    var today = new Date();
                    if (Date.parse($('input:text[name="StaffEducation.DegreeDate"]').val()) > today) {
                        isValid = false;
                        customAlert("Degree Date can't be greater than current date. ");
                        plainValidation($('input:text[name="StaffEducation.DegreeDate"]'));

                        return isValid;
                    }
                } else {
                    $('input:text[name="StaffEducation.DegreeDate"]').val(" ");
                }
            }
            else {
                $('#eduindex').val(deleteID.val);
                isValid = true;
                return isValid;
            }
        }



        function isValideduInfoA(deleteID,object) {
            cleanValidation();
            if (deleteID == 0) {

                $('#profileindex').val("1");
                isValid = true;
                if ($('#Institution')[0].value.trim() == "") {
                    isValid = false;
                    customAlert("Institution is required. ");
                    plainValidation('#Institution');
                    return isValid;
                }


                if ($('#Major')[0].value.trim() == "") {
                    isValid = false;
                    customAlert("Major is required. ");
                    plainValidation('#Major');
                    return isValid;
                }
                if ($("#Degree").val() == "" || $("#Degree").val() == null) {
                    isValid = false;
                    customAlert("Degree is required. ");
                    plainValidation('#Degree');
                    return isValid;
                }


                if ($('#DegreeDate').val() != "") {
                    var today = new Date();
                    if (Date.parse($("#DegreeDate").val()) > today) {
                        isValid = false;
                        customAlert("Degree Date can't be greater than current date. ");
                        plainValidation('#DegreeDate');

                        return isValid;
                    }
                } else {
                    $('#DegreeDate').val(" ");
                }
            }
            else {
                if ($(object).closest('tr').find('td:eq(1)').text() == "No Image") {
                    isValid = false;
                    customAlert("No file available to delete.");
                    return isValid;
                }

                $('#eduindex').val(deleteID.val);
                isValid = true;
                return isValid;
            }
        }



        function isValidempInfo() {
            cleanValidation();
            $('#profileindex').val("3");
            isValid = true;


            if ($("#MSDate").val() == 0) {
                $('#MSDate').val("");

            }
            if ($('#MSDate')[0].value.trim() != "") {
                var today = new Date();
                if (Date.parse($("#MSDate").val()) > today) {
                    isValid = false;
                    customAlert("Medical Statement Date can't be greater than current date. ");
                    plainValidation('#MSDate');

                    return isValid;
                }
            }

            if ($("#FBDate").val() == "") {
                $('#FBDate').val(" ");
            }
            if ($('#FBDate')[0].value.trim() != "") {
                var today = new Date();
                if (Date.parse($("#FBDate").val()) > today) {
                    isValid = false;
                    customAlert("Federal Background Check Date can't be greater than current date. ");
                    plainValidation('#FBDate');

                    return isValid;
                }
            }
            if ($("#BCIDate").val() == "") {
                $('#BCIDate').val(" ");
            }
            if ($('#BCIDate')[0].value.trim() != "") {
                var today = new Date();
                if (Date.parse($("#BCIDate").val()) > today) {
                    isValid = false;
                    customAlert("BCI Check Date can't be greater than current date. ");
                    plainValidation('#BCIDate');

                    return isValid;
                }
            }
            if ($("#NCDate").val() == "") {
                $('#NCDate').val(" ");
            }
            if ($('#NCDate')[0].value.trim() != "") {
                var today = new Date();
                if (Date.parse($("#NCDate").val()) > today) {
                    isValid = false;
                    customAlert("Non Conviction Statement Date can't be greater than current date. ");
                    plainValidation('#NCDate');

                    return isValid;
                }
            }
        }

        function isValidhealthInfo() {
            cleanValidation();
            $('#profileindex').val("2");
            isValid = true;


            if ($('#TBDate')[0].value.trim() != "") {
                var today = new Date();
                if ($('#TBResults').val() == 0) {
                    isValid = false;
                    customAlert("TB Result is required when a TB Date is entered. ")
                    return isValid;
                }
                if (Date.parse($("#TBDate").val()) > today) {
                    isValid = false;
                    customAlert("TB Date can't be greater than current date. ");
                    plainValidation('#TBDate');

                    return isValid;
                }
            }

            if ($('#CDDate')[0].value.trim() != "") {
                var today = new Date();
                if ($('#CDResults').val() == 0) {
                    isValid = false;
                    customAlert("Communicable Disease Result is required when a Communicable Disease Date is entered. ")
                    return isValid;
                }
                if (Date.parse($("#CDDate").val()) > today) {
                    isValid = false;
                    customAlert("Communicable Disease Date can't be greater than current date. ");
                    plainValidation('#CDDate');

                    return isValid;
                }
            }
        }

        function Private_Checked() {
            //$("#Enrolled").click(function () {
            //    $('#DegreeDate').attr("disabled", $(this).is(':checked'));
            //});


            $("input:checkbox[name='StaffEducation.IsCurrentlyEnrolled']").click(function () {
                $('input:text[name="StaffEducation.DegreeDate"]').attr("disabled", $(this).is(':checked'));
            });
        }

        function validatedate(inputTextObject) {


            if ($(inputTextObject).val().trim() != "MM/DD/YYYY" || $(inputTextObject).val().trim() != "") {
                var dateformat = /^(0?[1-9]|1[012])[\/\-](0?[1-9]|[12][0-9]|3[01])[\/\-]\d{4}$/;
                var regex = new RegExp(dateformat);
                if (regex.test($(inputTextObject).val())) {
                    var dob = new Date();
                    if (Date.parse($(inputTextObject).val()) >= dob) {
                        customAlert(_langList.InvalidDate);
                        $(inputTextObject).val('');
                        return false;
                    }
                    else {
                        var age = null;
                        var now = null;
                        var past = null;
                        var nowYear = null;
                        var pastYear = null;
                        now = new Date();
                        past = new Date($(inputTextObject).val());
                        nowYear = now.getFullYear();
                        pastYear = past.getFullYear();
                        age = nowYear - pastYear;


                    }
                    return true;
                }

            }
            else {
                customAlert("Invalid dates. ");
                $(inputTextObject).val('');
                return false;
            }

        }



        function validatedate1(inputTextObject) {
            if ($(inputTextObject).val().trim() != "MM/DD/YYYY" && $(inputTextObject).val().trim() != "") {
                var dateformat = /^(0?[1-9]|1[012])[\/\-](0?[1-9]|[12][0-9]|3[01])[\/\-]\d{4}$/;
                var regex = new RegExp(dateformat);
                if (regex.test($(inputTextObject).val())) {
                    var dob = new Date();
                    var childdob = Date.parse($('#CDOB').val());
                    //var childdob = $('#CDOB').val();
                    if (Date.parse($(inputTextObject).val()) >= dob || Date.parse($(inputTextObject).val()) < childdob) {
                        customAlert(_langList.DateNotEarlierBirthDate);
                        $(inputTextObject).val('');
                        return false;
                    }
                    else {
                        return true;
                    }

                }
                else {
                    customAlert("date. ");
                    $(inputTextObject).val('');
                    return false;
                }

            }

        }

        function clearStaffSignature(val, ele) {
            
            isValid = false;
            if (val === 1) {

                $(ele).parent('div').siblings('.kbw-signature').css('background-color', '');
                //$('#' + $(ele).parent('div').siblings('.kbw-signature').attr('id')).signature('clear');
                $(ele).parent('div').siblings('.kbw-signature').signature('clear');
                $(ele).parent('div').siblings('#conv-staff-image').val(0);
                $(ele).parent('div').siblings('#image-staff-hidden').val('');
                // $('#image-staff-sig').attr('src', '');


                //$('#sig').css('background-color', '');
                //$('#sig').signature('clear');
                //$('#ConvertedImage').val(0);
            }
            //else {
            //    $('#sig1').css('background-color', '');
            //    $('#sig1').signature('clear');
            //    $('#ConvertedImage').val(0);
            //}

            //$('#clear').click(function () {
            //    $('#sig').signature('clear');
            //});
            //$('#clearTeacher').click(function () {
            //    $('#sig1').signature('clear');
            //});
            return isValid;
        }

        function saveStaffSignature(ele) {
           
            $(ele).parent('div').siblings('.kbw-signature').css('background-color', '');
            isValid = false;
            $(ele).parent('div').siblings('#conv-staff-image').val(0);
            //  $('#image-staff-sig').attr('src','');
            var sigToImage = $(ele).parent('div').siblings('.kbw-signature').signature('toJSON');
            if (sigToImage == '{"lines":[]}' || sigToImage.length <= 12) {
                $(ele).parent('div').siblings('.kbw-signature').css('background-color', 'pink');
                customAlert(_langList.Please_Enter_Signature);
                return isValid;
            }

            else if (sigToImage.length <= 300) {
                $(ele).parent('div').siblings('.kbw-signature').css('background-color', 'pink');
                customAlert('Please enter valid signature');
                return isValid;
            }
            else {

                // $('#image-staff-sig').attr('src', $(ele).parent('div').siblings('.kbw-signature').signature('toDataURL'))
                $(ele).parent('div').siblings('#image-staff-hidden').val(sigToImage);
                $(ele).parent('div').siblings('#conv-staff-image').val(1);
                // $('#sigtype').val(1);
                return isValid;
            }

        }

        function IsValidSignature(deletID, object) {

           
            $('#profileindex').val("5");
            cleanValidation();
            $(object).closest('#addSignature').find('#staff-sig-div').css('background-color', '');

            var signature = $(object).closest('#addSignature').find('#staff-sig-div').signature('toJSON');
            var sigCode = $(object).closest('#addSignature').find('#SignatureCode');
            var convertedStaffImage = $(object).closest('#addSignature').find('#conv-staff-image');
            if (signature == '{"lines":[]}' || signature.length <= 300) {
                $(object).closest('#addSignature').find('#staff-sig-div').css('background-color', 'pink');
                customAlert(_langList.Please_Enter_Signature);
                return false;
            }
            else if (convertedStaffImage.val() == 0) {
                customAlert(_langList.PleaseSignAcceptSignature);
                $(object).closest('#addSignature').find('#staff-sig-div').css('background-color', 'pink');
                //  isValid = false;
                return false;
            }

            else if (sigCode.val() == null || sigCode.val() == '') {
                plainValidation(sigCode);
                customAlert(_langList.Please_Enter_Signature_Code);
                //isValid = false;
                return false;
            }
                
            else if (sigCode.val().trim().length != 4 ) {
                plainValidation(sigCode);
                customAlert(_langList.SigCodeOnly4digits);
                //isValid = false;
                return false;
            }

            else{
                $('#spinner').show();
                // return CheckStaffSignature(sigCode);
                return true;

                
            }
           

            //else {
             
            //    var result = CheckSignatureCode(sigCode.val())
            //    if (result == '1') {
            //        return true;
            //    }
            //    else if (result == "0") {
            //        $('#spinner').hide();
            //        customAlertforlongtime('Signature code doesn\'t match');
            //        return false;

            //    }
            //    else if (result == "2") {
            //        $('#spinner').hide();
            //        customAlertforlongtime('Error occurred. Please, try again later.');
            //        return false;
            //    }
            //    else
            //    {
            //        $('#spinner').hide();
            //        return false;
            //    }


            //}


        }

        function changeSignature(ele) {
            var $drawSignature = $(ele).closest('#div-signature-preview').siblings('#div-signature-draw');

            $drawSignature.find('#clear1').trigger('click');
            $drawSignature.find('#SignatureCode').val($('#lblSignatureCode').html());
            $drawSignature.show();
        }


        /************************** Video Functions *********************************/



        function handleSuccess(stream) {
            screenshotButton.disabled = false;
            video.srcObject = stream;
        }

        function stopMediaTracks(stream) {

            stream.getTracks().forEach(function (track) { track.stop(); })

        }


        function stopMediaTracks(stream) {
            stream.getTracks().forEach(function (track) {
                track.stop();
            });
        }

        function gotDevices(mediaDevices) {

            videoSelect.innerHTML = '';
            // videoSelect.appendChild(document.createElement('option'));
            var count = 1;
            mediaDevices.forEach(function (mediaDevice) {
                if (mediaDevice.kind === 'videoinput') {
                    const option = document.createElement('option');
                    option.value = mediaDevice.deviceId;
                    const label = mediaDevice.label || 'Camera ' + (count++) + '';
                    const textNode = document.createTextNode(label);
                    option.appendChild(textNode);
                    videoSelect.appendChild(option);
                }
            });





        }

        function getStream() {
            // alert('change event');
            if (typeof currentStream !== 'undefined') {
                stopMediaTracks(currentStream);
            }
            const videoConstraints = {};
            if (videoSelect.value === '') {
                videoConstraints.facingMode = 'environment';
            } else {
                videoConstraints.deviceId = { exact: videoSelect.value };
            }
            const constraints = {
                video: videoConstraints,
                audio: false
            };
            navigator.mediaDevices
              .getUserMedia(constraints)
              .then(function (stream) {
                  currentStream = stream;
                  video.srcObject = stream;
                  return navigator.mediaDevices.enumerateDevices();
              })
              .then(gotDevices)
              .catch(function (error) {
                  console.error(error);
                  //alert(error);
              });
        }

        function showCameraOption(ele) {

            var videoInputAvailable = 0;
            $('#uploadImageCamera').tooltip('hide');
            $('#uploadImageCamera').hide();

            navigator.mediaDevices.enumerateDevices().then(function (devices) {

                console.log(devices);
                devices.forEach(function (device) {


                    if (device.kind == 'videoinput') {
                        videoInputAvailable++;
                    }

                });


                if (videoInputAvailable == 0) {
                    $('#uploadImageCamera').hide();
                    $('#uploadImageCamera').tooltip('hide');

                }
                else {
                    $('#uploadImageCamera').css('display','inline-block');
                    $('#uploadImageCamera').tooltip('show');
                }

                console.log(videoInputAvailable);

            }).catch(function (err) {
                console.log(err.name + ": " + err.message);
            });


            //if (videoSelect.options.length > 0) {
            //    getStream();
            //}




        }

        function showVideoStream() {
            if (videoSelect.options.length > 0) {
                getStream();
            }

        }


        function checkUserMedia() {




            navigator.getMedia = (navigator.getUserMedia || // use the proper vendor prefix
                  navigator.webkitGetUserMedia ||
                  navigator.mozGetUserMedia ||
                  navigator.msGetUserMedia);

            navigator.getMedia({ video: true }, function () {

                if (!$('#uploadImageCamera').is(':visible')) {

                    $('#uploadImageCamera').css('display','inline-block');
                    $('#uploadImageCamera').tooltip('show');
                }



            }, function () {

                $('#uploadImageCamera').hide();
                $('#uploadImageCamera').tooltip('hide');


            });


        }

        var userMediaInterval = null;

        function setIntervalUserMedia() {

            userMediaInterval = setInterval(function () {

                checkUserMedia();

            }, 1000);



        }

        function stopIntervalUserMedia() {
            clearInterval(userMediaInterval);
        }

        function getBase64Image(img) {
            //debugger;
            //var canvas = document.createElement("canvas");
            //canvas.width = img.width;
            //canvas.height = img.height;
            //var ctx = canvas.getContext("2d");
            //ctx.drawImage(img, 0, 0);
            //var dataURL = ctx.toDataURL("image/png");
            //return dataURL.replace(/^data:image\/(png|jpg);base64,/, "");

            return $(img)[0].src.replace(/^data:image\/(png|jpg);base64,/, "");
        }


       


        /************************** Video Functions *********************************/


    </script>

}
@section MainContentHolder{

    <style>


/*Video CSS*/

   #addEducation .setup_viewscreen {
    width: 130px;
    float: left;
    display: inline-block;
    background-color: #000;
    height: 90px;
    max-width: 100%;
    padding: 0;
    border-radius: 5px;
    position: relative;
    margin-right: 10px;
}

  #addEducation  .attach-icon-div-gallery .view-file-upload {
    color: #fff;
    background: #42af3c;
    padding: 5px;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    font-size: 13px;
    cursor: pointer;
}

    #addEducation .attach-icon-div-gallery .delete-file-upload {
    color: #fff;
    background: #ce635a;
    padding: 5px;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    font-size: 13px;
    margin-left: 5px;
    cursor: pointer;
}

    #addEducation  .setup_viewscreen-camera {
    /* height: 350px; */
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

       #addEducation  .setup_viewscreen:hover .attach-icon-div-gallery{
                 opacity:1;
                 -webkit-transition:  all 0.5s linear;
          -moz-transition: all 0.5s linear;
          -o-transition: all 0.5s linear;
          transition: all 0.5s linear;
             }

                #addEducation   .setup_viewscreen{
                 -webkit-transition:  all 0.5s linear;
          -moz-transition: all 0.5s linear;
          -o-transition: all 0.5s linear;
          transition: all 0.5s linear;
             }


               #addEducation    .attach-icon-div-gallery {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    width: 20px;
    text-align: center;
    padding: 0px 0;
    /* background: #ffffff; */
    border-left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    border-radius: 5px;
    line-height: 90px;
    z-index: 9;
    opacity: 0;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

/*Video CSS*/

        .kbw-signature {
            width: 400px;
            height: 200px;
            background: #fff;
        }

         .icc_colspan_import {
             width: 48%;
             float: left;
             margin-bottom: 12px;
             padding: 0 1%;
         }

             .icc_colspan_import input {
                 width: 45%;
                 float: left;
             }

             .icc_colspan_import label {
                 float: right;
                 width: 75%;
             }

         .custom-time-change {
             width: 65%;
             float: right;
         }

             .custom-time-change .form-control {
                 height: 130px;
                 margin-bottom: 10px;
             }

             .custom-time-change .add-useragform {
                 margin-bottom: 20px;
             }
         /*.signature-img-preview{position:relative;height:130px;}
        .signature-img-preview img{position:absolute;left:0;right:0;top:0;bottom:0;right:0;max-height:100%;max-width:100%;margin:auto;}*/

         @@media (min-width: 768px) and (max-width: 991px) {

             .canvas-inner-block {
                 width: 430px !important;
                 text-align: center;
             }

                 .canvas-inner-block .add-useragform button, .canvas-inner-block .student-scroll {
                     margin-right: 0 !important;
                 }
         }

         @@media (min-width: 992px) and (max-width: 1199px) {
             .canvas-inner-block {
                 width: 430px !important;
                 text-align: center;
             }

                 .canvas-inner-block .add-useragform button, .canvas-inner-block .student-scroll {
                     margin-right: 0 !important;
                 }
         }

         @@media (max-width: 767px) {
             .canvas-inner-block {
                 width: 100% !important;
                 text-align: center;
                 overflow-x: auto;
             }

                 .canvas-inner-block .add-useragform button, .canvas-inner-block .student-scroll {
                     margin-right: 0 !important;
                 }

             .add-useragform label {
                 width: 100% !important;
             }

             .add-useragform input {
                 width: 65% !important;
             }
         }
    </style>

    <form method="post" role="form" enctype="multipart/form-data">
        <script>

            $(document).ready(function () {
                if (location.hash) {
                    $('a[href=' + location.hash + ']').tab('show');
                }
                $(document.body).on("click", "a[data-toggle]", function (event) {
                    location.hash = this.getAttribute("href");
                });
            });
            $(window).on('popstate', function () {
                var anchor = location.hash || $("a[data-toggle=tab]").first().attr("href");
                $('a[href=' + anchor + ']').tab('show');
            });
        </script>

        <input type="hidden" id="profileindex" name="profileindex" />
        <input type="hidden" id="eduindex" name="eduindex" />
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">
                    @Fingerprints.LocalResource.Resources.Edit_Profile
                </h2>

            </div>

        </div>
        <div class="row" id="ScreeningDiv" style="margin-top:4%;">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel with-nav-tabs panel-primary" id="MyProfileTab">
                    <div class="panel-heading panelul">

                        <input id="hidtab" name="hidtab" type="hidden" value="#" />
                        <ul id="myTab" class="nav nav-tabs">
                            <li class="active"><a href="#addEducation" data-toggle="tab">@Fingerprints.LocalResource.Resources.Education</a></li>
                            <li><a href="#addHealth" data-toggle="tab">@Fingerprints.LocalResource.Resources.Health</a></li>
                            <li><a href="#addEmployment" data-toggle="tab">@Fingerprints.LocalResource.Resources.Employment_Requirements</a></li>
                            <li><a href="#addLanguage" data-toggle="tab">@Fingerprints.LocalResource.Resources.Languages_Spoken</a></li>
                            <li><a href="#addSignature" data-toggle="tab">@Fingerprints.LocalResource.Resources.Signature</a></li>
                        </ul>
                    </div>
                    <div id="myTabContent" class="tab-content">

                        <div class="tab-pane fade in active" id="addEducation">
                            <div class="add-useragform">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-main">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label>@Fingerprints.LocalResource.Resources.Institution <sup>*</sup></label>
                                                <div class="date custom-time">


                                                    @Html.TextBoxFor(m => m.StaffEducation.Institution, new { @class = "form-control", @maxlength = "100" })

                                                    @*<input data-val="true" class="form-control" id="Institution" maxlength="100" name="Institution" type="text" value="" />*@

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label>@Fingerprints.LocalResource.Resources.Major <sup>*</sup></label>
                                                <div class="date custom-time">

                                                    @Html.TextBoxFor(m => m.StaffEducation.Major, new { @class = "form-control", @maxlength = "100" })

                                                    @* <input data-val="true" class="form-control" id="Major" maxlength="100" name="Major" type="text" value="" />*@

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label>@Fingerprints.LocalResource.Resources.Degree / @Fingerprints.LocalResource.Resources.Credential <sup>*</sup></label>

                                                @{

                                                    var degreeList = new List<SelectListItem>();

                                                    degreeList.Add(

                                                           new SelectListItem
                                                           {
                                                               Text = "--Select--",
                                                               Value = "0"
                                                           });


                                                    degreeList.Add(
                                                new SelectListItem
                                                {
                                                    Text = Fingerprints.LocalResource.Resources.Associate_Degree,
                                                    Value = "2"
                                                });

                                                    degreeList.Add(
                                                    new SelectListItem
                                                    {
                                                        Text = Fingerprints.LocalResource.Resources.Baccalaureate_Degree,
                                                        Value = "3"
                                                    });

                                                    degreeList.Add(
                                                                                    new SelectListItem
                                                                                    {
                                                                                        Text = Fingerprints.LocalResource.Resources.Advanced_Degree,
                                                                                        Value = "4"
                                                                                    });

                                                    degreeList.Add(
                                                    new SelectListItem
                                                    {
                                                        Text = Fingerprints.LocalResource.Resources.CDA,
                                                        Value = "1"
                                                    });



                                                }


                                                @Html.DropDownListFor(m => m.StaffEducation.Degree, new SelectList(degreeList, "Value", "Text"), new { @class = "form-control" })


                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group datepicker-days">
                                                <label>@Fingerprints.LocalResource.Resources.Degree_Date </label>
                                                <div class="date custom-time">

                                                    @Html.TextBoxFor(m => m.StaffEducation.DegreeDate, new { @class = "form-control", @maxlength = "50", @onblur = "return validatedate(this);", @placeholder = "MM/DD/YYYY" })

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <div>
                                                    <label>@Fingerprints.LocalResource.Resources.Currently_Enrolled </label>
                                                </div>
                                                <div class="cont-sz program_type" id="customChecklist">
                                                    <div>
                                                        <div class="centerinhorizontal1">

                                                            @Html.CheckBoxFor(m => m.StaffEducation.IsCurrentlyEnrolled, new { @onchange = "Private_Checked();" })


                                                            @* <input name="Enrolled" id="Enrolled" onchange="Private_Checked();" type="checkbox" value="1">*@

                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label>@Fingerprints.LocalResource.Resources.Degree_Type </label>
                                                <div class="cont-sz">
                                                    <div class="col-xs-6 col-sm-3">
                                                        @*<input name="Type" id="DegreeTypeNA" type="radio" value="1" checked="checked">*@

                                                        @Html.RadioButtonFor(m => m.StaffEducation.DegreeType, (int)FingerprintsModel.Enums.DegreeType.NotApplicable, new { @checked = "true" })
                                                        <span>@FingerprintsModel.EnumHelper.GetEnumDescription(FingerprintsModel.Enums.DegreeType.NotApplicable) </span>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-3">
                                                        @*<input name="Type" id="DegreeTypeECE" type="radio" value="2">*@
                                                        @Html.RadioButtonFor(m => m.StaffEducation.DegreeType, (int)FingerprintsModel.Enums.DegreeType.ECE)
                                                        <span>@FingerprintsModel.EnumHelper.GetEnumDescription(FingerprintsModel.Enums.DegreeType.ECE)</span>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-5">
                                                        @*<input name="Type" id="DegreeTypeECEE" type="radio" value="3">*@

                                                        @Html.RadioButtonFor(m => m.StaffEducation.DegreeType, (int)FingerprintsModel.Enums.DegreeType.ECEEquiv)
                                                        <span>@FingerprintsModel.EnumHelper.GetEnumDescription(FingerprintsModel.Enums.DegreeType.ECEEquiv)</span>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label>@Fingerprints.LocalResource.Resources.Highest_Degree <sup>*</sup></label>

                                                <div id="divO1" style="text-align: center;">
                                                    <label>@Model.StaffEducation.HighestDegree</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label class="col-xs-4" style="padding-left:0;">@Fingerprints.LocalResource.Resources.UploadCertificates</label>
                                                <div class="col-xs-7">
                                                    <div class="row">
                                                        <input type="file" name="StaffEducation.Certificates[0].file" class="form-control" style="width:58%;" />
                                                        <a href="javascript:void(0);" onclick="addEducationAttachments(this);" style="margin-left: 10px;top: 10px;position: relative;display:inline-block;float:left;"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;@Fingerprints.LocalResource.Resources.Add</a>
                                                        <img id="uploadImageCamera" class="img-camera" data-toggle="tooltip" src="/Images/camera.png"  style="display:none;float:left;" title="@Fingerprints.LocalResource.Resources.CaptureUsingCamera">
                                                    </div>

                                                </div>

                                                <div class="col-xs-12 adddivspace" id="div-edit-modal-img-gallery">

                                                </div>


                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="btnwrp_subcal">
                                            <button type="submit" name="btnsubmit" id="btnsubmit" value="edu" class="my-btn" onclick="return isValideduInfo(0,this);" tabindex="1">@Fingerprints.LocalResource.Resources.Save</button>

                                            <div class="clear"></div>
                                        </div>	<!--btnwrp_subcal--->


                                    </div>
                                </div>
                                <div class="row">


                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-main">
                                            <div class="table-responsive" id="EDUSummary" @if (Model.StaffEducation.EducationList.Count == 0) { <text> style="display:none;" </text>      }>
                                                <table class="table table_size" id="gridViewOther">
                                                    <thead style="cursor: pointer;">
                                                        <tr style="text-align: center;">
                                                            <th>@Fingerprints.LocalResource.Resources.Institution </th>
                                                            <th>@Fingerprints.LocalResource.Resources.Degree / @Fingerprints.LocalResource.Resources.Credential</th>
                                                            <th>@Fingerprints.LocalResource.Resources.Major</th>
                                                            <th>@Fingerprints.LocalResource.Resources.Date</th>
                                                            <th>@Fingerprints.LocalResource.Resources.Action</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>


                                                        @if (Model.StaffEducation != null && Model.StaffEducation.EducationList.Count > 0)
                                                        {
                                                            foreach (var education in Model.StaffEducation.EducationList)

                                                            {
                                                                <tr style="text-align: center;">
                                                                    <td>@education.Institution </td>
                                                                    <td>@education.Degree</td>
                                                                    <td>@education.Major</td>
                                                                    <td>@education.DegreeDate</td>
                                                                    <td>@Html.ActionLink(Fingerprints.LocalResource.Resources.Delete, "editEDU", "MyProfile", new { edu = education.EducationID, Userid = Model.UserID }, new { onclick = "return isValideduInfo(1,this);" })</td>
                                                                </tr>
                                                            }
                                                        }



                                                    </tbody>
                                                </table>

                                                @*<div id="divO1" style="text-align: center; margin-left: 36%;">
                                                    <label>@Fingerprints.LocalResource.Resources.You_add_upto_three_degrees.</label>
                                                </div>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <!--HEALTH-->
                        <div class="tab-pane fade" id="addHealth">
                            <div class="add-useragform">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-main">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group datepicker-days">
                                                <label>@Fingerprints.LocalResource.Resources.Tuberculosis_Test_Date </label>
                                                <div class="date custom-time">
                                                    <input class="form-control" id="TBDate" maxlength="50" name="TBDate" onblur="return validatedate(this);" placeholder="MM/DD/YYYY" type="text" value="@Model.TBDate" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label>@Fingerprints.LocalResource.Resources.Tuberculosis_Test_Results</label>

                                                <select name="TBResults" class="form-control" id="TBResults">

                                                    <option value="1" @if (@Model.TBResults == "1") { <text> selected="selected" </text>            }>@Fingerprints.LocalResource.Resources.Pass</option>
                                                    <option value="2" @if (@Model.TBResults == "2") { <text> selected="selected" </text>            }>@Fingerprints.LocalResource.Resources.Fail</option>

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group datepicker-days">
                                                <label>@Fingerprints.LocalResource.Resources.Communicable_Disease_Test_Date </label>
                                                <div class="date custom-time">
                                                    <input class="form-control" id="CDDate" maxlength="50" name="CDDate" onblur="return validatedate(this);" placeholder="MM/DD/YYYY" type="text" value="@Model.CDDate" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label>@Fingerprints.LocalResource.Resources.Communicable_Disease_Test_Results </label>

                                                <select name="CDResults" class="form-control" id="CDResults">

                                                    <option value="1" @if (@Model.CDResults == "1") { <text> selected="selected" </text>             }>@Fingerprints.LocalResource.Resources.Pass</option>
                                                    <option value="2" @if (@Model.CDResults == "2") { <text> selected="selected" </text>             }>@Fingerprints.LocalResource.Resources.Fail</option>

                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="btnwrp_subcal">

                                                    <div class="clear"></div>
                                                    @if (@Session["Roleid"].ToString().ToUpper() == "2D9822CD-85A3-4269-9609-9AABB914D792" || @Session["Roleid"].ToString().ToUpper() == "A65BB7C2-E320-42A2-AED4-409A321C08A5")
                                                    {
                                                        <button type="submit" name="btnsubmit" value="health" id="btnsubmit" class="my-btn" onclick="return isValidhealthInfo();" tabindex="2">@Fingerprints.LocalResource.Resources.Save</button>
                                                    }
                                                    <div class="clear"></div>

                                                </div>	<!--btnwrp_subcal--->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="addEmployment">
                            <div class="add-useragform">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-main">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group datepicker-days">
                                                <label>@Fingerprints.LocalResource.Resources.Medical_Statement_Date </label>
                                                <div class="date custom-time">
                                                    <input class="form-control" id="MSDate" maxlength="50" name="MSDate" onblur="return validatedate(this);" placeholder="MM/DD/YYYY" type="text" value="@Model.MSDate" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group datepicker-days">
                                                <label>@Fingerprints.LocalResource.Resources.Federal_Background_Check_Date </label>
                                                <div class="date custom-time">
                                                    <input class="form-control" id="FBDate" maxlength="50" name="FBDate" onblur="return validatedate(this);" placeholder="MM/DD/YYYY" type="text" value="@Model.FBDate" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group datepicker-days">
                                                <label>@Fingerprints.LocalResource.Resources.BCI_Check_Date </label>
                                                <div class="date custom-time">
                                                    <input class="form-control" id="BCIDate" maxlength="50" name="BCIDate" onblur="return validatedate(this);" placeholder="MM/DD/YYYY" type="text" value="@Model.BCIDate" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group datepicker-days">
                                                <label>@Fingerprints.LocalResource.Resources.Non_Conviction_Statement_Date </label>
                                                <div class="date custom-time">
                                                    <input class="form-control" id="NCDate" maxlength="50" name="NCDate" onblur="return validatedate(this);" placeholder="MM/DD/YYYY" type="text" value="@Model.NCDate" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group datepicker-days">

                                                <div class="date custom-time">

                                                    <label for="file">@Fingerprints.LocalResource.Resources.Upload_Medical_Statement_Image </label>
                                                    <input type="file" name="MSIfile" id="MSIfile" /><br><br>

                                                    <br><br>


                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group datepicker-days">

                                                <div class="date custom-time">

                                                    <label for="file">@Fingerprints.LocalResource.Resources.Upload_Federal_Background_Image </label>
                                                    <input type="file" name="FBfile" id="FBfile" /><br><br>

                                                    <br><br>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group datepicker-days">

                                                <div class="date custom-time">
                                                    <label for="file">@Fingerprints.LocalResource.Resources.Upload_BCI_Check_Image</label>
                                                    <input type="file" name="BCIfile" id="BCIfile" /><br><br>

                                                    <br><br>


                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group datepicker-days">

                                                <div class="date custom-time">

                                                    <label for="file">
                                                        @Fingerprints.LocalResource.Resources.Upload_Non_Conviction_Statement_Image /label>
                                                        <input type="file" name="NCfile" id="NCfile" /><br><br>

                                                    <br><br>


                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-main">
                                                <div class="table-responsive" id="EMPSummary">
                                                    <table class="table table_size" id="gridViewOther">
                                                        <thead style="cursor: pointer;">
                                                            <tr style="text-align: center;">
                                                                <th>@Fingerprints.LocalResource.Resources.File_Type </th>
                                                                <th>@Fingerprints.LocalResource.Resources.File_Name</th>
                                                                <th>@Fingerprints.LocalResource.Resources.Action</th>

                                                            </tr>
                                                        </thead>

                                                        <tbody>

                                                            <tr style="text-align: center;" id="EMP0">
                                                                <td>Medical Statement </td>
                                                                <td>@Model.MSIFileUploaded</td>
                                                                @if (@Session["Roleid"].ToString().ToUpper() == "2D9822CD-85A3-4269-9609-9AABB914D792" || @Session["Roleid"].ToString().ToUpper() == "A65BB7C2-E320-42A2-AED4-409A321C08A5")
                                                                {
                                                                    <td>@Html.ActionLink(Fingerprints.LocalResource.Resources.Delete, "editEMP", "MyProfile", new { emp = 1, Userid = Model.UserID }, new { onclick = "return isValideduInfoA(1,this);" })</td>
                                                                }
                                                                else
                                                                {
                                                                    <td>@Fingerprints.LocalResource.Resources.Action_is_not_available</td>
                                                                }
                                                            </tr>
                                                            <tr style="text-align: center;" id="EMP1">
                                                                <td>Federal Background </td>
                                                                <td>@Model.FBFileUploaded</td>
                                                                @if (@Session["Roleid"].ToString().ToUpper() == "2D9822CD-85A3-4269-9609-9AABB914D792" || @Session["Roleid"].ToString().ToUpper() == "A65BB7C2-E320-42A2-AED4-409A321C08A5")
                                                                {
                                                                    <td>@Html.ActionLink(Fingerprints.LocalResource.Resources.Delete, "editEMP", "MyProfile", new { emp = 2, Userid = Model.UserID }, new { onclick = "return isValideduInfoA(2,this);" })</td>
                                                                }
                                                                else
                                                                {
                                                                    <td>@Fingerprints.LocalResource.Resources.Action_is_not_available</td>
                                                                }

                                                            </tr>
                                                            <tr style="text-align: center;" id="EMP2">
                                                                <td>BCI Check </td>
                                                                <td>@Model.BCIFileUploaded</td>
                                                                @if (@Session["Roleid"].ToString().ToUpper() == "2D9822CD-85A3-4269-9609-9AABB914D792" || @Session["Roleid"].ToString().ToUpper() == "A65BB7C2-E320-42A2-AED4-409A321C08A5")
                                                                {
                                                                    <td>@Html.ActionLink(Fingerprints.LocalResource.Resources.Delete, "editEMP", "MyProfile", new { emp = 3, Userid = Model.UserID }, new { onclick = "return isValideduInfoA(3,this);" })</td>
                                                                }
                                                                else
                                                                {
                                                                    <td>@Fingerprints.LocalResource.Resources.Action_is_not_available</td>
                                                                }
                                                            </tr>
                                                            <tr style="text-align: center;" id="EMP3">
                                                                <td>Non Conviction Statement </td>
                                                                <td>@Model.NCFileUploaded</td>
                                                                @if (@Session["Roleid"].ToString().ToUpper() == "2D9822CD-85A3-4269-9609-9AABB914D792" || @Session["Roleid"].ToString().ToUpper() == "A65BB7C2-E320-42A2-AED4-409A321C08A5")
                                                                {
                                                                    <td>@Html.ActionLink(Fingerprints.LocalResource.Resources.Delete, "editEMP", "MyProfile", new { emp = 4, Userid = Model.UserID }, new { onclick = "return isValideduInfoA(4,this);" })</td>
                                                                }
                                                                else
                                                                {
                                                                    <td>@Fingerprints.LocalResource.Resources.Action_is_not_available</td>
                                                                }
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <input type="hidden" name="MSIFileUploaded" value="@Model.MSIFileUploaded" />
                                                    <input type="hidden" name="FBFileUploaded" value="@Model.FBFileUploaded" />
                                                    <input type="hidden" name="BCIFileUploaded" value="@Model.BCIFileUploaded" />
                                                    <input type="hidden" name="NCFileUploaded" value="@Model.NCFileUploaded" />
                                                    <div id="divO1" style="text-align: center; margin-left: 36%;">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="btnwrp_subcal">
                                            @if (@Session["Roleid"].ToString().ToUpper() == "2D9822CD-85A3-4269-9609-9AABB914D792" || @Session["Roleid"].ToString().ToUpper() == "A65BB7C2-E320-42A2-AED4-409A321C08A5")
                                                            {
                                                <button type="submit"  name="btnsubmit" value="emp" id="btnsubmit" class="my-btn" onclick="return isValidempInfo();" tabindex="3">Save</button>

                                            }
                                            </div>	<!--btnwrp_subcal--->
                                        </div>
                                    </div>

                                </div>
                            </div>
                        <div class="tab-pane fade" id="addLanguage">
                            <div class="add-useragform">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-main">
                                     

                                        @if (Model.LangList != null)
                                        {
                                            int i = 0;
                                            foreach (var item in Model.LangList)
                                            {
                                                <div class="icc_colspan_import">
                                                    <input type="hidden" name="LangList[@i].LanguageId" value="@item.LanguageId" />
                                                    <label>@item.LanguageName</label>

                                                    <input type="checkbox" class="lang-req"
                                                           @if (@item.IsSpoken) { <text> checked="checked" </text>         }
                                                           name="LangList[@i].IsSpoken" data-langid="@item.LanguageId" style="outline: 0;" value="true" />


                                                    @if (item.LanguageId == 12 && item.IsSpoken == true)
                                                    {
                                                        <div id="OtherLanguage@(item.LanguageId)" style="margin-top:10px;float:left;">
                                                            <label style="float: left;width: auto;display: inline-block;padding-right: 10px;padding-left: 42px;color:#295b8f;padding-top:7px;font-weight:bold;">@Fingerprints.LocalResource.Resources.Specify_Other_Language</label>
                                                            <input type="text" name="LangList[@i].OtherLanguage" value="@item.OtherLanguage" style="padding: 20px;" id="OLang@(item.LanguageId)" class="form-control" />

                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div id="OtherLanguage@(item.LanguageId)" style="display:none;margin-top:10px;float:left;">
                                                            <label style="float: left;width: auto;display: inline-block;padding-right: 10px;padding-left: 42px;color: #295b8f;padding-top:7px;font-weight:bold;">@Fingerprints.LocalResource.Resources.Specify_Other_Language</label>
                                                            <input type="text" name="LangList[@i].OtherLanguage" id="OLang@(item.LanguageId)" style="padding: 20px;" class="form-control" />
                                                        </div>
                                                    }
                                                </div>
                                                i++;
                                            }
                                        }

                                    </div>
                                  

                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="btnwrp_subcal">
                                            <button type="submit" name="btnsubmit" id="btnsubmit" value="edu" class="my-btn" onclick="return IsValidLanguage(0, this);" tabindex="1">@Fingerprints.LocalResource.Resources.Save</button>

                                            <div class="clear"></div>
                                        </div>	


                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="tab-pane fade" id="addSignature">
                            <div class="add-useragform">
                                <div class="row" style="margin-top:20px;">


                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">


                                        <div class="col-lg-6 col-md-12 col-sm-12" id="div-signature-preview" @if (Model.StaffSignature.StaffSignatureID == 0) { <text> style="display:none;" </text>  }>
                                            <div class="form-group">

                                                <div class="col-xs-12 adddivspace canvas-inner-block">
                                                    <label style="font-weight:bold;">@Fingerprints.LocalResource.Resources.Signature</label>

                                                    <div class="signature-img-preview" id="signature-img-preview">

                                                    </div>

                                                    <div class="signature-code-preview adddivspace" style="margin-top:20px;">

                                                        <label style="font-weight:bold;">@Fingerprints.LocalResource.Resources.Signature_Code</label>

                                                        <div class="form-group">
                                                            <label id="lblSignatureCode">@Model.StaffSignature.SignatureCode</label>
                                                          @*  @Html.TextBoxFor(m => m.StaffSignature.SignatureCode, new { @class = "form-control" })*@
                                                        </div>
                                                    </div>

                                                    <div class="add-useragform student-scroll full-border full-border-margin text-center cent-section" style="margin:20px 0;">
                                                        <button class="btnPassword" type="button" id="clear1" onclick="return changeSignature(this);" style="border-radius:50px;margin-right:100px;">@Fingerprints.LocalResource.Resources.Change</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-lg-6 col-md-12 col-sm-12" id="div-signature-draw" @if (Model.StaffSignature.StaffSignatureID > 0) { <text> style="display:none;" </text>   }>
                                            <div class="form-group">
                                                <label class="col-xs-12" style="font-weight:bold;">Signature <sup>*</sup></label>

                                                <div class="col-xs-12 adddivspace canvas-inner-block">

                                                    <i style="position:absolute;margin-top:10px;color:gray;margin-left:5px;">@Fingerprints.LocalResource.Resources.Sign_here</i>
                                                    <div id="staff-sig-div"></div>

                                                    @Html.HiddenFor(m => m.StaffSignature.Signature, new { @id = "image-staff-hidden" })
                                                    @*<input type="hidden" id="image-staff-hidden" name="StaffSignature.Signature" />*@
                                                    <input type="hidden" id="conv-staff-image" />
                                                    <div class="add-useragform student-scroll full-border full-border-margin text-center cent-section" style="margin: 20px 95px 25px 0px;">
                                                        <button class="btnPassword" type="button" id="clear1" onclick="return clearStaffSignature(1,this);" style="border-radius:50px;">@Fingerprints.LocalResource.Resources.Clear</button>
                                                        <button class="btnPassword" type="button" id="accept1" onclick="return saveStaffSignature(this);" style="border-radius:50px;">@Fingerprints.LocalResource.Resources.Accept_Signature</button>
                                                        <i style="display:block;margin-top:10px;font-size:12px;">(@Fingerprints.LocalResource.Resources.Sign_Above_Accept_Signature)</i>

                                                    </div>
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <label class="col-xs-12" style="font-weight:bold;">@Fingerprints.LocalResource.Resources.Signature_Code <sup>*</sup></label>
                                                <div class="col-xs-12 adddivspace">

                                                    @Html.TextBoxFor(m => m.StaffSignature.SignatureCode, new { @class = "form-control", @id = "SignatureCode", @autocomplete = "off", @maxlength = "4", @style = "width:12%" })
                                                    @*<input class="form-control" id="SignatureCode" autocomplete="off" maxlength="4" name="StaffSignature.SignatureCode" type="text" value="" style="width: 12%;">*@
                                                </div>
                                                <div class="col-xs-12 adddivspace">
                                                    <small style="color:red;">@Fingerprints.LocalResource.Resources.OnlyFourDigitsNumerics</small>
                                                </div>
                                            </div>

                                            <div class="btnwrp_subcal">
                                                <button type="submit" name="btnSignatureSubmit" id="btnSignatureSubmit" value="sig" class="my-btn" onclick="return IsValidSignature(0, this);" tabindex="1">@Fingerprints.LocalResource.Resources.Save</button>

                                                <div class="clear"></div>
                                            </div>

                                        </div>



                                    </div>



                                </div>


                            </div>
                        </div>


                    </div>

                </div>

            </div>

        </div>


    </form>



 <!----modal upload multiple document using camera--->


@{
    Html.RenderPartial("~/Views/Partialviews/_MultipleCameraUploadPartial.cshtml");

}


<!------>

}












