@model FingerprintsModel.UnscheduledSchoolDayModal






<div class="col-xs-12 search-block-main">


    <table class="total-details-table col-md-12">

        <tbody>


            <tr>
                <td><label>Total Record(s)</label></td>
                <td id="totalCountSpan">@Model.TotalRecord</td>
            </tr>
        </tbody>
    </table>

</div>





<table class="col-md-12 glossy-table table-striped table-condensed cf table-change ersea-table" id="schedule-school-table">
    <thead class="table-hd scroll-thead">
        <tr>
            <th>

                @if (Model.SortColumn != null && Model.SortColumn.ToLowerInvariant() == "th1")
                {
                    if (Model.SortOrder.ToLowerInvariant() == "asc")
                    {
                        <i class="fa fa-sort-alpha-asc i-asc" aria-hidden="true" style="color: #f9c751;"></i>
                            <i class="fa fa-sort-alpha-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                    }
                    else if (Model.SortOrder.ToLowerInvariant() == "desc")
                    {
                        <i class="fa fa-sort-alpha-asc i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                            <i class="fa fa-sort-alpha-desc i-desc" aria-hidden="true" style="color: #f9c751;"></i>
                    }
                }
                else if (string.IsNullOrEmpty(Model.SortColumn))
                {
                    <i class="fa fa-sort-alpha-asc i-asc" aria-hidden="true" style="color: #f9c751;"></i>
                        <i class="fa fa-sort-alpha-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                }
                else
                {
                    <i class="fa fa-sort-alpha-asc i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                        <i class="fa fa-sort-alpha-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                }



                Center

            </th>

            <th>

                @if (Model.SortColumn != null && Model.SortColumn.ToLowerInvariant() == "th2")
                {
                    if (Model.SortOrder.ToLowerInvariant() == "asc")
                    {
                        <i class="fa fa-sort-alpha-asc i-asc" aria-hidden="true" style="color: #f9c751;display:inline-block;"></i>
                            <i class="fa fa-sort-alpha-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                    }
                    else if (Model.SortOrder.ToLowerInvariant() == "desc")
                    {
                        <i class="fa fa-sort-alpha-asc i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                            <i class="fa fa-sort-alpha-desc i-desc" aria-hidden="true" style="color: #f9c751;display:inline-block"></i>
                    }

                }

                else
                {
                    <i class="fa fa-sort-alpha-asc i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                        <i class="fa fa-sort-alpha-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                }




                Classroom
            </th>


            <th>
                @if (Model.SortColumn != null && Model.SortColumn.ToLowerInvariant() == "th3")
                {
                    if (Model.SortOrder.ToLowerInvariant() == "asc")
                    {
                        <i class="fa fa-sort-alpha-asc i-asc" aria-hidden="true" style="color: #f9c751;display:inline-block;"></i>
                            <i class="fa fa-sort-alpha-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                    }
                    else if (Model.SortOrder.ToLowerInvariant() == "desc")
                    {
                        <i class="fa fa-sort-alpha-asc i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                            <i class="fa fa-sort-alpha-desc i-desc" aria-hidden="true" style="color: #f9c751;display:inline-block;"></i>
                    }
                }
                else
                {
                    <i class="fa fa-sort-alpha-asc i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                        <i class="fa fa-sort-alpha-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                }

                Reason
            </th>






            <th>

                @if (Model.SortColumn != null && Model.SortColumn.ToLowerInvariant() == "th4")
                {
                    if (Model.SortOrder.ToLowerInvariant() == "asc")
                    {


                        <i class="fa fa-custom-sort-date-asc i-asc" aria-hidden="true" style="color: #f9c751;display:inline-block;"></i>
                            <i class="fa fa-custom-sort-date-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                    }
                    else if (Model.SortOrder.ToLowerInvariant() == "desc")
                    {



                        <i class="fa fa-custom-sort-date-asc i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                            <i class="fa fa-custom-sort-date-desc i-desc" aria-hidden="true" style="color: #f9c751;display:inline-block;"></i>
                    }
                }
                else
                {


                    <i class="fa fa-long-arrow-down i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                        <i class="fa fa-calendar i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                        <i class="fa fa-long-arrow-down i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                        <i class="fa fa-calendar i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                }


                Class Date
            </th>

            <th>Action</th>

        </tr>
    </thead>
    <tbody class="ersea-table-head glossy-table-body bind_body scroll-tbody" id="classdays-tbody">



        @if (Model != null && Model.UnscheduledSchoolDayList != null && Model.UnscheduledSchoolDayList.Count > 0)
            {

                foreach (var item in Model.UnscheduledSchoolDayList)
                {
                <tr role="row">
                    <td role="gridcell" data-title="Center Name"><p>@item.CenterName</p></td>
                    <td role="gridcell" data-title="Classroom Name"><p>@item.ClassroomName</p></td>
                    <td role="gridcell" data-title="Reason"><p>@item.UnscheduledSchoolDayReason</p></td>
                    <td role="gridcell" data-title="Class Date"><p>@item.ClassDate</p></td>
                    <td role="gridcell" data-title="Action" class="text-center glossy_btn">
                        @Html.HiddenFor(m => item.UnscheduledSchoolDayID)
                        <button type="button" class="glossy-button-button button-green button-red btn-delete-trans glossy-button-button-ch">
                            <span class="glossy-button-after"></span>
                            <span class="glossy-button-before"></span>
                            <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;Delete
                        </button>

                    </td>
                </tr>
            }




        }

        else
        {
            <tr>
                <td colspan="5" style="padding: 25px;text-align:center;font-weight:bold;">Records not found</td>
            </tr>

        }


    </tbody>



</table>



