@model List<FingerprintsModel.AttendenceDetailsByDate>




<div class="col-xs-12 search-block-main" style="margin-top:20px;">

    @*<div class="glossy-search-block" style="margin-left:17px;">
            <div class="glossy-remove-btn-div">
                <button id="btnRemoveauto">
                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                </button>
            </div>
            <input type="text" autocomplete="new-text" onfocus="this.removeAttribute('readonly');" onblur="this.setAttribute('readonly','readonly');" readonly="" placeholder="Search Children..." id="searchReportText" class="form-control">
            <div class="glossy-search-btn-div">
                <button id="btnSearchauto">Search</button>
            </div>
        </div>*@



    <table class="col-md-12 table-striped total-details-table table-back-shadow">
        <tbody>
            <tr>
                <td><label style="text-align:right;">Total Record(s)&nbsp;</label></td>
                <td><label style="text-align:right;font-weight:normal;" id="totalCountSpan_modal">@ViewBag.TotalRecord</label></td>
            </tr>
        </tbody>
    </table>

</div>






@if (Model != null && Model.Count > 0)
{

    <div class="attendance-details-container col-xs-12">

        @for (int i = 0; i < Model.Count; i++)
        {

            <div class="accordion">
                <a href="javascript:void(0);">
                    <h4>@Model[i].AttendanceDate</h4>
                </a>
            </div>
            <div class="accordion-desc col-xs-12" style="display: none;">

                <table class="table table-bordered table-condensed table-bordered custom-modal-table">
                    <thead class="hidden-lg">
                        <tr>
                            <th>Center</th>
                            <th>Classroom</th>
                            <th>Attendance Date</th>
                            <th>Attendance Type</th>

                            @if (Model[i].AbsenceReason != null && Model[i].AbsenceReason.Trim() != string.Empty)
                            {
                                <th>Absence Reason</th>
                            }
                            <th>Meals</th>
                            <th>Checked In by</th>
                            <th>Daily Health Check</th>
                            <th>Teacher Signature</th>
                            <th>Checked Out by</th>


                            @if (Model[i].SignedIn2Name != null && Model[i].SignedIn2Name.Trim() != "" && Model[i].ParentSig2.Trim() != "" && Model[i].ParentSig2 != "{\"lines\":[]}")
                            {

                                <th>Signed In by</th>
                            }

                            @if (Model[i].SignedOut2Name != null && Model[i].SignedOut2Name.Trim() != "" && Model[i].ParentSigOut2.Trim() != "" && Model[i].ParentSigOut2 != "{\"lines\":[]}")
                            {

                                <th>Signed Out by</th>
                            }

                        </tr>
                    </thead>

                    <tbody class="glossy-table-body">
                        <tr>
                            <td class="hidden-md hidden-sm hidden-xs">
                                <p for="lbl-popup-center-name" class="col-md-4 col-lg-12 col-xs-12" style="color:#295b8f;">Center</p>

                            </td>
                            <td data-title="Center">
                                <p id="lbl-popup-center-name" class="col-md-5 col-lg-12 col-xs-12" style="font-weight:normal;">@Model[i].CenterName</p>

                            </td>

                        </tr>
                        <tr>
                            <td class="hidden-md hidden-sm hidden-xs">
                                <p for="lbl-popup-classroom-name" class="col-md-4 col-lg-12 col-xs-12" style="color:#295b8f;">Classroom</p>

                            </td>
                            <td data-title="Classroom">
                                <p id="lbl-popup-classroom-name" class="col-md-5 col-lg-12 col-xs-12" style="font-weight:normal;">@Model[i].ClassroomName</p>

                            </td>

                        </tr>
                        <tr>
                            <td class="hidden-md hidden-sm hidden-xs">
                                <p for="lbl-popup-att-date" class="col-md-4 col-lg-12 col-xs-12" style="color:#295b8f;">Attendance Date</p>

                            </td>
                            <td data-title="Attendance Date">
                                <p id="lbl-popup-att-date" class="col-md-5 col-lg-12 col-xs-12" style="font-weight:normal;">@Model[i].AttendanceDate</p>

                            </td>

                        </tr>
                        <tr>
                            <td class="hidden-md hidden-sm hidden-xs">
                                <p for="lbl-popup-att-type" class="col-md-4 col-lg-12 col-xs-12" style="color:#295b8f;">Attendance Type</p>

                            </td>
                            <td data-title="Attendance Type">
                                <p id="lbl-popup-att-type" class="col-md-5 col-lg-12 col-xs-12" style="font-weight:normal;">@Model[i].AttendenceStatus</p>

                            </td>
                        </tr>


                        @if (Model[i].AbsenceReason != null && Model[i].AbsenceReason.Trim() != string.Empty)
                        {
                            <tr>
                                <td class="hidden-md hidden-sm hidden-xs">
                                    <p for="lbl-popup-absence-resaon" class="col-md-4 col-lg-12 col-xs-12" style="color:#295b8f;">Absence Reason</p>

                                </td>
                                <td data-title="Absence Reason">
                                    <p id="lbl-popup-absence-reason" class="col-md-5 col-lg-12 col-xs-12" style="font-weight:normal;">@Model[i].AbsenceReason</p>

                                </td>
                            </tr>
                        }

                        <tr>
                            <td class="hidden-md hidden-sm hidden-xs">
                                <p for="lbl-popup-att-meals" class="col-md-4 col-lg-12 col-xs-12" style="color:#295b8f;">Meals</p>

                            </td>



                            <td data-title="Meals">

                             <p></p>
                                <div class="col-xs-12" style="padding:10px;">

                                    @if (!(Model[i].AbsenceReason != null && Model[i].AbsenceReason.Trim() != string.Empty))
                                    {
                                        <table class="table table-condensed table-bordered glossy-table">
                                            <thead>
                                                <tr>
                                                    <th>Breakfast</th>
                                                    <th>Lunch</th>
                                                    <th>Snack</th>
                                                    <th>Dinner</th>
                                                </tr>
                                            </thead>
                                            <tbody class="glossy-table-body">
                                                <tr>

                                                    <td data-title="Breakfast">
                                                        @if (Model[i].Breakfast)
                                                        {
                                                            <p>
                                                                <img src="/Images/whiteCheck.jpg" />
                                                               
                                                                    <span style="margin-left:15px;">@Convert.ToDateTime(Model[i].BreakfastServedOn).ToString("hh:mm tt")</span>

                                                                
                                                            </p>


                                                        }
                                                        else
                                                        {
                                                            
                                                                <p>

                                                                    <img src="/Images/whiteX.gif" />
                                                                </p>
                                                           
                                                        }

                                                    </td>

                                                    <td data-title="Lunch">
                                                        @if (Model[i].Lunch)
                                                        {
                                                            <p>
                                                                <img src="/Images/whiteCheck.jpg" />
                                                                <span style="margin-left:15px;">@Convert.ToDateTime(Model[i].LunchServedOn).ToString("hh:mm tt")</span>
                                                            </p>
                                                            
                                                        }
                                                        else
                                                        {
                                                            <p>
                                                                <img src="/Images/whiteX.gif" />
                                                            </p>

                                                        }
                                                    </td>
                                                    <td data-title="Snack">
                                                        @if (Model[i].Snack)
                                                        {
                                                            <p>
                                                                <img src="/Images/whiteCheck.jpg" />
                                                                <span style="margin-left:15px;">@Convert.ToDateTime(Model[i].SnackServedOn).ToString("hh:mm tt")</span>

                                                            </p>
                                                            
                                                        }
                                                        else
                                                        {
                                                            <p>
                                                                <img src="/Images/whiteX.gif" />
                                                            </p>


                                                        }
                                                    </td>
                                                    <td data-title="Dinner">
                                                        @if (Model[i].Dinner)
                                                        {
                                                            <p>
                                                                <img src="/Images/whiteCheck.jpg" />
                                                                <span style="margin-left:15px;">@Convert.ToDateTime(Model[i].DinnerServedOn).ToString("hh:mm tt")</span>

                                                            </p>
                                                            
                                                        }
                                                        else
                                                        {
                                                            <p>
                                                                <img src="/Images/whiteX.gif" />
                                                            </p>

                                                        }
                                                    </td>

                                                </tr>

                                            </tbody>
                                        </table>
                                    }
                                    else
                                    {
                                        <p style="margin-left:-16px;">N/A</p>
                                    }


                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="hidden-md hidden-sm hidden-xs">
                                <p for="lbl-popup-att-check-in" class="col-md-4 col-lg-12 col-xs-12" style="color:#295b8f;">Checked In by</p>

                            </td>
                            <td data-title="Checked In by">



                                @if (Model[i].SignedInName != null && Model[i].SignedInName.Trim() != "" && Model[i].ParentSig.Trim() != "" && Model[i].ParentSig.Trim() != "{\"lines\":[]}")
                                {

                                    <p>

                                        <div class="col-lg-12">

                                            <div id="parent-in-signature-div_@i" class="sig-div">
                                                <input type="hidden" value="@Model[i].ParentSig" />
                                            </div>

                                            <div class="form-group col-xs-12" style="padding:0;">
                                                <label class="col-lg-12 col-xs-12" style="font-weight:normal;float:left;">@Model[i].SignedInName</label>
                                                <label class="col-lg-12 col-xs-12" style="font-weight:normal;float:left;">@Model[i].TimeIn</label>
                                            </div>

                                        </div>
                                    </p>




                                }
                                else
                                {
                                    <p>N/A</p>

                                }



                            </td>
                        </tr>
                        <tr>
                            <td class="hidden-md hidden-sm hidden-xs">
                                <p for="lbl-popup-att-health-ck" class="col-md-4 col-lg-12 col-xs-12" style="color:#295b8f;">Daily Health Check</p>

                            </td>
                            <td data-title="Daily Health Check">

                                @{
                                    var obsList = Model[i].ObservationDescription.Split(',').ToList();
                                }

                                @if (obsList != null && obsList.Count > 0)
                                {
                                    foreach (var item in obsList)
                                    {
                                        <p class="col-md-5 col-lg-12 col-xs-12" style="font-weight:normal;">@item</p>

                                    }
                                }
                                else
                                {
                                    <p class="col-md-5 col-lg-12 col-xs-12" style="font-weight:normal;">N/A</p>

                                }


                            </td>
                        </tr>
                        <tr>
                            <td class="hidden-md hidden-sm hidden-xs">
                                <p for="lbl-popup-att-teacher-sig" class="col-md-4 col-lg-12 col-xs-12" style="color:#295b8f;">Teacher Signature</p>

                            </td>
                            <td data-title="Teacher Signature">




                                @if (!string.IsNullOrEmpty(Model[i].TeacherName) && Model[i].TeacherCheckInSig.Trim() != "" && Model[i].TeacherCheckInSig.Trim() != "{\"lines\":[]}")
                                {

                                    <p>

                                        <div class="col-lg-12">

                                            <div id="teacher-signature-div_@i" class="sig-div">
                                                <input type="hidden" value="@Model[i].TeacherCheckInSig" />
                                            </div>

                                            <div class="form-group col-xs-12" style="padding:0;">
                                                <label id="lbl-popup-signed-by" class="col-lg-12 col-xs-12" style="font-weight:normal;float:left;">@Model[i].TeacherName</label>
                                            </div>

                                        </div>
                                    </p>
                                }
                                else
                                {
                                    <p>N/A</p>
                                }



                            </td>
                        </tr>
                        <tr>
                            <td class="hidden-md hidden-sm hidden-xs">
                                <p for="lbl-popup-att-check-out" class="col-md-4 col-lg-12 col-xs-12" style="color:#295b8f;">Checked Out by</p>

                            </td>
                            <td data-title="Checked Out by">






                                @if (Model[i].SignedOutName != null && Model[i].SignedOutName.Trim() != "" && Model[i].ParentSigOut.Trim() != "" && Model[i].ParentSigOut != "{\"lines\":[]}")
                                {

                                    <p>


                                        <div class="col-lg-12">



                                            <div id="teacher-signature-div_@i" class="sig-div">
                                                <input type="hidden" value="@Model[i].ParentSigOut" />
                                            </div>

                                            <div class="form-group col-xs-12" style="padding:0;">
                                                <label class="col-lg-12 col-xs-12" style="font-weight:normal;float:left;">@Model[i].SignedOutName</label>

                                                @if (Model[i].ProtectiveBadge != null && Model[i].ProtectiveBadge.Trim() != string.Empty)
                                                {
                                                    <label id="lbl-popup-cps-badge" class="col-lg-12 col-xs-12" style="font-weight:normal;float:left;">@Model[i].ProtectiveBadge</label>

                                                }
                                                <label id="lbl-popup-signed-by" class="col-lg-12 col-xs-12" style="font-weight:normal;float:left;">@Model[i].TimeOut</label>


                                            </div>

                                        </div>
                                    </p>

                                }
                                else
                                {
                                    <p class="col-md-5 col-lg-12 col-xs-12" style="font-weight:normal;">N/A</p>

                                }



                            </td>
                        </tr>


                        @if (Model[i].SignedIn2Name != null && Model[i].SignedIn2Name.Trim() != "" && Model[i].ParentSig2.Trim() != "" && Model[i].ParentSig2 != "{\"lines\":[]}")
                        {
                            <tr>
                                <td class="hidden-md hidden-sm hidden-xs">
                                    <p for="lbl-popup-att-check-out" class="col-md-4 col-lg-12 col-xs-12" style="color:#295b8f;">Checked In by</p>

                                </td>
                                <td data-title="Checked In by">

                                    <p>


                                        <div class="col-lg-12">



                                            <div id="parent-signature-div_@i" class="sig-div">
                                                <input type="hidden" value="@Model[i].ParentSig2" />
                                            </div>

                                            <div class="form-group col-xs-12" style="padding:0;">
                                                <label class="col-lg-12 col-xs-12" style="font-weight:normal;float:left;">@Model[i].SignedIn2Name</label>
                                                <label id="lbl-popup-signed-by" class="col-lg-12 col-xs-12" style="font-weight:normal;float:left;">@Model[i].TimeIn2</label>
                                            </div>

                                        </div>
                                    </p>


                                </td>
                            </tr>
                        }

                        @if (Model[i].SignedOut2Name != null && Model[i].SignedOut2Name.Trim() != "" && Model[i].ParentSigOut2.Trim() != "" && Model[i].ParentSigOut2 != "{\"lines\":[]}")
                        {
                            <tr>
                                <td class="hidden-md hidden-sm hidden-xs">
                                    <p for="lbl-popup-att-check-out" class="col-md-4 col-lg-12 col-xs-12" style="color:#295b8f;">Checked Out by</p>

                                </td>
                                <td data-title="Checked Out by">

                                    <p>


                                        <div class="col-lg-12">



                                            <div id="parent-signature-div_@i" class="sig-div">
                                                <input type="hidden" value="@Model[i].ParentSigOut2" />
                                            </div>

                                            <div class="form-group col-xs-12" style="padding:0;">
                                                <label class="col-lg-12 col-xs-12" style="font-weight:normal;float:left;">@Model[i].SignedOut2Name</label>

                                                @if (Model[i].ProtectiveBadge != null && Model[i].ProtectiveBadge.Trim() != string.Empty)
                                                {
                                                    <label id="lbl-popup-cps-badge" class="col-lg-12 col-xs-12" style="font-weight:normal;float:left;">@Model[i].ProtectiveBadge</label>

                                                }
                                                <label id="lbl-popup-signed-by" class="col-lg-12 col-xs-12" style="font-weight:normal;float:left;">@Model[i].TimeOut2</label>
                                            </div>

                                        </div>
                                    </p>


                                </td>
                            </tr>
                        }


                    </tbody>

                </table>





            </div>

                                    }

    </div>
                                    }
                                    else
                                    {
                                        <div class="col-xs-12 glossy-panel-div table-back-shadow text-center" style="padding:25px;">
                                            <span class="col-xs-12">@Fingerprints.LocalResource.Resources.Recordsnotfound</span>
                                        </div>
                                    }









<style>
    .accordion {
        position: relative;
        /*background-color: #fff;*/
        background-color: #e3ebf9;
        /*background-color: #eff2f7;*/
        display: inline-block;
        width: 100%;
        /*border-top: 1px solid #f1f4f3;
        border-bottom: 1px solid #f1f4f3;*/
        font-weight: 700;
        /*color: #74777b;*/
        color: #41454e;
        vertical-align: middle;
        padding-bottom: 1px;
        border-bottom: 1px solid #fff;
    }

        .accordion:first-child, .accordion:last-child {
            border-radius: 5px 5px 0 0;
        }

        .accordion .fa {
            position: relative;
            float: right;
        }

        .accordion h4 {
            position: relative;
            top: 0.8em;
            margin: 0;
            font-size: 14px;
            font-weight: 700;
        }

        .accordion a {
            position: relative;
            display: block;
            color: #41454e;
            padding: 1em 1em 2.5em 1em;
            text-decoration: none;
        }

        .accordion.active a {
            color: #fff;
        }

        .accordion:last-child {
            border-bottom: unset;
        }


        .accordion:hover {
            text-decoration: none;
            /*color: #2cc185;*/
            /*background-color: #e7ecea;*/
            background-color: #41454e;
            color: #fff;
            transition: 0.3s;
        }

    .accordion-desc {
        /*background-color: #f1f4f3;*/
        background-color: #fff;
        color: #74777b;
        z-index: 2;
        padding: 20px 15px;
        border-bottom: 1px solid #3e4770;
        border-left: 1px solid #3e4770;
        border-right: 1px solid #3e4770;
        border-color: #3e4770;
    }

    .accordion h4:after {
        content: '\002B';
        color: #41454e;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

    .accordion:hover {
        background-color: #bfc4cd;
        color: #fff;
        padding-left: 25px;
    }


    .accordion.active {
        background-color: #3e4770;
        color: #fff;
        padding-left: 25px;
        border-bottom: unset;
    }

        .accordion.active h4:after {
            content: "\2212";
            color: #fff;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }

    .kbw-signature {
        width: 400px;
        height: 200px;
        border: unset;
    }

    #attendance-details-section table tbody > tr td > p {
        width: 100%;
    }

    #attendance-details-section .search-block-main {
        display: block;
    }

        #attendance-details-section .search-block-main table {
            margin-right: 0px;
        }
</style>

<script type="text/javascript">
    $(".accordion-desc").fadeOut(0);
    $(".accordion").click(function () {



        //if ($(this).hasClass('active')) {
        //    $(this).removeClass('active');
        //}
        //else {
        //    $(this).addClass('active');
        //}

        $(".accordion-desc").not($(this).next()).slideUp('slow');
        $(this).next().slideToggle(400);
        $(this).toggleClass('active');
        $('.accordion').not($(this)).removeClass('active');

    });
</script>