@model FingerprintsModel.CaseNoteByClientID

@*<div class="col-xs-12 col-lg-12" id="divCaseNoteSection">
        <h3 class="addapplicant"><i class="fa fa-book" aria-hidden="true"></i><span><span id="heading_case_note">Case Note</span></span></h3>
        <div class="col-xs-12 col-sm-12 adddivspace">
            <div class="col-lg-3 col-xs-5">
                <div class="enroll-sec">
                    <div class="transition-content-desc title-div-casenote" style="position: relative;">
                        <p style="background: none;border: none;font-weight:600;">Date<span class="error-notify">*</span></p>
                        <input type="hidden" id="hid-case-note-id" value="0">
                    </div>
                </div>
            </div>

            <div class="col-lg-9 col-sm-12 col-xs-12">
                <input type="text" class="form-control" value="@DateTime.Parse(DateTime.Now.ToString("MM/dd/yyyy"), new System.Globalization.CultureInfo("en-US", true))" id="txtCaseNoteDate" onblur="checkStatusChangeDate(this);" placeholder="MM/DD/YYYY">
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 adddivspace">
            <div class="col-lg-3 col-xs-5">
                <div class="enroll-sec">
                    <div class="transition-content-desc title-div-casenote" style="position: relative;">
                        <p style="background: none;border: none;font-weight:600;">Title<span class="error-notify">*</span></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-9 col-sm-12">
                <input type="text" class="form-control" id="txtCaseNoteTitle" placeholder="Case Note Title">
            </div>
        </div>


        <div class="col-xs-12 col-sm-12 adddivspace">
            <div class="col-lg-3 col-xs-5">
                <div class="enroll-sec">
                    <div class="transition-content-desc title-div-casenote" style="position: relative;">
                        <p style="background: none;border: none;">Note<span class="error-notify">*</span></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-9 col-sm-12">
                <textarea id="txtareaCaseNote" name="Note" style="visibility: hidden; display: none;"></textarea>

            </div>
        </div>

        <div class="col-xs-12 col-sm-12 adddivspace">
            <div class="col-lg-3 col-xs-12">
                <div class="enroll-sec">
                    <div class="transition-content-desc title-div-casenote" style="position: relative;">
                        <p style="background: none;border: none;">Client(s)<span class="error-notify">*</span></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-9 col-sm-12 no-padding" id="divCaseNoteClients"><div class="col-sm-12 adddivspace"><input type="checkbox" checked="checked" value="25339"><span>&nbsp;Krish23 JK (Child)</span></div></div>
        </div>

        <div class="col-xs-12 col-sm-12 adddivspace">
            <div class="col-lg-3 col-xs-12">
                <div class="enroll-sec">
                    <div class="transition-content-desc title-div-casenote" style="position: relative;">
                        <p style="background: none;border: none;">Tags<span class="error-notify">*</span></p>
                    </div>
                </div>
            </div>


            <div class="col-lg-9 col-sm-12">
                <input type="text" id="txtCaseNoteTags" class="form-control ui-autocomplete-input" data-tagsinput-init="true" style="display: none;"><div id="casenotetags_attissue_tagsinput" class="tagsinput" style="width: auto; min-height: auto; height: auto;"><span class="tag"><span>Excessive Absences&nbsp;&nbsp;</span><a href="#" title="Removing tag">x</a></span><div id="casenotetags_attissue_addTag"><input id="casenotetags_attissue_tag" value="" data-default="" class="ui-autocomplete-input" autocomplete="off" style="color: rgb(102, 102, 102); width: 238px;"></div><div class="tags_clear"></div></div>

            </div>
        </div>

        <div class="col-xs-12 col-sm-12 adddivspace" style="margin-bottom:10px;">
            <div class="col-lg-3 col-xs-12">
                <div class="enroll-sec">
                    <div class="transition-content-desc title-div-casenote" style="position: relative;">
                        <p style="background: none;border: none;">Developmental Team<span class="error-notify">*</span></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-9 col-sm-12 no-padding" id="divDevelopementStaffs"><div class="col-sm-12 col-lg-12 m-tp"><input type="checkbox" value="ebf675df-9468-4cd4-92b0-d97b7d49888d"><span>&nbsp;Carlie Davis (Family Service Worker)</span></div><div class="col-sm-12 col-lg-12 m-tp"><input type="checkbox" value="b05f99ac-bc3c-4e13-90b4-0b4f726048ea"><span>&nbsp;FSW 2 (Family Service Worker)</span></div></div>
        </div>

        <div class="col-xs-12 col-sm-12  adddivspace" style="margin-top:-12px;">
            <div class="col-lg-3 col-xs-12">
                <div class="enroll-sec">
                    <div class="transition-content-desc title-div-casenote" style="position: relative;">
                        <p style="background: none;border: none;">Secure Note Level?</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-9 col-sm-12" style="margin-top:10px;">
                <div class="addn-poup-div1">
                    <input type="checkbox" id="checkboxSecureNote" value="true">
                    <span>Yes</span>
                </div>
            </div>
        </div>


        <div class="col-xs-12 col-sm-12  adddivspace" id="att_issueattachmentsDiv">
            <div class="col-lg-3 col-xs-12">
                <div class="enroll-sec">
                    <div class="transition-content-desc title-div-casenote" style="position: relative;">
                        <p style="background: none;border: none;">Attachment</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-9 col-sm-12">
                <div class="col-sm-9 col-lg-9 col-xs-7 no-padding">
                    <input type="file" id="att_issue_firstfile" onchange="ValidateSingleInputpdf2(this,null)" class="form-control">
                </div>
                <div class="col-sm-3 col-lg-3 col-xs-4 adddivspace response-addicspace" style="margin-top:2%;">

                    <a href="javascript:void(0)" id="Attachmectstag_attissue" data-toggle="tooltip" title="" onclick="addMoreAttachment(this);" data-original-title="Add Attachment"><i class="fa fa-plus-circle"></i>&nbsp;Add</a>

                </div>
            </div>

            <div class="col-lg-9 col-sm-12 col-xs-12" id="addAttachmentDiv_attissue"></div>

        </div>



        <div class="col-xs-12 col-sm-12  adddivspace" id="div_download_attach" style="display:none;">
            <div class="col-lg-3 col-xs-12">
                <div class="enroll-sec">
                    <div class="transition-content-desc title-div-casenote" style="position: relative;">
                        <p style="background: none;border: none;">Download Attachment(s)</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-9 col-sm-7 adddivspace" id="div_attach_download_bind_section"></div>



        </div>





        <div style="margin-bottom: 20px;margin-top:20px;" class="text-center col-xs-12">

            <button type="button" class="my-btn1" id="btn_att_issue_casenote_save" title="" data-toggle="tooltip" data-original-title="Click to save the case note">Save</button>
            <button type="button" class="my-btn1" id="bn_att_issue_casenote_clear" title="" data-toggle="tooltip" data-original-title="Click to reset the form with default settings">Clear</button>

        </div>

    </div>*@
<style>
    #divCaseNoteSection .addapplicant {
        font-size: 20px;
        font-weight: bold;
        border-bottom: 2px solid #295b8f;
        color: #295b8f;
        padding: 15px 0;
        margin: 0 15px;
        margin-bottom: 10px;
    }

    #divCaseNoteSection .transition-content-desc p {
        padding: 10px 10px;
        color: #163b69;
        text-align: left;
        font-size: 15px;
        margin: 0;
        text-transform: none;
        width: 100%;
        float: left;
    }

    #divCaseNoteSection .m-tp {
        margin-bottom: 5px;
    }

    #divCaseNoteSection .no-padding {
        padding: 0;
    }

    .response-addicspace
    {
        top:4px;
    }
    .error-notify {
        color: red;
            margin-left: 5px;
    }
         @@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1200px) {


                    #inkind-table, #inkind-table thead, #inkind-table tbody, #inkind-table th, #inkind-table td, #inkind-table tr {
                        display: block;
                        border: none;
                    }

                    #inkind-table {
                        float: left;
                        width: 100%;
                    }

                        #inkind-table tbody tr td:first-child a {
                            width: initial !important;
                            text-overflow: initial !important;
                        }

                        #inkind-table thead tr {
                            position: absolute;
                            top: -9999px;
                            left: -9999px;
                        }

                        #inkind-table tr {
                            margin: 0 7px 2em 0;
                            box-shadow: 8px 8px 8px rgba(0,0,0,0.2);
                            float: left;
                            width: 100%;
                        }

                            #inkind-table tr:nth-child(odd) {
                                background: #ffffff;
                                border: 1px solid #ccc;
                                border-radius: 8px;
                            }

                            #inkind-table tr:nth-child(even) {
                                background: #f1f5f8;
                                border: 1px solid #ccc;
                                border-radius: 8px;
                            }

                        #inkind-table td {
                            border: none;
                            border-bottom: 1px solid #eee;
                            position: relative;
                            float: left;
                            width: 100%;
                        }

                            #inkind-table td:before {
                                position: relative;
                                top: 10px;
                                left: 0;
                                width: 35%;
                                padding-right: 10px;
                                white-space: nowrap;
                                height: auto;
                                display: inline-block;
                                float: left;
                            }

                    .table-div {
                        border: none !important;
                    }



                    #inkind-table td:before {
                        content: attr(data-title);
                        text-align: left;
                        padding-top: 0.6em;
                        margin-left: 1em;
                    }

                    #inkind-table > tbody > tr > td {
                        text-align: right !important;
                        margin-right: 2em;
                    }

                    #inkind-tbody tr td p {
                        padding: 10px 10px 10px 10px;
                        text-align: right;
                        font-size: 14px;
                        margin: 0;
                        border-right: 0;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        width: 55%;
                        margin-right: 0;
                        display: inline-block;
                    }


                }

     @@media (min-width: 992px) and (max-width: 1199px) 
    {
        .custom-modal .modal-dialog-ch {width: 96%;}
        .img-camera{margin-left:15px;}
    }
      @@media (min-width: 768px) and (max-width: 991px)
    {
        .custom-modal .modal-dialog-ch {width: 98%;margin:30px 0;}
        .img-camera{margin-left:15px;}
    }
    @@media (max-width: 767px) 
    {
         .custom-modal .modal-dialog-ch {width: 98%;margin:30px 0;}
         .img-camera{margin-left:15px;}
         .case-float{float:left;}
             /* Force table to not be like tables anymore */
    #no-more-tables6 table, 
    #no-more-tables6 thead, 
    #no-more-tables6 tbody, 
    #no-more-tables6 th, 
    #no-more-tables6 td, 
    #no-more-tables6 tr {
        display: block;
        padding-left: 0;
        padding-right: 0;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables6 thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #no-more-tables6 tr {/* border: 1px solid #ccc; */}

    #no-more-tables6 td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 46%;
        white-space: normal;
        text-align:left;
    }

    #no-more-tables6 td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    #no-more-tables6 td:before { content: attr(data-title); }
    
    }


  
</style>





<div class="col-xs-12 col-lg-12 no-padding new-casenote" id="divCaseNoteSection">

    <h3 class="addapplicant"><i class="fa fa-book" aria-hidden="true"></i><span id="heading_case_note">&nbsp;Case Note</span></h3>
    @Html.Hidden("hidden_centerId", (Model != null && Model.CaseNoteList != null && Model.CaseNoteList.Count > 0 ? Model.CaseNoteList[0].CenterId : "0" ))
    @Html.Hidden("hidden_classroomId", (Model != null && Model.CaseNoteList != null && Model.CaseNoteList.Count > 0 ? Model.CaseNoteList[0].Classroomid : "0"))
    @Html.Hidden("hidden_householdId", (Model != null && Model.CaseNoteList != null && Model.CaseNoteList.Count > 0 ? Model.CaseNoteList[0].Householid : "0"))
    @Html.Hidden("hidden_programId", (Model != null && Model.CaseNoteList != null && Model.CaseNoteList.Count > 0 ? Model.CaseNoteList[0].ProgramID : "0"))
    @Html.Hidden("hidden_clientId",(Model!=null && Model.CaseNoteList!=null && Model.CaseNoteList.Count>0?Model.CaseNoteList[0].clientid:"0"))




    <div class="col-xs-12 col-sm-12 adddivspace">
        <div class="col-lg-3 col-xs-5" style="padding-left: 0;">
            <div class="enroll-sec" style="padding-left: 0;">
                <div class="transition-content-desc" style="position: relative;">
                    <p style="background: none;border: none;">Date<span class="error-notify">*</span></p>
                </div>
            </div>
        </div>

        <div class="col-lg-5 col-sm-7">
            <input type="text" class="form-control" id="txtCaseNoteDate" value="@(Model!=null && Model.CaseNoteList!=null && Model.CaseNoteList.Count>0? Model.CaseNoteList[0].Date:"")" onblur="checkStatusChangeDate(this);" placeholder="MM/DD/YYYY">
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 adddivspace">
        <div class="col-lg-3 col-xs-5" style="padding-left: 0;">
            <div class="enroll-sec" style="padding-left: 0;">
                <div class="transition-content-desc" style="position: relative;">
                    <p style="background: none;border: none;">Title<span class="error-notify">*</span></p>
                </div>
            </div>
        </div>

        <div class="col-lg-5 col-sm-7">
            <input type="text" class="form-control" id="txtCaseNoteTitle" placeholder="Case Note Title">
        </div>
    </div>


    <div class="col-xs-12 col-sm-12 adddivspace">
        <div class="col-lg-3 col-sm-5" style="padding-left: 0;">
            <div class="enroll-sec" style="padding-left: 0;">
                <div class="transition-content-desc" style="position: relative;">
                    <p style="background: none;border: none;">Note<span class="error-notify">*</span></p>
                </div>
            </div>
        </div>

        <div class="col-lg-5 col-sm-7 case-float">
            <textarea id="txtareaCaseNote" name="Note" style="visibility: hidden; display: none;"></textarea>

        </div>
    </div>

    <div class="col-xs-12 col-sm-12 adddivspace">
        <div class="col-lg-3 col-sm-5" style="padding-left: 0;">
            <div class="enroll-sec" style="padding-left: 0;">
                <div class="transition-content-desc" style="position: relative;">
                    <p style="background: none;border: none;">Clients<span class="error-notify">*</span></p>
                </div>
            </div>
        </div>

        <div class="col-lg-5 col-sm-7 no-padding m-tp" id="divCaseNoteClients">

            @if (Model != null && Model.Clientlist != null && Model.Clientlist.Count > 0)
            {
                foreach (var child in Model.Clientlist)
                {
                    <div class="col-sm-12 adddivspace">
                        <input type="checkbox" name="ClientIds.IDS" value="@child.Id">
                        <span>@child.Name</span>
                    </div>

                }
            }

        </div>
    </div>

    <div class="col-xs-12 col-sm-12 adddivspace">
        <div class="col-lg-3 col-sm-5" style="padding-left: 0;">
            <div class="enroll-sec" style="padding-left: 0;">
                <div class="transition-content-desc" style="position: relative;">
                    <p style="background: none;border: none;">Tags<span class="error-notify">*</span></p>
                </div>
            </div>
        </div>

        <div class="col-lg-5 col-sm-7">
            <input type="text" id="txtCaseNoteTags" name="txtCaseNoteTags" class="form-control" style="display: none;">
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 adddivspace" style="margin-bottom:10px;">
        <div class="col-lg-3 col-xs-5" style="padding-left: 0;">
            <div class="enroll-sec" style="padding-left: 0;">
                <div class="transition-content-desc" style="position: relative;">
                    <p style="background: none;border: none;">Developmental Team<span class="error-notify">*</span></p>
                </div>
            </div>
        </div>

        <div class="col-lg-5 col-sm-7 no-padding" id="caseNoteStaffDiv" style="margin-top:10px;">

            @if (Model != null && Model.UserList != null && Model.UserList.Count > 0)
            {
                int i = 0;
                foreach (var staff in Model.UserList)
                {



                    <div class="col-sm-12 col-lg-12 m-tp">
                        <input type="checkbox" class="staff-check" name="staff-check" value="@staff.Id">
                        <span name="staff_@i">@staff.Name</span>
                    </div>

                    i++;
                }
            }
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 adddivspace">
        <div class="col-lg-3 col-xs-5" style="padding-left: 0;">
            <div class="enroll-sec" style="padding-left: 0;">
                <div class="transition-content-desc" style="position: relative;">
                    <p style="background: none;border: none;">Secure Note Level?</p>
                </div>
            </div>
        </div>

        <div class="col-lg-5 col-sm-7" style="padding: 0px 10px;margin-top:10px;">
            <div class="addn-poup-div1">
                <input type="checkbox" id="checkboxSecureNote" value="true" name="checkboxSecureNote" style="margin-left:5px;">
                <span>Yes</span>
            </div>
        </div>
    </div>


    <div class="col-xs-12 col-sm-12 adddivspace" id="caseNoteAttachmentsDiv" style="margin-bottom:-13px;">
        <div class="col-lg-3 col-xs-5" style="padding-left: 0;">
            <div class="enroll-sec" style="padding-left: 0;">
                <div class="transition-content-desc" style="position: relative;">
                    <p style="background: none;border: none;">Attachment</p>
                    <small style="padding:10px;color:red;">(.pdf,.jpg,.jpeg,.bmp,.gif,.png)</small>
                </div>
            </div>
        </div>

        <div class="col-lg-9 col-sm-7">
            <div class="col-sm-7 col-lg-6 no-padding">
                <input type="file" id="FirstFile" name="Attachments[0].file" onchange="ValidateSingleInputpdf2(this)" class="form-control">
            </div>
            <div class="col-sm-4 col-lg-4 response-addicspace">

                <a href="javascript:void(0)" id="Attachmectstag" title="Add Attachment" onclick="addMoreStatusAtt(this);"><i class="fa fa-plus-circle"></i>&nbsp;Add</a>
                <img id="uploadImageCamera" class="img-camera" data-toggle="tooltip" src="/Images/camera.png" title="" style="" data-original-title="Capture using Camera">
            </div>
        </div>
  

    </div>



    <div class="col-xs-12 col-sm-12 adddivspace" id="addAttachmentDiv">
        

    </div>


    <div class="col-md-12 col-xs-12 adddivspace" id="div-edit-modal-img-gallery">

    </div>


    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="btnwrp_subcal">
            <button type="button" class="my-btn save-casenote" onclick="return isValidStatusChange();">Submit</button>
            <button tabindex="17" class="my-btn cancel-casenote" data-dismiss="modal" type="button">Cancel</button>
        </div>
    </div>

</div>

