@model FingerprintsModel.CaseNoteByClientID


@if (Model != null && Model.CaseNoteList != null && Model.CaseNoteList.Count > 0)
{
    foreach (var item1 in Model.CaseNoteList)
    {
        <tr casenoteid="@item1.CaseNoteid">
            <td data-title="Date">

                <p>@item1.Date</p>

            </td>
            @if (item1.IsAllowSecurityCN)
            {
                <td data-title="Title">
                    <p data-editable="@(item1.IsEditable ? "true":"false")" style="text-decoration: underline;cursor:pointer;width:250px;" onclick="Getcasenote($('#ModalAddCasenote'), @item1.CaseNoteid,'@item1.Householid', '@item1.ClientId',this)" data-toggle="tooltip" title="@item1.Title">@item1.Title</p>
                </td>
            }
            else if (item1.WrittenBy == Session["UserId"].ToString() && item1.SecurityLevel)
            {
                <td data-title="Title">
                    <p style="text-decoration: underline;cursor:pointer;width:250px;" data-editable="@(item1.IsEditable ? "true":"false")" onclick="Getcasenote($('#ModalAddCasenote'), @item1.CaseNoteid,'@item1.Householid','@item1.ClientId',this)" data-toggle="tooltip" title="@item1.Title">@item1.Title</p>
                </td>
            }
            else
            {
                <td data-title="Title">
                    <p style="text-decoration: underline;cursor:pointer;width:250px;" onclick="ShowSecurityAlert()">Secured case note</p>
                </td>
            }
            <td data-title="By">
                <p data-toggle="tooltip" style="width:200px;" title="@item1.BY">@item1.BY</p>
            </td>
            <td data-title="Attachments">
                <p>@item1.Attachment</p>
            </td>
            <td data-title="References">
                <p>@item1.References</p>
            </td>
            <td data-title="Action">


                <p style="padding: 5px;">
                    @if ((item1.IsAllowSecurityCN) || (item1.WrittenBy == Session["UserId"].ToString() && item1.SecurityLevel))
                    {



                        <a class="append-casenote" href="javascript:void(0);" style="text-decoration:none;" data-toggle="tooltip" title="Append case notes">
                            <img src="~/Images/notes.svg" style="height:25px;width:25px;" />

                        </a>

                        @* <i class="fa fa-paperclip append-casenote" aria-hidden="true" data-toggle="tooltip" style="cursor:pointer; font-size :18px;background :#237646;color :#fff;padding :7px 12px;border-radius: 7px;margin-right :8px;" title="Append case notes"></i>*@
                    <span>&nbsp;</span>
                    @* <i class="fa fa-print export-new" aria-hidden="true" data-toggle="tooltip" style="cursor:pointer; font-size :18px;background :#2e628d;color :#fff;padding :7px 12px;border-radius: 7px;margin-right :8px;" title="Export to pdf"></i>*@





                        <a class="export-new" href="/Reporting/ExportCaseNote?caseNoteId=@item1.CaseNoteid&clientId=@(string.IsNullOrEmpty(item1.ClientId)?"0" :item1.ClientId) &householdId=@(string.IsNullOrEmpty(item1.Householid)?"0":item1.Householid)" style="text-decoration:none;" data-toggle="tooltip" title="Export to PDF">
                            <img src="~/Images/export.svg" style="height:25px;width:25px;" />
                        </a>
                       

                        @*<a class="print-new" href="/Reporting/ExportCaseNote?caseNoteId=@item1.CaseNoteid&clientId=@(string.IsNullOrEmpty(item1.clientid)?"0" :item1.clientid) &householdId=@(string.IsNullOrEmpty(item1.Householid)?"0":item1.Householid)"  style="text-decoration:none;" data-toggle="tooltip" title="Print Case Note">
                    <img src="~/Images/Printer_2.svg" style="height:25px;width:25px;" />
                </a>*@

                        <span>&nbsp;</span>




                    }

                    @if (FingerprintsModel.Role.RolesDictionary[(int)FingerprintsModel.Enums.RoleEnum.AgencyAdmin].ToLowerInvariant() == Session["RoleId"].ToString()
            || FingerprintsModel.Role.RolesDictionary[(int)FingerprintsModel.Enums.RoleEnum.GenesisEarthAdministrator].ToLowerInvariant() == Session["RoleId"].ToString())
                    {
                        <a class="delete-casenote" href="javascript:void(0);" style="text-decoration:none;" data-id="@item1.CaseNoteid" data-toggle="tooltip" title="Delete case note">
                            <img src="~/Images/trash.png" style="height:25px;width:25px;" />
                        </a>

                        <span>&nbsp;</span>
                            @*<button type="button" class="btn delete-casenote" style="border-radius: 0px;color: #fff;margin-left: 8px;background: #e43838;" data-id="@item1.CaseNoteid">Delete</button>*@
                    }

                </p>



            </td>

        </tr>
    }
}


else
{
    <tr>
        <td colspan="6">@Fingerprints.LocalResource.Resources.Recordsnotfound </td>
    </tr>
}

<script>


    $('#totalCountSpan_casenote').html('@Model.TotalRecord');




</script>