
@model FingerprintsModel.CaseNoteByClientID



<div class="modal fade scroll-modal custom-modal" id="ModalAddCasenote" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-ch">
        <div class="modal-content">

            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal"><img src="~/Content/CaseNote/images/close.png" /></button>
                <h2 id="CaseNoteHeading" class="extra-title muted">Case Note</h2>
                <div class="col-sm-12 col-xs-12 pull-right" style="padding-right:0;display:none;">
                    <div class="btnwrp_subcal" style="padding:0; margin:0;">
                        <h3 id="CaseNoteTitle" class="text-center pull-left"><span class="extra-title muted"></span></h3>
                        <input id="ClientId" type="hidden" name="ClientId" value="@Model.Enc_ClientID" />
                        <input id="CenterId" type="hidden" name="CenterId" value="@Model.CenterID" />
                        <input id="ProgramId" type="hidden" name="ProgramId" value="@Model.ProgramId" />
                        <input id="HouseHoldId" type="hidden" name="HouseHoldId" value="@Model.Enc_HouseholdID" />
                        <input id="Classroomid" type="hidden" name="Classroomid" value="@Model.ClassroomID" />

                        <input id="CaseNoteid" type="hidden" name="CaseNoteid" value="0" />
                        <div class="clear"></div>
                    </div>
                </div>
               
                @{
                    Html.RenderPartial("~/Views/Partialviews/_CaseNote.cshtml", Model);
                }


            </div>



        </div>
    </div>
</div>

<script>    
        $('#ModalAddCasenote').on('shown.bs.modal', function () {

            showCameraOption(this);

            $(this).find('#uploadImageCamera').hide();

            setIntervalUserMedia(this);

        });

</script>