@model FingerprintsModel.UnscheduledSchoolDayModal






    <div class="col-xs-12 search-block-main">


        <table class="total-details-table col-md-12">

            <tbody>


                <tr>
                    <td><label>@Fingerprints.LocalResource.Resources.TotalRecords</label></td>
                    <td id="totalCountSpan">@Model.TotalRecord</td>
                </tr>
            </tbody>
        </table>

    </div>





    <table class="col-md-12 glossy-table table-striped table-condensed cf table-change ersea-table" id="schedule-school-table">
        <thead class="table-hd scroll-thead">
            <tr>
                <th>

                    @if (Model.SortColumn != null && Model.SortColumn.ToLowerInvariant() == "th1")
                    {
                        if (Model.SortOrder.ToLowerInvariant() == "asc")
                        {
                            <i class="fa fa-sort-alpha-asc i-asc" aria-hidden="true" style="color: #f9c751;"></i>
                            <i class="fa fa-sort-alpha-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                        }
                        else if (Model.SortOrder.ToLowerInvariant() == "desc")
                        {
                            <i class="fa fa-sort-alpha-asc i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                            <i class="fa fa-sort-alpha-desc i-desc" aria-hidden="true" style="color: #f9c751;"></i>
                        }
                    }
                    else if (string.IsNullOrEmpty(Model.SortColumn))
                    {
                        <i class="fa fa-sort-alpha-asc i-asc" aria-hidden="true" style="color: #f9c751;"></i>
                        <i class="fa fa-sort-alpha-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                    }
                    else
                    {
                        <i class="fa fa-sort-alpha-asc i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                        <i class="fa fa-sort-alpha-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                    }



                    @Fingerprints.LocalResource.Resources.Center

                </th>

                <th>

                    @if (Model.SortColumn != null && Model.SortColumn.ToLowerInvariant() == "th2")
                    {
                        if (Model.SortOrder.ToLowerInvariant() == "asc")
                        {
                            <i class="fa fa-sort-alpha-asc i-asc" aria-hidden="true" style="color: #f9c751;display:inline-block;"></i>
                            <i class="fa fa-sort-alpha-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                        }
                        else if (Model.SortOrder.ToLowerInvariant() == "desc")
                        {
                            <i class="fa fa-sort-alpha-asc i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                            <i class="fa fa-sort-alpha-desc i-desc" aria-hidden="true" style="color: #f9c751;display:inline-block"></i>
                        }

                    }

                    else
                    {
                        <i class="fa fa-sort-alpha-asc i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                        <i class="fa fa-sort-alpha-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                    }




                    @Fingerprints.LocalResource.Resources.Classroom
                </th>


                <th>
                    @if (Model.SortColumn != null && Model.SortColumn.ToLowerInvariant() == "th3")
                    {
                        if (Model.SortOrder.ToLowerInvariant() == "asc")
                        {
                            <i class="fa fa-sort-alpha-asc i-asc" aria-hidden="true" style="color: #f9c751;display:inline-block;"></i>
                            <i class="fa fa-sort-alpha-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                        }
                        else if (Model.SortOrder.ToLowerInvariant() == "desc")
                        {
                            <i class="fa fa-sort-alpha-asc i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                            <i class="fa fa-sort-alpha-desc i-desc" aria-hidden="true" style="color: #f9c751;display:inline-block;"></i>
                        }
                    }
                    else
                    {
                        <i class="fa fa-sort-alpha-asc i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                        <i class="fa fa-sort-alpha-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                    }

                    @Fingerprints.LocalResource.Resources.Reason
                </th>






                <th>

                    @if (Model.SortColumn != null && Model.SortColumn.ToLowerInvariant() == "th4")
                    {
                        if (Model.SortOrder.ToLowerInvariant() == "asc")
                        {


                            <i class="fa fa-custom-sort-date-asc i-asc" aria-hidden="true" style="color: #f9c751;display:inline-block;"></i>
                            <i class="fa fa-custom-sort-date-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                        }
                        else if (Model.SortOrder.ToLowerInvariant() == "desc")
                        {



                            <i class="fa fa-custom-sort-date-asc i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                            <i class="fa fa-custom-sort-date-desc i-desc" aria-hidden="true" style="color: #f9c751;display:inline-block;"></i>
                        }
                    }
                    else
                    {


                        <i class="fa fa-long-arrow-down i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                        <i class="fa fa-calendar i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                        <i class="fa fa-long-arrow-down i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                        <i class="fa fa-calendar i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                    }


                   @Fingerprints.LocalResource.Resources.ClassDate
                </th>

                <th>@Fingerprints.LocalResource.Resources.EmailReport</th>

                <th>@Fingerprints.LocalResource.Resources.Action</th>

            </tr>
        </thead>
        <tbody class="ersea-table-head glossy-table-body bind_body scroll-tbody" id="classdays-tbody">



            @if (Model != null && Model.UnscheduledSchoolDayList != null && Model.UnscheduledSchoolDayList.Count > 0)
            {

                foreach (var item in Model.UnscheduledSchoolDayList)
                {
                    <tr role="row">
                        <td role="gridcell" data-title="Center Name"><p>@item.CenterName</p></td>
                        <td role="gridcell" data-title="Classroom Name"><p>@item.ClassroomName</p></td>
                        <td role="gridcell" data-title="Reason"><p>@item.UnscheduledSchoolDayReason</p></td>
                        <td role="gridcell" data-title="Class Date"><p>@item.ClassDate</p></td>
                        <td role="gridcell" data-title="Email Report"><p><a href="javascript:void(0);" class="anchor-view" data-accesskey="@item.UnscheduledSchoolDayID" >@Fingerprints.LocalResource.Resources.View</a></p></td>
                        <td role="gridcell" data-title="Action" class="text-center glossy_btn">
                            @Html.HiddenFor(m=>item.UnscheduledSchoolDayID)

                           
                            <i class="fa fa-trash  btn-delete-trans" title="Delete makeup school day" aria-hidden="true" data-toggle="tooltip" style="cursor:pointer; font-size :18px;background :#e74c3c;color :#fff;padding :7px 12px;border-radius: 7px;margin-right :8px;"></i>
                          
                            <i class="fa fa-envelope btn-send-email" data-toggle="tooltip" title="Send email to parents did not received the email yet" style="cursor:pointer;color:#fff;background: #295b8f;padding :7px 12px;border-radius :6px;font-size :18px;"></i>

                        </td>
                    </tr>


                }




            }

            else
            {
                <tr>
                    <td colspan="5" style="padding: 25px;text-align:center;font-weight:bold;">@Fingerprints.LocalResource.Resources.Recordsnotfound
                    </td>
                </tr>

            }


        </tbody>



    </table>



<script type="text/javascript">

    var reasonJson=@Html.Raw(Json.Encode(Model.ReasonList));
    console.log(reasonJson);

    if(reasonJson.length>0 )
    {
       
        var appendData='';

        $.each(reasonJson,function(i,reason){
        
        
            appendData+='<option value='+reason.Value+'>'+reason.Text+'</option>';
        });

     

        $('#dropdownReason').html(appendData);
       // $('#dropdownReason').parent('div').show();

        $('#optionalClassDayreasonTxt').val('');
      
    }

    if(reasonJson.length>2)
    {
        $('#dropdownReason').parent('div').show('slow');
        $('#optionalClassDayreasonTxt').parent('div').hide('slow');
    }
    else{
        $('#dropdownReason').parent('div').hide('slow');
        $('#optionalClassDayreasonTxt').parent('div').show('slow');
    }

    $('[data-toggle="tooltip"]').tooltip();

</script>