  
@model FingerprintsModel.AccessRoles


 @if (Model != null)
    {
        <div id="partialDiv">
            <form method="post" role="form" id="form2" enctype="multipart/form-data" autocomplete="off">

                <div class="ictab_content">
                    <div class="tab-content">
                        <div  class="tab-pane showactive fade in active">
                            <div class="import_frrm">
                                <div class="ic_forsub">
                                    <h3 id="title">Child & Family Review</h3>
                                    <button class="btn-submit-edu"  value="Others" name="Command"  onclick="return accessRole.IsValidInputs()" type="submit">Submit</button>
                                  <input type="hidden" value="7" id="TitleId" name="TitleId" />
                                 
                                </div>
                                <div class="icefu_form table-headfix" style="overflow-y: hidden;">
                                    <table id="settab_edu" class="table table-responsive table-headfix fold-table">
                                        <thead>
                                            <tr>
                                                <th>Roles</th>
                                                <th>Include Roles and Users</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                           @if (Model != null && Model.RoleList != null && Model.RoleList.Count > 0)
                                           {
                                               for (int i = 0; i < Model.RoleList.Count; i++)
                                               {
                                        <tr class="view" onclick="accessRole.CarouselOpen(this)">
                                           
                                            <td enc-id="rr">@Model.RoleList[i].RoleName</td>
                                            <td class="deve-td">
                                                <input type="hidden" class="edu_next " name="Role[@i].RoleId" value="@Model.RoleList[i].RoleId" />

                                                <input type="checkbox" class="edu_next dev-role-check role@(i)" 
                                                       @if (Model.RoleList[i].IsAllow) { <text> checked="checked" </text>           }
                                                       name="Role[@i].IsAllow" value="true"  onchange="accessRole.ChooseColor(this)"/>
                                              
                                                  @if (Model.TitleId == 1)
                                                  {
                                                      var color = Model.RoleList[i].ColorCode;
                                                     <input type="text" value="@color"  originalvalue = "@Model.RoleList[i].ColorCode"  name="Role[@i].ColorCode" class="usercolor hidden" />
                                                  }
                                               
                                            </td>
                                        </tr>
                                        <tr class="input_smtmarg">
                                            <td colspan="2" style="background-color: #44aedc;">
                                                <div class="sub_table_icc">
                                                    <table class="table table-bordered table-responsive">
                                                        <thead>
                                                            <tr>
                                                                <th></th>
                                                                <th style="text-align: center !important;"><input name="" onchange="accessRole.CheckAll(this,@i)" class="edu_next selectall@(i)" type="checkbox"><label>Select all</label>                                                                
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (Model.RoleList[i].UserList != null && Model.RoleList[i].UserList.Count > 0)
                                                            {
                                                                for (int j = 0; j < Model.RoleList[i].UserList.Count; j++)
                                                                {
                                                                    <tr>

                                                                        <td>@Model.RoleList[i].UserList[j].StaffName</td>
                                                                        <td>

                                                                            <input type="checkbox" class="edu_next user@(i)"
                                                                                   @if (Model.RoleList[i].UserList[j].IsAllow) { <text> checked="checked" </text>             }
                                                                                   name="Role[@i].UserList[@j].IsAllow" value="true" />


                                                                            <input type="hidden" class="edu_next" name="Role[@i].UserList[@j].RoleId" value="@Model.RoleList[i].UserList[j].RoleId" />
                                                                            <input type="hidden" class="edu_next" name="Role[@i].UserList[@j].UserId" value="@Model.RoleList[i].UserList[j].UserId" />
                                                                        </td>

                                                                    </tr>
                                                                }
                                                            }
                                                     
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>

                                            }

                                        }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </form>
        </div>
 }


