
@model List<FingerprintsModel.ClientWaitingList> 



    @if (Model != null && Model.Count > 0)
    {
        for  (int i=0;i<Model.Count;i++)
        {
            <tr >
                <td data-title="Select"><input type="Checkbox"></td>
                <td data-title="Client">@Model[i].Name</td>
                <td data-title="Profile Picture" style="text-align:center;"><a href="javascript:void(0);" onclick="showImage(this);" eclientid="@Model[i].ClientId">View</a></td>
                <td data-title="Age">@Model[i].Gender</td>
                <td data-title="Date of Birth">@Model[i].DOB</td>
                <td data-title="Age">@Model[i].Age</td>
                <td data-title="Selection Points">@Model[i].SelectionPoints</td>
                <td data-title="Program Type">@Model[i].ProgramType</td>
                <td data-title="Date on List">@Model[i].DateOnList</td>
            </tr>
        }

    }

    else
    {
        <tr style="width:98.3%">
            <td colspan="9" style="padding: 25px;text-align:center;font-weight:bold;text-transform:none;">Records not Found<sup style="color:red;">*</sup></td>
        </tr>
    }









