@model FingerprintsModel.MentalHealthDashboard

<div id="PartialIndicated">
    <div class="modal fade scroll-modal" id="ModalIndicate" role="dialog">
        <div class="modal-dialog income-popup width-auto asset-new-edu_bgm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h3 id="CenterName" class="text-center">@Model.Mode Clients</h3>
                    <div class="ersea_ovr"><img src="/images/text-bdr.png" class="img-responsive"></div>
                    <div class="col-sm-5" style="line-height: 30px;font-weight: bolder;font-size: 16px; ">
                        <span style="float:left;">Center Name:</span>
                        <span class="centernameSpan" style="font-weight:normal;float:left;margin-left:10px; "></span>
                    </div>
                    <div class="col-sm-5 col-xs-12 pull-right" style="padding-right:0;">
                        <div class="btnwrp_subcal" style="padding:0; margin:0;">
                            <button type="button" class="my-btn pull-right" data-dismiss="modal">Exit</button>

                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="control-group" id="dvscroll">
                    <div>
                        <div class="row qualifierdiv">
                            <div class="row" style="margin-bottom:3%;">
                                <div class="col-sm-12">

                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-main">
                                        <div class="table-responsive main-bodysection">
                                            <table class="table table_size" id="tblIndicated">
                                                <thead style="cursor:pointer;">
                                                    <tr>
                                                        <th style="width: 18%;">Name</th>
                                                        <th>Gender</th>
                                                        <th>DOB</th>
                                                      
                                                        <th>Family Advocate</th>
                                                        <th>Classroom Name</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model != null  && Model.ClientList!=null && Model.ClientList.Count>0)
                                                  {
                                                    foreach (var item in Model.ClientList)
                                                    {
                                                            <tr>
                                                                <td> <a href="#" onclick="healthDashboard.ShowClientDetails(this)" fsw="@item.FSW" clientname="@item.Name" dob="@item.DOB" yakkrid="@item.YakkrId" Eclientid="@item.Eclientid" householdid="@item.EHouseholid" centerid="@item.CenterId"  >@item.Name</a></td>
                                                                <td>@item.Gender</td>
                                                                <td>@item.DOB</td>
                                                                <td>@item.FSW</td>
                                                             
                                                                <td>@item.ClassroomName</td>
                                                            </tr>
                                                    }
                                                }
                                                else
                                                {
                                                        <tr><td colspan="5">No record found</td></tr>
                                                }
                                                </tbody>

                                            </table>
                                            @*<div id="div1" style="text-align:center;display:none;">

                                                    <label>No result found.</label>
                                                </div>*@
                                        </div>


                                    </div>
                              
                                @Html.Partial("~/Views/Partialviews/MentalHealthClientDetails.cshtml", Model)
                                  </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


