@model List<FingerprintsModel.CenterAuditReport>

@{
    var totalrecord = Model.Select(x => x.TotalRecord).FirstOrDefault();


}

@try
{



<div>
    @Html.Hidden("totalRecordTable", totalrecord)

</div>



<!--Table -->
<table class="col-md-12 glossy-table table-striped table-condensed cf table-change ersea-table" id="table-report">

    <thead class="table-hd scroll-thead">
        <tr>

           

            <th>
                @if (Model.Count > 0 && Model[0].SortColumn != null && Model[0].SortColumn.ToLowerInvariant() == "th1")
                {
                    if (Model[0].SortOrder.ToLowerInvariant() == "asc")
                    {
                        <i class="fa fa-sort-alpha-asc i-asc" aria-hidden="true" style="color: #f9c751;display:inline-block;"></i>
                        <i class="fa fa-sort-alpha-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                    }
                    else if (Model[0].SortOrder.ToLowerInvariant() == "desc")
                    {
                        <i class="fa fa-sort-alpha-asc i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                        <i class="fa fa-sort-alpha-desc i-desc" aria-hidden="true" style="color: #f9c751;display:inline-block"></i>
                    }

                }

                else
                {
                    <i class="fa fa-sort-alpha-asc i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                    <i class="fa fa-sort-alpha-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                }

                <span col-name="th1">@Fingerprints.LocalResource.Resources.Classroom</span>
            </th>




            <th>

                @if (Model.Count > 0 && Model[0].SortColumn != null && Model[0].SortColumn.ToLowerInvariant() == "th2")
                {
                    if (Model[0].SortOrder.ToLowerInvariant() == "asc")
                    {
                        <i class="fa fa-sort-alpha-asc i-asc" aria-hidden="true" style="color: #f9c751;"></i>
                        <i class="fa fa-sort-alpha-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                    }
                    else if (Model[0].SortOrder.ToLowerInvariant() == "desc")
                    {
                        <i class="fa fa-sort-alpha-asc i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                        <i class="fa fa-sort-alpha-desc i-desc" aria-hidden="true" style="color: #f9c751;"></i>
                    }
                }
                
                else
                {
                    <i class="fa fa-sort-alpha-asc i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                    <i class="fa fa-sort-alpha-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                }

                <span col-name="th2">Children</span>
            </th>


            <th>
                @if (Model.Count > 0 && Model[0].SortColumn != null && Model[0].SortColumn.ToLowerInvariant() == "th3")
                {
                    if (Model[0].SortOrder.ToLowerInvariant() == "asc")
                    {


                        <i class="fa fa-custom-sort-date-asc i-asc" aria-hidden="true" style="color: #f9c751;display:inline-block;"></i>
                        <i class="fa fa-custom-sort-date-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                    }
                    else if (Model[0].SortOrder.ToLowerInvariant() == "desc")
                    {



                        <i class="fa fa-custom-sort-date-asc i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                        <i class="fa fa-custom-sort-date-desc i-desc" aria-hidden="true" style="color: #f9c751;display:inline-block;"></i>
                    }

                }

                else
                {
                    <i class="fa fa-custom-sort-date-asc i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                        <i class="fa fa-custom-sort-date-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                }

                <span col-name="th3" style="text-transform:none;">Date of Birth</span>
            </th>



            <th>

                @if (Model.Count > 0 && Model[0].SortColumn != null && Model[0].SortColumn.ToLowerInvariant() == "th4")
                {
                    if (Model[0].SortOrder.ToLowerInvariant() == "asc")
                    {
                        <i class="fa fa-custom-sort-date-asc i-asc" aria-hidden="true" style="color: #f9c751;display:inline-block;"></i>
                        <i class="fa ffa-custom-sort-date-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                    }
                    else if (Model[0].SortOrder.ToLowerInvariant() == "desc")
                    {
                        <i class="fa fa-custom-sort-date-asc i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                        <i class="fa fa-custom-sort-date-desc i-desc" aria-hidden="true" style="color: #f9c751;display:inline-block"></i>
                    }
                }
                else
                {


                    <i class="fa fa-custom-sort-date-asc i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                    <i class="fa fa-custom-sort-date-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none"></i>
                }

                <span col-name="th4" style="text-transform:none;">Date of First Service</span>
            </th>

            <th>

                @if (Model.Count > 0 && Model[0].SortColumn != null && Model[0].SortColumn.ToLowerInvariant() == "th5")
                {
                    if (Model[0].SortOrder.ToLowerInvariant() == "asc")
                    {

                        <i class="fa fa-sort-numeric-asc i-asc" aria-hidden="true" style="color: #f9c751;display:inline-block;"></i>
                        <i class="fa fa-sort-numeric-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>

                    }
                    else if (Model[0].SortOrder.ToLowerInvariant() == "desc")
                    {

                        <i class="fa fa-sort-numeric-asc i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                        <i class="fa fa-sort-numeric-desc i-desc" aria-hidden="true" style="color: #f9c751;display:inline-block;"></i>
                    }
                }
                else
                {
                    <i class="fa fa-sort-numeric-asc i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                    <i class="fa fa-sort-numeric-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                }

                <span col-name="th5" style="text-transform:none;">Enrollment Days</span>
            </th>
            <th>

                @if (Model.Count > 0 && Model[0].SortColumn != null && Model[0].SortColumn.ToLowerInvariant() == "th6")
                {
                    if (Model[0].SortOrder.ToLowerInvariant() == "asc")
                    {


                        <i class="fa fa-sort-numeric-asc  i-asc" aria-hidden="true" style="color: #f9c751;display:inline-block;"></i>
                        <i class="fa fa-sort-numeric-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                    }
                    else if (Model[0].SortOrder.ToLowerInvariant() == "desc")
                    {



                        <i class="fa fa-sort-numeric-asc i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                        <i class="fa fa-sort-numeric-desc i-desc" aria-hidden="true" style="color: #f9c751;display:inline-block;"></i>
                    }
                }
                else
                {
                    <i class="fa fa fa-sort-numeric-asc i-asc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                    <i class="fa fa fa-sort-numeric-desc i-desc" aria-hidden="true" style="color: #f9c751;display:none;"></i>
                }

                <span col-name="th6" style="text-transform:none;">ADA in %</span>
            </th>

        </tr>
    </thead>

    <tbody class="ersea-table-head glossy-table-body bind_body scroll-tbody">


        @if (Model.Count > 0)
        {

            
                int index = 0;
          

            var classroomList = Model.Select(x => x.ClassroomID).Distinct().ToList();


            foreach (var classroom in classroomList)
            {
                var clasList = Model.Where(x => x.ClassroomID == classroom).ToList();


                if (clasList.Count > 0)
                {
                    for (int i = 0; i < clasList.Count; i++)
                    {


                        <tr role="grid">

                            @if (i == 0)
                            {
                                <td role="gridcell" class="class-td" rowspan="@clasList.Count" data-title="@Fingerprints.LocalResource.Resources.Classroom" >
                                    <p data-toggle="tooltip" title="@clasList[i].ClassroomName">@clasList[i].ClassroomName</p>
                                </td>
                            }
                            else
                            {
                                <td role="gridcell" class="class-td hidden-lg"  rowspan="@clasList.Count" data-title="@Fingerprints.LocalResource.Resources.Classroom">
                                    <p data-toggle="tooltip" title="@clasList[i].ClassroomName">@clasList[i].ClassroomName</p>
                                </td>
                            }

                            <td role="gridcell" data-title="Children" class="child-td">
                                
                                <input type="hidden" id="data-child-id_@index" value="@clasList[i].Enc_ClientID" />
                                <input type="hidden" id="data-child-dfs_@index" value="@clasList[i].DateOfFirstService" />
                                <input type="hidden" id="data-child-clsname_@index" value="@clasList[i].ClassroomName" />
                                <input type="hidden" id="data-child-dob_@index" value="@clasList[i].Dob" />
                                <input type="hidden" id="data-child-enroll-status_@index" value="@clasList[i].EnrollmentStatus" />
                                <input type="hidden" id="data-child-enroll-days_@index" value="@clasList[i].EnrollmentDays" />
                                <input type="hidden" id="data-child-ada_@index" value="@Math.Round(clasList[i].ADA,1)" />



                                <p data-toggle="tooltip" title="@clasList[i].ClientName">

                                    <a href="javascript:void(0);"  @if (clasList[i].EnrollmentStatus == 3) { <text>style="color:red;"</text>} class="anchor-child">@clasList[i].ClientName</a>
                                </p>
                            </td>

                            <td role="gridcell" data-title="Date of Birth" class="dob-td">
                                <p data-toggle="tooltip" title="@clasList[i].Dob">@clasList[i].Dob</p>
                            </td>

                            <td role="gridcell" data-title="Date of First Service">
                                <p>@clasList[i].DateOfFirstService</p>
                            </td>
                            <td role="gridcell" data-title="Enrollment Days">
                                <p>@clasList[i].EnrollmentDays</p>
                            </td>
                            <td role="gridcell" data-title="ADA in %">
                                <p>@Math.Round(clasList[i].ADA,1)</p>
                            </td>

                        </tr>

                                index++;

                            }
                        }
                    }


                }
                else
                {
                                        <tr role="grid">
                                            <td colspan="5" style="padding:25px;text-align:center;">
                                                @Fingerprints.LocalResource.Resources.Recordsnotfound
                                            </td>
                                        </tr>
                                    }




    </tbody>

</table>

}
catch(Exception ex)
{
    FingerprintsModel.clsError.WriteException(ex);
}