@{

    Layout = null;
}
@model FingerprintsModel.MDTReport
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MDTForm</title>
    <style>

        .act-sno {
         font-weight:bold;

        }
    </style>
</head>
<body>
    <div>
    


        <table width="650" border="0" cellspacing="0" cellpadding="0" align="center" style="repeat-header: yes; repeat-footer: yes;">

            <thead>
                @*<tr colspan="4"><th>Hey i am Header</th></tr>*@

                <tr>
                    <td width="100%" style="vertical-align: top;">
                        <p style="font-size: 23px;font-family: 'Calibri';margin: 0;text-align: center;font-weight: 600;color: #000; margin-top: -50px;">@Model.AgencyName</p>
                        <p style="font-size: 16px;font-family: 'Calibri';margin: 0;text-align: center;color: #000;">
                            @Model.AgnecyInfo.address1 <span>@Model.AgnecyInfo.address2</span>
                            <span>@Model.AgnecyInfo.County</span> <span>@Model.AgnecyInfo.State</span>
                            <span>@Model.AgnecyInfo.phone1</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td height="15"></td>
                </tr>



                <tr>
                    <td width="100%" style="vertical-align: top;">
                        <p style="font-size: 16px;font-family: 'Calibri';margin: 0;text-align: center;color: #000;font-weight: 600;">Multi-Disciplinary Team Plan of Action </p>
                    </td>
                </tr>
                <tr>
                    <td height="25"></td>
                </tr>


                <tr>
                    <td>
                        <table border="0" cellspacing="0" cellpadding="0" width="100%" style="padding-right:250px;">
                            <tbody>
                                <tr>
                                    <td style="vertical-align: bottom;width:9.5%;">
                                        <label style="font-size: 16px;font-weight: bold;font-family: 'Calibri';color:#333;">Child's Name</label>
                                    </td>
                                    <td style="width:20%;border-bottom:1px solid #333;vertical-align: top;">
                                        <p style="font-size: 16px;font-family: 'Calibri';padding: 0px 0;color:#333;margin: 0;">@Model.Name</p>
                                    </td>
                                    <td style="width:3%; border-bottom:1px solid #333;"></td>
                                    <td width="75" style="vertical-align: bottom;width:5%; padding-left: 20px;">
                                        <label style="font-size: 16px;font-weight: bold;font-family: 'Calibri';color:#333;">&nbsp;&nbsp;DOB</label>
                                    </td>
                                    <td style="width:25%;border-bottom:1px solid #333; ">
                                        <p style="font-size: 16px;border-bottom:1px solid #333;font-family: 'Calibri';padding: 10px 0;margin: 0;color: #000;">@Model.DOB</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td height="5"></td>
                </tr>
                <tr>
                    <td>
                        <table border="0" cellspacing="0" cellpadding="0" width="100%">
                            <tbody>
                                <tr>
                                    <td style="vertical-align: bottom; width:18%;"><label style="font-size: 16px;font-weight: bold;font-family: 'Calibri';color:#333;">Date</label></td>
                                    <td width="200" style="padding-right: 15px; padding-left: 20px; border-bottom:1px solid #333; width:43%;">
                                        <p style="font-size: 16px;border-bottom:1px solid #333;font-family: 'Calibri';padding: 10px 0;margin: 0;color: #000;height: 17px;">@Model.CreatedDate</p>
                                    </td>
                                    <td width="75" style="vertical-align: bottom; width: 11%;"><label style="font-size: 16px;font-weight: bold;font-family: 'Calibri';color:#333;">&nbsp;&nbsp;Center</label></td>
                                    <td width="300" style="border-bottom:1px solid #333;">
                                        <p style="font-size: 16px;border-bottom:1px solid #333;font-family: 'Calibri';padding: 10px 0;margin: 0;color: #000;height: 17px;">@Model.CenterName</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="5"></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td height="25"></td>
                </tr>

            </thead>

            <tbody>
                <!--new td-->
                <tr>
                    <td>
                        <div id="main-body">

                            <table style="width: 650px;">
                                <tbody>
                                 
                                    
                                       @*<tr>
                                        <td>
                                            <table border="0" cellspacing="0" cellpadding="0" width="100%" style="padding-right:250px;">
                                                <tbody>
                                                    <tr>
                                                        <td style="vertical-align: bottom;width:9.5%;">
                                                            <label style="font-size: 16px;font-weight: bold;font-family: 'Calibri';color:#333;">Child's Name</label>
                                                        </td>
                                                        <td style="width:20%;border-bottom:1px solid #333;vertical-align: top;">
                                                            <p style="font-size: 16px;font-family: 'Calibri';padding: 0px 0;color:#333;margin: 0;">@Model.Name</p>
                                                        </td>
                                                        <td style="width:3%; border-bottom:1px solid #333;"></td>
                                                        <td width="75" style="vertical-align: bottom;width:5%; padding-left: 20px;">
                                                            <label style="font-size: 16px;font-weight: bold;font-family: 'Calibri';color:#333;">&nbsp;&nbsp;DOB</label>
                                                        </td>
                                                        <td style="width:25%;border-bottom:1px solid #333; ">
                                                            <p style="font-size: 16px;border-bottom:1px solid #333;font-family: 'Calibri';padding: 10px 0;margin: 0;color: #000;">@Model.DOB</p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                  
                                    
                                    
                                      <tr>
                                        <td height="5"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                                <tbody>
                                                    <tr>
                                                        <td style="vertical-align: bottom; width:18%;"><label style="font-size: 16px;font-weight: bold;font-family: 'Calibri';color:#333;">Date</label></td>
                                                        <td width="200" style="padding-right: 15px; padding-left: 20px; border-bottom:1px solid #333; width:43%;">
                                                            <p style="font-size: 16px;border-bottom:1px solid #333;font-family: 'Calibri';padding: 10px 0;margin: 0;color: #000;height: 17px;">@Model.CreatedDate</p>
                                                        </td>
                                                        <td width="75" style="vertical-align: bottom; width: 11%;"><label style="font-size: 16px;font-weight: bold;font-family: 'Calibri';color:#333;">&nbsp;&nbsp;Center</label></td>
                                                        <td width="300" style="border-bottom:1px solid #333;">
                                                            <p style="font-size: 16px;border-bottom:1px solid #333;font-family: 'Calibri';padding: 10px 0;margin: 0;color: #000;height: 17px;">@Model.CenterName</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="5"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    
                                    *@
                                    
                                    <tr>
                                        <td>
                                            <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                                <tbody>
                                                    <tr>
                                                        <td width="800" style="vertical-align: bottom;"><label style="font-size: 16px;font-weight: bold;font-family: 'Calibri';color:#333;">Goal</label></td>
                                                    </tr>
                                                    <tr>
                                                        <td width="200" style="border-bottom:1px solid #333;" height="25">
                                                            <p style="font-size: 14px;border-bottom:1px solid #333;font-family: 'Calibri';margin: 0;color: #000;padding-bottom: 5px;">@Model.Goal</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="5"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="5"></td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                                <tbody>
                                                    <tr>
                                                        <td width="800" style="vertical-align: bottom;"><label style="font-size: 16px;font-weight: bold;font-family: 'Calibri';color:#333;">Summary of Meeting</label></td>
                                                    </tr>

                                                    <tr>
                                                        <td width="200" style="border-bottom:1px solid #333;" height="25">
                                                            <p style="font-size: 14px;border-bottom:1px solid #333;font-family: 'Calibri';margin: 0;color: #000;padding-bottom: 5px;">@Model.Summary</p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="5"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                                <tbody>
                                                    <tr>
                                                        <td height="5"></td>
                                                    </tr>
                                                    <tr>
                                                        <td width="800" style="vertical-align: bottom;"><label style="font-size: 16px;font-weight: bold;font-family: 'Calibri';color:#333;">Actions for Family</label></td>
                                                    </tr>

                                                    @{
                                                var familyActions = new List<FingerprintsModel.MDTAction>();
                                                familyActions = Model.MDTActions.Where(x => x.ActionFor == 1).ToList();
                                                    }

                                                    @if (familyActions.Count > 0)
                                            {
                                                var fa_i = 1;
                                                foreach (var item in familyActions)
                                                {
                                            <tr>
                                                <td width="200" style="border-bottom:1px solid #333;" height="25">
                                                    <p style="font-size: 14px;border-bottom:1px solid #333;font-family: 'Calibri';margin: 0;color: #000;padding-bottom: 5px;">
                                                        <span class="act-sno">@fa_i <span>.</span></span>
                                                        @item.ActionNotes
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="10"></td>
                                            </tr>
                                                    fa_i++;
                                                }
                                            }
                                            else
                                            {
                                                for (int i = 1; i <= 3; i++)
                                                {
                                            <tr>
                                                <td width="200" style="border-bottom:1px solid #333;" height="25">
                                                    <p style="font-size: 14px;border-bottom:1px solid #333;font-family: 'Calibri';margin: 0;color: #000;padding-bottom: 5px;"><span class="act-sno">@i <span>.</span></span></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="10"></td>
                                            </tr>

                                                        }
                                                    }


                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="10"></td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                                <tbody>

                                                    <tr>
                                                        <td width="800" style="vertical-align: bottom;"><label style="font-size: 16px;font-weight: bold;font-family: 'Calibri';color:#333;">Actions for Family Advocate</label></td>
                                                    </tr>
                                                    <tr>
                                                        <td height="5"></td>
                                                    </tr>

                                                    @{
    var FAdvActions = new List<FingerprintsModel.MDTAction>();
    FAdvActions = Model.MDTActions.Where(x => x.ActionFor == 2).ToList();
                                                    }

                                                    @if (FAdvActions.Count > 0)
                                                    {
                                                        var fad_i = 1;
                                                        foreach (var item in FAdvActions)
                                                        {

                                            <tr>
                                                <td width="200" style="border-bottom:1px solid #333;" height="25">
                                                    <p style="font-size: 14px;border-bottom:1px solid #333;font-family: 'Calibri';margin: 0;color: #000;padding-bottom: 5px;"><span class="act-sno">@fad_i <span>.</span></span> @item.ActionNotes</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="10"></td>
                                            </tr>
                                                            fad_i++;
                                                        }

                                                    }
                                                    else
                                                    {

                                                        for (int i = 1; i <= 3; i++)
                                                        {
                                            <tr>
                                                <td width="200" style="border-bottom:1px solid #333;" height="25">
                                                    <p style="font-size: 14px;border-bottom:1px solid #333;
font-family: 'Calibri';margin: 0;color: #000;padding-bottom: 5px;">
                                                        <span class="act-sno">@i <span>.</span></span>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="10"></td>
                                            </tr>
                                                        }
                                                    }


                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td height="10"></td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                                <tbody>
                                                    <tr>
                                                        <td width="800" style="vertical-align: bottom;"><label style="font-size: 16px;font-weight: bold;font-family: 'Calibri';color:#333;">Actions for Disabilities Departmemt</label></td>
                                                    </tr>
                                                    <tr>
                                                        <td height="5"></td>
                                                    </tr>
                                                    @{
                                                var DisabiActions = new List<FingerprintsModel.MDTAction>();
                                                DisabiActions = Model.MDTActions.Where(x => x.ActionFor == 3).ToList();

                                                    }

                                                    @if (DisabiActions.Count > 0)
                                                                {
                                                                    var d_i = 1;
                                                                    foreach (var item in DisabiActions)
                                                                    {
                                            <tr>
                                                <td width="200" style="border-bottom:1px solid #333;" height="25">
                                                    <p style="font-size: 14px;border-bottom:1px solid #333;font-family: 'Calibri';margin: 0;color: #000;padding-bottom: 5px;">
                                                        <span class="act-sno">@d_i <span>.</span></span>
                                                    @item.ActionNotes</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="10"></td>
                                            </tr>
                                                            d_i++;
                                                        }
                                                    }
                                                    else
                                                    {

                                                        for (int i = 1; i <= 3; i++)
                                                        {
                                            <tr>
                                                <td width="200" style="border-bottom:1px solid #333;" height="25">
                                                    <p style="font-size: 14px;border-bottom:1px solid #333;font-family: 'Calibri';margin: 0;color: #000;padding-bottom: 5px;"> <span class="act-sno">@i <span>.</span></span></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="10"></td>
                                            </tr>
                                                        }
                                                    }




                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="5"></td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                                <tbody>
                                                    <tr>
                                                        <td width="400">

                                                            @*<img src="@Fingerprints.Utilities.Helper.Getbase64str( Server.MapPath("/Images/StaffSignature2.png"))" style="height: 40px;border-bottom:1px solid #333;" />*@
                                                            <img src="data:image/png;base64,
                                   @Fingerprints.Common.Helpers.ImageHelper.GetBase64Png(
     string.IsNullOrEmpty(Model.ParentSign) ?  "{\"lines\":[]}" : Model.ParentSign , 400, 200, backgroundColor: System.Drawing.Color.FromArgb(219, 239, 239), penColor: System.Drawing.Color.FromArgb(41, 50, 127))" 
                                                                 style="height: 40px; width: 100%;" />
                                                            <hr style="margin-top: 0px;margin-bottom: 0px;border-color:#000;" />
                                                            @*<p style="font-size: 16px;border-bottom:1px solid #333;margin: 0;color: #0161ab;font-weight: 600;"></p><br />*@
                                                            <label style="font-size: 14px;color:#333;">Signature of Parent/Guardian</label>
                                                        </td>
                                                        <td width="200"> </td>
                                                        <td width="200" style="padding-right: inherit;height: 52px;">
                                                            <br />
                                                            <p style="font-size: 14px;border-bottom:1px solid #333;font-family: 'Calibri';margin: 0;color: #000;height: 32px;padding-bottom: 5px;">
                                                            @if (!string.IsNullOrEmpty(Model.ParentSign))
                                                            {
                                                                @Model.CreatedDate
                                                            }
                                                            </p><hr style="border-bottom:1px solid #333;" />
                                                            <label style="font-size: 14px;font-weight: bold;font-family: 'Calibri';color:#333;">Date</label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="5"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                                <tbody>
                                                    <tr>
                                                        <td width="400">
                                                            @*<img src="@Fingerprints.Utilities.Helper.Getbase64str( Server.MapPath("/Images/StaffSignature2.png"))" style="height: 40px;" />*@
                                                            <img src="data:image/png;base64,
      @Fingerprints.Common.Helpers.ImageHelper.GetBase64Png(
     string.IsNullOrEmpty(Model.FacilitatorSign) ?  "{\"lines\":[]}" : Model.FacilitatorSign , 400, 200, backgroundColor: System.Drawing.Color.FromArgb(219, 239, 239), penColor: System.Drawing.Color.FromArgb(41, 50, 127))"
                                                                  style="height: 40px; width: 100%;" />
                                                            <hr style="margin-top: 0px;margin-bottom: 0px;border-color:#000;" />
                                                            @*<p style="font-size: 16px;border-bottom:1px solid #333;margin: 0;color: #0161ab;font-weight: 600;"></p><br />*@
                                                            <label style="font-size: 14px;font-family: 'Calibri';color:#333;">Signature of Facilator</label>
                                                        </td>
                                                        <td width="200"> </td>
                                                        <td width="200">
                                                            <br />
                                                            <p style="font-size: 14px;border-bottom:1px solid #333;font-family: 'Calibri';margin: 0;color: #000;;height: 32px;">
                                                                @if (!string.IsNullOrEmpty(Model.FacilitatorSign))
                                                                {
                                                                    @Model.CreatedDate
                                                                }
                                                            </p><hr style="border-bottom:1px solid #333;" />
                                                            <label style="font-size: 14px;font-weight: bold;font-family: 'Calibri';color:#333;">Date</label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="5"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>



                                    <tr>
                                        <td>
                                            <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                                <tbody>
                                                    <tr>
                                                        <td width="400" style="padding-right:15px;">
                                                            @*<img src="@Fingerprints.Utilities.Helper.Getbase64str( Server.MapPath("/Images/StaffSignature2.png"))" style="height: 40px; width: 100%;" />*@
            <img 
          src="data:image/png;base64,
                 @Fingerprints.Common.Helpers.ImageHelper.GetBase64Png( string.IsNullOrEmpty(Model.FamilyAdvocateSign) ?  "{\"lines\":[]}" : Model.FamilyAdvocateSign , 400, 200, backgroundColor: System.Drawing.Color.FromArgb(219, 239, 239), penColor: System.Drawing.Color.FromArgb(41, 50, 127))" style="height: 40px; width: 100%;" />
                                                            <hr style="margin-top: 0px;margin-bottom: 0px;border-color:#000;" />
                                                            @*<br />*@
                                                            @*<p style="font-size: 16px;margin: 0;color: #0161ab;font-weight: 600;border-bottom:1px solid #333;"></p>*@
                                                            <label style="font-size: 14px;font-family: 'Calibri';color:#333;">Signature of Family Advocate</label>
                                                        </td>
                                                        <td width="200"> </td>
                                                        <td width="200">
                                                            <br />
                                                            <p style="font-size: 14px;font-family: 'Calibri'; margin: 0;color: #000;height: 32px;">
                                                            @if(!string.IsNullOrEmpty(Model.FamilyAdvocateSign)) {
                                                                @Model.CreatedDate
                                                            }
                                                            </p>
                                                            <hr style="border-bottom:1px solid #333;" />
                                                            <label style="font-size: 14px;font-weight: bold;font-family: 'Calibri';color:#333;">Date</label>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>


                                </tbody>
                            </table>

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>



    </div>
</body>
</html>
