@{
    ViewBag.Title = "MDTReport";
    Layout = "~/Views/Shared/AgencyStaffLayout.cshtml";
}



@section Title
{
    MDT Report
}




@section style{
    <link href="~/Content/Select2-3.5.3/select2.css" rel="stylesheet" />

    <style type="text/css">
                .page-wrapper-change {
                    /*width: 100%;
                float: left;*/
                    background: url(../../Images/body-bg.png) center no-repeat #1f4873 !important;
                    background-size: cover;
                    min-height: 600px;
                    padding-top: 30px;
                }



              .glossy_btn button, .backto_listspan .anchor_yellow {
                    width: auto;
                    display: inline-block;
                    position: relative;
                    cursor: pointer;
                    overflow: hidden;
                }

                .glossy-button-button {
                    display: inline-block;
                    vertical-align: top;
                    position: relative;
                    overflow: hidden;
                    min-width: 96px;
                    padding: 0 24px;
                    font-size: 14px;
                    color: white;
                    text-align: center;
                    text-decoration: none;
                    text-shadow: 0 1px #154c86;
                    background-color: #247edd;
                    background-clip: padding-box;
                    border: 1px solid;
                    border-color: #1c65b2 #18589c #18589c;
                    border-radius: 4px;
                    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
                    box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
                    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
                    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
                    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
                    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
                    height: 32px;
                }

                .glossy-button-after {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 0%;
                    height: 100%;
                    background-color: rgba(255,255,255,0.4);
                    -webkit-transition: none;
                    -moz-transition: none;
                    -ms-transition: none;
                    -o-transition: none;
                    transition: none;
                }

                .glossy-button-before {
                    position: absolute;
                    top: -25%;
                    bottom: -25%;
                    left: -20%;
                    right: -20%;
                    border-radius: 50%;
                    background: transparent;
                    -webkit-box-shadow: inset 0 0 38px rgba(255, 255, 255, 0.5);
                    -moz-box-shadow: inset 0 0 38px rgba(255, 255, 255, 0.5);
                    -ms-box-shadow: inset 0 0 38px rgba(255, 255, 255, 0.5);
                    -o-box-shadow: inset 0 0 38px rgba(255, 255, 255, 0.5);
                    box-shadow: inset 0 0 38px rgba(255, 255, 255, 0.5);
                }

                .button-green {
                    text-shadow: 0 1px #0d4d09;
                    background-color: #1ca913;
                    border-color: #147b0e #11640b #11640b;
                    padding: 0;
                    margin-bottom: 5px;
                }


                .glossy-button-button:hover .glossy-button-after, .backto_listspan .anchor_yellow:hover .glossy-button-after,
                .screening_footer .glossy-button-button:hover .glossy-button-after,
                .btnwrp_subcal .glossy-button-button:hover .glossy-button-after,
                .bootstrap-dialog-footer-buttons:hover .glossy-button-after {
                    width: 120%;
                    background-color: rgba(255,255,255,0);
                    -webkit-transition: all 0.3s ease-out;
                    -moz-transition: all 0.3s ease-out;
                    -ms-transition: all 0.3s ease-out;
                    -o-transition: all 0.3s ease-out;
                    transition: all 0.3s ease-out;
                }
        .glossy-button-after,
        .glossy-button-before {
         margin-top:0px !important;
        }
                .button-blue {
                    text-shadow: 0 1px #2495ea;
                    background-color: #19F;
                    border-color: #32a7ff #2f9def #2797eb;
                    padding: 0;
                    margin-bottom: 5px;
                }

                .button-red {
                    text-shadow: 0 1px #e0382a;
                    background-color: #d24a3e;
                    border-color: #db6d63 #ce6157 #c45349;
                    padding: 0;
                    margin-bottom: 5px;
                }





                .div-search-section {
                    border-radius: 10px;
                    background: #f1f5f8;
                    padding: 15px;
                    margin-bottom: 20px;
                }

                .impart-rght {
                    text-align: right;
                }

                .select2-container {
                    width: 300px;
                }

                .select2-choice {
                    height: 35px !important;
                }

                .profile-info2,
                .profile-info3 {
                    background: #fff;
                    box-shadow: -5px 7px 1px rgba(0, 0, 0, .05);
                }

                    .profile-info2 label,
                    .profile-info3 label {
                        color: #333;
                    }

                .actionitem {
                    margin-bottom: 15px;
                }

                .action-parent-section .panel-body {
                    background: #fff;
                }

                .action-parent-section .panel-heading {
                    height: 50px;
                    padding-right: 0px;
                }

                    .action-parent-section .panel-heading button {
                        float: right;
                    }
                /*.sigbtn-bar {
                 margin-top:75px;
                }*/

                .profile-info2, .profile-info3
                {
                    background: transparent!important;
                    box-shadow: none;
                }

                .profile-info2 .col-lg-12
                {
                    background: white;
                        border: 1px solid #e7e7e7;
                    padding: 10px!important;
                    box-shadow: 3px 3px 1px rgba(0, 0, 0, .05);
                }

                        .profile-info3 .col-lg-12
                {
                    background: white;
                        border: 1px solid #e7e7e7;
                    padding: 10px!important;
                    box-shadow: 3px 3px 1px rgba(0, 0, 0, .05);
                }

                        .profile-text1 p {
            color: #fff;
            font-size: 13px;
            padding: 0px;
            text-align: center;
            font-weight: bold;
            margin: 0;
            background: #9b58b4;
            padding: 10px;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }

                        .profile-info2 label, .profile-info3 label {
                padding-left: 25px;
                  padding-bottom: 10px;
                 }

                        #ProfileImage {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            max-width: 100%;
            max-height: 100%;
        }

                        .profile-img1 {
            position: relative;
            height: 165px;
            overflow: hidden;
            margin-top: 30px;
        }

                        .profile-text1 {
            position: absolute;
            bottom: 0;
            width: 100%;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }
                #profile-section .panel {
                        border-color: #f9c751;
                }
                #profile-section .panel-heading {
                    background: #f9c751;
                        border-color: #f9c751;
                }

                #profile-section .panel-title
                {
                        color: black;
            font-weight: bold;
                }

                .actionitem button
                {
                        background: transparent;
            border: none;
            color: red;
            font-size: 20px;
                }

                .yakkrrow label
                {
            padding-bottom: 20px!important;
            padding-left: 5px!important;
        }

                .signaturerow label
                        {
            padding-bottom: 20px!important;
            padding-left: 5px!important;
        }

                .signaturerow {
            padding-top: 20px;
        }

                .Status-desc-pic-Open p {
            background: #2ecc71;
            cursor: pointer;
            padding: 10px 8px;
            color: #ffffff;
            text-align: center;
            font-size: 14px;
            margin: 0;
            font-weight: bold;
            margin-top: 10px;
        }

                .action-parent-section .panel-heading
                {
                        background-color: #cfe1ef !important;
                        border-color:#cfe1ef !important;
                }
                .action-parent-section .panel {
                        border-color:#cfe1ef !important;
                }

                        .action-parent-section .panel-heading h3
                {
        font-weight: bold;
            padding-top: 6px;
            color: black;
                }

                .yakkrrow input[type="radio"]:nth-child(2) {
                    margin-left: 30px;
                }

                .addapplicant {
                    font-size: 20px;
            font-weight: bold;
            border-bottom: 2px solid #295b8f;
            color: #295b8f;
            padding: 15px 0;
            margin: 0 15px;
            margin-bottom: 20px;
                }

                .signame-div {
                 margin-top:50px;
                }

                input[name="ParentId"] {
                 margin-right:5px;
                }
                .signame-div label {
            text-align: right;
        }
                .signtype-div {
                margin-bottom:20px;
                }

        .code-sign {
         margin-top:13px;
        }
        .sigbtn-bar {
            margin-right: 75px;
        }
       .code-sign input {
         width:75px;
        }
    </style>


}



@section MainContentHolder{


    <div class="row Zoom">
        <div class="col-lg-12" style="padding:0;">
            <div class="page-wrapper-change">
                <div class="container-fluid">
                    <div class="row">


                        <div class="col-xs-12 glossy-right-side-container right-side-container-ch">

                            <div class="col-xs-12" style="padding:0px;margin-bottom:20px;">
                                <div class="col-lg-12">
                                    <h2 class="page-header page-header-change" style="border-bottom:5px solid #f9c751!important;color:#fff;">
                                        <i class="fa fa-group" aria-hidden="true"></i>&nbsp;Multi-Disciplinary Team Plan of Action

                                        <span class="view-btn backto_listspan">



                                        </span>
                                    </h2>
       <a href="@Url.Action("MDTList","Reporting")" class="glossy-button-button anchor_yellow" style="text-decoration:none;position: absolute;right: 15px;top: 30px;color:#fff;">
                                        Back to List<span class="glossy-button-before"></span><span class="glossy-button-after"></span>
       </a>

                                </div>
                            </div>



                            <div class="col-lg-12 col-xs-12" style="display:block;">
                                <div class="col-xs-12 div-search-section">

                                    @if (ViewBag.MDTId > 0)
                                    {

                                        <div class="col-xs-12">
                                            <div class="col-lg-4 impart-rght">
                                                <label class="" style="margin-top:8px;color: #1d5381;">Child Name</label>

                                            </div>
                                            <div class="col-lg-4">
                                                <label id="childName-ele" style="margin-top:8px;"></label>

                                            </div>
                                            <div class="col-lg-4" style="text-align:right;">

                                                @*<a class="glossy-button-button button-green"  id="add-family-action"style="color:#fff;cursor:pointer;text-decoration:none;"  href="@Url.Action("GetMDTFormPDF","Reporting")/@ViewBag.MDTId">
                                                    
                                                    <span class="glossy-button-after"></span><span class="glossy-button-before"></span>
                                                    Print
                                                </a>*@
                                                
                                            </div>

                                        </div>


                                    }
                                    else
                                    {

                                        <div class="col-xs-12 search-block-main">

                                            <div class="col-lg-4 impart-rght">
                                                <label class="" style="margin-top:8px;">Select Child</label>

                                            </div>

                                            <input type="text" placeholder="Search Child..." name="SearchByName" id="SearchClient">

                                            @*<div class="search-block">
                                                    <input type="text" placeholder="Search..." name="SearchByName" id="SearchClient" class="form-control">
                                                    <div class="ersa-search-btn">
                                                        <button id="searchByNamebtn" data-search-item="">Search</button>
                                                    </div>
                                                </div>*@


                                        </div>

                                    }


                                   


                                </div>
                            </div>

                            @*<div class="col-md-12" id="profile-section" style="display:none;">

                                </div>*@


                            <div class="col-md-12" id="div-form-section" style="display:none;">



                                <div class="glossy-panel-div col-md-12">

                                    <div class="col-md-12" id="profile-section" style="display:none;">

                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-6">
                                                <label class="lbl-text">Goal 
                                                @*<sup style="color:red;" title="field is required">*</sup>*@
                                                </label>
                                                <textarea class="form-control" id="Goal" name="Goal"></textarea>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="lbl-text">Summary of Meeting 
                                                @*<sup style="color:red;" title="field is required">*</sup>*@
                                                </label>
                                                <textarea class="form-control" id="Summary" name="Summary"></textarea>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="action-parent-section">
                                        <div class="col-md-12">
                                            <div class="panel panel-info" style="margin-top:20px;">
                                                <div class="panel-heading">
                                                    <h3 class="col-sm-10 panel-title">Actions for Family</h3>
                                                    <div class="col-sm-2">
                                                        <button class="glossy-button-button button-green" onclick="AppMDT.addNewItems('@FingerprintsModel.Enums.MDTActionType.Family')" type="button" id="add-family-action">
                                                            <span class="glossy-button-after"></span><span class="glossy-button-before"></span>
                                                            Add New
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="panel-body" style="">
                                                    <div class="row">
                                                        <div class="col-sm-12" id="action-family-body">

                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="panel panel-info" style="margin-top:20px;">
                                                <div class="panel-heading">
                                                    <h3 class="col-sm-10 panel-title">Actions for Family Advocate</h3>
                                                    <div class="col-sm-2">
                                                        <button class="glossy-button-button button-green" onclick="AppMDT.addNewItems('@FingerprintsModel.Enums.MDTActionType.FamilyAdvocate')" type="button" id="add-fsw-action">
                                                            <span class="glossy-button-after"></span><span class="glossy-button-before"></span>
                                                            Add New
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="panel-body" style="">
                                                    <div class="row">
                                                        <div class="col-sm-12" id="action-fsw-body">

                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="panel panel-info" style="margin-top:20px;">
                                                <div class="panel-heading">
                                                    <h3 class="col-sm-10 panel-title">Actions for Disabilities Department</h3>
                                                    <div class="col-sm-2">
                                                        <button class="glossy-button-button button-green" onclick="AppMDT.addNewItems('@FingerprintsModel.Enums.MDTActionType.DisabilityDepartment')" type="button" id="add-disability-action">
                                                            <span class="glossy-button-after"></span><span class="glossy-button-before"></span>
                                                            Add New
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="panel-body" style="">
                                                    <div class="row">
                                                        <div class="col-sm-12" id="action-disability-body">

                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>


                                    <!-- yakkr 304 and 310 section-->

                                    <div class="row yakkrrow">
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                <label class="col-md-6">Suspected or document of disability? <sup style="color:red;" title="field is required">*</sup></label>
                                                <div class="col-md-6">
                                                    <input type="radio" value="true" name="IsDisability" />  Yes
                                                    <input type="radio" value="false" name="IsDisability" />  No

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row yakkrrow">
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                <label class="col-md-6">Suspected or document of  mental health issue? <sup style="color:red;" title="field is required">*</sup></label>
                                                <div class="col-md-6">
                                                    <input type="radio" value="true" name="IsMentalIssue" /> Yes
                                                    <input type="radio" value="false" name="IsMentalIssue" /> No

                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <!-- Signature Div-->
                                    <div id="sign-div">

                                        <div class="row signaturerow">
                                            <div class="col-md-12">
                                                <div class="col-md-12">
                                                    @*<label> Signature of Parent/Guardian <sup style="color:red;" title="field is required">*</sup></label>*@
                                                    <h3 class="addapplicant">
                                                        <i class="fa fa-edit" aria-hidden="true"></i>
                                                        <span> Signature of Parent/Guardian 
                                                        @*<sup style="color:red;" title="field is required">*</sup>*@
                                                        </span>
                                                    </h3>
                                                    <div class="col-sm-6 signame-div" id="parent-choose-div">
                                                        <div class="col-sm-7 col-sm-offset-4">
                                                            @*<input type="radio" id="ParentId" name="ParentId">Parent-1
                                                                <input type="radio" id="ParentId" name="ParentId" style="margin-left: 30px;">Parent-2*@
                                                        </div>
                                                        @*<label class="col-sm-5"> Name</label>
                                                            <div class="col-sm-7">
                                                                <select class="form-control"><option>select user</option></select>
                                                            </div>*@
                                                    </div>

                                                    <div class="col-sm-6 RH-signdiv">
                                                        <div class="col-sm-12 signtype-div">
                                                            <input type="radio" value="1" name="signtypefor-parent" />Use Signature Code
                                                            <input type="radio" value="2" name="signtypefor-parent" checked="checked" />Sign Manually
                                                        </div>

                                                        <div class="col-sm-12 code-sign" style="display:none;">

                                                            <input id="ParentSCode" type="text" class="form-control" maxlength="4" />
                                                        </div>

                                                        <div class="col-sm-12 manul-sign">
                                                            <i style="position:absolute;margin-top:10px;color:gray;margin-left:5px;">Sign here</i>
                                                            <i style="position:absolute;margin-top:209px;color:red;margin-left:5px;" id="signed-msg"></i>
                                                            <div id="ParentSignature" class="form-control kbw-signature" style="margin:auto;height:200px;width:400px;">

                                                            </div>
                                                            <i style="display:block;margin-top:5px;font-size:12px;color:red;line-height:20px;    padding-left: 15%;">(Sign above and click on Accept Signature)</i>

                                                            <div class="sigbtn-bar text-center" style="">
                                                                <button class="btnPassword accept-sign" data-sprope="Parent" type="button"  style="border-radius:50px;">Accept Signature</button>
                                                                <button class="btnPassword clearsign" data-sprope="Parent" type="button"  style="border-radius:50px;">Clear</button>


                                                            </div>
                                                        </div>


                                                    </div>




                                                </div>
                                            </div>

                                        </div>



                                        <div class="row signaturerow">

                                            <div class="col-sm-12">
                                                <div class="col-sm-12">
                                                    @*<label> Signature of Facilitator <sup style="color:red;" title="field is required">*</sup></label>*@
                                                    <h3 class="addapplicant">
                                                        <i class="fa fa-edit" aria-hidden="true"></i>
                                                        <span> Signature of Facilitator 
                                                        @*<sup style="color:red;" title="field is required">*</sup>*@
                                                        </span>
                                                    </h3>
                                                    <div class="col-sm-6 signame-div">
                                                        <label class="col-sm-5"> Name</label>
                                                        <div class="col-sm-7">
                                                            @*<select class="form-control"><option>select user</option></select>*@
                                                            <select name="FacilitatorId" data-name="Facilitator" class="form-control" id="facilitator-dropdown">
                                                                <option value="0">--Select User --</option>

                                                            </select>

                                                        </div>
                                                    </div>


                                                    <div class="col-sm-6 RH-signdiv">

                                                        <div class="col-sm-12 signtype-div">
                                                            <input type="radio" value="1" name="signtypefor-faci" />Use Signature Code
                                                            <input type="radio" value="2" name="signtypefor-faci" checked="checked" />Sign Manually
                                                        </div>

                                                        <div class="col-sm-12 code-sign" style="display:none;">

                                                            <input id="FacilitatorSCode" type="password" class="form-control" maxlength="4" />
                                                        </div>

                                                        <div class="col-sm-12 manul-sign">
                                                            <i style="position:absolute;margin-top:10px;color:gray;margin-left:5px;">Sign here</i>
                                                            <i style="position:absolute;margin-top:209px;color:red;margin-left:5px;" id="signed-msg"></i>
                                                            <div id="FacilitatorSignature" class="form-control kbw-signature" style="margin:auto;height:200px;width:400px;">
                                                            </div>
                                                            <i style="display:block;margin-top:5px;font-size:12px;color:red;line-height:20px;    padding-left: 15%;">(Sign above and click on Accept Signature)</i>

                                                            <div class="sigbtn-bar text-center" style="">


                                                                <button class="btnPassword accept-sign" data-sprope="Facilitator" type="button" style="border-radius:50px;">Accept Signature</button>
                                                                <button class="btnPassword clearsign" data-sprope="Facilitator" type="button" id="clear2"  style="border-radius:50px;">Clear</button>

                                                            </div>


                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>



                                        <div class="row signaturerow">
                                            <div class="col-sm-12">

                                                <div class="col-sm-12">
                                                    @*<label> Signature of Family Service Worker <sup style="color:red;" title="field is required">*</sup></label>*@
                                                    <h3 class="addapplicant">
                                                        <i class="fa fa-edit" aria-hidden="true"></i>
                                                        <span> Signature of Family Advocate 
                                                        @*<sup style="color:red;" title="field is required">*</sup>*@
                                                        </span>
                                                    </h3>
                                                    <div class="col-sm-6 signame-div">
                                                        <label class="col-sm-5"> Name</label>
                                                        <div class="col-sm-7">
                                                            @*<select class="form-control"><option>select user</option></select>*@
                                                            <select id="familyadvocate-dropdown" class="form-control"><option>select user</option></select>
                                                        </div>
                                                    </div>


                                                    <div class="col-sm-6 RH-signdiv">
                                                        <div class="col-sm-12 signtype-div">
                                                            <input value="1" type="radio" name="signtypefor-fadv" />Use Signature Code
                                                            <input value="2" type="radio" name="signtypefor-fadv" checked="checked" />Sign Manually
                                                        </div>
                                                        <div class="col-sm-12 code-sign" style="display:none;">
                                                            <input id="FASCode" type="password" class="form-control" maxlength="4">
                                                        </div>
                                                        <div class="col-sm-12 manul-sign">
                                                            <i style="position:absolute;margin-top:10px;color:gray;margin-left:5px;">Sign here</i>
                                                            <i style="position:absolute;margin-top:209px;color:red;margin-left:5px;" id="signed-msg"></i>
                                                            <div id="FamilyAdvocateSignature" class="form-control kbw-signature" style="margin:auto;height:200px;width:400px;">
                                                            </div>

                                                            <i style="display:block;margin-top:5px;font-size:12px;color:red;line-height:20px;     padding-left: 15%;">(Sign above and click on Accept Signature)</i>

                                                            <div class="sigbtn-bar text-center" style="">


                        <button class="btnPassword accept-sign" data-sprope="Facilitator" type="button" style="border-radius:50px;">Accept Signature</button>
                                                                <button class="btnPassword clearsign" data-sprope="FamilyAdvocate" type="button"   style="border-radius:50px;">Clear</button>

                                                            </div>


                                                        </div>
                                                    </div>


                                                    @*<div class="col-sm-6">


                                                                <div class="sigbtn-bar text-center" style="">


                                                                    <button class="btnPassword" type="button" id="accept-sign" onclick="return SaveSignatureStaff();" style="border-radius:50px;">Accept Signature</button>
                                                                    <button class="btnPassword" type="button" id="clear2" onclick="clearsign(this)" style="border-radius:50px;">Clear</button>

                                                                </div>



                                                        </div>*@


                                                </div>
                                            </div>
                                        </div>



                                    </div> <!--end sign div -->


                                    <div class="row">
                                        <div class="col-sm-12 text-center">

                                            <button id="filter-review" class="glossy-button-button button-green" type="button" style="margin-top:22px;" onclick="AppMDT.submitMDT()">
                                                <span class="glossy-button-after"></span>
                                                <span class="glossy-button-before"></span>
                                                Submit
                                            </button>

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>



    <script type="text/template" id="profile-temp">

        <div class="panel panel-success">
            <div class="panel-heading">
                <button type="button" id="pfsection-toggle" class="button" style="position:absolute;right:24px;     background: transparent; border: none;"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></button>
                <h3 class="panel-title">Profile Information</h3>

            </div>
            <div class="panel-body" style="background:#f1f5f8;">
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-5">
                        <div class="profile-img1">


                            @*<img id="ProfileImage" src="data:image/jpeg;base64,{pf.Profilepic}" style="display: block;">*@


                            <img id="ProfileImage" src="{pf.Profilepic ? 'data:image/jpeg;base64,'+pf.Profilepic : '/Images/prof-image.png' }" style="display: block;">

                            <div class="profile-text1">
                                <p class="child-name">{pf.ChildName}</p>
                            </div>


                            <!--<div class="">
                                <p class="child-name">{pf.DOB}</p>
                            </div> -->
                        </div>

                        <div class="profile-content-desc-pic Status-desc-pic-Open" style="position: relative;">
                            <p class="status-bg">{pf.DOB}</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 profile-info2">
                        <div class="col-lg-12 col-sm-12">
                            <div class="row">

                                <label class="col-lg-6 col-sm-6 lbl-text"> Name : </label>
                                <label class="col-lg-6 col-sm-6 "> {pf.ChildName}</label>
                            </div>
                            <div class="row">
                                <label class="col-lg-6 col-sm-6 lbl-text"> DOB : </label>
                                <label class="col-lg-6 col-sm-6 "> {pf.DOB}</label>
                            </div>
                            <div class="row">
                                <label class="col-lg-6 col-sm-6 lbl-text"> BMI % : </label>
                                <label class="col-lg-6 col-sm-6 "> {pf.BMIPercentage}</label>
                            </div>
                            <div class="row">

                                <label class="col-lg-6 col-sm-6 lbl-text"> Language : </label>
                                <label class="col-lg-6 col-sm-6 "> {pf.Language}</label>
                            </div>
                            <div class="row">
                                <label class="col-lg-6 col-sm-6 lbl-text"> Attendance : </label>
                                <label class="col-lg-6 col-sm-6 "> {pf.Attendance}</label>
                            </div>
                            <div class="row">
                                <label class="col-lg-6 col-sm-6 lbl-text"> Total No.of days Enrolled : </label>
                                <label class="col-lg-6 col-sm-6 "> {pf.TotalEnrolled} Days</label>
                            </div>
                            <div class="row">
                                <label class="col-lg-6 col-sm-6 lbl-text"> IEP or IFSP : </label>
                                <label class="col-lg-6 col-sm-6 "> {pf.IEP}</label>
                            </div>
                            <div class="row">
                                <label class="col-lg-6 col-sm-6 lbl-text"> Behavior Plan : </label>
                                <label class="col-lg-6 col-sm-6 "> {pf.BehaviorPlan}</label>
                            </div>
                            <div class="row">
                                <label class="col-lg-6 col-sm-6 lbl-text"> Allergies : </label>
                                <label class="col-lg-6 col-sm-6 "> {pf.Allergies}</label>
                            </div>
                            <div class="row">
                                <label class="col-lg-6 col-sm-6 "> Doctor : </label>
                                <label class="col-lg-6 col-sm-6 "> {pf.Doctor}</label>
                            </div>
                            <div class="row">
                                <label class="col-lg-6 col-sm-6 lbl-text"> Dentist : </label>
                                <label class="col-lg-6 col-sm-6 "> {pf.Dentist}</label>
                            </div>
                            <div class="row">
                                <label class="col-lg-6 col-sm-6 lbl-text"> Missing Screenings : </label>
                                <label class="col-lg-6 col-sm-6 "> {pf.MissingScreenings}</label>
                            </div>
                            <div class="row">
                                <label class="col-lg-6 col-sm-6 lbl-text"> Transfer Requested : </label>
                                <label class="col-lg-6 col-sm-6 "> {pf.TransferRequested}</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-12 no-padding profile-info3">
                        <div class="col-lg-12 col-sm-12">
                            <div class="row">
                                <label class="col-lg-6 col-sm-6 lbl-text"> Mother Figure : </label>
                                <label class="col-lg-6 col-sm-6 "> {pf.Mother}</label>
                            </div>
                            <div class="row">
                                <label class="col-lg-6 col-sm-6 lbl-text"> Address : </label>
                                <label class="col-lg-6 col-sm-6 "> {pf.Address}</label>
                            </div>
                            <div class="row">
                                <label class="col-lg-6 col-sm-6 lbl-text"> Total Case note written : </label>
                                <label class="col-lg-6 col-sm-6 "> {pf.TotalCasenote}</label>
                            </div>
                            <div class="row">
                                <label class="col-lg-6 col-sm-6 lbl-text"> Last date of Case note written : </label>
                                <label class="col-lg-6 col-sm-6 "> {pf.LastdateofCasenote}</label>
                            </div>
                        </div>

                    </div>

                </div>

                @*{pf.ChildName}*@
            </div>
        </div>

    </script>

    <script type="text/template" id="action-item-temp">

        <div class="col-md-12 actionitem" data-type="{data._for}">
            <span style="position: absolute;left: 0px;top: 15px;" class="actionitem-sno">{data.Index}.</span>
            <div style="width:96%;display: inline-block;float: left;">
                <textarea data-ActionId="{data.Id}" type="text" data-name="action-input" class="form-control" style="width:95%; height: 35px; box-shadow: none!important; border-bottom: 1px solid #ccc!important; border: none;" placeholder="Enter Actions...">{data.Text}</textarea>
            </div>
            <button type="button" class="deleteItem-icon" style="width: 1%;display:
{ data.Index == 1 ? 'none' : 'inline-block' }; height:34px;">
                <i class="fa fa-trash"></i>
            </button>
        </div>
    </script>

}


@section Script{

    <script src="~/Content/underscore-min.js"></script>
    <script src="~/Content/Select2-3.5.3/select2.js"></script>

    <script type="text/javascript">
        var Urls = {
            getClientList: "@Url.Action("GetClientByCenterAndClass", "Home")",
            getChildProfile: "@Url.Action("GetClientProfile", "AgencyUser")",
            getListofSignerByClientId:"@Url.Action("getUsersDetailsForMDT","Reporting")",
            submitMDTReport:"@Url.Action("SubmitMDT","Reporting")",
            getMDTbyId:"@Url.Action("GetMDTReportById", "Reporting")",
            CheckSignatureCode:"@Url.Action("CheckSignatureCode", "MyProfile")"
        }



        var AppMDT = {
            actions: { Family:[],FamilyAdvocate:[], DisabilityDepartment:[] },
            actionType:@(FingerprintsModel.EnumHelper.ConvertToJson(typeof(FingerprintsModel.Enums.MDTActionType))),
            isFormValid:false,
            MDTId:'@ViewBag.MDTId',
            SelectedClient:0,
            finaldata:{},
            sign:{
                Parent:{signtype:$('[name="signtypefor-parent"]:checked').val(), accept:  false,},
                Facilitator:{signtype:$('[name="signtypefor-faci"]:checked').val(), accept:false,},
                FamilyAdvocate:{signtype:$('[name="signtypefor-fadv"]:checked').val(), accept:false,},

            },
            init: function () {
                var self = this;
                self.loadSettings();
                self.initEvents();
                if(parseInt(self.MDTId) > 0){
                   // self.loadClientInformation(self.SelectedClient);
                    //self.loadListofSigner(self.SelectedClient);
                    self.loadMDTDetails();
                }

            },
            loadSettings: function () {

                //refer doc https://underscorejs.org/#template
                _.templateSettings = {
                    interpolate: /\{(.+?)\}/g,
                    evaluate: /\{\[([\s\S]+?)\]\}/g,
                    escape: /\{\{-([\s\S]+?)\}\}/g
                };

            },
            loadMDTDetails:function(){
                var self = this;
                
                $.ajax({
                    method:"POST",
                    url:Urls.getMDTbyId,
                    contentType:"application/json",
                    dataType:"json",
                    data:JSON.stringify({id:self.MDTId}),
                    beforeSend:function(){ $("#spinner").show(); },
                    success:function(result){
                        console.log(result);
                        if(result.ClientId){
                            self.SelectedClient = result.ClientId;
                            self.finaldata=result;
                            self.loadClientInformation(self.SelectedClient);
                            self.loadListofSigner(self.SelectedClient);
                           // self.renderMDTReport();
                        }
                    },
                    error:function(){
                    
                    },
                    complete:function(){
                        $("#spinner").hide();
                    }
                })

            },
            renderMDTReport:function(){
                var self = this;
                var _mdt = self.finaldata;

                $("#childName-ele").text(_mdt.Name);
                $("#Goal").val(_mdt.Goal);
                $("#Summary").val(_mdt.Summary);
                $('[name="IsDisability"][value="'+_mdt.IsDisability+'"]')[0].checked=true;
                $('[name="IsMentalIssue"][value="'+_mdt.IsMentalIssue+'"]')[0].checked=true;
                if($('[name="ParentId"][value="'+_mdt.ParentId+'"]')[0]){
                    $('[name="ParentId"][value="'+_mdt.ParentId+'"]')[0].checked=true;
                }

                //extract action item and push,render 
                self.actions.Family = self.finaldata.MDTActions.filter(x=>x.ActionFor==self.actionType.Family);
                self.reRenderItems("Family");

                self.actions.FamilyAdvocate = self.finaldata.MDTActions.filter(x=>x.ActionFor== self.actionType.FamilyAdvocate);
                self.reRenderItems("FamilyAdvocate");

                self.actions.DisabilityDepartment = self.finaldata.MDTActions.filter(x=>x.ActionFor== self.actionType.DisabilityDepartment);
                self.reRenderItems("DisabilityDepartment");

                $('[name="FacilitatorId"]').val(self.finaldata.FacilitatorId);
                $('#familyadvocate-dropdown').val(self.finaldata.FamilyAdvocateId);

                if(self.validSign(AppMDT.finaldata.ParentSign)){
                    $("#ParentSignature").signature('draw', (self.finaldata.ParentSign));
                    self.sign.Parent.accept=true;
                    self.sign.Parent.signtype = self.finaldata.ParentSignType;

                    $("#ParentSignature").parents('.manul-sign').siblings('.signtype-div').remove()
                    $("#ParentSignature").signature('disable');
                    $('[name="ParentId"]').prop('disabled',true)
                    $("#ParentSignature").siblings('.sigbtn-bar').remove()
                }

                if(self.validSign(self.finaldata.FacilitatorSign)){
                    $("#FacilitatorSignature").signature('draw', (self.finaldata.FacilitatorSign))
                    self.sign.Facilitator.accept=true;
                    self.sign.Parent.signtype = self.finaldata.FacilitatorSignType;

                    $("#FacilitatorSignature").parents('.manul-sign').siblings('.signtype-div').remove()
                    $("#FacilitatorSignature").signature('disable');
                    $("#facilitator-dropdown")[0].disabled=true
                    $("#FacilitatorSignature").siblings('.sigbtn-bar').remove()

                }

                if(self.validSign(self.finaldata.FamilyAdvocateSign)){
                    $("#FamilyAdvocateSignature").signature('draw', (self.finaldata.FamilyAdvocateSign));
                    self.sign.FamilyAdvocate.accept=true;
                    self.sign.FamilyAdvocate.signtype = self.finaldata.FASignType;
                    
                    $("#FamilyAdvocateSignature").parents('.manul-sign').siblings('.signtype-div').remove()
                    $("#FamilyAdvocateSignature").signature('disable');
                    $("#familyadvocate-dropdown")[0].disabled=true;
                    $("#FamilyAdvocateSignature").siblings('.sigbtn-bar').remove()
                    
                }



            },
            validSign:function(strjson){
                var self=this;
                var msg = false;
              
                if(self.IsJsonString(strjson)){
                
                    strjson = JSON.parse(strjson);

                    if(strjson && strjson.hasOwnProperty("lines") && strjson.lines.length ){
                        msg=true;
                    }
                }
               
                return msg;
            },
             IsJsonString:function(str) {
                 try {
           JSON.parse(str);
              } catch (e) {
            return false;
                              }
        return true;
        },
            initEvents: function () {
                var self = this;

                /*
                self.addNewItems('family');
                self.addNewItems('fsw');
                self.addNewItems('disability');*/

                if(self.MDTId == 0){
                    self.addNewItems('@FingerprintsModel.Enums.MDTActionType.Family');
                    self.addNewItems('@FingerprintsModel.Enums.MDTActionType.FamilyAdvocate');
                    self.addNewItems('@FingerprintsModel.Enums.MDTActionType.DisabilityDepartment');
                }
                $('#ParentSignature').signature();
                $('#FacilitatorSignature').signature();
                $('#FamilyAdvocateSignature').signature();

                //default chek true for manual sign
                //$('[name="signtypefor-faci"][value="2"]')[0].checked=true;
                //$('[name="signtypefor-faci"][value="2"]').trigger('change');
                //$('[name="signtypefor-fadv"][value="2"]')[0].checked=true;
                //$('[name="signtypefor-fadv"][value="2"]').trigger('change');

                $(document).on("click",".accept-sign",function(e){
                    e.preventDefault();
                    var type = $(this).data("sprope");
                
                    self.sign[type]['accept']=true; //for validation
                });

                $(document).on("click",".clearsign",function(e){
                    e.preventDefault();
                    var type = $(this).data("sprope");

                    $(this).parents('.sigbtn-bar').siblings('.kbw-signature').signature('clear');
                
                    self.sign[type]['accept']=false; //for validation

                });

                $(document).on("input","#ParentSCode, #FacilitatorSCode, #FASCode",function(e){
                    e.preventDefault();
                   
                    var _type=this.id;
                   self.validateSignCode(_type,this.value);

                });


                $(document).on("change",'[name="signtypefor-faci"], [name="signtypefor-fadv"], [name="signtypefor-parent"]', function(e){
                    e.preventDefault();
                    console.log(this);
                    var _val = $('[name='+this.name+']:checked').val();
                    if(_val =="2"){
                        $(this).parents(".signtype-div").siblings(".code-sign").hide();
                        $(this).parents(".signtype-div").siblings(".manul-sign").show();
                    }else{

                        $(this).parents(".signtype-div").siblings(".code-sign").show();
                        $(this).parents(".signtype-div").siblings(".manul-sign").hide();
                    }
                });

                $(document).on("change", '[data-name="action-input"]', function (e) {
                    e.preventDefault();
                    var _actionType = $(this).closest('.actionitem').data("type");
                    console.log(_actionType);
                    self.actions[_actionType]=[];
                    $.each($('[data-type="'+_actionType+'"] textarea'),function(i,e){

                        console.log( $(e).val());

                        //self.actions[_actionType].push( $(e).val());
                        self.actions[_actionType].push(
        {ActionNotes:$(e).val(),
            ActionFor: self.actionType[_actionType],
            ActionId:$(e).data('actionid'),
            Status:1
        });
                    });

                    console.log(self.actions);
                });

                $(document).on("click", ".deleteItem-icon", function (e)
                {
                    e.preventDefault();
                    var _caurRow = $(this).parents('.actionitem');
                    var _actionType = _caurRow.data("type");
                    var index=-1;

                    if(_actionType == '@FingerprintsModel.Enums.MDTActionType.Family'){

                        index =  $('#action-family-body .actionitem').index(_caurRow[0]);
                        $('#action-family-body').html('');

                    }else if(_actionType == '@FingerprintsModel.Enums.MDTActionType.FamilyAdvocate'){

                        index =  $('#action-fsw-body .actionitem').index(_caurRow[0]);
                        $('#action-fsw-body').html('');
                    }else{
                        index =  $('#action-disability-body .actionitem').index(_caurRow[0]);
                        $('#action-disability-body').html('');
                    }

                    // console.log(_actionType,index,self.actions);
                    self.actions[_actionType].splice(index,1);
                    console.log(_actionType,index,self.actions);
                    $(this).parents('.actionitem').remove();


                    self.reRenderItems(_actionType);
                });

                $(document).on("click", "#pfsection-toggle", function (e) {
                    e.preventDefault();
                    $("#profile-section .panel-body").slideToggle();

                    if ($('#pfsection-toggle span').hasClass('glyphicon-chevron-up')) {

                        $('#pfsection-toggle span').removeClass('glyphicon-chevron-up');
                        $('#pfsection-toggle span').addClass('glyphicon-chevron-down');

                    } else {
                        $('#pfsection-toggle span').removeClass('glyphicon-chevron-down');
                        $('#pfsection-toggle span').addClass('glyphicon-chevron-up');
                    }

                });

                $("#SearchClient").select2({
                    placeholder: "Select Child",
                    minimumInputLength: 1,
                    ajax: {
                        url: Urls.getClientList,
                        dataType: 'json',
                        quietMillis: 250,
                        data: function (term, page) {

                            return { search: term };
                        },
                        results: function (data, page) {
                            return { results: data };

                        },
                        cache: true
                    },
                    initSelection: function (element, callback) {

                    },
                }).on("change", function (e) {
                    console.log(e);
                    self.SelectedClient=e.val;
                    self.loadClientInformation(self.SelectedClient);
                    self.loadListofSigner(self.SelectedClient);
                });


            },
            validateSignCode:function(type,value){
                console.log(type);
                var self=this;

                if (value && value.trim().length < 4){
                   
                    return false;
                }

                self.sign[signType]["accept"]=false;

                var _usrId = "", userName=""; var signType = "";
                if(type=="ParentSCode"){
                    _usrId= $('[name="ParentId"]:checked').val();
                    userName= $('[name="ParentId"]:checked').data('name')
                    signType="Parent";
                    $("#ParentSignature").signature("clear");

                }else if(type=="FacilitatorSCode"){
                
                    _usrId= $("#facilitator-dropdown").val();
                    userName=$("#facilitator-dropdown option:selected").text();
                    signType="Facilitator";
                    $("#FacilitatorSignature").signature("clear");

                }else{
                    _usrId=$("#familyadvocate-dropdown").val();
                    userName=$("#familyadvocate-dropdown option:selected").text();
                    signType="FamilyAdvocate";
                    $("#FamilyAdvocateSignature").signature("clear");

                }

                $.ajax({
                    method:"POST",
                    url:Urls.CheckSignatureCode,
                    dataType:"json",
                    contentType:"application/json",
                    data:JSON.stringify({ signatureCode: value, id:_usrId }),
                    beforeSend:function(){ $("#spinner").show()},
                    success:function(data){
                        if(data=="1"){
                        
                            self.sign[signType]["accept"]=true;
                            $("#"+type+"").css("background","white");
                        }else{
                            customAlertforlongtime( userName+' - '+ _langList.SignatureCodeNotMatch);
                            self.sign[signType]["accept"]=false;
                            $("#"+type+"").css("background","pink");
                        }
                    },error:function(res){
                    
                    },complete:function(res){
                        $("#spinner").hide();
                    }
                })

            },
            loadListofSigner:function(cid){
                var self = this;
                console.log(cid);

                $.ajax({
                    method: "POST",
                    url: Urls.getListofSignerByClientId,
                    data: JSON.stringify({ ClientId: cid}),
                    beforeSend: function () { $("#spinner").show(); },
                    contentType: 'application/json',
                    dataType: 'json',
                    success: function (result) {

                        //  if (data && data.length) {
                        if (result && result.hasOwnProperty("Data")) {
                            //self.renderClientProfile(data[0]);

                            self.renderSignerDetails(result.Data);

                            if(self.MDTId > 0){
                                self.renderMDTReport()
                            }
                        }
                    },
                    error: function (res) {

                    },
                    complete: function (res) {
                        $("#spinner").hide()
                    }
                });


            },
            renderSignerDetails:function(data)
            {
                var self = this;
                console.log(data);

                if(data.hasOwnProperty("Parents") && data.Parents.length){

                    var _parnts = '<div class="col-sm-7 col-sm-offset-4">';

                    data.Parents.forEach(function(obj,e){
                        console.log(obj,e);
                        _parnts+='<input type="radio" value="'+obj.Value+'" data-name="'+obj.Text+'" name="ParentId" id="ParentId">'+obj.Text+' ';

                    });
                    _parnts+='</div>';
                    $("#parent-choose-div").html('');
                    $("#parent-choose-div").append(_parnts);
                    
                }

                if(data.hasOwnProperty("Facilitator") && data.Facilitator.length){

                    $("#facilitator-dropdown").html('');
                    data.Facilitator.forEach(function(obj,e){

                        $("#facilitator-dropdown").append('<option value="'+obj.Value+'">'+obj.Text+'</option>');

                    });
                }

                if(data.hasOwnProperty("FamilyAdvocate") && data.Facilitator.length){

                    $("#familyadvocate-dropdown").html('');
                    data.FamilyAdvocate.forEach(function(obj,e){

                        $("#familyadvocate-dropdown").append('<option value="'+obj.Value+'">'+obj.Text+'</option>');

                    });
                }

               

            },
            reRenderItems:function(_for){
                var self = this;

                var _ActionData= self.actions[_for];
                var compiled = _.template($("#action-item-temp").html());

                _ActionData.forEach(function(obj,i){
                    console.log(i,obj);
                    // var _data = { Index:(i+1), Text:obj.ActionNotes, _for:_for};
                    var _data={ Index:(i+1), Text:obj.ActionNotes, _for:_for,Id:obj.ActionId};

                    if (_for == "Family") {
                        $("#action-family-body").append(compiled({ data: _data }));
                    } else if (_for == 'FamilyAdvocate') {

                        $("#action-fsw-body").append(compiled({ data: _data }));
                    } else if (_for == 'DisabilityDepartment') {
                        $("#action-disability-body").append(compiled({ data: _data }));
                    }

                });

            },
            addNewItems: function (_for) {
                console.log(_for);

                var _data = { _for: _for,Id:0 };

                var compiled = _.template($("#action-item-temp").html());


                if (_for == "Family") {
                    // data.index

                    _data.Index = $("#action-family-body .actionitem").length + 1;
                    $("#action-family-body").append(compiled({ data: _data }));
                } else if (_for == 'FamilyAdvocate') {
                    _data.Index = $("#action-fsw-body .actionitem").length + 1;
                    $("#action-fsw-body").append(compiled({ data: _data }));
                } else if (_for == 'DisabilityDepartment') {
                    _data.Index = $("#action-disability-body .actionitem").length + 1;
                    $("#action-disability-body").append(compiled({ data: _data }));
                }

                //var _actionStr = compiled({ data: _data });

            },
            submitMDT: function (ele) {
                var self = this;
                console.log(ele);

                self.validateandParseForm();

                console.log(self.isFormValid, self.finaldata)
                
                if(!self.isFormValid) return false;


                $.ajax({
                    method:"POST",
                    url:Urls.submitMDTReport,
                    data:JSON.stringify(self.finaldata),
                    contentType:"application/json",
                    dataType:"json",
                    beforeSend:function(){ $("#spinner").show(); },
                    success:function(result){

                        if(result){
                            customAlert("MDT form saved successfully");
                            setTimeout(function(){
                                window.location.href='@Url.Action( "MDTList", "Reporting")';
                            },2000)
                        }else{
                            customAlert("Something went wrong. Please try again");
                        }
                        @*if(result.MDTId > 0){
                            customAlert("MDT form saved successfully")
                        }

                        setTimeout(function(){
                            window.location.href='@Url.Action("MDTReport", "Reporting")';
                        },2000)*@

                    },error:function(response){

                    },
                    complete:function(res){
                        $("#spinner").hide();
                    }





                });

            },
            validateandParseForm:function(){
                var self=this;
                //if()

                self.isFormValid=true; //set true before going to validation
                
                var _pd={
                    IsCompleted:true, //set true before going to validate form completely filled
                    ClientId:$("#SearchClient").select2('val'),
                    Goal:$("#Goal").val(),
                    Summary:$("#Summary").val(),
                    IsDisability:$("[name='IsDisability']:checked").val(),
                    IsMentalIssue:$("[name='IsMentalIssue']:checked").val(),
                    ParentId:$("[name='ParentId']:checked").val(),
                    ParentSign: $('#ParentSignature').signature('toJSON'),
                    ParentSignType:$('[name="ParentId"]:checked').val(),

                    FacilitatorId:$("#facilitator-dropdown").val(),
                    FacilitatorSign:$('#FacilitatorSignature').signature('toJSON'),
                    FacilitatorSignType:$('[name="signtypefor-faci"]:checked').val(),

                    FamilyAdvocateId:$("#familyadvocate-dropdown").val(),
                FamilyAdvocateSign:$('#FamilyAdvocateSignature').signature('toJSON'),
                FASignType:$('[name="signtypefor-fadv"]:checked').val(),

                    MDTActions:[]
                };

                var _tempAction= _.union(self.actions.Family,self.actions.DisabilityDepartment,self.actions.FamilyAdvocate);
                _pd.MDTActions = _tempAction;
                
                //  self.finaldata = _pd;

                


                if(!_pd.Goal){
                    _pd.IsCompleted=false;
                    //customAlert("Goal is required")
                    //self.isFormValid=false;
                    //return false;
                }

                if(!_pd.Summary){
                    _pd.IsCompleted=false;
                    //customAlert("Summary is required")
                    //self.isFormValid=false;
                    //return false;
                }
                

                
                if(!_pd.IsDisability){
                    customAlert("Suspected or document of disability is required")
                    self.isFormValid=false;
                    $('[name="IsDisability"]').focus();
                    return false;
                }
                if(!_pd.IsMentalIssue){
                    customAlert("Suspected or document of mental health issue is required")
                    self.isFormValid=false;
                    $('[name="IsDisability"]').focus();
                    return false;
                }

            
                //*******parent validation

            /*    if(!_pd.ParentId){
                    _pd.IsCompleted=false;
                    //customAlert("Parent/Guardian  is required")
                    //self.isFormValid=false;
                    //return false;
                }
                */
                if(!self.validSign( _pd.ParentSign)){
                    _pd.IsCompleted=false;
                    //customAlert("Parent Signature is required")
                    //self.isFormValid=false;
                    //return false;
                }

             /*   //*******Facilitator validation
                if(!_pd.FacilitatorId){
                    //customAlert("Facilitator is required")
                    //self.isFormValid=false;
                    //return false;
                }*/
                if(!self.validSign(_pd.FacilitatorSign)){
                    _pd.IsCompleted=false;
                    //customAlert("Facilitator Signature is required")
                    //self.isFormValid=false;
                    //return false;
                }

                //*******Family Advocate validation

               /* if(!_pd.FamilyAdvocateId){
                    //customAlert("Family Advocate is required")
                    //self.isFormValid=false;
                    //return false;
                }*/

                if(!self.validSign(_pd.FamilyAdvocateSign)){
                    _pd.IsCompleted=false;
                    //customAlert("Family Advocate Signature is required")
                    //self.isFormValid=false;
                    //return false;
                }

                



                //update globe data
                self.finaldata =  _.extend(self.finaldata , _pd);

            },
            loadClientInformation(clientid) {
                var self = this;
                console.log(clientid);

                $.ajax({
                    method: "POST",
                    url: Urls.getChildProfile,
                    data: JSON.stringify({ ClientId: clientid, dateReview: "2/1/2019" }),
                    beforeSend: function () { $("#spinner").show(); },
                    contentType: 'application/json',
                    dataType: 'json',
                    success: function (data) {

                        if (data && data.length) {
                            self.renderClientProfile(data[0]);
                        }
                    },
                    error: function (res) {

                    },
                    complete: function (res) {
                        $("#spinner").hide()
                    }
                });

            },
            renderClientProfile: function (profile) {
                console.log(profile);

                var compiled = _.template($("#profile-temp").html());
                var _pfStr = compiled({ pf: profile });
                $("#profile-section").html('');
                $("#profile-section").append(_pfStr);
                $("#div-form-section").slideDown();
                $("#profile-section").slideDown();

            }
        };


        $(document).ready(function (e) {

            AppMDT.init();
        })


    </script>


}




