@using FingerprintsModel
@using Fingerprints.LocalResource;

@{
    @section Title
    {
        Undocumented Family Contact Report
    }

    if (Session["RoleId"].ToString() == @EnumHelper.GetEnumDescription(FingerprintsModel.Enums.RoleEnum.AgencyAdmin).ToLowerInvariant()
    || Session["RoleId"].ToString() == @EnumHelper.GetEnumDescription(FingerprintsModel.Enums.RoleEnum.GenesisEarthAdministrator).ToLowerInvariant())
    {

        Layout = "~/Views/Shared/AgencyAdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/AgencyStaffLayout.cshtml";
    }

}



@section style{


    <link href="~/Content/multiselect.css" rel="stylesheet" />
    <link href="~/Content/css/UFCReport.css" rel="stylesheet" />
}



@section MainContentHolder{

    <div class="row Zoom">
        <div class="col-lg-12" style="padding: 0;">
            <div class="page-wrapper-change">
                <div class="container-fluid">
                    <div class="row">

                        <!-----Rig
                        ht Side Container Section------->
                        <div class="glossy-right-side-container col-xs-12">



                            <!----Heading Section------>
                            <div class="col-xs-12" style="padding-top: 25px;">
                                <div class="col-lg-12">
                                    <h2 class="page-header page-header-change" style="border-bottom:5px solid #f9c751 !important; color: #fff;">
                                        <span>
                                            <i class="fa fa-list-alt" aria-hidden="true"></i>&nbsp;Undocumented Family Contact Report
                                        </span>
                                        <a href="@Url.Action("Roster","Roster")" class="glossy-button-button anchor_yellow" style="text-decoration:none;float:right;color:#fff;">
                                            Back to Roster
                                            <span class="glossy-button-before"></span>
                                            <span class="glossy-button-after"></span>

                                        </a>


                                    </h2>
                                </div>
                            </div>


                            <form class="col-xs-12" id="formReport" method="post" action="/Reporting/ExportUFCReport">

                               

                                <div id="div-filter-section" class="col-xs-12 glossy-panel-div">

                                    <!---Center drop-down section-->
                                    <div class="form-group col-lg-4 col-sm-6 col-xs-12" id="div-center-dropdown">
                                        <label for="selectCenter" class="lbl-text">@Fingerprints.LocalResource.Resources.Center &nbsp;<sup>*</sup></label>

                                        @{

                                            FingerprintsModel.StaffDetails staff = FingerprintsModel.StaffDetails.GetInstance();

                                            var centerDetails = Fingerprints.Utilities.Helper.GetCentersByUserId(staff.UserId.ToString(), staff.AgencyId.ToString(), staff.RoleId.ToString(), false, false, false, false, false);


                                            centerDetails.ForEach(x =>
                                            {
                                                x.Value = x.Value != "0" ? FingerprintsModel.EncryptDecrypt.Encrypt64(x.Value) : x.Value;
                                            });
                                        }
                                        <select id="selectCenter" name="Centers" class="glossy-select" multiple="multiple">

                                            @if (centerDetails != null && centerDetails.Count > 0)

                                            {
                                                foreach (var center in centerDetails)
                                                {

                                                    if (center.Value != "0")
                                                    {
                                                        <option value="@center.Value">@center.Text</option>

                                                    }


                                                }


                                            }

                                        </select>

                                      <input type="hidden" name="CenterID" />

                                    </div>



                                    <!----------- Month Drop-down --------------------->

                                    <div class="form-group col-lg-2 col-sm-6 col-xs-12" id="div-months-dropdown">
                                        <label for="selectMonths" class="lbl-text">@Fingerprints.LocalResource.Resources.Month <sup>*</sup></label>

                                        <select id="selectMonths" name="month" class="glossy-select" multiple>


                                            @{

                                                var monthList = Fingerprints.Utilities.Helper.GetAcademicMonths(Fingerprints.Common.FactoryInstance.Instance.CreateInstance<FingerprintsModel.StaffDetails>());
                                            }



                                            @foreach (var item in monthList)
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }

                                        </select>

                                        <input type="hidden" name="MonthType" />
                                    </div>



                                    <!-----UFC Report Load section-->
                                    <div class="form-check col-lg-2 col-xs-12 col-sm-3 col-md-3 glossy_btn">
                                        <label for="buttonLoadReport" class="hidden-xs hidden-sm hidden-md" style="visibility:hidden;">Load</label>
                                         

                                        <button class="glossy-button-button button-green dropdown-toggle" id="buttonLoadReport" type="button" data-toggle="dropdown">
                                            @Fingerprints.LocalResource.Resources.Load
                                            <span class="glossy-button-after"></span>
                                            <span class="glossy-button-before"></span>
                                        </button>



                                    </div>



                                    <!-----UFC Report Export section-->
                                    <div class="form-check col-lg-2 col-xs-12 col-sm-3 col-md-3 glossy_btn">
                                        <label for="btnScreeningExport" style="visibility:hidden;" class="hidden-xs hidden-sm hidden-md">Action</label>
                                        <input type="hidden" name="reportFormatType" />

                                        <div class="dropdown">
                                            <button class="glossy-button-button button-blue dropdown-toggle" type="button" data-toggle="dropdown">
                                                @Fingerprints.LocalResource.Resources.Export
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="javascript:void(0);" id="pdfanchor">PDF</a></li>
                                                <li><a href="javascript:void(0);" id="excelanchor">XLS</a></li>

                                            </ul>
                                        </div>

                                    </div>






                                </div>

                            </form>

                            <!----New code -->
                            <!-------Assign Substitute Role table section------->

                            <div id="no-more-tables8" class="col-xs-12" style="margin-bottom: 20px;">


                                <div class="col-xs-12 glossy-panel-div" id="report-table-responsive">

                                    <div class="panel with-nav-tabs panel-primary col-xs-12">

                                        <div class="panel-heading panelul col-xs-12">
                                            <ul id="myTab" class="nav nav-tabs navtabs1 col-xs-12"></ul>

                                        </div>



                                        <div id="myTabContent" class="tab-content col-xs-12">

                                            <div class="col-xs-12"><label class="text-center">@Fingerprints.LocalResource.Resources.SearchByFilter<sup style="color:red;">*</sup></label></div>



                                        </div>

                                    </div>
                                </div>




                            </div>



                            <!------ old Code-->
                            @*<div id="no-more-tables8" class="col-xs-12" style="margin-bottom:20px;">
                                    <div class="col-xs-12 glossy-panel-div" id="div-table-responsive">




                                        <div class="panel with-nav-tabs panel-primary col-xs-12">

                                            <div class="panel-heading panelul col-xs-12" style="min-height:50px;">
                                                <ul id="center-tab" class="nav nav-tabs navtabs1 col-xs-12"></ul>

                                            </div>



                                            <div id="myTabContent" class="tab-content col-xs-12">

                                                <div class="tab-pane fade col-xs-12 active in" id="0">



                                                    <div class="col-xs-12 search-block-main">
                                                        <div class="glossy-search-block col-md-12">
                                                            <input type="text" autocomplete="new-text" onfocus="this.removeAttribute('readonly');" onblur="this.setAttribute('readonly','readonly');" placeholder="Search..." id="searchReportText" class="form-control" readonly="readonly">
                                                            <div class="glossy-search-btn-div">
                                                                <button id="btnSearchauto">Search</button>
                                                            </div>
                                                        </div>

                                                        <table class="col-md-12 table-striped total-details-table table-back-shadow">
                                                            <tbody>
                                                                <tr>
                                                                    <td><label>Total Record(s)</label></td>
                                                                    <td id="totalCountSpan">0</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                    </div>

                                                    <div class="col-xs-12">


                                                        <div class="col-xs-12">


                                                            <table class="col-md-12 glossy-table table-striped table-condensed cf table-change ersea-table" style="margin:10px 0px;" id="UFC-table">
                                                                <thead class="table-hd scroll-thead">
                                                                    <tr>


                                                                        <th style="width:5%">Month</th>
                                                                        <th style="width:5%">Children</th>
                                                                        <th style="width:7%">Parents</th>
                                                                        <th style="width:5%" class="dor-clm">Last Case Note Date</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody class="glossy-table-body">
                                                                    <tr>
                                                                        <td colspan="4" class="text-center"><p style="width:auto;text-align:center;">Search by filter</p></td>

                                                                    </tr>

                                                                </tbody>

                                                            </table>



                                                        </div>
                                                    </div>
                                                    <div id="pagination-div" class="col-md-12" style="margin-top:20px;">

                                                    </div>

                                                </div>


                                            </div>

                                        </div>



                                    </div>
                                </div>*@

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   

    

}


@section Script{


    <script src="~/Scripts/multiselect.js"></script>
    <script type="text/javascript">

        var dataModel=@Html.Raw(Json.Encode(Fingerprints.Common.FactoryInstance.Instance.CreateInstance<FingerprintsModel.UFCReport>()));
        var reportType=@(FingerprintsModel.EnumHelper.ConvertToJson(typeof(FingerprintsModel.Enums.ReportFormatType)));

    </script>

    <script src="~/Scripts/UFCReport.js"></script>



}
